{{define "shared/repo/edit"}}
{{if .IsArticleModeEdit}}
<div class="ui bottom attached">
    <div class="tw-mb-4 tw-flex tw-items-center tw-justify-between">
        <div>
            <h2 class="tw-text-xl tw-font-semibold tw-m-0">
                {{/* owner / repo */}}
                {{if .Repository.Owner}}
                    <a class="tw-text-primary" href="{{.Repository.Owner.HomeLink}}">{{.Repository.Owner.Name}}</a>
                    <span class="tw-text-gray-400">/</span>
                {{end}}
                <a class="muted" href="{{.RepoLink}}">{{.Repository.Name}}</a>
            </h2>
            <div class="tw-mt-1 tw-text-sm tw-text-gray-600">
                {{if .Repository.IsFork}}
                    <span class="tw-inline-flex tw-items-center">
                        {{svg "octicon-repo-forked" 14 "tw-mr-1"}}
                        Forked of:
                        {{if .Repository.BaseRepo}}
                            <a class="tw-ml-1" href="{{.Repository.BaseRepo.Link}}">{{.Repository.BaseRepo.OwnerName}} / {{.Repository.BaseRepo.Name}}</a>
                        {{else}}
                            <span class="tw-ml-1">{{.Repository.Owner.Name}} / {{.Repository.Name}}</span>
                        {{end}}
                    </span>
                {{end}}
            </div>
        </div>
        <div class="tw-flex tw-items-center tw-gap-3">
            <a class="tw-font-bold tw-inline-flex tw-items-center muted" href="#" data-global-click="onCopyContentButtonClick" data-clipboard-text="{{.Repository.Owner.Name}}/{{.Repository.Name}}@{{.BranchName}}">
                {{svg "octicon-link" 14 "tw-mr-1"}} CopyRef
            </a>
        </div>
    </div>
    {{if .NotEditableReason}}
        <div class="ui warning message">
            <h4>{{.NotEditableReason}}</h4>
            <p>{{ctx.Locale.Tr "repo.editor.file_not_editable_hint"}}</p>
        </div>
    {{else}}
        {{/* Editor form */}}
        <form class="ui edit form" id="article-edit-form" method="post" action="{{.RepoLink}}/_edit/{{PathEscapeSegments .BranchName}}/{{.ReadmeTreePath}}">
            {{.CsrfTokenHtml}}
            <input type="hidden" name="last_commit" value="{{.LastCommitID}}">
            <input type="hidden" name="tree_path" value="{{.ReadmeTreePath}}">
            
             <div class="field">
                 <div class="tw-p-0">
                     <textarea id="edit_area" name="content" class="tw-hidden" data-id="repo-{{.Repository.Name}}-{{.ReadmeTreePath}}">{{.FileContent}}</textarea>
                     <div class="editor-loading is-loading"></div>
                     <div id="toast-editor-container" style="min-height: 500px;"></div>
                 </div>
             </div>
        </form>
    {{end}}
</div>
{{end}}
{{end}}
