{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content repository new migrate">
	<div class="ui middle very relaxed page grid">
		<div class="column">
			{{template "repo/migrate/helper" .}}
			<div class="ui cards migrate-entries">
				{{range .Services}}
					<a class="ui card migrate-entry gt-df gt-ac" href="{{AppSubUrl}}/repo/migrate?service_type={{.}}&org={{$.Org}}&mirror={{$.Mirror}}">
						{{if eq .Name "github"}}
							{{svg "octicon-mark-github" 184 "gt-p-4"}}
						{{else if eq .Name "gitlab"}}
							{{svg "gitea-gitlab" 184 "gt-p-4"}}
						{{else if eq .Name "gitbucket"}}
							{{svg "gitea-gitbucket" 184 "gt-p-4"}}
						{{else}}
							{{svg (printf "gitea-%s" .Name) 184}}
						{{end}}
						<div class="content">
							<div class="header gt-tc">
								{{.Title}}
							</div>
							<div class="description gt-tc">
								{{(printf "repo.migrate.%s.description" .Name) | $.locale.Tr}}
							</div>
						</div>
					</a>
				{{end}}
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
