{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content repository">
	{{template "repo/header" .}}
	<div class="ui container">
		<div class="ui grid">
			<div class="sixteen wide column content">
				{{template "base/alert" .}}
				<div class="home">
					<div class="ui stackable middle very relaxed page grid">
						<div id="repo_migrating" class="sixteen wide center aligned centered column" data-migrating-repo-link="{{.Link}}">
							<div>
								<img src="{{AssetUrlPrefix}}/img/loading.png">
							</div>
						</div>
						<div id="repo_migrating_failed_image" class="sixteen wide center aligned centered column tw-hidden">
							<div>
								<img src="{{AssetUrlPrefix}}/img/failed.png">
							</div>
						</div>
					</div>
					<div class="ui stackable middle very relaxed page grid">
						<div class="sixteen wide center aligned centered column">
							<div id="repo_migrating_progress">
								<p>{{ctx.Locale.Tr "repo.migrate.migrating" .CloneAddr}}</p>
								<p id="repo_migrating_progress_message"></p>
							</div>
							<div id="repo_migrating_failed" class="tw-hidden">
								{{if .CloneAddr}}
									<p>{{ctx.Locale.Tr "repo.migrate.migrating_failed" .CloneAddr}}</p>
								{{else}}
									<p>{{ctx.Locale.Tr "repo.migrate.migrating_failed_no_addr"}}</p>
								{{end}}
								<p id="repo_migrating_failed_error"></p>
							</div>
							{{if .Permission.IsAdmin}}
								<div class="divider"></div>
								<div class="item">
									{{if .Failed}}
										<button class="ui basic red show-modal button" data-modal="#delete-repo-modal">{{ctx.Locale.Tr "repo.settings.delete"}}</button>
									{{else}}
										<button class="ui basic show-modal button" data-modal="#cancel-repo-modal">{{ctx.Locale.Tr "cancel"}}</button>
									{{end}}
									<button id="repo_migrating_retry" data-migrating-task-retry-url="{{.Link}}/settings/migrate/retry" class="ui basic button tw-hidden">{{ctx.Locale.Tr "retry"}}</button>
								</div>
							{{end}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="ui small modal" id="delete-repo-modal">
	<div class="header">
		{{ctx.Locale.Tr "repo.settings.delete"}}
	</div>
	<div class="content">
		<div class="ui warning message">
			{{ctx.Locale.Tr "repo.settings.delete_notices_1"}}<br>
			{{ctx.Locale.Tr "repo.settings.delete_notices_2" .Repository.FullName}}
			{{if .Repository.NumForks}}<br>
			{{ctx.Locale.Tr "repo.settings.delete_notices_fork_1"}}
			{{end}}
		</div>
		<form class="ui form" action="{{.Link}}/settings" method="post">
			{{.CsrfTokenHtml}}
			<input type="hidden" name="action" value="delete">
			<div class="field">
				<label>
					{{ctx.Locale.Tr "repo.settings.transfer_form_title"}}
					<span class="text red">{{.Repository.Name}}</span>
				</label>
			</div>
			<div class="required field">
				<label for="repo_name_to_delete">{{ctx.Locale.Tr "repo.repo_name"}}</label>
				<input id="repo_name_to_delete" name="repo_name" required>
			</div>

			<div class="text right actions">
				<button class="ui cancel button">{{ctx.Locale.Tr "settings.cancel"}}</button>
				<button class="ui red button">{{ctx.Locale.Tr "repo.settings.confirm_delete"}}</button>
			</div>
		</form>
	</div>
</div>

<div class="ui g-modal-confirm modal" id="cancel-repo-modal">
	<div class="header">
		{{ctx.Locale.Tr "repo.migrate.cancel_migrating_title"}}
	</div>
	<form action="{{.Link}}/settings/migrate/cancel" method="post">
		{{.CsrfTokenHtml}}
		<div class="content">
			{{ctx.Locale.Tr "repo.migrate.cancel_migrating_confirm"}}
		</div>
		{{template "base/modal_actions_confirm" .}}
	</form>
</div>

{{template "base/footer" .}}
