*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--color-box-body);
}

html.dark-mode,
html.dark-mode .swagger-ui,
html.dark-mode .swagger-ui .scheme-container {
  background: var(--color-box-body);
}

.swagger-back-link {
  color: #4990e2;
  text-decoration: none;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  display: flex;
  align-items: center;
}

html.dark-mode .swagger-back-link {
  color: #51a8ff;
}

html.dark-mode .swagger-ui table.headers td {
  color: #aeb4c4; /** fix low contrast */
}

.swagger-back-link:hover {
  text-decoration: underline;
}

.swagger-back-link svg {
  color: inherit;
  fill: currentcolor;
  margin-right: 0.5rem;
}

.swagger-spec-content {
  display: none;
}
