{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content {{if .IsRepo}}repository{{end}}">
	{{if .IsRepo}}{{template "repo/header" .}}{{end}}
	<div class="ui container tw-text-center">
		<div class="status-page-error-code">404 Not Found</div>
		<p>{{if .NotFoundPrompt}}{{.NotFoundPrompt}}{{else}}{{ctx.Locale.Tr "error404"}}{{end}}</p>
		{{if .NotFoundGoBackURL}}<a class="ui button" href="{{.NotFoundGoBackURL}}">{{ctx.Locale.Tr "go_back"}}</a>{{end}}
	</div>
</div>
{{template "base/footer" .}}
