{{template "base/head" .}}
<div class="page-content ui container full-screen-width center">
	<p style="margin-top: 100px"><img class="ui centered image" src="{{AssetUrlPrefix}}/img/500.png" alt="500"/></p>
	<div class="ui divider"></div>
	<br>
	{{if .ErrorMsg}}
		<p>{{.locale.Tr "error.occurred"}}:</p>
		<pre style="text-align: left">{{.ErrorMsg}}</pre>
	{{end}}
	{{if .ShowFooterVersion}}<p>{{.locale.Tr "admin.config.app_ver"}}: {{AppVer}}</p>{{end}}
	{{if .IsAdmin}}<p>{{.locale.Tr "error.report_message"  | Safe}}</p>{{end}}
</div>
{{template "base/footer" .}}
