{{template "base/head" .}}
<div role="main" aria-label="503 Service Unavailable" class="page-content">
	<div class="ui fm-container">
		<div class="status-page-error">
			<div class="status-page-error-title">503 Service Unavailable</div>
			<div class="text-center">
				<div class="my-4">{{ctx.Locale.Tr "error503"}}</div>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
