<h4 class="ui top attached header">
{{.locale.Tr "settings.webauthn"}}
</h4>
<div class="ui attached segment">
	<p>{{.locale.Tr "settings.webauthn_desc" | Str2html}}</p>
	<div class="ui key list">
		{{range .WebAuthnCredentials}}
			<div class="item">
				<div class="right floated content">
					<button class="ui red tiny button delete-button" data-modal-id="delete-registration" data-url="{{$.Link}}/webauthn/delete" data-id="{{.ID}}">
					{{$.locale.Tr "settings.delete_key"}}
					</button>
				</div>
				<div class="content">
					<strong>{{.Name}}</strong>
				</div>
				<span class="time">{{TimeSinceUnix .CreatedUnix $.locale}}</span>
			</div>
		{{end}}
	</div>
	<div class="ui form">
		{{.CsrfTokenHtml}}
		<div class="required field">
			<label for="nickname">{{.locale.Tr "settings.webauthn_nickname"}}</label>
			<input id="nickname" name="nickname" type="text" required>
		</div>
		<button id="register-webauthn" class="ui green button">{{svg "octicon-key"}} {{.locale.Tr "settings.webauthn_register_key"}}</button>
	</div>
</div>

{{template "user/auth/webauthn_error" .}}

<div class="ui g-modal-confirm delete modal" id="delete-registration">
	<div class="header">
		{{svg "octicon-trash"}}
	{{.locale.Tr "settings.webauthn_delete_key"}}
	</div>
	<div class="content">
		<p>{{.locale.Tr "settings.webauthn_delete_key_desc"}}</p>
	</div>
	{{template "base/modal_actions_confirm" .}}
</div>
