<h4 class="ui top attached header">
	{{.CustomHeaderTitle}}
	<div class="ui right type dropdown">
		<div class="text flex-text-inline">
			{{template "shared/webhook/icon" (dict "Size" 20 "Handler" ctx.RootData.WebhookHandler)}}
			{{if ctx.RootData.WebhookHandler}}{{ctx.RootData.WebhookHandler.DisplayName}}{{else}}{{ctx.RootData.HookType}}{{end}}
		</div>
		{{svg "octicon-triangle-down" 14 "dropdown icon"}}
		{{template "repo/settings/webhook/link_menu" ctx.RootData}}
	</div>
</h4>
<div class="ui attached segment" data-global-init="initCompWebHookEditorForm">
	{{template "repo/settings/webhook/gitea" ctx.RootData}}
	{{template "repo/settings/webhook/gogs" ctx.RootData}}
	{{template "repo/settings/webhook/generic" ctx.RootData}}
</div>
{{template "repo/settings/webhook/history" ctx.RootData}}
