<div class="menu">
    <a class="item" href="{{.BaseLink}}/gitea/new" data-value="gitea">
        {{ctx.Locale.Tr "repo.settings.web_hook_name_gitea"}}
    </a>
    <a class="item" href="{{.BaseLink}}/gogs/new" data-value="gogs">
        {{ctx.Locale.Tr "repo.settings.web_hook_name_gogs"}}
    </a>
    <a class="item" href="{{.BaseLink}}/slack/new" data-value="slack">
        {{ctx.Locale.Tr "repo.settings.web_hook_name_slack"}}
    </a>
    <a class="item" href="{{.BaseLink}}/discord/new" data-value="discord">
        {{ctx.Locale.Tr "repo.settings.web_hook_name_discord"}}
    </a>
    <a class="item" href="{{.BaseLink}}/dingtalk/new" data-value="dingtalk">
        {{ctx.Locale.Tr "repo.settings.web_hook_name_dingtalk"}}
    </a>
    <a class="item" href="{{.BaseLink}}/telegram/new" data-value="telegram">
        {{ctx.Locale.Tr "repo.settings.web_hook_name_telegram"}}
    </a>
    <a class="item" href="{{.BaseLink}}/msteams/new" data-value="msteams">
        {{ctx.Locale.Tr "repo.settings.web_hook_name_msteams"}}
    </a>
    <a class="item" href="{{.BaseLink}}/feishu/new" data-value="feishu">
        {{ctx.Locale.Tr "repo.settings.web_hook_name_feishu_or_larksuite"}}
    </a>
    <a class="item" href="{{.BaseLink}}/matrix/new" data-value="matrix">
        {{ctx.Locale.Tr "repo.settings.web_hook_name_matrix"}}
    </a>
    <a class="item" href="{{.BaseLink}}/wechatwork/new" data-value="wechatwork">
        {{ctx.Locale.Tr "repo.settings.web_hook_name_wechatwork"}}
    </a>
    <a class="item" href="{{.BaseLink}}/packagist/new" data-value="packagist">
        {{ctx.Locale.Tr "repo.settings.web_hook_name_packagist"}}
    </a>
</div>
