{{template "repo/issue/fields/header" .}}
{{$field := .}}
{{if .Attributes.multiple}}
				{{range $i, $opt := .Attributes.options}}
					<label>
						<input type="checkbox"
									name="form-field-{{$field.ID}}-{{$i}}"
									tabindex="3"
									id="form-field-{{$field.ID}}-{{$i}}" />
							{{$opt}}
					</label><br>
				{{end}}
{{else}}
<select aria-labelledby="form-label-{{.ID}}"
							name="form-field-{{.ID}}"
							id="form-field-{{.ID}}"
							tabindex="3"
							{{- if .Validations.required}}required{{end}}>
				{{range .Attributes.options}}
					<option value="{{.}}">{{.}}</option>
				{{end}}
			</select>
{{end}}
