<div class="field">
	{{template "repo/issue/fields/header" .}}
	{{/* FIXME: preview markdown result */}}
	{{/* FIXME: required validation for markdown editor */}}
	<textarea name="form-field-{{.item.ID}}" placeholder="{{.item.Attributes.placeholder}}" {{if and .item.Validations.required .item.Attributes.render}}required{{end}}>{{.item.Attributes.value}}</textarea>
</div>
