{{$useMarkdownEditor := not .item.Attributes.render}}
<div class="field {{if not .item.VisibleOnForm}}tw-hidden{{end}} {{if $useMarkdownEditor}}combo-editor-dropzone{{end}}">
	{{template "repo/issue/fields/header" .}}

	{{/* the real form element to provide the value */}}
	<textarea class="form-field-real" name="form-field-{{.item.ID}}" placeholder="{{.item.Attributes.placeholder}}" {{if and .item.Validations.required}}required{{end}}>{{.item.Attributes.value}}</textarea>

	{{if $useMarkdownEditor}}
		{{template "shared/combomarkdowneditor" (dict
			"CustomInit" true
			"ContainerClasses" "tw-hidden"
			"MarkdownPreviewInRepo" $.root.Repository
			"MarkdownPreviewMode" "comment"
			"TextareaContent" .item.Attributes.value
			"TextareaPlaceholder" .item.Attributes.placeholder
			"DropzoneParentContainer" ".combo-editor-dropzone"
		)}}

		{{if .root.IsAttachmentEnabled}}
		<div class="tw-mt-4 form-field-dropzone tw-hidden">
			{{template "repo/upload" .root}}
		</div>
		{{end}}
	{{end}}
</div>
