{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content repository commits">
	{{template "repo/header" .}}
	<div class="ui container flex-container">
		<div class="flex-container-nav">
			{{template "repo/navbar" .}}
		</div>
		<div class="flex-container-main">
			{{if .PageIsPulse}}{{template "repo/pulse" .}}{{end}}
			{{if .PageIsContributors}}{{template "repo/contributors" .}}{{end}}
		</div>
	</div>
</div>
{{template "base/footer" .}}

