<div class="{{TabSizeClass .Editorconfig .FileName}} non-diff-file-content">
	<h4 class="file-header ui top attached header df ac sb">
		<div class="file-header-left df ac">
			<div class="file-info text grey normal mono">
				<div class="file-info-entry">
					{{.NumLines}} {{.i18n.Tr (TrN .i18n.Lang .NumLines "repo.line" "repo.lines") }}
				</div>
				<div class="file-info-entry">{{FileSize .FileSize}}</div>
			</div>
		</div>
		<div class="file-header-right file-actions df ac">
			<div class="ui buttons">
				<a class="ui tiny button" href="{{EscapePound $.RawFileLink}}">{{.i18n.Tr "repo.file_raw"}}</a>
				{{if not .IsViewCommit}}
					<a class="ui tiny button" href="{{.RepoLink}}/src/commit/{{.CommitID}}/{{EscapePound .TreePath}}">{{.i18n.Tr "repo.file_permalink"}}</a>
				{{end}}
				<a class="ui tiny button" href="{{.RepoLink}}/src/{{EscapePound .BranchNameSubURL}}/{{EscapePound .TreePath}}">{{.i18n.Tr "repo.normal_view"}}</a>
				<a class="ui tiny button" href="{{.RepoLink}}/commits/{{EscapePound .BranchNameSubURL}}/{{EscapePound .TreePath}}">{{.i18n.Tr "repo.file_history"}}</a>
			</div>
		</div>
	</h4>
    <div class="ui attached table unstackable segment">
		<div class="file-view code-view">
			<table>
				<tbody>
					<tr>
						<td class="lines-commit">{{.BlameCommitInfo}}</td>
						<td class="lines-num">{{.BlameLineNums}}</td>
						<td class="lines-code"><code class="chroma"><ol class="linenums">{{.BlameContent}}</ol></code></td>
					</tr>
				</tbody>
			</table>
		</div>
    </div>
</div>
