{{ $index := 0}}
<div class="timeline-item commits-list">
{{range .comment.Commits}}
	{{ $tag := printf "%s-%d" $.comment.HashTag $index }}
	{{ $index = Add $index 1}}
	<div class="singular-commit" id="{{$tag}}">
		<span class="badge badge-commit">{{svg "octicon-git-commit"}}</span>
		{{if .User}}
			<a href="{.User.HomeLink}}">
				{{avatar .User}}
			</a>
		{{else}}
			{{avatarByEmail .Author.Email .Author.Name}}
		{{end}}

		<span class="ui float right shabox">
			{{template "repo/commit_statuses" dict "Status" .Status "Statuses" .Statuses "root" $.root}}
			{{$class := "ui sha label"}}
			{{if .Signature}}
				{{$class = (printf "%s%s" $class " isSigned")}}
				{{if .Verification.Verified}}
					{{if eq .Verification.TrustStatus "trusted"}}
						{{$class = (printf "%s%s" $class " isVerified")}}
					{{else if eq .Verification.TrustStatus "untrusted"}}
						{{$class = (printf "%s%s" $class " isVerifiedUntrusted")}}
					{{else}}
						{{$class = (printf "%s%s" $class " isVerifiedUnmatched")}}
					{{end}}
				{{else if .Verification.Warning}}
					{{$class = (printf "%s%s" $class " isWarning")}}
				{{end}}
			{{end}}
			{{if $.comment.Issue.PullRequest.BaseRepo.Name}}
				<a href="{{$.comment.Issue.PullRequest.BaseRepo.Link}}/commit/{{PathEscape .ID.String}}" rel="nofollow" class="{{$class}}">
			{{else}}
				<span class="{{$class}}">
			{{end}}
			<span class="shortsha">{{ShortSha .ID.String}}</span>
			{{if .Signature}}
				{{template "repo/shabox_badge" dict "root" $.root "verification" .Verification}}
			{{end}}
			{{if $.comment.Issue.PullRequest.BaseRepo.Name}}
				</a>
			{{else}}
				</span>
			{{end}}
		</span>

		{{ $commitLink:= printf "%s/commit/%s" $.comment.Issue.PullRequest.BaseRepo.Link (PathEscape .ID.String) }}
		<span class="mono commit-summary {{if gt .ParentCount 1}} grey text{{end}}" title="{{.Summary}}">{{RenderCommitMessageLinkSubject $.root.Context .Message ($.comment.Issue.PullRequest.BaseRepo.Link|Escape) $commitLink $.comment.Issue.PullRequest.BaseRepo.ComposeMetas}}</span>
		{{if IsMultilineCommitMessage .Message}}
			<button class="ui button ellipsis-button" aria-expanded="false">...</button>
		{{end}}
		{{if IsMultilineCommitMessage .Message}}
			<pre class="commit-body" style="display: none;">{{RenderCommitBody $.root.Context .Message ($.comment.Issue.PullRequest.BaseRepo.Link|Escape) $.comment.Issue.PullRequest.BaseRepo.ComposeMetas}}</pre>
		{{end}}
	</div>
{{end}}
</div>
