{{if .Statuses}}
	{{if and (eq (len .Statuses) 1) .Status.TargetURL}}
		<a class="gt-vm gt-no-underline" data-tippy="commit-statuses" href="{{.Status.TargetURL}}">
			{{template "repo/commit_status" .Status}}
		</a>
	{{else}}
		<span class="gt-vm" data-tippy="commit-statuses" tabindex="0">
			{{template "repo/commit_status" .Status}}
		</span>
	{{end}}
	<div class="tippy-target ui relaxed list divided">
		{{range .Statuses}}
			<div class="ui item singular-status gt-df">
				{{template "repo/commit_status" .}}
				<span class="ui gt-ml-3 gt-f1">{{.Context}} <span class="text grey">{{.Description}}</span></span>
				{{if .TargetURL}}
					<a class="gt-ml-3" href="{{.TargetURL}}" target="_blank" rel="noopener noreferrer">{{$.root.locale.Tr "repo.pulls.status_checks_details"}}</a>
				{{end}}
			</div>
		{{end}}
	</div>
{{end}}
