<div class="ui attached table segment">
		<table class="ui very basic striped fixed table single line" id="commits-table">
			<thead>
				<tr>
					<th class="four wide">{{.i18n.Tr "repo.commits.author"}}</th>
					<th class="two wide sha">SHA1</th>
					<th class="seven wide message">{{.i18n.Tr "repo.commits.message"}}</th>
					<th class="three wide right aligned">{{.i18n.Tr "repo.commits.date"}}</th>
				</tr>
			</thead>
			<tbody class="commit-list">
				{{$commitRepoLink := $.RepoLink}}{{if $.CommitRepoLink}}{{$commitRepoLink = $.CommitRepoLink}}{{end}}
				{{range .Commits}}
					<tr>
						<td class="author">
							{{$userName := .Author.Name}}
							{{if .User}}
								{{if .User.FullName}}
									{{$userName = .User.FullName}}
								{{end}}
								{{avatar .User 28 "mr-2"}}<a href="{{.User.HomeLink}}">{{$userName}}</a>
							{{else}}
								{{avatarByEmail .Author.Email .Author.Name 28 "mr-2"}}
								{{$userName}}
							{{end}}
						</td>
						<td class="sha df">
							<button class="ui button copy-commit-sha df ac" data-clipboard-text="{{.ID}}">{{svg "octicon-copy" 14}}</button>
							{{$class := "ui sha label"}}
							{{if .Signature}}
								{{$class = (printf "%s%s" $class " isSigned")}}
								{{if .Verification.Verified}}
									{{if eq .Verification.TrustStatus "trusted"}}
										{{$class = (printf "%s%s" $class " isVerified")}}
									{{else if eq .Verification.TrustStatus "untrusted"}}
										{{$class = (printf "%s%s" $class " isVerifiedUntrusted")}}
									{{else}}
										{{$class = (printf "%s%s" $class " isVerifiedUnmatched")}}
									{{end}}
								{{else if .Verification.Warning}}
									{{$class = (printf "%s%s" $class " isWarning")}}
								{{end}}
							{{end}}
							{{if $.PageIsWiki}}
								<a href="{{$commitRepoLink}}/wiki/commit/{{.ID}}" rel="nofollow" class="{{$class}}">
							{{else if $.Reponame}}
								<a href="{{$commitRepoLink}}/commit/{{.ID}}" rel="nofollow" class="{{$class}}">
							{{else}}
								<span class="{{$class}}">
							{{end}}
								<span class="shortsha">{{ShortSha .ID.String}}</span>
								{{if .Signature}}
									{{template "repo/shabox_badge" dict "root" $ "verification" .Verification}}
								{{end}}
							{{if $.Reponame}}
								</a>
							{{else}}
								</span>
							{{end}}
						</td>
						<td class="message">
							<span class="message-wrapper">
							{{if $.PageIsWiki}}
								<span class="commit-summary {{if gt .ParentCount 1}} grey text{{end}}" title="{{.Summary}}">{{.Summary | RenderEmoji}}</span>
							{{else }}
								{{ $commitLink:= printf "%s/commit/%s" $commitRepoLink (PathEscape .ID.String) }}
								<span class="commit-summary {{if gt .ParentCount 1}} grey text{{end}}" title="{{.Summary}}">{{RenderCommitMessageLinkSubject $.Context .Message $commitRepoLink $commitLink $.Repository.ComposeMetas}}</span>
							{{end}}
							</span>
							{{if IsMultilineCommitMessage .Message}}
							<button class="ui button ellipsis-button" aria-expanded="false">...</button>
							{{end}}
							{{template "repo/commit_statuses" dict "Status" .Status "Statuses" .Statuses "root" $}}
							{{if IsMultilineCommitMessage .Message}}
							<pre class="commit-body" style="display: none;">{{RenderCommitBody $.Context .Message $commitRepoLink $.Repository.ComposeMetas}}</pre>
							{{end}}
						</td>
						{{if .Committer}}
							<td class="text right aligned">{{TimeSince .Committer.When $.Lang}}</td>
						{{else}}
							<td class="text right aligned">{{TimeSince .Author.When $.Lang}}</td>
						{{end}}
					</tr>
				{{end}}
			</tbody>
		</table>
	</div>
