{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content repository commits">
	{{template "repo/header" .}}
	<div class="ui container">
		{{template "repo/sub_menu" .}}
		<div class="repo-button-row gt-df gt-ac gt-sb gt-fw gt-mb-4 gt-mt-3">
			<div class="gt-df gt-ac">
				{{template "repo/branch_dropdown" dict "root" . "ContainerClasses" "gt-mr-2"}}
				<a href="{{.RepoLink}}/graph" class="ui basic small compact button">
					<span class="text">
						{{svg "octicon-git-branch"}}
					</span>
					{{.locale.Tr "repo.commit_graph"}}
				</a>
			</div>
		</div>
		{{template "repo/commits_table" .}}
	</div>
</div>
{{template "base/footer" .}}
