{{if .Statuses}}
	{{if and (eq (len .Statuses) 1) .Status.TargetURL}}
		<a class="tw-align-middle {{.AdditionalClasses}} tw-no-underline" data-tippy="commit-statuses" href="{{.Status.TargetURL}}">
			{{template "repo/commit_status" .Status}}
		</a>
	{{else}}
		<span class="tw-align-middle {{.AdditionalClasses}}" data-tippy="commit-statuses" tabindex="0">
			{{template "repo/commit_status" .Status}}
		</span>
	{{end}}
	<div class="tippy-target">
		{{template "repo/pulls/status" (dict "CommitStatuses" .Statuses "CommitStatus" .Status)}}
	</div>
{{end}}
