{{$index := 0}}
<div class="timeline-item commits-list">
{{range .comment.Commits}}
	{{$tag := printf "%s-%d" $.comment.HashTag $index}}
	{{$index = Eval $index "+" 1}}
	<div class="flex-text-block" id="{{$tag}}">{{/*singular-commit*/}}
		<span class="badge badge-commit">{{svg "octicon-git-commit"}}</span>
		{{if .User}}
			<a class="avatar" href="{{.User.HomeLink}}">{{ctx.AvatarUtils.Avatar .User 20}}</a>
		{{else}}
			{{ctx.AvatarUtils.AvatarByEmail .Author.Email .Author.Name 20}}
		{{end}}

		{{$commitBaseLink := printf "%s/commit" $.comment.Issue.PullRequest.BaseRepo.Link}}
		{{$commitLink:= printf "%s/%s" $commitBaseLink (PathEscape .ID.String)}}

		<span class="tw-flex-1 tw-font-mono gt-ellipsis" title="{{.Summary}}">
			{{- ctx.RenderUtils.RenderCommitMessageLinkSubject .Message $commitLink ($.comment.Issue.PullRequest.BaseRepo.ComposeMetas ctx) -}}
		</span>

		{{if IsMultilineCommitMessage .Message}}
			<button class="ui button ellipsis-button show-panel toggle" data-panel="[data-singular-commit-body-for='{{$tag}}']">...</button>
		{{end}}

		<span class="tw-flex tw-items-center tw-gap-2">
			{{template "repo/commit_statuses" dict "Status" .Status "Statuses" .Statuses}}
			{{template "repo/commit_sign_badge" dict "Commit" . "CommitBaseLink" $commitBaseLink "CommitSignVerification" .Verification}}
		</span>
	</div>
	{{if IsMultilineCommitMessage .Message}}
	<pre class="commit-body tw-ml-[33px] tw-hidden" data-singular-commit-body-for="{{$tag}}">
		{{- ctx.RenderUtils.RenderCommitBody .Message ($.comment.Issue.PullRequest.BaseRepo.ComposeMetas ctx) -}}
	</pre>
	{{end}}
{{end}}
</div>
