{{$index := 0}}
<div class="timeline-item commits-list">
{{range .comment.Commits}}
	{{$tag := printf "%s-%d" $.comment.HashTag $index}}
	{{$index = Eval $index "+" 1}}
	<div class="singular-commit" id="{{$tag}}">
		<span class="badge badge-commit">{{svg "octicon-git-commit"}}</span>
		{{if .User}}
			<a href="{{.User.HomeLink}}">
				{{avatar $.root.Context .User}}
			</a>
		{{else}}
			{{avatarByEmail $.root.Context .Author.Email .Author.Name}}
		{{end}}

		{{$commitLink:= printf "%s/commit/%s" $.comment.Issue.PullRequest.BaseRepo.Link (PathEscape .ID.String)}}

		<span class="ui float right shabox">
			{{template "repo/commit_statuses" dict "Status" .Status "Statuses" .Statuses "root" $.root}}
			{{$class := "ui sha label"}}
			{{if .Signature}}
				{{$class = (printf "%s%s" $class " isSigned")}}
				{{if .Verification.Verified}}
					{{if eq .Verification.TrustStatus "trusted"}}
						{{$class = (printf "%s%s" $class " isVerified")}}
					{{else if eq .Verification.TrustStatus "untrusted"}}
						{{$class = (printf "%s%s" $class " isVerifiedUntrusted")}}
					{{else}}
						{{$class = (printf "%s%s" $class " isVerifiedUnmatched")}}
					{{end}}
				{{else if .Verification.Warning}}
					{{$class = (printf "%s%s" $class " isWarning")}}
				{{end}}
			{{end}}
			<a href="{{$commitLink}}" rel="nofollow" class="{{$class}}">
				<span class="shortsha">{{ShortSha .ID.String}}</span>
				{{if .Signature}}
					{{template "repo/shabox_badge" dict "root" $.root "verification" .Verification}}
				{{end}}
			</a>
		</span>

		<span class="gt-mono commit-summary {{if gt .ParentCount 1}} grey text{{end}}" title="{{.Summary}}">{{RenderCommitMessageLinkSubject $.root.Context .Message ($.comment.Issue.PullRequest.BaseRepo.Link|Escape) $commitLink $.comment.Issue.PullRequest.BaseRepo.ComposeMetas}}</span>
		{{if IsMultilineCommitMessage .Message}}
			<button class="ui button ellipsis-button" aria-expanded="false">...</button>
		{{end}}
		{{if IsMultilineCommitMessage .Message}}
			<pre class="commit-body gt-hidden">{{RenderCommitBody $.root.Context .Message ($.comment.Issue.PullRequest.BaseRepo.Link|Escape) $.comment.Issue.PullRequest.BaseRepo.ComposeMetas}}</pre>
		{{end}}
	</div>
{{end}}
</div>
