{{template "base/head" .}}
<div class="page-content repository commits">
	{{template "repo/header" .}}
	<div class="ui container">
		{{template "repo/sub_menu" .}}
		<div class="repo-button-row df ac sb fw mb-4 mt-3">
			<div class="df ac">
				{{template "repo/branch_dropdown" dict "root" .}}
				<a href="{{.RepoLink}}/graph" class="ui basic small compact button">
					<span class="text">
						{{svg "octicon-git-branch"}}
					</span>
					{{.locale.Tr "repo.commit_graph"}}
				</a>
			</div>
		</div>
		{{template "repo/commits_table" .}}
	</div>
</div>
{{template "base/footer" .}}
