<h4 class="ui top attached header commits-table gt-df gt-ac gt-sb">
	<div class="commits-table-left gt-df gt-ac">
		{{if or .PageIsCommits (gt .CommitCount 0)}}
			{{.CommitCount}} {{.locale.Tr "repo.commits.commits"}} {{if .RefName}}({{.RefName}}){{end}}
		{{else if .IsNothingToCompare}}
			{{.locale.Tr "repo.commits.nothing_to_compare"}} {{if .RefName}}({{.RefName}}){{end}}
		{{else}}
			{{.locale.Tr "repo.commits.no_commits" $.BaseBranch $.HeadBranch}} {{if .RefName}}({{.RefName}}){{end}}
		{{end}}
	</div>
	<div class="commits-table-right">
		{{if .PageIsCommits}}
			<form class="ignore-dirty" action="{{.RepoLink}}/commits/{{.BranchNameSubURL}}/search">
				<div class="ui tiny search input">
					<input name="q" placeholder="{{.locale.Tr "repo.commits.search"}}" value="{{.Keyword}}" autofocus>
				</div>

				<div class="ui tiny checkbox">
					<input type="checkbox" name="all" value="true" {{.All}}>
					<label>{{.locale.Tr "repo.commits.search_all"}}</label>
				</div>
				<button class="ui primary tiny button gt-mr-0" data-panel="#add-deploy-key-panel" data-tooltip-content={{.locale.Tr "repo.commits.search.tooltip"}}>{{.locale.Tr "repo.commits.find"}}</button>
			</form>
		{{else if .IsDiffCompare}}
			<a href="{{$.CommitRepoLink}}/commit/{{.BeforeCommitID | PathEscape}}" class="ui green sha label gt-mx-0">{{if not .BaseIsCommit}}{{if .BaseIsBranch}}{{svg "octicon-git-branch"}}{{else if .BaseIsTag}}{{svg "octicon-tag"}}{{end}}{{.BaseBranch}}{{else}}{{ShortSha .BaseBranch}}{{end}}</a>
			...
			<a href="{{$.CommitRepoLink}}/commit/{{.AfterCommitID | PathEscape}}" class="ui green sha label gt-mx-0">{{if not .HeadIsCommit}}{{if .HeadIsBranch}}{{svg "octicon-git-branch"}}{{else if .HeadIsTag}}{{svg "octicon-tag"}}{{end}}{{.HeadBranch}}{{else}}{{ShortSha .HeadBranch}}{{end}}</a>
		{{end}}
	</div>
</h4>

{{if and .Commits (gt .CommitCount 0)}}
	{{template "repo/commits_list" .}}
{{end}}

{{template "base/paginate" .}}
