{{if .Permission.CanRead $.UnitTypeCode}}
	<div id="repo-contributors-chart"
		data-locale-filter-label="{{ctx.Locale.Tr "repo.contributors.contribution_type.filter_label"}}"
		data-locale-contribution-type-commits="{{ctx.Locale.Tr "repo.contributors.contribution_type.commits"}}"
		data-locale-contribution-type-additions="{{ctx.Locale.Tr "repo.contributors.contribution_type.additions"}}"
		data-locale-contribution-type-deletions="{{ctx.Locale.Tr "repo.contributors.contribution_type.deletions"}}"
		data-locale-loading-title="{{ctx.Locale.Tr "repo.contributors.loading_title"}}"
		data-locale-loading-title-failed="{{ctx.Locale.Tr "repo.contributors.loading_title_failed"}}"
		data-locale-loading-info="{{ctx.Locale.Tr "repo.contributors.loading_info"}}"
		data-locale-component-failed-to-load="{{ctx.Locale.Tr "repo.contributors.component_failed_to_load"}}"
	>
	</div>
{{end}}
