{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content repository forks">
	{{template "repo/header" .}}
	<div class="ui container">
		<h2 class="ui dividing header">
			{{.locale.Tr "repo.forks"}}
		</h2>
		{{range .Forks}}
			<div class="gt-df gt-ac gt-py-3">
				<span class="gt-mr-2">{{avatar $.Context .Owner}}</span>
				<a href="{{.Owner.HomeLink}}">{{.Owner.Name}}</a> / <a href="{{.Link}}">{{.Name}}</a>
			</div>
		{{end}}
	</div>

	{{template "base/paginate" .}}
</div>
{{template "base/footer" .}}
