{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content repository forks">
{{template "repo/header" .}}
	<div class="ui container">
		<ul>
			{{range .Funding}}
				<li><a href="{{.URL}}">{{.Text}}</a></li>
			{{end}}
		</ul>
	</div>

</div>
{{template "base/footer" .}}
