{{template "base/head" .}}
<div class="repository commits">
	{{template "repo/header" .}}
	<div class="ui container">
		<div id="git-graph-container" class="ui segment{{if eq .Mode "monochrome"}} monochrome{{end}}">
			<h2 class="ui header dividing">{{.i18n.Tr "repo.commit_graph"}}
				<div class="ui right">
					<div class="ui icon buttons tiny color-buttons">
						<div class="ui multiple selection search dropdown" id="flow-select-refs-dropdown">
							<input type="hidden">
              				<i class="dropdown icon"></i>
              				<input type="text" class="search">
              				<div class="default text">{{.i18n.Tr "repo.commit_graph.select"}}</div>
							<div class="menu">
								{{range .AllRefs}}
									{{$refGroup := .RefGroup}}
									<div class="item" data-value="{{.Name}}">
										<span class="truncate">
											{{if eq $refGroup "pull"}}
												<span class="emoji">{{svg "octicon-git-pull-request" 16}}</span> <span title="{{.ShortName}}">#{{.ShortName}}</span>
											{{else if eq $refGroup "tags"}}
												<span class="emoji">{{svg "octicon-tag" 16}}</span> <span title="{{.ShortName}}">{{.ShortName}}</span>
											{{else if eq $refGroup "remotes"}}
												<span class="emoji">{{svg "octicon-cross-reference" 16}}</span> <span title="{{.ShortName}}">{{.ShortName}}</span>
											{{else if eq $refGroup "heads"}}
												<span class="emoji">{{svg "octicon-git-branch" 16}}</span> <span title="{{.ShortName}}">{{.ShortName}}</span>
											{{end}}
										</span>
									</div>
								{{end}}
							</div>
						</div>
						<button id="flow-hide-pr-refs" class="ui labelled icon button {{if .HidePRRefs}} active{{end}}" title="{{.i18n.Tr "repo.commit_graph.hide_pr_refs"}}"><span class="emoji">{{svg "octicon-git-pull-request" 16}}</span> {{.i18n.Tr "repo.commit_graph.hide_pr_refs"}}</button>
						<button id="flow-color-monochrome" class="ui labelled icon button{{if eq .Mode "monochrome"}} active{{end}}" title="{{.i18n.Tr "repo.commit_graph.monochrome"}}"><span class="emoji">{{svg "material-invert-colors" 16}}</span> {{.i18n.Tr "repo.commit_graph.monochrome"}}</button>
						<button id="flow-color-colored" class="ui labelled icon button{{if ne .Mode "monochrome"}} active{{end}}" title="{{.i18n.Tr "repo.commit_graph.color"}}"><span class="emoji">{{svg "material-palette" 16}}</span> {{.i18n.Tr "repo.commit_graph.color"}}</button>
					</div>
				</div>
			</h2>
			<div class="ui dividing"></div>
			<div class="ui segment loading hide" id="loading-indicator"></div>
			{{ template "repo/graph/svgcontainer" .}}
			{{ template "repo/graph/commits" .}}
		</div>
	</div>
</div>
<div id="pagination">
	{{template "base/paginate" .}}
</div>
{{template "base/footer" .}}
