{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content repository commits">
	{{template "repo/header" .}}
	<div class="ui container">
		<div id="git-graph-container" class="ui segment{{if eq .Mode "monochrome"}} monochrome{{end}}">
			<h2 class="ui header dividing">
				{{ctx.Locale.Tr "repo.commit_graph"}}
				<div class="ui icon buttons tiny color-buttons">
					<div class="ui multiple selection search dropdown" id="flow-select-refs-dropdown">
						<input type="hidden" name="flow">
						<div class="default text">{{ctx.Locale.Tr "repo.commit_graph.select"}}</div>
						<div class="menu">
							<div class="item" data-value="...flow-hide-pr-refs">
								<span class="truncate">
									{{svg "octicon-eye-closed" 16 "gt-mr-2"}}<span title="{{ctx.Locale.Tr "repo.commit_graph.hide_pr_refs"}}">{{ctx.Locale.Tr "repo.commit_graph.hide_pr_refs"}}</span>
								</span>
							</div>
							{{range .AllRefs}}
								{{$refGroup := .RefGroup}}
								{{if eq $refGroup "pull"}}
									<div class="item" data-value="{{.Name}}">
										<span class="truncate">
											{{svg "octicon-git-pull-request" 16 "gt-mr-2"}}<span title="{{.ShortName}}">#{{.ShortName}}</span>
										</span>
									</div>
								{{else if eq $refGroup "tags"}}
									<div class="item" data-value="{{.Name}}">
										<span class="truncate">
											{{svg "octicon-tag" 16 "gt-mr-2"}}<span title="{{.ShortName}}">{{.ShortName}}</span>
										</span>
									</div>
								{{else if eq $refGroup "remotes"}}
									<div class="item" data-value="{{.Name}}">
										<span class="truncate">
											{{svg "octicon-cross-reference" 16 "gt-mr-2"}}<span title="{{.ShortName}}">{{.ShortName}}</span>
										</span>
									</div>
								{{else if eq $refGroup "heads"}}
									<div class="item" data-value="{{.Name}}">
										<span class="truncate">
											{{svg "octicon-git-branch" 16 "gt-mr-2"}}<span title="{{.ShortName}}">{{.ShortName}}</span>
										</span>
									</div>
								{{end}}
							{{end}}
						</div>
					</div>
					<button id="flow-color-monochrome" class="ui labelled icon button{{if eq .Mode "monochrome"}} active{{end}}" title="{{ctx.Locale.Tr "repo.commit_graph.monochrome"}}">{{svg "material-invert-colors" 16 "gt-mr-2"}}{{ctx.Locale.Tr "repo.commit_graph.monochrome"}}</button>
					<button id="flow-color-colored" class="ui labelled icon button{{if ne .Mode "monochrome"}} active{{end}}" title="{{ctx.Locale.Tr "repo.commit_graph.color"}}">{{svg "material-palette" 16 "gt-mr-2"}}{{ctx.Locale.Tr "repo.commit_graph.color"}}</button>
				</div>
			</h2>
			<div class="ui dividing"></div>
			<div class="ui segment loading gt-hidden" id="loading-indicator"></div>
			{{template "repo/graph/svgcontainer" .}}
			{{template "repo/graph/commits" .}}
		</div>
	</div>
</div>
<div id="pagination">
	{{template "base/paginate" .}}
</div>
{{template "base/footer" .}}
