{{if $.IsTemplate}}
	{{if $.IsPrivate}}
		{{svg "octicon-repo-template-private" 32}}
	{{else}}
		{{svg "octicon-repo-template" 32}}
	{{end}}
{{else}}
	{{if $.IsPrivate}}
		{{svg "octicon-lock" 32}}
	{{else if and (not $.IsMirror) (not $.IsFork) ($.Owner)}}
		{{if $.Owner.Visibility.IsPrivate}}
			{{svg "octicon-internal-repo" 32}}
		{{else}}
			{{svg "octicon-repo" 32}}
		{{end}}
	{{else if $.IsMirror}}
		{{svg "octicon-repo-clone" 32}}
	{{else if $.IsFork}}
		{{svg "octicon-repo-forked" 32}}
	{{else}}
		{{svg "octicon-repo" 32}}
	{{end}}
{{end}}
