<div class="header-wrapper">
{{with .Repository}}
	<div class="ui container">
		<div class="repo-header">
			<div class="ui huge breadcrumb repo-title">
				{{if .RelAvatarLink}}
				<img class="ui avatar image" src="{{.RelAvatarLink}}">
				{{else}}
				<i class="mega-octicon octicon-{{if .IsPrivate}}lock{{else if .IsMirror}}repo-clone{{else if .IsFork}}repo-forked{{else}}repo{{end}}"></i>
				{{end}}
				<a href="{{AppSubUrl}}/{{.Owner.Name}}">{{.Owner.Name}}</a>
				<div class="divider"> / </div>
				<a href="{{$.RepoLink}}">{{.Name}}</a>
				{{if and .RelAvatarLink .IsPrivate}}<i class="mega-octicon octicon-lock"></i>{{end}}
				{{if .IsTemplate}}<i class="icon fa-copy"></i>{{end}}
				{{if .IsArchived}}<i class="archive icon archived-icon"></i>{{end}}
				{{if .IsMirror}}<div class="fork-flag">{{$.i18n.Tr "repo.mirror_from"}} <a target="_blank" rel="noopener noreferrer" href="{{if .SanitizedOriginalURL}}{{.SanitizedOriginalURL}}{{else}}{{MirrorAddress $.Mirror}}{{end}}">{{if .SanitizedOriginalURL}}{{.SanitizedOriginalURL}}{{else}}{{MirrorAddress $.Mirror}}{{end}}</a></div>{{end}}
				{{if .IsFork}}<div class="fork-flag">{{$.i18n.Tr "repo.forked_from"}} <a href="{{.BaseRepo.Link}}">{{SubStr .BaseRepo.RelLink 1 -1}}</a></div>{{end}}
				{{if .IsGenerated}}<div class="fork-flag">{{$.i18n.Tr "repo.generated_from"}} <a href="{{.TemplateRepo.Link}}">{{SubStr .TemplateRepo.RelLink 1 -1}}</a></div>{{end}}
			</div>
			{{if not .IsBeingCreated}}
				<div class="repo-buttons">
					<form method="post" action="{{$.RepoLink}}/action/{{if $.IsWatchingRepo}}un{{end}}watch?redirect_to={{$.Link}}">
						{{$.CsrfTokenHtml}}
						<div class="ui labeled button" tabindex="0">
							<button type="submit" class="ui compact basic button">
								<i class="icon fa-eye{{if not $.IsWatchingRepo}}-slash{{end}}"></i>{{if $.IsWatchingRepo}}{{$.i18n.Tr "repo.unwatch"}}{{else}}{{$.i18n.Tr "repo.watch"}}{{end}}
							</button>
							<a class="ui basic label" href="{{.Link}}/watchers">
								{{.NumWatches}}
							</a>
						</div>
					</form>
					<form method="post" action="{{$.RepoLink}}/action/{{if $.IsStaringRepo}}un{{end}}star?redirect_to={{$.Link}}">
						{{$.CsrfTokenHtml}}
						<div class="ui labeled button" tabindex="0">
							<button type="submit" class="ui compact basic button">
								<i class="icon star{{if not $.IsStaringRepo}} outline{{end}}"></i>{{if $.IsStaringRepo}}{{$.i18n.Tr "repo.unstar"}}{{else}}{{$.i18n.Tr "repo.star"}}{{end}}
							</button>
							<a class="ui basic label" href="{{.Link}}/stars">
								{{.NumStars}}
							</a>
						</div>
					</form>
					{{if and (not .IsEmpty) ($.Permission.CanRead $.UnitTypeCode)}}
						<div class="ui labeled button {{if and ($.IsSigned) (not $.CanSignedUserFork)}}disabled-repo-button{{end}}" tabindex="0">
							<a class="ui compact basic button {{if or (not $.IsSigned) (not $.CanSignedUserFork)}}poping up{{end}}" {{if $.CanSignedUserFork}}href="{{AppSubUrl}}/repo/fork/{{.ID}}"{{else if $.IsSigned}} data-content="{{$.i18n.Tr "repo.fork_from_self"}}" {{ else }} data-content="{{$.i18n.Tr "repo.fork_guest_user" }}" rel="nofollow" href="{{AppSubUrl}}/user/login?redirect_to={{AppSubUrl}}/repo/fork/{{.ID}}" {{end}} data-position="top center" data-variation="tiny">
								<i class="octicon octicon-repo-forked"></i>{{$.i18n.Tr "repo.fork"}}
							</a>
							<a class="ui basic label" href="{{.Link}}/forks">
								{{.NumForks}}
							</a>
						</div>
					{{end}}
				</div>
			{{end}}
		</div><!-- end grid -->
	</div><!-- end container -->
{{end}}
	<div class="ui tabs container">
		{{if not .Repository.IsBeingCreated}}
			<div class="ui tabular stackable menu navbar">
				{{if .Permission.CanRead $.UnitTypeCode}}
				<a class="{{if .PageIsViewCode}}active{{end}} item" href="{{.RepoLink}}{{if (ne .BranchName .Repository.DefaultBranch)}}/src/{{.BranchNameSubURL | EscapePound}}{{end}}">
					<i class="octicon octicon-code"></i> {{.i18n.Tr "repo.code"}}
				</a>
				{{end}}

				{{if .Permission.CanRead $.UnitTypeIssues}}
					<a class="{{if .PageIsIssueList}}active{{end}} item" href="{{.RepoLink}}/issues">
						<i class="octicon octicon-issue-opened"></i> {{.i18n.Tr "repo.issues"}} <span class="ui {{if not .Repository.NumOpenIssues}}gray{{else}}blue{{end}} small label">{{.Repository.NumOpenIssues}}</span>
					</a>
				{{end}}

				{{if .Permission.CanRead $.UnitTypeExternalTracker}}
					<a class="{{if .PageIsIssueList}}active{{end}} item" href="{{.RepoExternalIssuesLink}}" target="_blank" rel="noopener noreferrer">
						<i class="octicon octicon-link-external"></i> {{.i18n.Tr "repo.issues"}} </span>
					</a>
				{{end}}

				{{if and .Repository.CanEnablePulls (.Permission.CanRead $.UnitTypePullRequests)}}
					<a class="{{if .PageIsPullList}}active{{end}} item" href="{{.RepoLink}}/pulls">
						<i class="octicon octicon-git-pull-request"></i> {{.i18n.Tr "repo.pulls"}} <span class="ui {{if not .Repository.NumOpenPulls}}gray{{else}}blue{{end}} small label">{{.Repository.NumOpenPulls}}</span>
					</a>
				{{end}}

				{{if and (.Permission.CanRead $.UnitTypeReleases) (not .IsEmptyRepo) }}
				<a class="{{if .PageIsReleaseList}}active{{end}} item" href="{{.RepoLink}}/releases">
					<i class="octicon octicon-tag"></i> {{.i18n.Tr "repo.releases"}} <span class="ui {{if not .Repository.NumReleases}}gray{{else}}blue{{end}} small label">{{.Repository.NumReleases}}</span>
				</a>
				{{end}}

				{{if or (.Permission.CanRead $.UnitTypeWiki) (.Permission.CanRead $.UnitTypeExternalWiki)}}
					<a class="{{if .PageIsWiki}}active{{end}} item" href="{{.RepoLink}}/wiki" {{if (.Permission.CanRead $.UnitTypeExternalWiki)}} target="_blank" rel="noopener noreferrer" {{end}}>
						<i class="octicon octicon-book"></i> {{.i18n.Tr "repo.wiki"}}
					</a>
				{{end}}

				{{if and (.Permission.CanReadAny $.UnitTypePullRequests $.UnitTypeIssues $.UnitTypeReleases) (not .IsEmptyRepo)}}
					<a class="{{if .PageIsActivity}}active{{end}} item" href="{{.RepoLink}}/activity">
						<i class="octicon octicon-pulse"></i> {{.i18n.Tr "repo.activity"}}
					</a>
				{{end}}

				{{template "custom/extra_tabs" .}}

				{{if .Permission.IsAdmin}}
					<div class="right menu">
						<a class="{{if .PageIsSettings}}active{{end}} item" href="{{.RepoLink}}/settings">
							<i class="octicon octicon-tools"></i> {{.i18n.Tr "repo.settings"}}
						</a>
					</div>
				{{end}}
			</div>
		{{end}}
	</div>
	<div class="ui tabs divider"></div>
</div>
