{{$avatarLink := (.RelAvatarLink ctx)}}
{{if $avatarLink}}
	<img class="ui avatar tw-align-middle" src="{{$avatarLink}}" width="24" height="24" alt="{{.FullName}}">
{{else if $.IsMirror}}
	{{svg "octicon-mirror" 24}}
{{else if $.IsFork}}
	{{svg "octicon-repo-forked" 24}}
{{else}}
	{{svg "octicon-repo" 24}}
{{end}}
