<div class="latest-commit">
{{if not .LatestCommit}}
	…
{{else}}
	{{template "repo/commit_author" (dict
		"User" .LatestCommitUser
		"Author" .LatestCommit.Author
		"AvatarSize" 24
		"AuthorBold" true
		"IsSigned" $.IsSigned
	)}}
	{{template "repo/commit_sign_badge" dict "Commit" .LatestCommit "CommitBaseLink" (print .RepoLink "/commit") "CommitSignVerification" .LatestCommitVerification}}

	{{template "repo/commit_statuses" dict "Status" .LatestCommitStatus "Statuses" .LatestCommitStatuses}}

	{{$commitLink:= printf "%s/commit/%s" .RepoLink (PathEscape .LatestCommit.ID.String)}}
	<span class="grey commit-summary" title="{{.LatestCommit.Summary}}"><span class="message-wrapper">{{ctx.RenderUtils.RenderCommitMessageLinkSubject .LatestCommit.Message $commitLink $.Repository}}</span>
		{{if IsMultilineCommitMessage .LatestCommit.Message}}
			<button class="ui button ellipsis-button" aria-expanded="false" data-global-click="onRepoEllipsisButtonClick">...</button>
			<pre class="commit-body tw-hidden">{{ctx.RenderUtils.RenderCommitBody .LatestCommit.Message $.Repository}}</pre>
		{{end}}
	</span>
{{end}}
</div>
