<div class="ui fluid vertical menu">
	<a class="{{if .PageIsPulse}}active{{end}} item" href="{{.RepoLink}}/activity">
		{{.locale.Tr "repo.activity.navbar.pulse"}}
	</a>
	<a class="{{if .PageIsContributors}}active{{end}} item" href="{{.RepoLink}}/activity/contributors">
		{{.locale.Tr "repo.activity.navbar.contributors"}}
	</a>
</div>
