{{with .BoardNote}}
<div class="content gt-p-0 gt-w-full">
	<div class="gt-df gt-items-start">
		<div class="project-column-note-card-icon">
			{{svg "octicon-note"}}
		</div>
		<span class="note-card-title muted project-column-note-title">{{.Title}}</span>
		{{if or $.CanWriteProjects (gt (len .RenderedContent) 0)}}
			<div class="ui dropdown jump item">
				<div class="gt-px-3">
					{{svg "octicon-kebab-horizontal"}}
				</div>
				<div class="menu user-menu left">
					<button class="ui item show-modal button"
						data-modal="#view-project-column-note-modal-{{.ID}}">
							{{svg "octicon-eye"}}
							{{ctx.Locale.Tr "repo.projects.note.view"}}
					</button>
					{{if $.CanWriteProjects}}
						<button class="ui item show-modal button"
							data-modal="#edit-project-column-note-modal-{{.ID}}"
							data-modal-form.action="{{$.Link}}/{{$.columnID}}/note/{{.ID}}">
								{{svg "octicon-pencil"}}
								{{ctx.Locale.Tr "repo.projects.note.edit"}}
						</button>
						<a class="ui item button create-project-issue-from-note" href="{{$.RepoLink}}/issues/new/choose?project={{$.ProjectID}}">
							{{svg "octicon-issue-opened"}}
							{{ctx.Locale.Tr "repo.issues.new"}}
						</a>
						<button class="ui item show-modal button"
							data-modal="#delete-project-column-note-modal-{{.ID}}"
							data-modal-form.action="{{$.Link}}/{{$.columnID}}/note/{{.ID}}">
								{{svg "octicon-trash"}}
								{{ctx.Locale.Tr "repo.projects.note.delete"}}
						</button>
					{{end}}

					<div class="ui modal" id="view-project-column-note-modal-{{.ID}}">
						<div class="header">
							{{ctx.Locale.Tr "repo.projects.note.view"}}
						</div>
						<div class="content">
							{{Str2html .RenderedContent}}
						</div>
						<div class="actions">
							<button class="ui cancel button">{{ctx.Locale.Tr "repo.projects.close"}}</button>
						</div>
					</div>

					{{if $.CanWriteProjects}}
						<div class="ui modal" id="edit-project-column-note-modal-{{.ID}}">
							<div class="header">
								{{ctx.Locale.Tr "repo.projects.note.edit"}}
							</div>
							<form class="ui form form-fetch-action" method="put">
								<div class="content">
									{{$.CsrfTokenHtml}}
									<div class="required field">
										<label for="edit-project-column-note-title-{{.ID}}">{{ctx.Locale.Tr "repo.projects.note.edit_title"}}</label>
										<input id="edit-project-column-note-title-{{.ID}}" name="title" value="{{.Title}}" maxlength="255" autofocus required>
									</div>

									<div class="field">
										{{template "shared/combomarkdowneditor" (dict
											"MarkdownPreviewUrl" (print $.RepoLink "/markup")
											"MarkdownPreviewContext" $.RepoLink
											"TextareaName" "content"
											"TextareaContent" .Content
											"TextareaPlaceholder" (ctx.Locale.Tr "repo.projects.note.content")
										)}}
									</div>
								</div>

								{{template "base/modal_actions_confirm" (dict "ModalButtonTypes" "confirm" "ModalButtonOkText" (ctx.Locale.Tr "repo.projects.note.edit"))}}
							</form>
						</div>

						<div class="ui g-modal-confirm modal" id="delete-project-column-note-modal-{{.ID}}">
							<div class="header">
								{{ctx.Locale.Tr "repo.projects.note.delete"}}
							</div>
							<form class="ui form form-fetch-action" action="delete">
								{{$.CsrfTokenHtml}}
								<div class="content">
									<label>
										{{ctx.Locale.Tr "repo.projects.note.deletion_desc"}}
									</label>
								</div>
								{{template "base/modal_actions_confirm" (dict "ModalButtonTypes" "confirm")}}
							</form>
						</div>
					{{end}}
				</div>
			</div>
		{{end}}
	</div>
	<div class="project-column-note-content">
		{{Str2html .RenderedContent}}
	</div>
	<div class="meta">
		<span class="text light grey muted-links">
			{{$timeStr := TimeSinceUnix .GetLastEventTimestamp ctx.Locale}}
			{{ctx.Locale.Tr .GetLastEventLabel $timeStr (.Creator.HomeLink | Escape) (.Creator.GetDisplayName | Escape) | Safe}}
		</span>
	</div>
	{{$tasks := .GetTasks}}
	{{if gt $tasks 0}}
		<div class="meta">
			{{svg "octicon-checklist" 16 "gt-mr-2 gt-vm"}}
			<span class="gt-vm">{{.GetTasksDone}} / {{$tasks}}</span>
		</div>
	{{end}}
</div>
{{end}}
