<h2 class="ui header activity-header">
	<span>{{DateUtils.AbsoluteLong .DateFrom}} - {{DateUtils.AbsoluteLong .DateUntil}}</span>
	<!-- Period -->
	<div class="ui floating dropdown jump filter">
		<div class="ui basic compact button">
			{{ctx.Locale.Tr "repo.activity.period.filter_label"}} <strong>{{.PeriodText}}</strong>
			{{svg "octicon-triangle-down" 14 "dropdown icon"}}
		</div>
		<div class="menu">
			<a class="{{if eq .Period "daily"}}active {{end}}item" href="{{$.RepoLink}}/activity/daily">{{ctx.Locale.Tr "repo.activity.period.daily"}}</a>
			<a class="{{if eq .Period "halfweekly"}}active {{end}}item" href="{{$.RepoLink}}/activity/halfweekly">{{ctx.Locale.Tr "repo.activity.period.halfweekly"}}</a>
			<a class="{{if eq .Period "weekly"}}active {{end}}item" href="{{$.RepoLink}}/activity/weekly">{{ctx.Locale.Tr "repo.activity.period.weekly"}}</a>
			<a class="{{if eq .Period "monthly"}}active {{end}}item" href="{{$.RepoLink}}/activity/monthly">{{ctx.Locale.Tr "repo.activity.period.monthly"}}</a>
			<a class="{{if eq .Period "quarterly"}}active {{end}}item" href="{{$.RepoLink}}/activity/quarterly">{{ctx.Locale.Tr "repo.activity.period.quarterly"}}</a>
			<a class="{{if eq .Period "semiyearly"}}active {{end}}item" href="{{$.RepoLink}}/activity/semiyearly">{{ctx.Locale.Tr "repo.activity.period.semiyearly"}}</a>
			<a class="{{if eq .Period "yearly"}}active {{end}}item" href="{{$.RepoLink}}/activity/yearly">{{ctx.Locale.Tr "repo.activity.period.yearly"}}</a>
		</div>
	</div>
</h2>

{{if (or (.Permission.CanRead ctx.Consts.RepoUnitTypeIssues) (.Permission.CanRead ctx.Consts.RepoUnitTypePullRequests))}}
<h4 class="ui top attached header">{{ctx.Locale.Tr "repo.activity.overview"}}</h4>
<div class="ui attached segment two column grid">
	{{if .Permission.CanRead ctx.Consts.RepoUnitTypePullRequests}}
		<div class="column">
			{{if gt .Activity.ActivePRCount 0}}
			<div class="stats-table">
				{{if gt .Activity.MergedPRPerc 0}}
					<a href="#merged-pull-requests" class="table-cell tiny tw-bg-purple" style="width: {{.Activity.MergedPRPerc}}%"></a>
				{{end}}
				<a href="#proposed-pull-requests" class="table-cell tiny tw-bg-green"></a>
			</div>
			{{else}}
			<div class="stats-table">
				<a class="table-cell tiny tw-bg-grey"></a>
			</div>
			{{end}}
			{{ctx.Locale.TrN .Activity.ActivePRCount "repo.activity.active_prs_count_1" "repo.activity.active_prs_count_n" .Activity.ActivePRCount}}
		</div>
	{{end}}
	{{if .Permission.CanRead ctx.Consts.RepoUnitTypeIssues}}
		<div class="column">
			{{if gt .Activity.ActiveIssueCount 0}}
			<div class="stats-table">
				{{if gt .Activity.ClosedIssuePerc 0}}
					<a href="#closed-issues" class="table-cell tiny tw-bg-red" style="width: {{.Activity.ClosedIssuePerc}}%"></a>
				{{end}}
				<a href="#new-issues" class="table-cell tiny tw-bg-green"></a>
			</div>
			{{else}}
			<div class="stats-table">
				<a class="table-cell tiny background light grey"></a>
			</div>
			{{end}}
			{{ctx.Locale.TrN .Activity.ActiveIssueCount "repo.activity.active_issues_count_1" "repo.activity.active_issues_count_n" .Activity.ActiveIssueCount}}
		</div>
	{{end}}
</div>
<div class="ui attached segment horizontal segments">
	{{if .Permission.CanRead ctx.Consts.RepoUnitTypePullRequests}}
		<a href="#merged-pull-requests" class="ui attached segment text center">
			<span class="text purple">{{svg "octicon-git-pull-request"}}</span> <strong>{{.Activity.MergedPRCount}}</strong><br>
			{{ctx.Locale.TrN .Activity.MergedPRCount "repo.activity.merged_prs_count_1" "repo.activity.merged_prs_count_n"}}
		</a>
		<a href="#proposed-pull-requests" class="ui attached segment text center">
			<span class="text green">{{svg "octicon-git-branch"}}</span> <strong>{{.Activity.OpenedPRCount}}</strong><br>
			{{ctx.Locale.TrN .Activity.OpenedPRCount "repo.activity.opened_prs_count_1" "repo.activity.opened_prs_count_n"}}
		</a>
	{{end}}
	{{if .Permission.CanRead ctx.Consts.RepoUnitTypeIssues}}
		<a href="#closed-issues" class="ui attached segment text center">
			<span class="text red">{{svg "octicon-issue-closed"}}</span> <strong>{{.Activity.ClosedIssueCount}}</strong><br>
			{{ctx.Locale.TrN .Activity.ClosedIssueCount "repo.activity.closed_issues_count_1" "repo.activity.closed_issues_count_n"}}
		</a>
		<a href="#new-issues" class="ui attached segment text center">
			<span class="text green">{{svg "octicon-issue-opened"}}</span> <strong>{{.Activity.OpenedIssueCount}}</strong><br>
			{{ctx.Locale.TrN .Activity.OpenedIssueCount "repo.activity.new_issues_count_1" "repo.activity.new_issues_count_n"}}
		</a>
	{{end}}
</div>
{{end}}

{{if .Permission.CanRead ctx.Consts.RepoUnitTypeCode}}
	{{if eq .Activity.Code.CommitCountInAllBranches 0}}
		<div class="ui center aligned segment">
		<h4 class="ui header">{{ctx.Locale.Tr "repo.activity.no_git_activity"}}</h4>
		</div>
	{{end}}
	{{if gt .Activity.Code.CommitCountInAllBranches 0}}
		<div class="ui attached segment horizontal segments">
			<div class="ui attached segment text">
				{{ctx.Locale.Tr "repo.activity.git_stats_exclude_merges"}}
				<strong>{{ctx.Locale.TrN .Activity.Code.AuthorCount "repo.activity.git_stats_author_1" "repo.activity.git_stats_author_n" .Activity.Code.AuthorCount}}</strong>
				{{ctx.Locale.TrN .Activity.Code.AuthorCount "repo.activity.git_stats_pushed_1" "repo.activity.git_stats_pushed_n"}}
				<strong>{{ctx.Locale.TrN .Activity.Code.CommitCount "repo.activity.git_stats_commit_1" "repo.activity.git_stats_commit_n" .Activity.Code.CommitCount}}</strong>
				{{ctx.Locale.Tr "repo.activity.git_stats_push_to_branch" .Repository.DefaultBranch}}
				<strong>{{ctx.Locale.TrN .Activity.Code.CommitCountInAllBranches "repo.activity.git_stats_commit_1" "repo.activity.git_stats_commit_n" .Activity.Code.CommitCountInAllBranches}}</strong>
				{{ctx.Locale.Tr "repo.activity.git_stats_push_to_all_branches"}}
				{{ctx.Locale.Tr "repo.activity.git_stats_on_default_branch" .Repository.DefaultBranch}}
				<strong>{{ctx.Locale.TrN .Activity.Code.ChangedFiles "repo.activity.git_stats_file_1" "repo.activity.git_stats_file_n" .Activity.Code.ChangedFiles}}</strong>
				{{ctx.Locale.TrN .Activity.Code.ChangedFiles "repo.activity.git_stats_files_changed_1" "repo.activity.git_stats_files_changed_n"}}
				{{ctx.Locale.Tr "repo.activity.git_stats_additions"}}
				<strong class="text green">{{ctx.Locale.TrN .Activity.Code.Additions "repo.activity.git_stats_addition_1" "repo.activity.git_stats_addition_n" .Activity.Code.Additions}}</strong>
				{{ctx.Locale.Tr "repo.activity.git_stats_and_deletions"}}
				<strong class="text red">{{ctx.Locale.TrN .Activity.Code.Deletions "repo.activity.git_stats_deletion_1" "repo.activity.git_stats_deletion_n" .Activity.Code.Deletions}}</strong>.
			</div>
			<div class="ui attached segment">
				<div id="repo-activity-top-authors-chart"></div>
			</div>
		</div>
	{{end}}
{{end}}

{{if gt .Activity.PublishedReleaseCount 0}}
	<h4 class="divider divider-text" id="published-releases">
		{{svg "octicon-tag" 16 "tw-mr-2"}}
		{{ctx.Locale.Tr "repo.activity.title.releases_published_by"
			(ctx.Locale.TrN .Activity.PublishedReleaseCount "repo.activity.title.releases_1" "repo.activity.title.releases_n" .Activity.PublishedReleaseCount)
			(ctx.Locale.TrN .Activity.PublishedReleaseAuthorCount "repo.activity.title.user_1" "repo.activity.title.user_n" .Activity.PublishedReleaseAuthorCount)
		}}
	</h4>
	<div class="list">
		{{range .Activity.PublishedReleases}}
			<p class="desc">
				<span class="ui green label">{{ctx.Locale.Tr "repo.activity.published_release_label"}}</span>
				{{.TagName}}
				{{if not .IsTag}}
					<a class="title" href="{{$.RepoLink}}/src/{{.TagName | PathEscapeSegments}}">{{.Title | ctx.RenderUtils.RenderIssueSimpleTitle}}</a>
				{{end}}
				{{DateUtils.TimeSince .CreatedUnix}}
			</p>
		{{end}}
	</div>
{{end}}

{{if gt .Activity.MergedPRCount 0}}
	<h4 class="divider divider-text" id="merged-pull-requests">
		{{svg "octicon-git-pull-request" 16 "tw-mr-2"}}
		{{ctx.Locale.Tr "repo.activity.title.prs_merged_by"
			(ctx.Locale.TrN .Activity.MergedPRCount "repo.activity.title.prs_1" "repo.activity.title.prs_n" .Activity.MergedPRCount)
			(ctx.Locale.TrN .Activity.MergedPRAuthorCount "repo.activity.title.user_1" "repo.activity.title.user_n" .Activity.MergedPRAuthorCount)
		}}
	</h4>
	<div class="list">
		{{range .Activity.MergedPRs}}
			<p class="desc">
				<span class="ui purple label">{{ctx.Locale.Tr "repo.activity.merged_prs_label"}}</span>
				#{{.Index}} <a class="title" href="{{$.RepoLink}}/pulls/{{.Index}}">{{.Issue.Title | ctx.RenderUtils.RenderIssueSimpleTitle}}</a>
				{{DateUtils.TimeSince .MergedUnix}}
			</p>
		{{end}}
	</div>
{{end}}

{{if gt .Activity.OpenedPRCount 0}}
	<h4 class="divider divider-text" id="proposed-pull-requests">
		{{svg "octicon-git-branch" 16 "tw-mr-2"}}
		{{ctx.Locale.Tr "repo.activity.title.prs_opened_by"
			(ctx.Locale.TrN .Activity.OpenedPRCount "repo.activity.title.prs_1" "repo.activity.title.prs_n" .Activity.OpenedPRCount)
			(ctx.Locale.TrN .Activity.OpenedPRAuthorCount "repo.activity.title.user_1" "repo.activity.title.user_n" .Activity.OpenedPRAuthorCount)
		}}
	</h4>
	<div class="list">
		{{range .Activity.OpenedPRs}}
			<p class="desc">
				<span class="ui green label">{{ctx.Locale.Tr "repo.activity.opened_prs_label"}}</span>
				#{{.Index}} <a class="title" href="{{$.RepoLink}}/pulls/{{.Index}}">{{.Issue.Title | ctx.RenderUtils.RenderIssueSimpleTitle}}</a>
				{{DateUtils.TimeSince .Issue.CreatedUnix}}
			</p>
		{{end}}
	</div>
{{end}}

{{if gt .Activity.ClosedIssueCount 0}}
	<h4 class="divider divider-text" id="closed-issues">
		{{svg "octicon-issue-closed" 16 "tw-mr-2"}}
		{{ctx.Locale.Tr "repo.activity.title.issues_closed_from"
			(ctx.Locale.TrN .Activity.ClosedIssueCount "repo.activity.title.issues_1" "repo.activity.title.issues_n" .Activity.ClosedIssueCount)
			(ctx.Locale.TrN .Activity.ClosedIssueAuthorCount "repo.activity.title.user_1" "repo.activity.title.user_n" .Activity.ClosedIssueAuthorCount)
		}}
	</h4>
	<div class="list">
		{{range .Activity.ClosedIssues}}
			<p class="desc">
				<span class="ui red label">{{ctx.Locale.Tr "repo.activity.closed_issue_label"}}</span>
				#{{.Index}} <a class="title" href="{{$.RepoLink}}/issues/{{.Index}}">{{.Title | ctx.RenderUtils.RenderIssueSimpleTitle}}</a>
				{{DateUtils.TimeSince .ClosedUnix}}
			</p>
		{{end}}
	</div>
{{end}}

{{if gt .Activity.OpenedIssueCount 0}}
	<h4 class="divider divider-text" id="new-issues">
		{{svg "octicon-issue-opened" 16 "tw-mr-2"}}
		{{ctx.Locale.Tr "repo.activity.title.issues_created_by"
			(ctx.Locale.TrN .Activity.OpenedIssueCount "repo.activity.title.issues_1" "repo.activity.title.issues_n" .Activity.OpenedIssueCount)
			(ctx.Locale.TrN .Activity.OpenedIssueAuthorCount "repo.activity.title.user_1" "repo.activity.title.user_n" .Activity.OpenedIssueAuthorCount)
		}}
	</h4>
	<div class="list">
		{{range .Activity.OpenedIssues}}
			<p class="desc">
				<span class="ui green label">{{ctx.Locale.Tr "repo.activity.new_issue_label"}}</span>
				#{{.Index}} <a class="title" href="{{$.RepoLink}}/issues/{{.Index}}">{{.Title | ctx.RenderUtils.RenderIssueSimpleTitle}}</a>
				{{DateUtils.TimeSince .CreatedUnix}}
			</p>
		{{end}}
	</div>
{{end}}

{{if gt .Activity.UnresolvedIssueCount 0}}
	<h4 class="divider divider-text" id="unresolved-conversations" data-tooltip-content="{{ctx.Locale.Tr "repo.activity.unresolved_conv_desc"}}">
		{{svg "octicon-comment-discussion" 16 "tw-mr-2"}}
		{{ctx.Locale.TrN .Activity.UnresolvedIssueCount "repo.activity.title.unresolved_conv_1" "repo.activity.title.unresolved_conv_n" .Activity.UnresolvedIssueCount}}
	</h4>
	<div class="list">
		{{range .Activity.UnresolvedIssues}}
			<p class="desc">
				<span class="ui green label">{{ctx.Locale.Tr "repo.activity.unresolved_conv_label"}}</span>
				#{{.Index}}
				{{if .IsPull}}
				<a class="title" href="{{$.RepoLink}}/pulls/{{.Index}}">{{.Title | ctx.RenderUtils.RenderIssueSimpleTitle}}</a>
				{{else}}
				<a class="title" href="{{$.RepoLink}}/issues/{{.Index}}">{{.Title | ctx.RenderUtils.RenderIssueSimpleTitle}}</a>
				{{end}}
				{{DateUtils.TimeSince .UpdatedUnix}}
			</p>
		{{end}}
	</div>
{{end}}
