{{template "base/head" .}}
<div class="page-content repository file list">
	{{template "repo/header" .}}
	<div class="ui container">
		<div class="ui repo-search">
			<form class="ui form ignore-dirty" method="get">
				<div class="ui fluid action input">
					<div class="twelve wide field">
						<input name="q" value="{{.Keyword}}" placeholder="{{.i18n.Tr "repo.search.search_repo"}}">
					</div>
					<div class="two wide field">
						<select name="t">
							<option value="">{{.i18n.Tr "repo.search.fuzzy"}}</option>
							<option value="match" {{if eq .queryType "match"}}selected{{end}}>{{.i18n.Tr "repo.search.match"}}</option>
						</select>
					</div>
					<div class="three field">
					  <button class="ui button" type="submit">
						  <i class="icon df ac jc">{{svg "octicon-search" 16}}</i>
					  </button>
					</div>
				</div>
			</form>
		</div>
		{{if .Keyword}}
			<h3>
				{{.i18n.Tr "repo.search.results" (.Keyword|Escape) .RepoLink .RepoName | Str2html }}
			</h3>
			<div class="df ac fw">
				{{range $term := .SearchResultLanguages}}
				<a class="ui text-label df ac mr-1 my-1 {{if eq $.Language $term.Language}}primary {{end}}basic label" href="{{EscapePound $.SourcePath}}/search?q={{$.Keyword}}{{if ne $.Language $term.Language}}&l={{$term.Language}}{{end}}{{if ne $.queryType ""}}&t={{$.queryType}}{{end}}">
					<i class="color-icon mr-3" style="background-color: {{$term.Color}}"></i>
					{{$term.Language}}
					<div class="detail">{{$term.Count}}</div>
				</a>
				{{end}}
			</div>
			<div class="repository search">
				{{range $result := .SearchResults}}
					<div class="diff-file-box diff-box file-content non-diff-file-content repo-search-result">
						<h4 class="ui top attached normal header">
							<span class="file">{{.Filename}}</span>
							<a class="ui basic tiny button" rel="nofollow" href="{{EscapePound $.SourcePath}}/src/commit/{{$result.CommitID}}/{{EscapePound .Filename}}">{{$.i18n.Tr "repo.diff.view_file"}}</a>
						</h4>
						<div class="ui attached table segment">
							<div class="file-body file-code code-view">
								<table>
									<tbody>
										<tr>
											<td class="lines-num">
												{{range .LineNumbers}}
													<a href="{{EscapePound $.SourcePath}}/src/commit/{{$result.CommitID}}/{{EscapePound $result.Filename}}#L{{.}}"><span>{{.}}</span></a>
												{{end}}
											</td>
											<td class="lines-code"><pre><code class="chroma"><ol class="linenums">{{.FormattedLines | Safe}}</ol></code></pre></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						{{template "shared/searchbottom" dict "root" $ "result" .}}
					</div>
				{{end}}
			</div>
			{{template "base/paginate" .}}
		{{end}}
	</div>
</div>
{{template "base/footer" .}}
