<div class="ui detail icon button">
	{{if .verification.Verified}}
		<div title="{{if eq .verification.TrustStatus "trusted"}}{{else if eq .verification.TrustStatus "untrusted"}}{{ctx.Locale.Tr "repo.commits.signed_by_untrusted_user"}}: {{else}}{{ctx.Locale.Tr "repo.commits.signed_by_untrusted_user_unmatched"}}: {{end}}{{.verification.Reason}}">
		{{if ne .verification.SigningUser.ID 0}}
			{{svg "gitea-lock"}}
			{{ctx.AvatarUtils.Avatar .verification.SigningUser 28 "signature"}}
		{{else}}
			<span title="{{ctx.Locale.Tr "gpg.default_key"}}">{{svg "gitea-lock-cog"}}</span>
			{{ctx.AvatarUtils.AvatarByEmail .verification.SigningEmail "" 28 "signature"}}
		{{end}}
		</div>
	{{else}}
		<span title="{{ctx.Locale.Tr .verification.Reason}}">{{svg "gitea-unlock"}}</span>
	{{end}}
</div>
