{{if .Permission}}
	<div class="sidebar-label sidebar-repo-label">
		<a href="{{.Repository.Owner.HomeLink}}">{{.Repository.Owner.Name}}</a>/<a href="{{.RepoLink}}">{{.Repository.Name}}</a>
	</div>
	<div class="sidebar-nav sidebar-repo-nav">
		{{if not (or .Repository.IsBeingCreated .Repository.IsBroken)}}
			{{if .Permission.CanRead ctx.Consts.RepoUnitTypeCode}}
				<a class="sidebar-item{{if .PageIsViewCode}} active{{end}}" href="{{.RepoLink}}{{if and (ne .BranchName .Repository.DefaultBranch) (not $.PageIsWiki)}}/src/{{.RefTypeNameSubURL}}{{end}}">
					{{svg "octicon-code"}}<span class="sidebar-item-text">{{ctx.Locale.Tr "repo.code"}}</span>
				</a>
			{{end}}

			{{if .Permission.CanRead ctx.Consts.RepoUnitTypeIssues}}
				<a class="sidebar-item{{if .PageIsIssueList}} active{{end}}" href="{{.RepoLink}}/issues">
					{{svg "octicon-issue-opened"}}<span class="sidebar-item-text">{{ctx.Locale.Tr "repo.issues"}}</span>
					{{if .Repository.NumOpenIssues}}<span class="sidebar-item-count">{{CountFmt .Repository.NumOpenIssues}}</span>{{end}}
				</a>
			{{end}}

			{{if .Permission.CanRead ctx.Consts.RepoUnitTypeExternalTracker}}
				<a class="sidebar-item{{if .PageIsIssueList}} active{{end}}" href="{{.RepoExternalIssuesLink}}" target="_blank">
					{{svg "octicon-link-external"}}<span class="sidebar-item-text">{{ctx.Locale.Tr "repo.issues"}}</span>
				</a>
			{{end}}

			{{if and .Repository.CanEnablePulls (.Permission.CanRead ctx.Consts.RepoUnitTypePullRequests)}}
				<a class="sidebar-item{{if .PageIsPullList}} active{{end}}" href="{{.RepoLink}}/pulls">
					{{svg "octicon-git-pull-request"}}<span class="sidebar-item-text">{{ctx.Locale.Tr "repo.pulls"}}</span>
					{{if .Repository.NumOpenPulls}}<span class="sidebar-item-count">{{CountFmt .Repository.NumOpenPulls}}</span>{{end}}
				</a>
			{{end}}

			{{if and .EnableActions (.Permission.CanRead ctx.Consts.RepoUnitTypeActions) (not .IsEmptyRepo)}}
				<a class="sidebar-item{{if .PageIsActions}} active{{end}}" href="{{.RepoLink}}/actions">
					{{svg "octicon-play"}}<span class="sidebar-item-text">{{ctx.Locale.Tr "actions.actions"}}</span>
					{{if .Repository.NumOpenActionRuns}}<span class="sidebar-item-count">{{CountFmt .Repository.NumOpenActionRuns}}</span>{{end}}
				</a>
			{{end}}

			{{if .Permission.CanRead ctx.Consts.RepoUnitTypePackages}}
				<a class="sidebar-item{{if .IsPackagesPage}} active{{end}}" href="{{.RepoLink}}/packages">
					{{svg "octicon-package"}}<span class="sidebar-item-text">{{ctx.Locale.Tr "packages.title"}}</span>
				</a>
			{{end}}

			{{$projectsUnit := .Repository.MustGetUnit ctx ctx.Consts.RepoUnitTypeProjects}}
			{{if and (not ctx.Consts.RepoUnitTypeProjects.UnitGlobalDisabled) (.Permission.CanRead ctx.Consts.RepoUnitTypeProjects) ($projectsUnit.ProjectsConfig.IsProjectsAllowed "repo")}}
				<a class="sidebar-item{{if .IsProjectsPage}} active{{end}}" href="{{.RepoLink}}/projects">
					{{svg "octicon-project"}}<span class="sidebar-item-text">{{ctx.Locale.Tr "repo.projects"}}</span>
					{{if .Repository.NumOpenProjects}}<span class="sidebar-item-count">{{CountFmt .Repository.NumOpenProjects}}</span>{{end}}
				</a>
			{{end}}

			{{if and (.Permission.CanRead ctx.Consts.RepoUnitTypeReleases) (not .IsEmptyRepo)}}
				<a class="sidebar-item{{if or .PageIsReleaseList .PageIsTagList}} active{{end}}" href="{{.RepoLink}}/releases">
					{{svg "octicon-tag"}}<span class="sidebar-item-text">{{ctx.Locale.Tr "repo.releases"}}</span>
					{{if .NumReleases}}<span class="sidebar-item-count">{{CountFmt .NumReleases}}</span>{{end}}
				</a>
			{{end}}

			{{if .Permission.CanRead ctx.Consts.RepoUnitTypeWiki}}
				<a class="sidebar-item{{if .PageIsWiki}} active{{end}}" href="{{.RepoLink}}/wiki">
					{{svg "octicon-book"}}<span class="sidebar-item-text">{{ctx.Locale.Tr "repo.wiki"}}</span>
				</a>
			{{end}}

			{{if .Permission.CanRead ctx.Consts.RepoUnitTypeExternalWiki}}
				<a class="sidebar-item" href="{{(.Repository.MustGetUnit ctx ctx.Consts.RepoUnitTypeExternalWiki).ExternalWikiConfig.ExternalWikiURL}}" target="_blank">
					{{svg "octicon-link-external"}}<span class="sidebar-item-text">{{ctx.Locale.Tr "repo.wiki"}}</span>
				</a>
			{{end}}

			{{if and (.Permission.CanReadAny ctx.Consts.RepoUnitTypePullRequests ctx.Consts.RepoUnitTypeIssues ctx.Consts.RepoUnitTypeReleases ctx.Consts.RepoUnitTypeCode) (not .IsEmptyRepo)}}
				<a class="sidebar-item{{if .PageIsActivity}} active{{end}}" href="{{.RepoLink}}/activity">
					{{svg "octicon-pulse"}}<span class="sidebar-item-text">{{ctx.Locale.Tr "repo.activity"}}</span>
				</a>
			{{end}}

			{{template "custom/extra_tabs" .}}

			{{if .Permission.IsAdmin}}
				<a class="sidebar-item{{if .PageIsRepoSettings}} active{{end}}" href="{{.RepoLink}}/settings">
					{{svg "octicon-tools"}}<span class="sidebar-item-text">{{ctx.Locale.Tr "repo.settings"}}</span>
				</a>
			{{end}}
		{{else}}
			{{if and .Repository.IsBeingCreated (.Permission.CanRead ctx.Consts.RepoUnitTypeCode)}}
				<a class="sidebar-item{{if not .PageIsRepoSettings}} active{{end}}" href="{{.RepoLink}}">
					{{svg "octicon-clock"}}<span class="sidebar-item-text">{{ctx.Locale.Tr "repo.migration_status"}}</span>
				</a>
			{{end}}

			{{if .Permission.IsAdmin}}
				<a class="sidebar-item{{if .PageIsRepoSettings}} active{{end}}" href="{{.RepoLink}}/settings">
					{{svg "octicon-tools"}}<span class="sidebar-item-text">{{ctx.Locale.Tr "repo.settings"}}</span>
				</a>
			{{end}}
		{{end}}
	</div>
{{end}}
