{{$verification := $.CommitSignVerification}}
{{$extraClass := ""}}
{{$verified := false}}
{{$trusted := false}}
{{$signingUser := NIL}}
{{$signingEmail := ""}}
{{$msgReasonPrefix := ""}}
{{$msgReason := ""}}
{{$msgSigningKey := ""}}

{{$signingUser = $verification.SigningUser}}
{{$signingEmail = $verification.SigningEmail}}
{{$extraClass = print $extraClass " commit-is-signed"}}
{{if $verification.Verified}}
	{{/* reason is "{name} / {key-id}" */}}
	{{$verified := true}}
	{{if eq $verification.TrustStatus "trusted"}}
		{{$extraClass = print $extraClass " sign-trusted"}}
		{{$trusted = true}}
	{{else if eq $verification.TrustStatus "untrusted"}}
		{{$extraClass = print $extraClass " sign-untrusted"}}
		{{$msgReasonPrefix = ctx.Locale.Tr "repo.commits.signed_by_untrusted_user"}}
	{{else}}
		{{$extraClass = print $extraClass " sign-unmatched"}}
		{{$msgReasonPrefix = ctx.Locale.Tr "repo.commits.signed_by_untrusted_user_unmatched"}}
	{{end}}
{{else}}
	{{if $verification.Warning}}
		{{$extraClass = print $extraClass " sign-warning"}}
	{{end}}
	{{$msgReason = ctx.Locale.Tr $verification.Reason}}{{/* dirty part: it is the translation key ..... */}}
{{end}}

{{if $msgReasonPrefix}}
	{{$msgReason = print $msgReasonPrefix ": " $msgReason}}
{{end}}

{{if $verification.SigningSSHKey}}
	{{$msgSigningKey := print (ctx.Locale.Tr "repo.commits.ssh_key_fingerprint") ": " $verification.SigningSSHKey.Fingerprint}}
{{else if $verification.SigningKey}}
	{{$msgSigningKey := print (ctx.Locale.Tr "repo.commits.gpg_key_id") ": " $verification.SigningKey.PaddedKeyID}}
{{end}}

<div class="ui label commit-sign-badge {{$extraClass}}">
	{{if $verified}}
		{{if and $signingUser $signingUser.ID}}
			<span data-tooltip-content="{{$msgReason}}">{{svg "gitea-lock"}}</span>
			<span data-tooltip-content="{{$msgSigningKey}}">{{ctx.AvatarUtils.Avatar $signingUser 16}}</span>
		{{else}}
			<span data-tooltip-content="{{$msgReason}}">{{svg "gitea-lock-cog"}}</span>
			<span data-tooltip-content="{{$msgSigningKey}}">{{ctx.AvatarUtils.AvatarByEmail $signingEmail "" 16}}</span>
		{{end}}
	{{else}}
		<span data-tooltip-content="{{$msgReason}}">{{svg "gitea-unlock"}}</span>
	{{end}}
</div>
