{{$base_classes := "signature-badge show-modal tw-cursor-pointer tw-rounded tw-border tw-px-2 tw-py-0"}}
{{$verified_colors := "tw-border-success-border tw-bg-success-bg tw-text-success-text"}}
{{$unverified_colors := "tw-border-warning-border tw-bg-warning-bg tw-text-warning-text"}}
{{if and .verification.Verified (eq .verification.TrustStatus "trusted")}}
	<div class="{{$base_classes}} {{$verified_colors}}" data-modal="#{{.shortsha}}-verification-modal">Verified</div>
{{else}}
	<div class="{{$base_classes}} {{$unverified_colors}}" data-modal="#{{.shortsha}}-verification-modal">Unverified</div>
{{end}}
<div class="ui small modal" id="{{.shortsha}}-verification-modal">
	<div class="header tw-flex tw-items-center tw-gap-2">
		{{if and .verification.Verified (eq .verification.TrustStatus "trusted")}}
			{{svg "octicon-verified" 20}}
			{{ctx.Locale.Tr "verified_commit"}}
		{{else}}
			{{svg "octicon-unverified" 20}}
			{{ctx.Locale.Tr "unverified_commit"}}
		{{end}}
	</div>
	<div class="content">
		<div class="tw-flex tw-flex-wrap tw-items-center">
			{{if .verification.Verified}}
				{{if ne .verification.SigningUser.ID 0}}
					<span class="tw-mr-2">
						{{if eq .verification.TrustStatus "trusted"}}
							{{ctx.Locale.Tr "repo.commits.signed_by"}}:
						{{else if eq .verification.TrustStatus "untrusted"}}
							{{ctx.Locale.Tr "repo.commits.signed_by_untrusted_user"}}:
						{{else}}
							{{ctx.Locale.Tr "repo.commits.signed_by_untrusted_user_unmatched"}}:
						{{end}}
					</span>
					<span class="tw-inline-flex tw-items-center tw-gap-2">
						{{ctx.AvatarUtils.Avatar .verification.SigningUser 16}}
						<a href="{{.verification.SigningUser.HomeLink}}"><strong>{{.verification.SigningUser.GetDisplayName}}</strong></a>
					</span>
				{{else}}
					<span title="{{ctx.Locale.Tr "gpg.default_key"}}">{{svg "gitea-lock-cog" 16}}</span>
					<span>{{ctx.Locale.Tr "repo.commits.signed_by"}}:</span>
					<span class="tw-inline-flex tw-items-center tw-gap-2">
						{{ctx.AvatarUtils.AvatarByEmail .verification.SigningEmail "" 16}}
						<strong>{{.verification.SigningUser.GetDisplayName}}</strong>
					</span>
				{{end}}
			{{else}}
				<span>{{ctx.Locale.Tr .verification.Reason}}</span>
			{{end}}
		</div>
		<div class="tw-flex tw-items-center tw-gap-2">
			{{if .verification.Verified}}
				{{if ne .verification.SigningUser.ID 0}}
					{{if .verification.SigningSSHKey}}
						<span>{{ctx.Locale.Tr "repo.commits.ssh_key_fingerprint"}}:</span>
						{{.verification.SigningSSHKey.Fingerprint}}
					{{else}}
						<span>{{ctx.Locale.Tr "repo.commits.gpg_key_id"}}:</span>
						{{.verification.SigningKey.PaddedKeyID}}
					{{end}}
				{{else}}
					{{if .verification.SigningSSHKey}}
						<span data-tooltip-content="{{ctx.Locale.Tr "gpg.default_key"}}">{{ctx.Locale.Tr "repo.commits.ssh_key_fingerprint"}}:</span>
						{{.verification.SigningSSHKey.Fingerprint}}
					{{else}}
						<span data-tooltip-content="{{ctx.Locale.Tr "gpg.default_key"}}">{{ctx.Locale.Tr "repo.commits.gpg_key_id"}}:</span>
						{{.verification.SigningKey.PaddedKeyID}}
					{{end}}
				{{end}}
			{{else if .verification.Warning}}
				{{if .verification.SigningSSHKey}}
					<span>{{ctx.Locale.Tr "repo.commits.ssh_key_fingerprint"}}:</span>
					{{.verification.SigningSSHKey.Fingerprint}}
				{{else}}
					<span>{{ctx.Locale.Tr "repo.commits.gpg_key_id"}}:</span>
					{{.verification.SigningKey.PaddedKeyID}}
				{{end}}
			{{else}}
				{{if .verification.SigningKey}}
					{{if ne .verification.SigningKey.KeyID ""}}
						<span>{{ctx.Locale.Tr "repo.commits.gpg_key_id"}}:</span>
						{{.verification.SigningKey.PaddedKeyID}}
					{{end}}
				{{end}}
				{{if .verification.SigningSSHKey}}
					{{if ne .verification.SigningSSHKey.Fingerprint ""}}
						<span>{{ctx.Locale.Tr "repo.commits.ssh_key_fingerprint"}}:</span>
						{{.verification.SigningSSHKey.Fingerprint}}
					{{end}}
				{{end}}
			{{end}}
		</div>
	</div>
</div>
