<form hx-boost="true" hx-target="this" method="post" action="{{$.RepoLink}}/action/{{if $.IsStaringRepo}}unstar{{else}}star{{end}}">
	<div class="ui labeled button" {{if not $.IsSigned}}data-tooltip-content="{{ctx.Locale.Tr "repo.star_guest_user"}}"{{end}}>
		{{$buttonText := ctx.Locale.Tr "repo.star"}}
		{{if $.IsStaringRepo}}{{$buttonText = ctx.Locale.Tr "repo.unstar"}}{{end}}
		<button type="submit" class="ui compact small basic button"{{if not $.IsSigned}} disabled{{end}} aria-label="{{$buttonText}}">
			{{if $.IsStaringRepo}}{{svg "octicon-star-fill"}}{{else}}{{svg "octicon-star"}}{{end}}
			<span class="not-mobile" aria-hidden="true">{{$buttonText}}</span>
		</button>
		<a hx-boost="false" class="ui basic label" href="{{$.RepoLink}}/stars">
			{{CountFmt .Repository.NumStars}}
		</a>
		{{if $.StarLists}}
			<button type="button" class="ui compact small basic button show-modal no-border-radius-left no-margin-left" data-modal="#repo-star-list-modal">{{svg "octicon-pencil"}}</button>
		{{end}}
	</div>

	{{if not $.DisableStars}}
		{{template "repo/starlistmodal" .}}
	{{end}}
</form>
