<div class="ui small modal" id="repo-star-list-modal">
	<div class="header">
		{{ctx.Locale.Tr "starlist.list_header"}}
	</div>
	<div class="content">
		<form class="ui form" action="{{$.RepoLink}}/starlistedit" method="POST">
			{{.CsrfTokenHtml}}

			{{range .StarLists}}
				<div class="field">
					<div class="ui checkbox">
						<label for="star_list_id">{{.Name}}</label>
						<input name="star_list_id" value="{{.ID}}" type="checkbox" {{if .ContainsRepoID $.Repository.ID}}checked{{end}}>
					</div>
				</div>
			{{end}}

			<div class="text right actions">
				<button class="ui small basic cancel button">
					{{svg "octicon-x"}}
					{{ctx.Locale.Tr "cancel"}}
				</button>
				<button class="ui primary small approve button">
					{{svg "fontawesome-save"}}
					{{ctx.Locale.Tr "save"}}
				</button>
			</div>
		</form>
	</div>
</div>
