{{$opts := $.UploadOptions}}
<div
	class="dropzone"
	data-link-url="{{$opts.UploadLinkUrl}}"
	data-upload-url="{{$opts.UploadUrl}}"
	data-remove-url="{{$opts.UploadRemoveUrl}}"
	data-accepts="{{$opts.UploadAccepts}}"
	data-max-file="{{$opts.UploadMaxFiles}}"
	data-max-size="{{$opts.UploadMaxSize}}"
	data-need-uuid-link="{{$opts.NeedUuidLink}}"
	data-default-message="{{ctx.Locale.Tr "dropzone.default_message"}}"
	data-invalid-input-type="{{ctx.Locale.Tr "dropzone.invalid_input_type"}}"
	data-file-too-big="{{ctx.Locale.Tr "dropzone.file_too_big"}}"
	data-remove-file="{{ctx.Locale.Tr "dropzone.remove_file"}}"
>
	<div class="files"></div>
</div>
