<div
	class="ui dropzone"
	data-link-url="{{.UploadLinkUrl}}"
	data-upload-url="{{.UploadUrl}}"
	data-remove-url="{{.UploadRemoveUrl}}"
	data-accepts="{{.UploadAccepts}}"
	data-max-file="{{.UploadMaxFiles}}"
	data-max-size="{{.UploadMaxSize}}"
	data-default-message="{{ctx.Locale.Tr "dropzone.default_message"}}"
	data-invalid-input-type="{{ctx.Locale.Tr "dropzone.invalid_input_type"}}"
	data-file-too-big="{{ctx.Locale.Tr "dropzone.file_too_big"}}"
	data-remove-file="{{ctx.Locale.Tr "dropzone.remove_file"}}"
>
	<div class="files"></div>
</div>
