<div class="user-cards">
	{{if .CardsTitle}}
	<h2 class="ui dividing header">
		{{.CardsTitle}}
	</h2>
	{{end}}
	<ul class="list">
		{{range .Cards}}
			<li class="item ui segment">
				<a href="{{.HomeLink}}">
					{{avatar $.Context .}}
				</a>
				<h3 class="name"><a href="{{.HomeLink}}">{{.DisplayName}}</a></h3>

				<div class="meta">
					{{if .Website}}
						{{svg "octicon-link"}} <a href="{{.Website}}" target="_blank" rel="noopener noreferrer">{{.Website}}</a>
					{{else if .Location}}
						{{svg "octicon-location"}} {{.Location}}
					{{else}}
						{{svg "octicon-clock"}} {{$.locale.Tr "user.joined_on" (DateTime "short" .CreatedUnix) | Safe}}
					{{end}}
				</div>
			</li>
		{{end}}
	</ul>

	{{template "base/paginate" .}}
</div>
