<div class="flex-text-block">
	<button class="hide-tree-sidebar-button ui compact tiny icon button" data-tooltip-content="{{ctx.Locale.Tr "repo.diff.hide_file_tree"}}">
		{{svg "octicon-sidebar-expand"}}
	</button>
	<b>Files</b>
</div>

<!--// TODO: Dynamically move components such as refSelector and createPR here-->
<div class="view-file-tree-sidebar-bottom tw-overflow-auto">
	<div id="view-file-tree" class="is-loading"
		data-repo-link="{{.RepoLink}}"
		data-tree-path="{{$.TreePath}}"
		data-current-ref-name-sub-url="{{.RefTypeNameSubURL}}"
	></div>
</div>
