<div class="tippy-target watch-options">
	<div class="ui segment">
		<form class="ui form" method="post">
			<div class="field field-text-block">
				{{ctx.Locale.Tr "repo.watch.options.desc"}}
			</div>
			<div class="field">
				<div class="ui checkbox">
					<input name="pull_requests" type="checkbox"><label>{{ctx.Locale.Tr "repo.watch.options.pull_requests"}}</label>
				</div>
			</div>
			<div class="field">
				<div class="ui checkbox">
					<input name="issues" type="checkbox"><label>{{ctx.Locale.Tr "repo.watch.options.issues"}}</label>
				</div>
			</div>
			<div class="field">
				<div class="ui checkbox">
					<input name="releases" type="checkbox"><label>{{ctx.Locale.Tr "repo.watch.options.releases"}}</label>
				</div>
			</div>
		</form>
	</div>
</div>
