<form id="repo-search-form" class="ui form ignore-dirty tw-flex-1 tw-flex tw-items-center tw-gap-x-2">
	{{template "base/disable_form_autofill"}}
	{{.CsrfTokenHtml}}
	<input type="hidden" name="action" value="link">
	<input type="hidden" name="repo_id" value="">
		<div class="ui small fluid action input tw-flex-1">
			{{template "shared/search/input" dict "Value" .Keyword "Placeholder" (ctx.Locale.Tr "search.repo_kind")}}
		</div>
	<div class="field">
		<button class="ui primary button">{{ctx.Locale.Tr "packages.settings.link.button"}}</button>
	</div>
</form>
