@import "variables.less";

.admin.runners {
  .runner-ops > a {
    margin-left: 0.5em;
  }
  .runner-ops-delete {
    color: var(--color-red-light);
  }
  .runner-basic-info .dib {
    margin-right: 1em;
  }
  .runner-status-online{
    .ui.label;
    background-color: var(--color-green);
    color: var(--color-white);
  }
  .runner-new-text{
    color: var(--color-white)
  }
  #runner-new:hover .runner-new-text{
    color: var(--color-white) !important;
  }
  .runner-new-menu{
    width: 300px;
  }
}
