.octicon-svg {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}

.mega-octicon-svg {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}
