root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf

[*.md]
trim_trailing_whitespace = false

[*.{go,tmpl,html}]
indent_style = tab
indent_size = 4

[*.{less,css}]
indent_style = space
indent_size = 4

[*.{js,json,yml}]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
