root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
indent_size = 2
tab_width = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,less,yml,json}]
indent_style = space

[/{vendor,fixtures,options,public/css,public/vendor}/**]
charset = unset
end_of_line = unset
indent_style = unset
indent_size = unset
tab_width = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
