root = true

[*]
indent_style = space
indent_size = 2
tab_width = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{go,tmpl,html}]
indent_style = tab

[templates/custom/*.tmpl]
insert_final_newline = false

[templates/swagger/v1_json.tmpl]
indent_style = space
insert_final_newline = false

[templates/user/auth/oidc_wellknown.tmpl]
indent_style = space

[Makefile]
indent_style = tab

[*.svg]
insert_final_newline = false
