extends: stylelint-config-standard

rules:
  block-closing-brace-empty-line-before: null
  color-hex-length: null
  comment-empty-line-before: null
  declaration-empty-line-before: null
  indentation: 4
  no-descending-specificity: null
  rule-empty-line-before: null
  selector-pseudo-element-colon-notation: null
