extends: stylelint-config-standard

rules:
  at-rule-empty-line-before: null
  block-closing-brace-empty-line-before: null
  color-hex-length: null
  comment-empty-line-before: null
  declaration-block-single-line-max-declarations: null
  declaration-empty-line-before: null
  indentation: 2
  no-descending-specificity: null
  number-leading-zero: never
  rule-empty-line-before: null
  selector-pseudo-element-colon-notation: double
  shorthand-property-no-redundant-values: true
  no-invalid-position-at-import-rule: null
