<!DOCTYPE html>
<html>
<head>
	{{template "mail/base/head" (.locale.Tr "mail.activate_account.title" (.DisplayName|DotEscape))}}
</head>

{{$activate_url := printf "%suser/activate?code=%s" AppUrl (QueryEscape .Code)}}
<body>
	<p>{{.locale.Tr "mail.activate_account.text_1" (.DisplayName|DotEscape) AppName}}</p>
	<p>{{.locale.Tr "mail.activate_account.text_2" .ActiveCodeLives}}</p><p style="word-break: break-all;"><a href="{{$activate_url}}">{{$activate_url}}</a></p>
	<p>{{.locale.Tr "mail.link_not_working_do_paste"}}</p>

	{{template "mail/base/footer"}}
</body>
</html>
