<!DOCTYPE html>
<html>
<head>
	{{template "mail/base/head" (.locale.Tr "mail.activate_email.title" (.DisplayName|DotEscape))}}
</head>

{{$activate_url := printf "%suser/activate_email?code=%s&email=%s" AppUrl (QueryEscape .Code) (QueryEscape .Email)}}
<body>
	<p>{{.locale.Tr "mail.hi_user_x" (.DisplayName|DotEscape)}}</p>
	<p>{{.locale.Tr "mail.activate_email.text" .ActiveCodeLives}}</p><p style="word-break: break-all;"><a href="{{$activate_url}}">{{$activate_url}}</a></p>
	<p>{{.locale.Tr "mail.link_not_working_do_paste"}}</p>

	{{template "mail/base/footer"}}
</body>
</html>
