<!DOCTYPE html>
<html>
<head>
	{{template "mail/base/head" .Subject}}
</head>

<body>
	<p>{{.locale.Tr "mail.repo.collaborator.added.text"}} <a href="{{.Link}}">{{.RepoName}}</a></p>
	{{template "mail/base/footer"}}
</body>
</html>
