<!DOCTYPE html>
<html>
<head>
	{{template "base/head" (dict "Title" .Subject)}}
</head>

{{$url := HTMLFormat "<a href='%[1]s'>%[2]s</a>" .Link .Repo}}
<body>
	<p>{{.Subject}}.
		{{.locale.Tr "mail.repo.transfer.body" $url}}
	</p>
	{{template "base/footer" .}}
</body>
</html>
