<div class="ui small basic delete modal">
	<div class="ui icon header">
		{{svg "octicon-trash"}}
		{{.locale.Tr "repo.settings.webhook_deletion"}}
	</div>
	<div class="content">
		<p>{{.locale.Tr "repo.settings.webhook_deletion_desc"}}</p>
	</div>
	<div class="actions">
		<div class="ui red basic inverted cancel button">
			<i class="remove icon"></i>
			{{.locale.Tr "modal.no"}}
		</div>
		<div class="ui green basic inverted ok button">
			<i class="checkmark icon"></i>
			{{.locale.Tr "modal.yes"}}
		</div>
	</div>
</div>
