{{if eq .HookType "gitea"}}
	<p>{{.locale.Tr "repo.settings.add_web_hook_desc" "https://docs.gitea.io/en-us/webhooks/" (.locale.Tr "repo.settings.web_hook_name_gitea") | Str2html}}</p>
	<form class="ui form" action="{{.BaseLink}}/gitea/{{or .Webhook.ID "new"}}" method="post">
		{{template "base/disable_form_autofill"}}
		{{.CsrfTokenHtml}}
		<div class="required field {{if .Err_PayloadURL}}error{{end}}">
			<label for="payload_url">{{.locale.Tr "repo.settings.payload_url"}}</label>
			<input id="payload_url" name="payload_url" type="url" value="{{.Webhook.URL}}" autofocus required>
		</div>
		<div class="field">
			<label>{{.locale.Tr "repo.settings.http_method"}}</label>
			<div class="ui selection dropdown">
				<input type="hidden" id="http_method" name="http_method" value="{{if .Webhook.HTTPMethod}}{{.Webhook.HTTPMethod}}{{else}}POST{{end}}">
				<div class="default text"></div>
				{{svg "octicon-triangle-down" 14 "dropdown icon"}}
				<div class="menu">
					<div class="item" data-value="POST">POST</div>
					<div class="item" data-value="GET">GET</div>
				</div>
			</div>
		</div>
		<div class="field">
			<label>{{.locale.Tr "repo.settings.content_type"}}</label>
			<div class="ui selection dropdown">
				<input type="hidden" id="content_type" name="content_type" value="{{if .Webhook.ContentType}}{{.Webhook.ContentType}}{{else}}1{{end}}">
				<div class="default text"></div>
				{{svg "octicon-triangle-down" 14 "dropdown icon"}}
				<div class="menu">
					<div class="item" data-value="1">application/json</div>
					<div class="item" data-value="2">application/x-www-form-urlencoded</div>
				</div>
			</div>
		</div>
		<div class="field {{if .Err_Secret}}error{{end}}">
			<label for="secret">{{.locale.Tr "repo.settings.secret"}}</label>
			<input id="secret" name="secret" type="password" value="{{.Webhook.Secret}}" autocomplete="off">
		</div>

		<div class="ui divider"></div>

		<div class="auth-headers">
			<h4>{{.locale.Tr "repo.settings.webhook.auth_header.section"}}</h4>
			<div class="field">
				<div class="ui checkbox">
					<input class="hidden" name="auth_header_active" type="checkbox" tabindex="0"> <!-- TODO checked attribute -->
					<label>{{.locale.Tr "repo.settings.active"}}</label>
					<span class="help">{{.locale.Tr "repo.settings.webhook.auth_header.description"}}</span>
				</div>
			</div>
			<div class="auth-header field" style="display:none">
				<label for="auth_header_name">{{.locale.Tr "repo.settings.webhook.auth_header.name"}}</label>
				<input id="auth_header_name" name="auth_header_name" value="Authorization"> <!-- TODO conditional value -->
			</div>
			<div class="auth-header field" style="display:none">
				<label>{{.locale.Tr "repo.settings.webhook.auth_header.type"}}</label>
				<div class="ui selection dropdown">
					<input type="hidden" id="auth_header_type" name="auth_header_type" value="basic"> <!-- TODO conditional value -->
					<div class="default text"></div>
					{{svg "octicon-triangle-down" 14 "dropdown icon"}}
					<div class="menu">
						<div class="item" data-value="basic">{{.locale.Tr "repo.settings.webhook.auth_header.type_basic"}}</div>
						<div class="item" data-value="token">{{.locale.Tr "repo.settings.webhook.auth_header.type_token"}}</div>
					</div>
				</div>
			</div>
			<div class="auth-header basic-auth field" style="display:none">
				<label for="auth_header_username">{{.locale.Tr "repo.settings.webhook.auth_header.username"}}</label>
				<input id="auth_header_username" name="auth_header_username" value="" autocomplete="off"> <!-- TODO conditional value -->
			</div>
			<div class="auth-header basic-auth field" style="display:none">
				<label for="auth_header_password">{{.locale.Tr "repo.settings.webhook.auth_header.password"}}</label>
				<input id="auth_header_password" name="auth_header_password" type="password" value="" autocomplete="off"> <!-- TODO conditional value -->
			</div>
			<div class="auth-header token-auth field" style="display:none">
				<label for="auth_header_token">{{.locale.Tr "repo.settings.webhook.auth_header.token"}}</label>
				<input id="auth_header_token" name="auth_header_token" value="" autocomplete="off"> <!-- TODO conditional value -->
			</div>
		</div>

		<div class="ui divider"></div>

		{{template "repo/settings/webhook/settings" .}}
	</form>
{{end}}
