{{$size := 20}}
{{if .Size}}
	{{$size = .Size}}
{{end}}
<div class="menu">
	{{range .WebhookHandlers}}
		<a class="item" href="{{$.BaseLinkNew}}/{{.Type}}/new">
			{{.Icon $size}}
			{{.DisplayName}}
		</a>
	{{end}}
</div>
