{{template "repo/settings/layout_head" (dict "ctxData" . "pageClass" "repository settings new webhook")}}
	<div class="repo-setting-content">
		{{template "webhook/new" .}}
	</div>
{{template "repo/settings/layout_footer" .}}
