{{template "repo/settings/layout_head" (dict "ctxData" . "pageClass" "repository settings new webhook")}}
	<div class="repo-setting-content">
		{{$IsNew := false}}
		{{$CustomHeaderTitle := ctx.Locale.Tr "repo.settings.update_webhook"}}
		{{if .PageIsSettingsHooksNew}}
			{{$IsNew = true}}
			{{$CustomHeaderTitle = ctx.Locale.Tr "repo.settings.add_webhook"}}
		{{end}}
		{{template "webhook/form" (dict "ctxData" . "IsNew" $IsNew "CustomHeaderTitle" $CustomHeaderTitle)}}
	</div>
{{template "repo/settings/layout_footer" .}}

