#user-heatmap {
  width: 107%; // Fixes newest contributions not showing
  text-align: center;

  svg:not(:root) {
    overflow: inherit;
    padding: 0 !important;
  }

  @media (max-width: 1200px) {
    & {
      display: none;
    }
  }

  .total-contributions {
    text-align: left;
    font-weight: 500;
    margin-top: 0;
  }
}

.heatmap-container {
  position: relative;
}

.heatmap-container .total-contributions {
  font-size: 11px;
  position: absolute;
  bottom: 0;
  left: 25px;
}

@media (max-width: 1200px) {
  .heatmap-container .total-contributions {
    left: 21px;
  }
}

@media (max-width: 1000px) {
  .heatmap-container .total-contributions {
    font-size: 10px;
    left: 17px;
    bottom: -2px;
  }
}

.heatmap-container text {
  fill: currentColor !important;
}
