.project-board {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 0 .5em;
}

.project-column {
  background-color: var(--color-project-board-bg) !important;
  border: 1px solid var(--color-secondary) !important;
  margin: 0 .5rem !important;
  padding: .5rem !important;
  width: 320px;
  height: 60vh;
  overflow-y: scroll;
  flex: 0 0 auto;
  overflow: visible;
  display: flex;
  flex-direction: column;
}

.project-column-header {
  display: flex;
  justify-content: space-between;

  &.dark-label {
    color: var(--color-project-board-dark-label) !important;

    .column-label {
      color: var(--color-project-board-dark-label) !important;
    }
  }
  &.light-label {
    color: var(--color-project-board-light-label) !important;

    .column-label {
      color: var(--color-project-board-light-label) !important;
    }
  }
}

.column-label {
  background: none !important;
  line-height: 1.25 !important;
}

.project-column-cards {
  flex: 1;
  display: flex;
  align-content: baseline;
  margin: 0 !important;
  padding: 0 !important;
  flex-wrap: nowrap !important;
  flex-direction: column;
}

.project-column-title {
  word-break: break-word;
}

.project-column > .divider {
  margin: 5px 0;
}

.project-column:first-child {
  margin-left: auto !important;
}

.project-column:last-child {
  margin-right: auto !important;
}

.project-column-card {
  margin: 4px 2px !important;
  border-radius: 5px !important;
  cursor: move;
  width: calc(100% - 4px) !important;
  padding: .5rem !important;
  min-height: auto !important;
}

.project-column-card .meta * {
  margin-right: 0 !important;
}

.project-column-card .header {
  margin-top: 0 !important;
  font-size: 16px !important;
}

.project-column-card-ghost {
  border-style: dashed !important;
  background: none !important;
}

.project-column-card-ghost * {
  opacity: 0;
}

.color-field .minicolors.minicolors-theme-default {
  display: block;

  .minicolors-input {
    height: 38px;
    padding-left: 2rem;
  }

  .minicolors-swatch {
    top: 10px;
  }
}

.edit-project-column,
.new-column-modal {
  .color.picker.column {
    display: flex;

    .minicolors {
      flex: 1;
    }
  }
}
