{{template "base/head" .}}
<div class="page-content admin runners">
	{{template "admin/navbar" .}}
	<div class="ui container">
		{{template "shared/actions/runner_edit" .}}
	</div>
</div>
{{template "base/footer" .}}
