.is-loading {
  pointer-events: none !important;
  position: relative !important;
  overflow: hidden !important;
}

.is-loading > * {
  opacity: 0.3;
}

.is-loading::after {
  content: "";
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  height: min(4em, 66.6%);
  aspect-ratio: 1;
  transform: translate(-50%, -50%);
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-image: var(--spinner-ring);
  -webkit-mask-image: var(--spinner-ring);
  background: currentcolor;
}

.is-loading.small-loading-icon::after {
  mask-image: var(--spinner-bar);
  -webkit-mask-image: var(--spinner-bar);
}

@media (prefers-reduced-motion: no-preference) {
  .is-loading::after {
      mask-image: var(--spinner-ring-animated);
      -webkit-mask-image: var(--spinner-ring-animated);
  }

  .is-loading.small-loading-icon::after {
    mask-image: var(--spinner-bar-animated);
    -webkit-mask-image: var(--spinner-bar-animated);
  }
}

/* for single form button, the loading state should be on the button, but not go semi-transparent, just replace the text on the button with the loader. */
form.single-button-form.is-loading > * {
  opacity: 1;
}

form.single-button-form.is-loading .button {
  color: transparent;
}

.markup pre.is-loading,
.editor-loading.is-loading,
.pdf-content.is-loading {
  height: var(--height-loading);
}

.markup .is-loading > * {
  visibility: hidden;
}

.markup .is-loading {
  color: transparent;
  background: transparent;
}

/* TODO: not needed, use "is-loading small-loading-icon" instead */
.btn-octicon.is-loading::after {
  border-width: 2px;
  height: 1.25rem;
  width: 1.25rem;
}

/* TODO: not needed, use "is-loading small-loading-icon" instead */
code.language-math.is-loading::after {
  padding: 0;
  border-width: 2px;
  width: 1.25rem;
  height: 1.25rem;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulse-opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .pulse {
    animation-name: pulse;
  }
}

.pulse {
  animation: pulse-opacity 2s linear;
}

/***
 * Hacky half-fix for reduced motion. To properly fix this, Fomantic-UI should
 * implement reduced motion. This was reported upstream at
 * https://github.com/fomantic/Fomantic-UI/issues/2872. Fixing this upstream is
 * likely going to take a while, because the codebase is not easy to work
 * with. As reduced motion is an accessibility feature, we need to support it
 * even if upstream doesn't.
 */

@media (prefers-reduced-motion: reduce) {
  .transition.flip,
  .transition.fly,
  .transition.slide,
  .transition.swing,
  .transition.zoom {
    animation-duration: 0ms !important;
  }
}
