.devtest .button-sample-groups {
  margin: 0; padding: 0;
}

.devtest .button-sample-groups .sample-group {
  list-style: none; margin: 0; padding: 0;
}

.devtest .button-sample-groups .sample-group .ui.button {
  margin-bottom: 5px;
}

.devtest h1, .devtest h2 {
  margin: 0;
  padding: 10px 0;
}

.devtest .modal-buttons button {
  margin: 5px;
}
