/* based on Fomantic UI grid module, with just the parts extracted that we use. If you find any
   unused rules here after refactoring, please remove them. */

.ui.fm-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 0;
  margin: -1rem;
}

.ui[class*="very relaxed"].fm-grid {
  margin-left: -2.5rem;
  margin-right: -2.5rem;
}

.ui.fm-grid + .fm-grid {
  margin-top: 1rem;
}

.ui.fm-grid > .column:not(.row),
.ui.fm-grid > .row > .column {
  position: relative;
  display: inline-block;
  width: 6.25%;
  padding-left: 1rem;
  padding-right: 1rem;
  vertical-align: top;
}
.ui.fm-grid > * {
  padding-left: 1rem;
  padding-right: 1rem;
}

.ui.fm-grid > .row {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: inherit;
  align-items: stretch;
  width: 100% !important;
  padding: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.ui.fm-grid > .column:not(.row) {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.ui.fm-grid > .row > .column {
  margin-top: 0;
  margin-bottom: 0;
}

.ui.fm-grid > .row > img,
.ui.fm-grid > .row > .column > img {
  max-width: 100%;
}

.ui.fm-grid > .ui.fm-grid:first-child {
  margin-top: 0;
}
.ui.fm-grid > .ui.fm-grid:last-child {
  margin-bottom: 0;
}

.ui.fm-grid .row + .ui.divider {
  flex-grow: 1;
  margin: 1rem;
}

.ui.fm-grid > .row > .column:last-child > .horizontal.segment,
.ui.fm-grid > .column:last-child > .horizontal.segment {
  box-shadow: none;
}

@media only screen and (max-width: 767.98px) {
  .ui.page.fm-grid {
    width: auto;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .ui.page.fm-grid {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    padding-left: 2em;
    padding-right: 2em;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .ui.page.fm-grid {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1919.98px) {
  .ui.page.fm-grid {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    padding-left: 15%;
    padding-right: 15%;
  }
}
@media only screen and (min-width: 1920px) {
  .ui.page.fm-grid {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    padding-left: 23%;
    padding-right: 23%;
  }
}

.ui.fm-grid > .column:only-child,
.ui.fm-grid > .row > .column:only-child {
  width: 100%;
}

.ui[class*="two column"].fm-grid > .row > .column,
.ui[class*="two column"].fm-grid > .column:not(.row) {
  width: 50%;
}

.ui.fm-grid > [class*="two column"].row > .column {
  width: 50% !important;
}

.ui.fm-grid > .row > [class*="one wide"].column,
.ui.fm-grid > .column.row > [class*="one wide"].column,
.ui.fm-grid > [class*="one wide"].column,
.ui.column.fm-grid > [class*="one wide"].column {
  width: 6.25% !important;
}
.ui.fm-grid > .row > [class*="two wide"].column,
.ui.fm-grid > .column.row > [class*="two wide"].column,
.ui.fm-grid > [class*="two wide"].column,
.ui.column.fm-grid > [class*="two wide"].column {
  width: 12.5% !important;
}
.ui.fm-grid > .row > [class*="three wide"].column,
.ui.fm-grid > .column.row > [class*="three wide"].column,
.ui.fm-grid > [class*="three wide"].column,
.ui.column.fm-grid > [class*="three wide"].column {
  width: 18.75% !important;
}
.ui.fm-grid > .row > [class*="four wide"].column,
.ui.fm-grid > .column.row > [class*="four wide"].column,
.ui.fm-grid > [class*="four wide"].column,
.ui.column.fm-grid > [class*="four wide"].column {
  width: 25% !important;
}
.ui.fm-grid > .row > [class*="five wide"].column,
.ui.fm-grid > .column.row > [class*="five wide"].column,
.ui.fm-grid > [class*="five wide"].column,
.ui.column.fm-grid > [class*="five wide"].column {
  width: 31.25% !important;
}
.ui.fm-grid > .row > [class*="six wide"].column,
.ui.fm-grid > .column.row > [class*="six wide"].column,
.ui.fm-grid > [class*="six wide"].column,
.ui.column.fm-grid > [class*="six wide"].column {
  width: 37.5% !important;
}
.ui.fm-grid > .row > [class*="seven wide"].column,
.ui.fm-grid > .column.row > [class*="seven wide"].column,
.ui.fm-grid > [class*="seven wide"].column,
.ui.column.fm-grid > [class*="seven wide"].column {
  width: 43.75% !important;
}
.ui.fm-grid > .row > [class*="eight wide"].column,
.ui.fm-grid > .column.row > [class*="eight wide"].column,
.ui.fm-grid > [class*="eight wide"].column,
.ui.column.fm-grid > [class*="eight wide"].column {
  width: 50% !important;
}
.ui.fm-grid > .row > [class*="ten wide"].column,
.ui.fm-grid > .column.row > [class*="ten wide"].column,
.ui.fm-grid > [class*="ten wide"].column,
.ui.column.fm-grid > [class*="ten wide"].column {
  width: 62.5% !important;
}
.ui.fm-grid > .row > [class*="eleven wide"].column,
.ui.fm-grid > .column.row > [class*="eleven wide"].column,
.ui.fm-grid > [class*="eleven wide"].column,
.ui.column.fm-grid > [class*="eleven wide"].column {
  width: 68.75% !important;
}
.ui.fm-grid > .row > [class*="twelve wide"].column,
.ui.fm-grid > .column.row > [class*="twelve wide"].column,
.ui.fm-grid > [class*="twelve wide"].column,
.ui.column.fm-grid > [class*="twelve wide"].column {
  width: 75% !important;
}
.ui.fm-grid > .row > [class*="thirteen wide"].column,
.ui.fm-grid > .column.row > [class*="thirteen wide"].column,
.ui.fm-grid > [class*="thirteen wide"].column,
.ui.column.fm-grid > [class*="thirteen wide"].column {
  width: 81.25% !important;
}
.ui.fm-grid > .row > [class*="fourteen wide"].column,
.ui.fm-grid > .column.row > [class*="fourteen wide"].column,
.ui.fm-grid > [class*="fourteen wide"].column,
.ui.column.fm-grid > [class*="fourteen wide"].column {
  width: 87.5% !important;
}
.ui.fm-grid > .row > [class*="sixteen wide"].column,
.ui.fm-grid > .column.row > [class*="sixteen wide"].column,
.ui.fm-grid > [class*="sixteen wide"].column,
.ui.column.fm-grid > [class*="sixteen wide"].column {
  width: 100% !important;
}

.ui.centered.fm-grid,
.ui.centered.fm-grid > .row {
  text-align: center;
  justify-content: center;
}
.ui.centered.fm-grid > .column:not(.aligned):not(.justified):not(.row),
.ui.centered.fm-grid > .row > .column:not(.aligned):not(.justified) {
  text-align: left;
}
.ui.fm-grid > .centered.column,
.ui.fm-grid > .row > .centered.column {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ui[class*="very relaxed"].fm-grid > .column:not(.row),
.ui[class*="very relaxed"].fm-grid > .row > .column,
.ui.fm-grid > [class*="very relaxed"].row > .column {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.ui[class*="very relaxed"].fm-grid .row + .ui.divider,
.ui.fm-grid [class*="very relaxed"].row + .ui.divider {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

@media only screen and (max-width: 767.98px) {
  .ui[class*="mobile reversed"].fm-grid,
  .ui[class*="mobile reversed"].fm-grid > .row,
  .ui.fm-grid > [class*="mobile reversed"].row {
    flex-direction: row-reverse;
  }
  .ui.stackable[class*="mobile reversed"] {
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 767.98px) {
  .ui.stackable.fm-grid {
    width: auto;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .ui.stackable.fm-grid > .row > .wide.column,
  .ui.stackable.fm-grid > .wide.column,
  .ui.stackable.fm-grid > .column.fm-grid > .column,
  .ui.stackable.fm-grid > .column.row > .column,
  .ui.stackable.fm-grid > .row > .column,
  .ui.stackable.fm-grid > .column:not(.row),
  .ui.fm-grid > .stackable.stackable.stackable.row > .column {
    width: 100% !important;
    margin: 0 !important;
    box-shadow: none !important;
    padding: 1rem;
  }
  .ui.stackable.fm-grid:not(.vertically) > .row {
    margin: 0;
    padding: 0;
  }

  .ui.fm-container > .ui.stackable.fm-grid > .column,
  .ui.fm-container > .ui.stackable.fm-grid > .row > .column {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .ui.fm-grid .ui.stackable.fm-grid,
  .ui.segment:not(.vertical) .ui.stackable.page.fm-grid {
    margin-left: -1rem !important;
    margin-right: -1rem !important;
  }
}
