.global-shortcut-wrapper {
  position: relative;
}

.global-shortcut-wrapper > kbd {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  padding: 2px 6px;
  font-size: 11px;
  line-height: 14px;
  color: var(--color-text-light-2);
  background-color: var(--color-box-body);
  border: 1px solid var(--color-secondary);
  border-radius: var(--border-radius);
  box-shadow: inset 0 -1px 0 var(--color-secondary);
  pointer-events: none;
}
