<div class="actions">
	<button class="ui red basic inverted cancel button">
		{{svg "octicon-x"}}
		{{if .ModalNoText}}{{.ModalNoText}}{{else}}{{.locale.Tr "modal.no"}}{{end}}
	</button>
	<button class="ui green basic inverted ok button{{if .ExtendedClasses}} {{.ExtendedClasses}}{{end}}" {{if .DataUrl}}data-url="{{.DataUrl}}"{{end}}>
		{{svg "octicon-check"}}
		{{if .ModalYesText}}{{.ModalYesText}}{{else}}{{.locale.Tr "modal.yes"}}{{end}}
	</button>
</div>
