<div class="actions">
	<div class="ui red basic inverted cancel button">
		{{svg "octicon-x"}}
		{{.i18n.Tr "modal.no"}}
	</div>
	<div class="ui green basic inverted ok button">
		{{svg "octicon-check"}}
		{{.i18n.Tr "modal.yes"}}
	</div>
</div>
