{{if false}}
	{{/* to make html structure "likely" complete to prevent IDE warnings */}}
<!DOCTYPE html>
<html>
<body>
	<div>{{/* .full.height */}}
		<div>{{/* #app-content */}}
{{end}}

		{{template "custom/body_inner_post" .}}
		{{/* the footer sits inside the content column, so it starts where the sidebar ends */}}
		{{template "base/footer_content" .}}
		</div><!-- end #app-content -->
	</div>
	{{template "custom/body_outer_post" .}}
	{{ctx.ScriptImport "web_src/js/index.ts" "module"}}
	{{template "custom/footer" .}}
	<script nonce="{{ctx.CspScriptNonce}}" type="module">
	if (!window.config?.frontendInited && window.config?.runModeIsProd) alert("Frontend is not initialized, check console errors or asset files.");
	</script>
</body>
</html>
