{{if false}}
	{{/* to make html structure "likely" complete to prevent IDE warnings */}}
<html>
<body>
	<div>
{{end}}

		{{template "custom/body_inner_post" .}}
	</div>
	{{template "custom/body_outer_post" .}}
	{{template "base/footer_content" .}}
	{{ScriptImport "type" "module" "src" (AssetURI "js/index.js")}}
	{{template "custom/footer" .}}
</body>
</html>
