<footer class="page-footer" role="group" aria-label="{{ctx.Locale.Tr "aria.footer"}}">
	<div class="left-links" role="contentinfo" aria-label="{{ctx.Locale.Tr "aria.footer.software"}}">
		<a target="_blank" rel="noopener noreferrer" href="https://about.gitea.com">{{ctx.Locale.Tr "powered_by" "Gitea"}}</a>
		{{if (or .ShowFooterVersion .PageIsAdmin)}}
			{{ctx.Locale.Tr "version"}}:
			{{if .IsAdmin}}
				<a href="{{AppSubUrl}}/admin/config">{{AppVer}}</a>
			{{else}}
				{{AppVer}}
			{{end}}
		{{end}}
		{{if and .TemplateLoadTimes ShowFooterTemplateLoadTime}}
			{{ctx.Locale.Tr "page"}}: <strong>{{LoadTimes .PageStartTime}}</strong>
			{{ctx.Locale.Tr "template"}}{{if .TemplateName}} {{.TemplateName}}{{end}}: <strong>{{call .TemplateLoadTimes}}</strong>
		{{end}}
	</div>
	<div class="right-links" role="group" aria-label="{{ctx.Locale.Tr "aria.footer.links"}}">
		<div class="ui dropdown upward language">
			<span class="flex-text-inline">{{svg "octicon-globe" 14}} {{ctx.Locale.LangName}}</span>
			<div class="menu language-menu">
				{{range .AllLangs}}
					<a lang="{{.Lang}}" data-url="{{AppSubUrl}}/?lang={{.Lang}}" class="item {{if eq ctx.Locale.Lang .Lang}}active selected{{end}}">{{.Name}}</a>
				{{end}}
			</div>
		</div>
		<a href="{{AssetUrlPrefix}}/licenses.txt">{{ctx.Locale.Tr "licenses"}}</a>
		{{if .EnableSwagger}}<a href="{{AppSubUrl}}/api/swagger">API</a>{{end}}
		{{template "custom/extra_links_footer" .}}
	</div>
</footer>
