<link rel="stylesheet" href="{{AssetUrlPrefix}}/{{AssetPath "css/index.css"}}">
<link rel="stylesheet" href="{{AssetUrlPrefix}}/{{AssetPath (printf "css/theme-%s.css" (PathEscape ctx.CurrentWebTheme.InternalName))}}">
