{{- $itemExtraClass := .ItemExtraClass -}}
{{- $data := .PageGlobalData -}}
{{if and $data $data.IsSigned}}{{/* data may not exist, for example: rendering 503 page before the PageGlobalData middleware */}}
	{{- $activeStopwatch := call $data.GetActiveStopwatch -}}
	{{- $notificationUnreadCount := call $data.GetNotificationUnreadCount -}}
	{{/* always rendered so a real-time push can reveal it without a reload */}}
	<a class="item active-stopwatch{{if not $activeStopwatch}} tw-hidden{{end}} {{$itemExtraClass}}" {{if $activeStopwatch}}data-seconds="{{$activeStopwatch.Seconds}}"{{end}} title="{{ctx.Locale.Tr "active_stopwatch"}}">
		<div class="tw-relative flex-text-block">
			{{svg "octicon-stopwatch"}}
			<span class="header-stopwatch-dot"></span>
		</div>
	</a>
	<a class="item {{$itemExtraClass}}" href="{{AppSubUrl}}/notifications" data-tooltip-content="{{ctx.Locale.Tr "notifications"}}">
		<div class="tw-relative flex-text-block">
			{{svg "octicon-bell"}}
			<span class="notification_count{{if not $notificationUnreadCount}} tw-hidden{{end}}">{{$notificationUnreadCount}}</span>
		</div>
	</a>
{{end}}
