<link rel="stylesheet" href="{{AssetUrlPrefix}}/static/index.css?v={{AssetVersion}}">
{{if .IsSigned}}
	{{if ne .SignedUser.Theme "gitea"}}
		<link rel="stylesheet" href="{{AssetUrlPrefix}}/static/theme-{{.SignedUser.Theme | PathEscape}}.css?v={{AssetVersion}}">
	{{end}}
{{else if ne DefaultTheme "gitea"}}
	<link rel="stylesheet" href="{{AssetUrlPrefix}}/static/theme-{{DefaultTheme | PathEscape}}.css?v={{AssetVersion}}">
{{end}}
