<div class="ui container" id="navbar">
	<div class="item brand" style="justify-content: space-between;">
		<a href="{{AppSubUrl}}/">
			<img class="ui mini image" src="{{StaticUrlPrefix}}/img/gitea-sm.png">
		</a>
		<div class="ui basic icon button mobile-only" id="navbar-expand-toggle">
			<i class="sidebar icon"></i>
		</div>
	</div>

	{{if and .IsSigned .MustChangePassword}}
		{{/* No links */}}
	{{else if .IsSigned}}
		<a class="item {{if .PageIsDashboard}}active{{end}}" href="{{AppSubUrl}}/">{{.i18n.Tr "dashboard"}}</a>
		{{if not .UnitIssuesGlobalDisabled}}
		<a class="item {{if .PageIsIssues}}active{{end}}" href="{{AppSubUrl}}/issues">{{.i18n.Tr "issues"}}</a>
		{{end}}
		{{if not .UnitPullsGlobalDisabled}}
		<a class="item {{if .PageIsPulls}}active{{end}}" href="{{AppSubUrl}}/pulls">{{.i18n.Tr "pull_requests"}}</a>
		{{end}}
		{{if not (and .UnitIssuesGlobalDisabled .UnitPullsGlobalDisabled)}}
		{{if .ShowMilestonesDashboardPage}}<a class="item {{if .PageIsMilestonesDashboard}}active{{end}}" href="{{AppSubUrl}}/milestones">{{.i18n.Tr "milestones"}}</a>{{end}}
		{{end}}
		<a class="item {{if .PageIsExplore}}active{{end}}" href="{{AppSubUrl}}/explore/repos">{{.i18n.Tr "explore"}}</a>
	{{else if .IsLandingPageHome}}
		<a class="item {{if .PageIsHome}}active{{end}}" href="{{AppSubUrl}}/">{{.i18n.Tr "home"}}</a>
		<a class="item {{if .PageIsExplore}}active{{end}}" href="{{AppSubUrl}}/explore/repos">{{.i18n.Tr "explore"}}</a>
	{{else if .IsLandingPageExplore}}
		<a class="item {{if .PageIsExplore}}active{{end}}" href="{{AppSubUrl}}/explore/repos">{{.i18n.Tr "home"}}</a>
	{{else if .IsLandingPageOrganizations}}
		<a class="item {{if .PageIsExplore}}active{{end}}" href="{{AppSubUrl}}/explore/organizations">{{.i18n.Tr "home"}}</a>
	{{end}}

	{{template "custom/extra_links" .}}

	{{/*
		<div class="item">
		<div class="ui icon input">
		<input class="searchbox" type="text" placeholder="{{.i18n.Tr "search_project"}}">
		<i class="search icon"></i>
		</div>
		</div>
	*/}}


	{{if and .IsSigned .MustChangePassword}}
		<div class="right stackable menu">
			<div class="ui dropdown jump item poping up" tabindex="-1" data-content="{{.i18n.Tr "user_profile_and_more"}}" data-variation="tiny inverted">
				<span class="text">
					<img class="ui tiny avatar image" width="24" height="24" src="{{.SignedUser.RelAvatarLink}}">
					<span class="sr-only">{{.i18n.Tr "user_profile_and_more"}}</span>
					<span class="mobile-only">{{.SignedUser.Name}}</span>
					<span class="fitted not-mobile" tabindex="-1">{{svg "octicon-triangle-down" 16}}</span>
				</span>
				<div class="menu user-menu" tabindex="-1">
					<div class="ui header">
						{{.i18n.Tr "signed_in_as"}} <strong>{{.SignedUser.Name}}</strong>
					</div>

					<div class="divider"></div>
					<a class="item link-action" href data-url="{{AppSubUrl}}/user/logout" data-redirect="{{AppSubUrl}}/">
						{{svg "octicon-sign-out" 16}}
						{{.i18n.Tr "sign_out"}}<!-- Sign Out -->
					</a>
				</div><!-- end content avatar menu -->
			</div><!-- end dropdown avatar menu -->
		</div>
	{{else if .IsSigned}}
		<div class="right stackable menu">
			<a href="{{AppSubUrl}}/notifications" class="item poping up" data-content='{{.i18n.Tr "notifications"}}' data-variation="tiny inverted">
				<span class="text">
					<span class="fitted">{{svg "octicon-bell" 16}}</span>
					<span class="sr-mobile-only">{{.i18n.Tr "notifications"}}</span>
					{{$notificationUnreadCount := 0}}
					{{if .NotificationUnreadCount}}{{$notificationUnreadCount = call .NotificationUnreadCount}}{{end}}
					<span class="ui red label {{if not $notificationUnreadCount}}hidden{{end}} notification_count">
						{{$notificationUnreadCount}}
					</span>
				</span>
			</a>

			<div class="ui dropdown jump item poping up" data-content="{{.i18n.Tr "create_new"}}" data-variation="tiny inverted">
				<span class="text">
					<span class="fitted">{{svg "octicon-plus" 16}}</span>
					<span class="sr-mobile-only">{{.i18n.Tr "create_new"}}</span>
					<span class="fitted not-mobile">{{svg "octicon-triangle-down" 16}}</span>
				</span>
				<div class="menu">
					<a class="item" href="{{AppSubUrl}}/repo/create">
						<span class="fitted">{{svg "octicon-plus" 16}}</span> {{.i18n.Tr "new_repo"}}
					</a>
					<a class="item" href="{{AppSubUrl}}/repo/migrate">
						<span class="fitted">{{svg "octicon-repo-clone" 16}}</span> {{.i18n.Tr "new_migrate"}}
					</a>
					{{if .SignedUser.CanCreateOrganization}}
					<a class="item" href="{{AppSubUrl}}/org/create">
						<span class="fitted">{{svg "octicon-organization" 16}}</span> {{.i18n.Tr "new_org"}}
					</a>
					{{end}}
				</div><!-- end content create new menu -->
			</div><!-- end dropdown menu create new -->

			<div class="ui dropdown jump item poping up" tabindex="-1" data-content="{{.i18n.Tr "user_profile_and_more"}}" data-variation="tiny inverted">
				<span class="text">
					<img class="ui tiny avatar image" width="24" height="24" src="{{.SignedUser.RelAvatarLink}}">
					<span class="sr-only">{{.i18n.Tr "user_profile_and_more"}}</span>
					<span class="mobile-only">{{.SignedUser.Name}}</span>
					<span class="fitted not-mobile" tabindex="-1">{{svg "octicon-triangle-down" 16}}</span>
				</span>
				<div class="menu user-menu" tabindex="-1">
					<div class="ui header">
						{{.i18n.Tr "signed_in_as"}} <strong>{{.SignedUser.Name}}</strong>
					</div>

					<div class="divider"></div>
					<a class="item" href="{{AppSubUrl}}/{{.SignedUser.Name}}">
						{{svg "octicon-person" 16}}
						{{.i18n.Tr "your_profile"}}<!-- Your profile -->
					</a>
					<a class="item" href="{{AppSubUrl}}/{{.SignedUser.Name}}?tab=stars">
						{{svg "octicon-star" 16}}
						{{.i18n.Tr "your_starred"}}
					</a>
					<a class="{{if .PageIsUserSettings}}active{{end}} item" href="{{AppSubUrl}}/user/settings">
						{{svg "octicon-settings" 16}}
						{{.i18n.Tr "your_settings"}}<!-- Your settings -->
					</a>
					<a class="item" target="_blank" rel="noopener noreferrer" href="https://docs.gitea.io">
						{{svg "octicon-question" 16}}
						{{.i18n.Tr "help"}}<!-- Help -->
					</a>
					{{if .IsAdmin}}
						<div class="divider"></div>

						<a class="{{if .PageIsAdmin}}active{{end}} item" href="{{AppSubUrl}}/admin">
							<i class="icon settings"></i>
							{{.i18n.Tr "admin_panel"}}<!-- Admin Panel -->
						</a>
					{{end}}

					<div class="divider"></div>
					<a class="item link-action" href data-url="{{AppSubUrl}}/user/logout" data-redirect="{{AppSubUrl}}/">
						{{svg "octicon-sign-out" 16}}
						{{.i18n.Tr "sign_out"}}<!-- Sign Out -->
					</a>
				</div><!-- end content avatar menu -->
			</div><!-- end dropdown avatar menu -->
		</div><!-- end signed user right menu -->
	{{else}}
		<a class="item" target="_blank" rel="noopener noreferrer" href="https://docs.gitea.io">{{.i18n.Tr "help"}}</a>
		<div class="right stackable menu">
			{{if .ShowRegistrationButton}}
				<a class="item{{if .PageIsSignUp}} active{{end}}" href="{{AppSubUrl}}/user/sign_up">
					{{svg "octicon-person" 16}} {{.i18n.Tr "register"}}
				</a>
			{{end}}
			<a class="item{{if .PageIsSignIn}} active{{end}}" rel="nofollow" href="{{AppSubUrl}}/user/login?redirect_to={{.Link}}">
				{{svg "octicon-sign-in" 16}} {{.i18n.Tr "sign_in"}}
			</a>
		</div><!-- end anonymous right menu -->
	{{end}}
</div>
