<div class="actions">
	<button class="ui red cancel button cancel-button">
		{{svg "octicon-x"}}
		{{if .ModalNoText}}{{.ModalNoText}}{{else}}{{.locale.Tr "modal.no"}}{{end}}
	</button>
	<button class="ui green ok button confirm-button">
		{{svg "octicon-check"}}
		{{if .ModalYesText}}{{.ModalYesText}}{{else}}{{.locale.Tr "modal.yes"}}{{end}}
	</button>
</div>
