{{$paginationParams := .Page.GetParams}}
{{$paginationLink := $.Link}}
{{if eq $paginationLink AppSubUrl}}{{$paginationLink = print $paginationLink "/"}}{{end}}
{{with .Page.Paginater}}
	{{if gt .TotalPages 1}}
		<div class="center page buttons">
			<div class="ui borderless pagination menu">
				<a class="{{if .IsFirst}}disabled{{end}} item navigation" {{if not .IsFirst}}href="{{$paginationLink}}{{if $paginationParams}}?{{$paginationParams}}{{end}}"{{end}}>
					{{svg "gitea-double-chevron-left" 16 "tw-mr-1"}}
					<span class="navigation_label">{{ctx.Locale.Tr "admin.first_page"}}</span>
				</a>
				<a class="{{if not .HasPrevious}}disabled{{end}} item navigation" {{if .HasPrevious}}href="{{$paginationLink}}?page={{.Previous}}{{if $paginationParams}}&{{$paginationParams}}{{end}}"{{end}}>
					{{svg "octicon-chevron-left" 16 "tw-mr-1"}}
					<span class="navigation_label">{{ctx.Locale.Tr "repo.issues.previous"}}</span>
				</a>
				{{range .Pages}}
					{{if eq .Num -1}}
						<a class="disabled item">...</a>
					{{else}}
						<a class="{{if .IsCurrent}}active {{end}}item" {{if not .IsCurrent}}href="{{$paginationLink}}?page={{.Num}}{{if $paginationParams}}&{{$paginationParams}}{{end}}"{{end}}>{{.Num}}</a>
					{{end}}
				{{end}}
				<a class="{{if not .HasNext}}disabled{{end}} item navigation" {{if .HasNext}}href="{{$paginationLink}}?page={{.Next}}{{if $paginationParams}}&{{$paginationParams}}{{end}}"{{end}}>
					<span class="navigation_label">{{ctx.Locale.Tr "repo.issues.next"}}</span>
					{{svg "octicon-chevron-right" 16 "tw-ml-1"}}
				</a>
				<a class="{{if .IsLast}}disabled{{end}} item navigation" {{if not .IsLast}}href="{{$paginationLink}}?page={{.TotalPages}}{{if $paginationParams}}&{{$paginationParams}}{{end}}"{{end}}>
					<span class="navigation_label">{{ctx.Locale.Tr "admin.last_page"}}</span>
					{{svg "gitea-double-chevron-right" 16 "tw-ml-1"}}
				</a>
			</div>
		</div>
	{{end}}
{{end}}
