{{$paginationParams := .Page.GetParams}}
{{$paginationLink := $.Link}}
{{if eq $paginationLink AppSubUrl}}{{$paginationLink = print $paginationLink "/"}}{{end}}
{{with .Page.Paginater}}
	<div class="center page buttons">
		<div class="ui borderless pagination menu">
			<a class="{{if not .HasPrevious}}disabled{{end}} item navigation" {{if .HasPrevious}}href="{{$paginationLink}}?page={{.Previous}}{{if $paginationParams}}&{{$paginationParams}}{{end}}"{{end}}>
				{{svg "octicon-chevron-left" 16 "tw-mr-1"}}
				<span class="navigation_label">{{ctx.Locale.Tr "repo.issues.previous"}}</span>
			</a>
			<a class="{{if not .HasNext}}disabled{{end}} item navigation" {{if .HasNext}}href="{{$paginationLink}}?page={{.Next}}{{if $paginationParams}}&{{$paginationParams}}{{end}}"{{end}}>
				<span class="navigation_label">{{ctx.Locale.Tr "repo.issues.next"}}</span>
				{{svg "octicon-chevron-right" 16 "tw-ml-1"}}
			</a>
		</div>
	</div>
{{end}}
