<div class="small-menu-items ui compact tiny menu">
	<a class="{{if not .IsShowClosed}}active {{end}}item" href="{{$.Link}}?workflow={{.CurWorkflow}}&state=open">
		{{svg "octicon-issue-opened" 16 "gt-mr-3"}}
		{{.locale.Tr "actions.runs.running_tab" $.NumOpenActionRuns}}
	</a>
	<a class="{{if .IsShowClosed}}active {{end}}item" href="{{$.Link}}?workflow={{.CurWorkflow}}&state=closed">
		{{svg "octicon-issue-closed" 16 "gt-mr-3"}}
		{{.locale.Tr "actions.runs.finished_tab" $.NumClosedActionRuns}}
	</a>
</div>
