<div class="issue list gt-m-0">
	{{if eq (len .Runs) 0}}
	<div class="empty center">
		{{svg "octicon-no-entry" 48}}
		<h2>{{if $.IsFiltered}}{{.locale.Tr "actions.runs.no_results"}}{{else}}{{.locale.Tr "actions.runs.no_runs"}}{{end}}</h2>
	</div>
	{{end}}
	{{range .Runs}}
		<li class="item gt-df gt-py-3">
			<div class="issue-item-left issue-item-icon gt-df gt-items-start">
				{{template "repo/actions/status" (dict "status" .Status.String "locale" $.locale)}}
			</div>
			<div class="issue-item-main action-item-main">
				<div class="issue-item-top-row">
					<a class="index gt-no-underline title action-item-title" title="{{.Title}}" href="{{if .Link}}{{.Link}}{{else}}{{$.Link}}/{{.Index}}{{end}}">
						{{- .Title -}}
					</a>
				</div>
				<div class="desc issue-item-bottom-row">
					<b>{{if not $.CurWorkflow}}{{.WorkflowID}} {{end}}#{{.Index}}</b>
					: {{$.locale.Tr "actions.runs.commit"}}
					<a href="{{$.RepoLink}}/commit/{{.CommitSHA}}">{{ShortSha .CommitSHA}}</a>
					{{$.locale.Tr "actions.runs.pushed_by"}}
					<a href="{{.TriggerUser.HomeLink}}">{{.TriggerUser.GetDisplayName}}</a>
				</div>
			</div>
			<div class="action-item-center">
				{{if .RefLink}}
					<a class="ui label gt-px-2 gt-mx-0" href="{{.RefLink}}">{{.PrettyRef}}</a>
				{{else}}
					<span class="ui label gt-px-2 gt-mx-0">{{.PrettyRef}}</span>
				{{end}}
			</div>
			<div class="action-item-right">
				<div>{{svg "octicon-calendar" 16 "gt-mr-2"}}{{TimeSinceUnix .Updated $.locale}}</div>
				<div>{{svg "octicon-stopwatch" 16 "gt-mr-2"}}{{.Duration}}</div>
			</div>
		</li>
	{{end}}
</div>
{{template "base/paginate" .}}
