{{/* Shared by the Actions runs list and build queue. */}}
<div class="flex-container-nav">
	<div class="ui fluid vertical menu">
		<a class="item {{if and (not $.CurWorkflow) (not $.PageIsActionsQueue)}}active{{end}}" href="{{$.RepoLink}}/actions?actor={{$.CurActor}}&status={{$.CurStatus}}&branch={{$.CurBranch}}">{{ctx.Locale.Tr "actions.runs.all_workflows"}}</a>
		{{range .workflows}}
			<a class="item flex-text-block {{if and (eq .EntryName $.CurWorkflow) (not $.CurWorkflowScopedRepoID) (not $.PageIsActionsQueue)}}active{{end}}" href="{{$.RepoLink}}/actions?workflow={{.EntryName}}&actor={{$.CurActor}}&status={{$.CurStatus}}&branch={{$.CurBranch}}">
				<span class="gt-ellipsis" data-tooltip-content="{{.DisplayName}}">{{.DisplayName}}</span>

				{{if .ErrMsg}}
					<span class="flex-text-inline tw-shrink-0" data-tooltip-content="{{.ErrMsg}}">{{svg "octicon-alert" 16 "tw-text-red"}}</span>
				{{end}}

				{{if $.ActionsConfig.IsWorkflowDisabled .EntryName}}
					<div class="ui red label tw-shrink-0">{{ctx.Locale.Tr "disabled"}}</div>
				{{end}}
			</a>
		{{end}}
		{{range .ScopedWorkflowGroups}}
			<details class="item scoped-workflow-group"{{if and .IsActive (not $.PageIsActionsQueue)}} open{{end}}>
				<summary>
					<span class="gt-ellipsis tw-min-w-0" data-tooltip-content="{{.SourceRepoName}}">{{if .FromInstance}}{{.SourceRepoName}}{{else}}{{.SourceRepoShortName}}{{end}}</span>
					<span class="ui label">{{if .FromInstance}}{{ctx.Locale.Tr "actions.workflow.scope_global"}}{{else}}{{ctx.Locale.Tr "actions.workflow.scope_owner"}}{{end}}</span>
				</summary>
				{{range .Workflows}}
					<a class="item flex-text-block {{if and (eq .EntryName $.CurWorkflow) (eq .SourceRepoID $.CurWorkflowScopedRepoID) (not $.PageIsActionsQueue)}}active{{end}}" href="{{$.RepoLink}}/actions?workflow={{.EntryName}}&scoped_workflow_source_repo_id={{.SourceRepoID}}&actor={{$.CurActor}}&status={{$.CurStatus}}&branch={{$.CurBranch}}">
						<span class="gt-ellipsis tw-min-w-0" data-tooltip-content="{{.EntryName}}">{{.DisplayName}}</span>
						{{if .Required}}
							<span class="ui label">{{ctx.Locale.Tr "actions.workflow.required"}}</span>
						{{else if .Disabled}}
							<span class="ui red label">{{ctx.Locale.Tr "disabled"}}</span>
						{{end}}
					</a>
				{{end}}
			</details>
		{{end}}
		{{if .OtherWorkflows}}
			<details class="item"{{if and (not $.CurWorkflowIsListed) (not $.PageIsActionsQueue)}} open{{end}}>
				<summary data-tooltip-content="{{ctx.Locale.Tr "actions.runs.other_workflows_tooltip"}}">
					<span class="flex-text-block">
						{{ctx.Locale.Tr "actions.runs.other_workflows"}}
						<span class="ui label">{{len .OtherWorkflows}}</span>
					</span>
				</summary>
				<div class="menu items-full-width">
					{{range .OtherWorkflows}}
						<a class="item {{if and (eq . $.CurWorkflow) (not $.PageIsActionsQueue)}}active{{end}}" href="{{$.RepoLink}}/actions?workflow={{.}}&actor={{$.CurActor}}&status={{$.CurStatus}}">
							<span class="gt-ellipsis" data-tooltip-content="{{.}}">{{.}}</span>
						</a>
					{{end}}
				</div>
			</details>
		{{end}}
	</div>

	<div class="actions-management">
		<div class="actions-management-header">{{ctx.Locale.Tr "actions.management"}}</div>
		<div class="flex-items-block actions-management-list">
			<a class="item flex-text-block silenced{{if $.PageIsActionsQueue}} selected{{end}}" href="{{$.RepoLink}}/actions/queue">
				{{svg "octicon-list-ordered" 16 "tw-text-text"}}
				<span class="gt-ellipsis">{{ctx.Locale.Tr "actions.queue.title"}}</span>
			</a>
		</div>
	</div>
</div>
