{{template "base/head" .}}

<div class="page-content repository">
	{{template "repo/header" .}}
	{{template "repo/actions/view_component" (dict
		"RunID" .RunID
		"JobID" .JobID
		"ActionsURL" .ActionsURL
	)}}
</div>

{{template "base/footer" .}}
