{{template "base/head" .}}

<div class="page-content repository">
	{{template "repo/header" .}}
	<div id="repo-action-view" data-run-index="{{.RunIndex}}" data-job-index="{{.JobIndex}}" data-actions-url="{{.ActionsURL}}"></div>
</div>

{{template "base/footer" .}}
