{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content repository wiki new">
	{{template "repo/header" .}}
	<div class="ui container">
		{{template "base/alert" .}}
		<div class="ui header">
			{{.locale.Tr "repo.wiki.new_page"}}
			{{if .PageIsWikiEdit}}
				<div class="ui right">
					<a class="ui green small button" href="{{.RepoLink}}/wiki?action=_new">{{.locale.Tr "repo.wiki.new_page_button"}}</a>
				</div>
			{{end}}
		</div>
		<form class="ui form" action="{{.Link}}?action={{if .PageIsWikiEdit}}_edit{{else}}_new{{end}}" method="post">
			{{.CsrfTokenHtml}}
			<div class="field {{if .Err_Title}}error{{end}}">
				<input name="title" value="{{.title}}" aria-label="{{.locale.Tr "repo.wiki.page_title"}}" placeholder="{{.locale.Tr "repo.wiki.page_title"}}" autofocus required>
			</div>
			<div class="help">
				{{.locale.Tr "repo.wiki.page_name_desc"}}
			</div>

			{{$content := .content}}
			{{if not .PageIsWikiEdit}}
				{{$content = .locale.Tr "repo.wiki.welcome"}}
			{{end}}
			{{template "shared/combomarkdowneditor" (dict
				"locale" $.locale
				"MarkdownPreviewUrl" (print .Repository.Link "/markup")
				"MarkdownPreviewContext" .RepoLink
				"TextareaName" "content"
				"TextareaPlaceholder" (.locale.Tr "repo.wiki.page_content")
				"TextareaAriaLabel" (.locale.Tr "repo.wiki.page_content")
				"TextareaContent" $content
			)}}

			<div class="field gt-mt-4">
				<input name="message" aria-label="{{.locale.Tr "repo.wiki.default_commit_message"}}" placeholder="{{.locale.Tr "repo.wiki.default_commit_message"}}">
			</div>
			<div class="text right">
				<button class="ui green button">
					{{.locale.Tr "repo.wiki.save_page"}}
				</button>
			</div>
		</form>
	</div>
</div>
{{template "base/footer" .}}
