{{template "base/head" .}}
<div class="page-content repository wiki new">
	{{template "repo/header" .}}
	<div class="ui container">
		{{template "base/alert" .}}
		<div class="ui header">
			{{.i18n.Tr "repo.wiki.new_page"}}
			{{if .PageIsWikiEdit}}
				<div class="ui right">
					<a class="ui green small button" href="{{.RepoLink}}/wiki?action=_new">{{.i18n.Tr "repo.wiki.new_page_button"}}</a>
				</div>
			{{end}}
		</div>
		<form class="ui form" action="{{.Link}}" method="post">
			{{.CsrfTokenHtml}}
			<div class="field {{if .Err_Title}}error{{end}}">
				<input name="title" value="{{.title}}" autofocus required>
			</div>
			<div class="help">
				{{.i18n.Tr "repo.wiki.page_name_desc"}}
			</div>
			<div class="ui top attached tabular menu previewtabs" data-write="write" data-preview="preview">
				<a class="active item" data-tab="write">{{.i18n.Tr "write"}}</a>
				<a class="item" data-tab="preview" data-url="{{$.Repository.HTMLURL}}/markdown" data-context="{{$.RepoLink}}">{{$.i18n.Tr "preview"}}</a>
			</div>
			<div class="field content" data-loading="{{.i18n.Tr "loading"}}">
				<div class="ui bottom active tab" data-tab="write">
					<textarea class="js-quick-submit" id="edit_area" name="content" data-id="wiki-{{.title}}" data-url="{{.Repository.HTMLURL}}/markdown" data-context="{{.RepoLink}}">{{if .PageIsWikiEdit}}{{.content}}{{else}}{{.i18n.Tr "repo.wiki.welcome"}}{{end}}</textarea>
				</div>
			</div>
			<div class="field">
				<input name="message" placeholder="{{.i18n.Tr "repo.wiki.default_commit_message"}}">
			</div>
			<div class="text right">
				<button class="ui green button">
					{{.i18n.Tr "repo.wiki.save_page"}}
				</button>
			</div>
		</form>
	</div>
</div>
{{template "base/footer" .}}
