{{template "base/head" .}}
<div class="page-content repository wiki pages">
	{{template "repo/header" .}}
	<div class="ui container">
		<h2 class="ui header df ac sb">
			<div>
				{{.locale.Tr "repo.wiki.pages"}}
			</div>
			<div>
				{{if and .CanWriteWiki (not .IsRepositoryMirror)}}
					<a class="ui green small button" href="{{.RepoLink}}/wiki?action=_new">{{.locale.Tr "repo.wiki.new_page_button"}}</a>
				{{end}}
			</div>
		</h2>
		<table class="ui table">
			<tbody>
				{{range .Pages}}
					<tr>
						<td>
							{{svg "octicon-file"}}
							<a href="{{$.RepoLink}}/wiki/{{.SubURL}}">{{.Name}}</a>
						</td>
						{{$timeSince := TimeSinceUnix .UpdatedUnix $.locale}}
						<td class="text right grey">{{$.locale.Tr "repo.wiki.last_updated" $timeSince | Safe}}</td>
					</tr>
				{{end}}
			</tbody>
		</table>
	</div>
</div>
{{template "base/footer" .}}
