APP_NAME = Gitea: Git with a cup of tea
RUN_MODE = dev

[database]
DB_TYPE = sqlite3
PATH    = {{GITEA_ROOT}}/tests/dev/gitea.db

[indexer]
REPO_INDEXER_ENABLED = true
REPO_INDEXER_PATH    = {{GITEA_ROOT}}/tests/dev/indexers/repos.bleve

[queue.issue_indexer]
TYPE = level
DATADIR = {{GITEA_ROOT}}/tests/dev/indexers/issues.queue

[queue]
TYPE = immediate

[queue.code_indexer]
TYPE = immediate

[queue.push_update]
TYPE = immediate

[repository]
ROOT = {{GITEA_ROOT}}/tests/gitea-repositories-meta

[repository.local]
LOCAL_COPY_PATH = {{GITEA_ROOT}}/tests/dev/tmp/local-repo

[repository.upload]
TEMP_PATH = {{GITEA_ROOT}}/tests/dev/tmp/uploads

[repository.signing]
SIGNING_KEY = none

[server]
SSH_DOMAIN       = {{GITEA_DEV_ADDR}}
HTTP_PORT        = 3000
ROOT_URL         = http://{{GITEA_DEV_ADDR}}:3000/
DISABLE_SSH      = false
SSH_LISTEN_HOST  = {{GITEA_DEV_ADDR}}
SSH_PORT         = 2203
START_SSH_SERVER = true
LFS_START_SERVER = true
OFFLINE_MODE     = false
LFS_JWT_SECRET   = Tv_MjmZuHqpIY6GFl12ebgkRAMt4RlWt0v4EHKSXO0w
APP_DATA_PATH    = {{GITEA_ROOT}}/tests/dev/data
ENABLE_GZIP      = true
BUILTIN_SSH_SERVER_USER = git

[attachment]
PATH = {{GITEA_ROOT}}/tests/dev/data/attachments

[mailer]
ENABLED     = true
PROTOCOL = dummy
FROM        = sqlite-dev-test@gitea.io

[service]
REGISTER_EMAIL_CONFIRM            = false
REGISTER_MANUAL_CONFIRM           = false
ENABLE_NOTIFY_MAIL                = true
DISABLE_REGISTRATION              = false
ENABLE_CAPTCHA                    = false
REQUIRE_SIGNIN_VIEW               = false
DEFAULT_KEEP_EMAIL_PRIVATE        = false
DEFAULT_ALLOW_CREATE_ORGANIZATION = true
NO_REPLY_ADDRESS                  = noreply.example.org

[picture]
DISABLE_GRAVATAR              = false
ENABLE_FEDERATED_AVATAR       = false
AVATAR_UPLOAD_PATH            = {{GITEA_ROOT}}/tests/dev/data/avatars
REPOSITORY_AVATAR_UPLOAD_PATH = {{GITEA_ROOT}}/tests/dev/data/repo-avatars

[session]
PROVIDER = file
PROVIDER_CONFIG = {{GITEA_ROOT}}/tests/dev/data/sessions

[log]
MODE                 = console,file
ROOT_PATH            = {{GITEA_ROOT}}/tests/dev/log
ENABLE_SSH_LOG       = true
logger.xorm.MODE     = file

[log.file]
LEVEL                = Debug

[security]
DISABLE_GIT_HOOKS = true
INSTALL_LOCK   = true

[lfs]
PATH = {{GITEA_ROOT}}/tests/gitea-lfs-meta

[packages]
ENABLED = true

[markup.html]
ENABLED = true
FILE_EXTENSIONS = .html
RENDER_COMMAND = `go run build/test-echo.go`
IS_INPUT_FILE = false
RENDER_CONTENT_MODE=sanitized

[actions]
ENABLED = true
