APP_NAME = Gitea: Git with a cup of tea
RUN_MODE = prod

[database]
DB_TYPE  = mssql
HOST     = {{TEST_MSSQL_HOST}}
NAME     = {{TEST_MSSQL_DBNAME}}
USER     = {{TEST_MSSQL_USERNAME}}
PASSWD   = {{TEST_MSSQL_PASSWORD}}
SSL_MODE = disable

[indexer]
REPO_INDEXER_ENABLED = true
REPO_INDEXER_PATH = tests/{{TEST_TYPE}}/gitea-{{TEST_TYPE}}-mssql/indexers/repos.bleve

[queue.issue_indexer]
TYPE = level
DATADIR = tests/{{TEST_TYPE}}/gitea-{{TEST_TYPE}}-mssql/indexers/issues.queue

[queue]
TYPE = immediate

[queue.code_indexer]
TYPE = immediate

[queue.push_update]
TYPE = immediate

[queue.webhook_sender]
TYPE = immediate

[repository]
ROOT = {{REPO_TEST_DIR}}tests/{{TEST_TYPE}}/gitea-{{TEST_TYPE}}-mssql/gitea-repositories

[repository.local]
LOCAL_COPY_PATH = tests/{{TEST_TYPE}}/gitea-{{TEST_TYPE}}-mssql/tmp/local-repo

[repository.upload]
TEMP_PATH = tests/{{TEST_TYPE}}/gitea-{{TEST_TYPE}}-mssql/tmp/uploads

[repository.signing]
SIGNING_KEY = none

[server]
SSH_DOMAIN       = localhost
HTTP_PORT        = 3003
ROOT_URL         = http://localhost:3003/
DISABLE_SSH      = false
SSH_LISTEN_HOST  = localhost
SSH_PORT         = 2201
START_SSH_SERVER = true
LFS_START_SERVER = true
OFFLINE_MODE     = false
LFS_JWT_SECRET   = Tv_MjmZuHqpIY6GFl12ebgkRAMt4RlWt0v4EHKSXO0w
APP_DATA_PATH    = tests/{{TEST_TYPE}}/gitea-{{TEST_TYPE}}-mssql/data
BUILTIN_SSH_SERVER_USER = git
SSH_TRUSTED_USER_CA_KEYS = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCb4DC1dMFnJ6pXWo7GMxTchtzmJHYzfN6sZ9FAPFR4ijMLfGki+olvOMO5Fql1/yGnGfbELQa1S6y4shSvj/5K+zUFScmEXYf3Gcr87RqilLkyk16RS+cHNB1u87xTHbETaa3nyCJeGQRpd4IQ4NKob745mwDZ7jQBH8AZEng50Oh8y8fi8skBBBzaYp1ilgvzG740L7uex6fHV62myq0SXeCa+oJUjq326FU8y+Vsa32H8A3e7tOgXZPdt2TVNltx2S9H2WO8RMi7LfaSwARNfy1zu+bfR50r6ef8Yx5YKCMz4wWb1SHU1GS800mjOjlInLQORYRNMlSwR1+vLlVDciOqFapDSbj+YOVOawR0R1aqlSKpZkt33DuOBPx9qe6CVnIi7Z+Px/KqM+OLCzlLY/RS+LbxQpDWcfTVRiP+S5qRTcE3M3UioN/e0BE/1+MpX90IGpvVkA63ILYbKEa4bM3ASL7ChTCr6xN5XT+GpVJveFKK1cfNx9ExHI4rzYE=

[mailer]
ENABLED = true
PROTOCOL = dummy
FROM = mssql-{{TEST_TYPE}}-test@gitea.io

[service]
REGISTER_EMAIL_CONFIRM            = false
REGISTER_MANUAL_CONFIRM           = false
DISABLE_REGISTRATION              = false
ENABLE_CAPTCHA                    = false
REQUIRE_SIGNIN_VIEW               = false
DEFAULT_KEEP_EMAIL_PRIVATE        = false
DEFAULT_ALLOW_CREATE_ORGANIZATION = true
NO_REPLY_ADDRESS                  = noreply.example.org
ENABLE_NOTIFY_MAIL                = true

[picture]
DISABLE_GRAVATAR              = false
ENABLE_FEDERATED_AVATAR       = false
AVATAR_UPLOAD_PATH            = tests/{{TEST_TYPE}}/gitea-{{TEST_TYPE}}-mssql/data/avatars
REPOSITORY_AVATAR_UPLOAD_PATH = tests/{{TEST_TYPE}}/gitea-{{TEST_TYPE}}-mssql/data/repo-avatars

[session]
PROVIDER        = file
PROVIDER_CONFIG = tests/{{TEST_TYPE}}/gitea-{{TEST_TYPE}}-mssql/data/sessions

[log]
MODE                 = {{TEST_LOGGER}}
ROOT_PATH            = {{REPO_TEST_DIR}}mssql-log
ENABLE_SSH_LOG       = true
logger.xorm.MODE     = file

[log.test]
LEVEL                = Info
COLORIZE             = true

[log.file]
LEVEL                = Debug

[security]
DISABLE_GIT_HOOKS = false
INSTALL_LOCK   = true
SECRET_KEY     = 9pCviYTWSb
INTERNAL_TOKEN = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYmYiOjE0OTU1NTE2MTh9.hhSVGOANkaKk3vfCd2jDOIww4pUk0xtg9JRde5UogyQ
DISABLE_QUERY_AUTH_TOKEN = true

[storage]
STORAGE_TYPE = azureblob
AZURE_BLOB_ENDPOINT = http://devstoreaccount1.azurite.local:10000
AZURE_BLOB_ACCOUNT_NAME = devstoreaccount1
AZURE_BLOB_ACCOUNT_KEY = "Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw=="
AZURE_BLOB_CONTAINER = gitea
SERVE_DIRECT = false

[packages]
ENABLED = true

[actions]
ENABLED = true

[webhook]
ALLOWED_HOST_LIST = 127.0.0.1
