APP_NAME = Gitea: Git with a cup of tea
RUN_MODE = prod

[database]
DB_TYPE  = postgres
HOST     = {{TEST_PGSQL_HOST}}
NAME     = {{TEST_PGSQL_DBNAME}}
USER     = {{TEST_PGSQL_USERNAME}}
PASSWD   = {{TEST_PGSQL_PASSWORD}}
SCHEMA   = {{TEST_PGSQL_SCHEMA}}
SSL_MODE = disable

[indexer]
REPO_INDEXER_ENABLED = true
REPO_INDEXER_PATH = tests/{{TEST_TYPE}}/gitea-{{TEST_TYPE}}-pgsql/indexers/repos.bleve

[queue.issue_indexer]
TYPE = level
DATADIR = tests/{{TEST_TYPE}}/gitea-{{TEST_TYPE}}-pgsql/indexers/issues.queue

[queue]
TYPE = immediate

[queue.code_indexer]
TYPE = immediate

[queue.push_update]
TYPE = immediate

[queue.webhook_sender]
TYPE = immediate

[repository]
ROOT = {{REPO_TEST_DIR}}tests/{{TEST_TYPE}}/gitea-{{TEST_TYPE}}-pgsql/gitea-repositories

[repository.local]
LOCAL_COPY_PATH = tests/{{TEST_TYPE}}/gitea-{{TEST_TYPE}}-pgsql/tmp/local-repo

[repository.upload]
TEMP_PATH = tests/{{TEST_TYPE}}/gitea-{{TEST_TYPE}}-pgsql/tmp/uploads

[repository.signing]
SIGNING_KEY = none

[server]
SSH_DOMAIN       = localhost
HTTP_PORT        = 3002
ROOT_URL         = http://localhost:3002/
LOCAL_ROOT_URL   = http://127.0.0.1:3002/
DISABLE_SSH      = false
SSH_LISTEN_HOST  = localhost
SSH_PORT         = 2202
START_SSH_SERVER = true
LFS_START_SERVER = true
OFFLINE_MODE     = false
LFS_JWT_SECRET   = Tv_MjmZuHqpIY6GFl12ebgkRAMt4RlWt0v4EHKSXO0w
APP_DATA_PATH    = tests/{{TEST_TYPE}}/gitea-{{TEST_TYPE}}-pgsql/data
BUILTIN_SSH_SERVER_USER = git
SSH_TRUSTED_USER_CA_KEYS = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCb4DC1dMFnJ6pXWo7GMxTchtzmJHYzfN6sZ9FAPFR4ijMLfGki+olvOMO5Fql1/yGnGfbELQa1S6y4shSvj/5K+zUFScmEXYf3Gcr87RqilLkyk16RS+cHNB1u87xTHbETaa3nyCJeGQRpd4IQ4NKob745mwDZ7jQBH8AZEng50Oh8y8fi8skBBBzaYp1ilgvzG740L7uex6fHV62myq0SXeCa+oJUjq326FU8y+Vsa32H8A3e7tOgXZPdt2TVNltx2S9H2WO8RMi7LfaSwARNfy1zu+bfR50r6ef8Yx5YKCMz4wWb1SHU1GS800mjOjlInLQORYRNMlSwR1+vLlVDciOqFapDSbj+YOVOawR0R1aqlSKpZkt33DuOBPx9qe6CVnIi7Z+Px/KqM+OLCzlLY/RS+LbxQpDWcfTVRiP+S5qRTcE3M3UioN/e0BE/1+MpX90IGpvVkA63ILYbKEa4bM3ASL7ChTCr6xN5XT+GpVJveFKK1cfNx9ExHI4rzYE=

[mailer]
ENABLED = true
PROTOCOL = dummy
FROM = pgsql-{{TEST_TYPE}}-test@gitea.io

[service]
REGISTER_EMAIL_CONFIRM            = false
REGISTER_MANUAL_CONFIRM           = false
DISABLE_REGISTRATION              = false
ENABLE_CAPTCHA                    = false
REQUIRE_SIGNIN_VIEW               = false
DEFAULT_KEEP_EMAIL_PRIVATE        = false
DEFAULT_ALLOW_CREATE_ORGANIZATION = true
NO_REPLY_ADDRESS                  = noreply.example.org
ENABLE_NOTIFY_MAIL                = true

[picture]
DISABLE_GRAVATAR              = false
ENABLE_FEDERATED_AVATAR       = false
AVATAR_UPLOAD_PATH            = tests/{{TEST_TYPE}}/gitea-{{TEST_TYPE}}-pgsql/data/avatars
REPOSITORY_AVATAR_UPLOAD_PATH = tests/{{TEST_TYPE}}/gitea-{{TEST_TYPE}}-pgsql/data/repo-avatars

[session]
PROVIDER        = file
PROVIDER_CONFIG = tests/{{TEST_TYPE}}/gitea-{{TEST_TYPE}}-pgsql/data/sessions

[log]
MODE                 = {{TEST_LOGGER}}
ROOT_PATH            = {{REPO_TEST_DIR}}pgsql-log
ENABLE_SSH_LOG       = true
logger.xorm.MODE     = file

[log.test]
LEVEL                = Info
COLORIZE             = true

[log.file]
LEVEL                = Debug

[security]
DISABLE_GIT_HOOKS = false
INSTALL_LOCK   = true
SECRET_KEY     = 9pCviYTWSb
INTERNAL_TOKEN = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYmYiOjE0OTU1NTE2MTh9.hhSVGOANkaKk3vfCd2jDOIww4pUk0xtg9JRde5UogyQ
DISABLE_QUERY_AUTH_TOKEN = true

[lfs]
MINIO_BASE_PATH = lfs/

[attachment]
MINIO_BASE_PATH = attachments/

[avatars]
MINIO_BASE_PATH = avatars/

[repo-avatars]
MINIO_BASE_PATH = repo-avatars/

[storage]
STORAGE_TYPE = minio
SERVE_DIRECT = false
MINIO_ENDPOINT = {{TEST_MINIO_ENDPOINT}}
MINIO_ACCESS_KEY_ID = 123456
MINIO_SECRET_ACCESS_KEY = 12345678
MINIO_BUCKET = gitea
MINIO_LOCATION = us-east-1
MINIO_USE_SSL = false
MINIO_CHECKSUM_ALGORITHM = md5

[packages]
ENABLED = true

[actions]
ENABLED = true

[webhook]
ALLOWED_HOST_LIST = 127.0.0.1
