details.toggleable-item summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* for specificity to outweigh the rule in base.css */
.ui.menu details.toggleable-item {
  user-select: none;
}

details.toggleable-item summary::after {
  transition: transform 0.25s ease;
  content: '';
  width: 14px;
  height: 14px;
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-image: var(--octicon-chevron-right);
  -webkit-mask-image: var(--octicon-chevron-right);
  background: currentcolor;
}

details.toggleable-item[open] summary::after {
  transform: rotate(90deg);
}
