{{if eq .HookType "gitea"}}
	{{ctx.Locale.Tr "repo.settings.web_hook_name_gitea"}}
{{else if eq .HookType "gogs"}}
	{{ctx.Locale.Tr "repo.settings.web_hook_name_gogs"}}
{{else if eq .HookType "slack"}}
	{{ctx.Locale.Tr "repo.settings.web_hook_name_slack"}}
{{else if eq .HookType "discord"}}
	{{ctx.Locale.Tr "repo.settings.web_hook_name_discord"}}
{{else if eq .HookType "dingtalk"}}
	{{ctx.Locale.Tr "repo.settings.web_hook_name_dingtalk"}}
{{else if eq .HookType "telegram"}}
	{{ctx.Locale.Tr "repo.settings.web_hook_name_telegram"}}
{{else if eq .HookType "msteams"}}
	{{ctx.Locale.Tr "repo.settings.web_hook_name_msteams"}}
{{else if eq .HookType "feishu"}}
	{{ctx.Locale.Tr "repo.settings.web_hook_name_feishu_or_larksuite"}}
{{else if eq .HookType "matrix"}}
	{{ctx.Locale.Tr "repo.settings.web_hook_name_matrix"}}
{{else if eq .HookType "wechatwork"}}
	{{ctx.Locale.Tr "repo.settings.web_hook_name_wechatwork"}}
{{else if eq .HookType "packagist"}}
	{{ctx.Locale.Tr "repo.settings.web_hook_name_packagist"}}
{{end}}
