{{template "base/head" .}}
<div class="repository release">
	{{template "repo/header" .}}
	<div class="ui container">
		{{template "base/alert" .}}
		<h2 class="ui compact small menu header">
			<a class="{{if (not .PageIsTagList)}}active{{end}} item" href="{{.RepoLink}}/releases">{{.i18n.Tr "repo.release.releases"}}</a>
			<a class="{{if .PageIsTagList}}active{{end}} item" href="{{.RepoLink}}/tags">{{.i18n.Tr "repo.release.tags"}}</a>
		</h2>
		{{if (and .CanCreateRelease (not .PageIsTagList))}}
			<a class="ui right small green button" href="{{$.RepoLink}}/releases/new">
				{{.i18n.Tr "repo.release.new_release"}}
			</a>
		{{end}}
		{{if .PageIsTagList}}
		<div class="ui divider"></div>
		<h4 class="ui top attached header">
			<div class="five wide column">
				{{.i18n.Tr "repo.release.tags"}}
			</div>
		</h4>
		<div class="ui attached table segment">
			<table class="ui very basic striped fixed table single line" id="tags-table">
				<thead></thead>
				<tbody class="tag-list">
					{{range $idx, $release := .Releases}}
						<tr>
							<td class="tag">
								<h4>
									<a href="{{$.RepoLink}}/src/tag/{{.TagName | EscapePound}}" rel="nofollow"><i class="tag icon"></i> {{.TagName}}</a>
								</h4>
								<div class="download">
									{{if $.Permission.CanRead $.UnitTypeCode}}
										<a href="{{$.RepoLink}}/src/commit/{{.Sha1}}" rel="nofollow"><i class="code icon"></i> {{ShortSha .Sha1}}</a>
										<a href="{{$.RepoLink}}/archive/{{.TagName | EscapePound}}.zip" rel="nofollow">{{svg "octicon-file-zip" 16}}&nbsp;ZIP</a>
										<a href="{{$.RepoLink}}/archive/{{.TagName | EscapePound}}.tar.gz">{{svg "octicon-file-zip" 16}}&nbsp;TAR.GZ</a>
										{{if (and $.CanCreateRelease $release.IsTag)}}
											<a href="{{$.RepoLink}}/releases/new?tag={{.TagName | EscapePound}}">{{svg "octicon-tag" 16}}&nbsp;{{$.i18n.Tr "repo.release.new_release"}}</a>
											<a class="ui red delete-button" data-url="{{$.RepoLink}}/tags/delete" data-id="{{.ID}}">
												<i class="trash icon"></i>&nbsp;{{$.i18n.Tr "repo.release.delete_tag"}}
											</a>
										{{end}}
										{{if (not $release.IsTag)}}
											<a href="{{$.RepoLink}}/releases/tag/{{.TagName | EscapePound}}">{{svg "octicon-tag" 16}}&nbsp;{{$.i18n.Tr "repo.release.detail"}}</a>
										{{end}}
									{{end}}
								</div>
							</td>
						</tr>
					{{end}}
				</tbody>
			</table>
		</div>
		{{else}}
		<ul id="release-list">
			{{range $idx, $release := .Releases}}
				<li class="ui grid">
					<div class="ui four wide column meta">
						{{if .IsTag}}
							{{if .CreatedUnix}}<span class="time">{{TimeSinceUnix .CreatedUnix $.Lang}}</span>{{end}}
						{{else}}
							{{if .IsDraft}}
								<span class="ui yellow label">{{$.i18n.Tr "repo.release.draft"}}</span>
							{{else if .IsPrerelease}}
								<span class="ui orange label">{{$.i18n.Tr "repo.release.prerelease"}}</span>
							{{else}}
								<span class="ui green label">{{$.i18n.Tr "repo.release.stable"}}</span>
							{{end}}
							<span class="tag text blue">
								<a href="{{$.RepoLink}}/src/tag/{{.TagName | EscapePound}}" rel="nofollow"><i class="tag icon"></i> {{.TagName}}</a>
							</span>
							<span class="commit">
								<a href="{{$.RepoLink}}/src/commit/{{.Sha1}}" rel="nofollow"><i class="code icon"></i> {{ShortSha .Sha1}}</a>
							</span>
						{{end}}
					</div>
					<div class="ui twelve wide column detail">
						{{if .IsTag}}
							<h4>
								<a href="{{$.RepoLink}}/src/tag/{{.TagName | EscapePound}}" rel="nofollow"><i class="tag icon"></i> {{.TagName}}</a>
							</h4>
							<div class="download">
							{{if $.Permission.CanRead $.UnitTypeCode}}
								<a href="{{$.RepoLink}}/src/commit/{{.Sha1}}" rel="nofollow"><i class="code icon"></i> {{ShortSha .Sha1}}</a>
								<a href="{{$.RepoLink}}/archive/{{.TagName | EscapePound}}.zip" rel="nofollow">{{svg "octicon-file-zip" 16}}&nbsp;ZIP</a>
								<a href="{{$.RepoLink}}/archive/{{.TagName | EscapePound}}.tar.gz">{{svg "octicon-file-zip" 16}}&nbsp;TAR.GZ</a>
							{{end}}
							</div>
						{{else}}
							<h3>
								<a href="{{$.RepoLink}}/releases/tag/{{.TagName | EscapePound}}">{{.Title}}</a>
								{{if $.CanCreateRelease}}<small>(<a href="{{$.RepoLink}}/releases/edit/{{.TagName | EscapePound}}" rel="nofollow">{{$.i18n.Tr "repo.release.edit"}}</a>)</small>{{end}}
							</h3>
							<p class="text grey">
								<span class="author">
								{{if .OriginalAuthor}}
									<i class="fa fa-github" aria-hidden="true"></i>
									{{.OriginalAuthor}}
								{{else if .Publisher}}
									<img class="img-10" src="{{.Publisher.RelAvatarLink}}">
									<a href="{{AppSubUrl}}/{{.Publisher.Name}}">{{.Publisher.Name}}</a>
								{{else}}
									Ghost
								{{end}}
								</span>
								{{if .CreatedUnix}}<span class="time">{{TimeSinceUnix .CreatedUnix $.Lang}}</span> | {{end}}
								<span class="ahead"><a href="{{$.RepoLink}}/compare/{{.TagName | EscapePound}}...{{.Target}}">{{$.i18n.Tr "repo.release.ahead.commits" .NumCommitsBehind | Str2html}}</a> {{$.i18n.Tr "repo.release.ahead.target" .Target}}</span>
							</p>
							<div class="markdown desc">
								{{Str2html .Note}}
							</div>
							<div class="download">
								<div class="ui accordion">
									<h2 class="title {{if eq $idx 0}}active{{end}}">
										<i class="dropdown icon"></i>
										{{$.i18n.Tr "repo.release.downloads"}}
									</h2>
									<div class="content {{if eq $idx 0}}active{{end}}">
										<ul class="list">
											{{if $.Permission.CanRead $.UnitTypeCode}}
												<li>
													<a href="{{$.RepoLink}}/archive/{{.TagName | EscapePound}}.zip" rel="nofollow"><strong>{{svg "octicon-file-zip" 16}} {{$.i18n.Tr "repo.release.source_code"}} (ZIP)</strong></a>
												</li>
												<li>
													<a href="{{$.RepoLink}}/archive/{{.TagName | EscapePound}}.tar.gz"><strong>{{svg "octicon-file-zip" 16}} {{$.i18n.Tr "repo.release.source_code"}} (TAR.GZ)</strong></a>
												</li>
											{{end}}
											{{if .Attachments}}
												{{range .Attachments}}
													<li>
														<span class="ui text right" data-tooltip="{{$.i18n.Tr "repo.release.download_count" (.DownloadCount | PrettyNumber)}}" data-position="bottom right">{{svg "octicon-info" 16}}</span>
														<a target="_blank" rel="noopener noreferrer" href="{{.DownloadURL}}">
															<strong><span class="ui image" title='{{.Name}}'>{{svg "octicon-package" 16}}</span> {{.Name}}</strong>
															<span class="ui text grey right">{{.Size | FileSize}}</span>
														</a>
													</li>
												{{end}}
											{{end}}
										</ul>
									</div>
								</div>
							</div>
						{{end}}
						<span class="dot">&nbsp;</span>
					</div>
				</li>
			{{end}}
		</ul>
		{{end}}
		{{template "base/paginate" .}}
	</div>
</div>

{{if (and .CanCreateRelease .PageIsTagList)}}
	<div class="ui small basic delete modal">
		<div class="ui icon header">
			<i class="trash icon"></i>
			{{.i18n.Tr "repo.release.delete_tag"}}
		</div>
		<div class="content">
			<p>{{.i18n.Tr "repo.release.deletion_tag_desc"}}</p>
		</div>
		{{template "base/delete_modal_actions" .}}
	</div>
{{end}}

{{template "base/footer" .}}
