{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content oauth2-authorize-application-box">
	<div class="ui container tw-max-w-[500px]">
		{{if .DeviceAuthorization}}
			<h3 class="ui top attached header">
				{{ctx.Locale.Tr "auth.authorize_title" .Application.Name}}
			</h3>
			<div class="ui attached segment">
				{{template "base/alert" .}}
				<p>
					{{if not .AdditionalScopes}}
						<b>{{ctx.Locale.Tr "auth.authorize_application_description"}}</b><br>
					{{end}}
					{{ctx.Locale.Tr "auth.authorize_application_created_by" .ApplicationCreatorLinkHTML}}<br>
					{{ctx.Locale.Tr "auth.authorize_application_with_scopes" (HTMLFormat "<b>%s</b>" .Scope)}}
				</p>
			</div>
			<div class="ui attached segment">
				<p>{{ctx.Locale.Tr "auth.device_authorize_terminal_notice"}}</p>
			</div>
			<div class="ui attached segment tw-text-center">
				<form method="post" action="{{AppSubUrl}}/login/oauth/device/confirm">
					<input type="hidden" name="device_authorization_id" value="{{.DeviceAuthorization.ID}}">
					<button type="submit" id="authorize-device-app" name="granted" value="true" class="ui red inline button">{{ctx.Locale.Tr "auth.authorize_application"}}</button>
					<button type="submit" name="granted" value="false" class="ui basic primary inline button">{{ctx.Locale.Tr "cancel"}}</button>
				</form>
			</div>
		{{else}}
			<h3 class="ui top attached header">{{ctx.Locale.Tr "auth.device_code_entry_title"}}</h3>
			<div class="ui attached segment">
				{{template "base/alert" .}}
				<p>{{ctx.Locale.Tr "auth.device_code_entry_desc"}}</p>
			</div>
			<div class="ui attached segment">
				<form class="ui form" method="post" action="{{AppSubUrl}}/login/oauth/device">
					<div class="field">
						<label for="user-code">{{ctx.Locale.Tr "auth.device_code"}}</label>
						<input id="user-code" name="user_code" value="{{.UserCode}}" autocomplete="one-time-code" autocapitalize="characters" spellcheck="false" autofocus required placeholder="{{ctx.Locale.Tr "auth.device_code_placeholder"}}">
					</div>
					<button type="submit" class="ui primary button">{{ctx.Locale.Tr "continue"}}</button>
				</form>
			</div>
		{{end}}
	</div>
</div>
{{template "base/footer" .}}
