{{template "base/head" .}}
<div class="user signin">
	<div class="ui middle centered very relaxed page grid">
		<div class="column">
			<h3 class="ui top attached header">
			{{.i18n.Tr "auth.authorize_application"}}
			</h3>
			<div class="ui attached segment">
				<i class="huge key icon"></i>
				<h3>{{.Application.User.Name}}</h3>
				{{template "base/alert" .}}
				<p>{{.i18n.Tr "auth.authorize_application_description" .Application.Name .Application.User.Name}}</p>
			</div>
			<div class="ui attached segment">
				<p>{{.i18n.Tr "auth.authroize_redirect_notice" .RedirectURI}}</p>
			</div>
			<div class="ui attached segment">
				<form method="post" action="{{.AppSubUrl}}/user/oauth2/grant">
					{{.CsrfTokenHtml}}
					<input type="hidden" name="client_id" value="{{.Application.ClientID}}">
					<input type="hidden" name="state" value="{{.State}}">
					<input type="hidden" name="redirect_uri" value="{{.RedirectURI}}">
					<input type="submit" value="{{.i18n.Tr "auth.authorize_application"}}" class="ui large green button">
				</form>
			</div>
		</div>
	</div>
</div>
{{template "user/auth/u2f_error" .}}
{{template "base/footer" .}}
