{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content user link-account">
	<div class="ui secondary pointing tabular top attached borderless menu new-menu navbar">
		<div class="new-menu-inner">
			<!-- TODO handle .ShowRegistrationButton once other login bugs are fixed -->
			{{if not .AllowOnlyInternalRegistration}}
				<a class="item {{if not .user_exists}}active{{end}}"
					data-tab="auth-link-signup-tab">
					{{ctx.Locale.Tr "auth.oauth_signup_tab"}}
				</a>
			{{end}}
			<a class="item {{if .user_exists}}active{{end}}"
				data-tab="auth-link-signin-tab">
				{{ctx.Locale.Tr "auth.oauth_signin_tab"}}
			</a>
		</div>
	</div>
	<div class="ui middle very relaxed page grid">
		<div class="column">
			<div class="ui tab {{if not .user_exists}}active{{end}}"
				data-tab="auth-link-signup-tab">
				{{template "user/auth/signup_inner" .}}
			</div>
			<div class="ui tab {{if .user_exists}}active{{end}}"
				data-tab="auth-link-signin-tab">
				<div class="ui user signin container icon">
					{{template "user/auth/signin_inner" .}}
				</div>
			</div>
		</div>
	</div>
</div>

{{template "base/footer" .}}
