{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content user activate">
	<div class="ui middle very relaxed page grid">
		<div class="column">
			<form class="ui form">
				<h2 class="ui top attached header">
					{{ctx.Locale.Tr "auth.prohibit_login"}}
				</h2>
				<div class="ui attached segment">
					<p>{{ctx.Locale.Tr "auth.prohibit_login_desc"}}</p>
				</div>
			</form>
		</div>
	</div>
</div>
{{template "base/footer" .}}
