		{{if or (not .LinkAccountMode) (and .LinkAccountMode .LinkAccountModeSignIn)}}
		{{template "base/alert" .}}
		{{end}}
		<h4 class="ui top attached header center">
			{{if .LinkAccountMode}}
				{{.i18n.Tr "auth.oauth_signin_title"}}
			{{else}}
				{{.i18n.Tr "auth.login_userpass"}}
			{{end}}
		</h4>
		<div class="ui attached segment">
			<form class="ui form" action="{{.SignInLink}}" method="post">
			{{.CsrfTokenHtml}}
			<div class="required inline field {{if and (.Err_UserName) (or (not .LinkAccountMode) (and .LinkAccountMode .LinkAccountModeSignIn))}}error{{end}}">
				<label for="user_name">{{.i18n.Tr "home.uname_holder"}}</label>
				<input id="user_name" name="user_name" value="{{.user_name}}" autofocus required>
			</div>
			{{if or (not .DisablePassword) .LinkAccountMode}}
			<div class="required inline field {{if and (.Err_Password) (or (not .LinkAccountMode) (and .LinkAccountMode .LinkAccountModeSignIn))}}error{{end}}">
				<label for="password">{{.i18n.Tr "password"}}</label>
				<input id="password" name="password" type="password" value="{{.password}}" autocomplete="off" required>
			</div>
			{{end}}
			{{if not .LinkAccountMode}}
			<div class="inline field">
				<label></label>
				<div class="ui checkbox">
					<label>{{.i18n.Tr "auth.remember_me"}}</label>
					<input name="remember" type="checkbox">
				</div>
			</div>
			{{end}}

			<div class="inline field">
				<label></label>
				<button class="ui green button">
					{{if .LinkAccountMode}}
						{{.i18n.Tr "auth.oauth_signin_submit"}}
					{{else}}
						{{.i18n.Tr "sign_in"}}
					{{end}}
				</button>
				<a href="{{AppSubUrl}}/user/forgot_password">{{.i18n.Tr "auth.forgot_password"}}</a>
			</div>

			{{if .ShowRegistrationButton}}
				<div class="inline field">
					<label></label>
					<a href="{{AppSubUrl}}/user/sign_up">{{.i18n.Tr "auth.sign_up_now" | Str2html}}</a>
				</div>
			{{end}}

			{{if and .OrderedOAuth2Names .OAuth2Providers}}
			<div class="ui attached segment">
				<div class="oauth2 center">
					<div id="oauth2-login-loader" class="ui disabled centered  loader"></div>
					<div>
						<div id="oauth2-login-navigator">
							<p>{{.i18n.Tr "sign_in_with"}}</p>
							{{range $key := .OrderedOAuth2Names}}
								{{$provider := index $.OAuth2Providers $key}}
								<a href="{{AppSubUrl}}/user/oauth2/{{$key}}">
									<img
										alt="{{$provider.DisplayName}}{{if eq $provider.Name "openidConnect"}} ({{$key}}){{end}}"
										title="{{$provider.DisplayName}}{{if eq $provider.Name "openidConnect"}} ({{$key}}){{end}}"
										class="{{$provider.Name}}"
										src="{{AppSubUrl}}{{$provider.Image}}"
										onclick="window.onOAuthLoginClick()"
									></a>
							{{end}}
						</div>
					</div>
				</div>
			</div>
			{{end}}
			</form>
		</div>
