<div class="ui secondary pointing tabular top attached borderless menu stackable new-menu navbar">
	<a class="{{if .PageIsLogin}}active{{end}} item" href="{{AppSubUrl}}/user/login">
		{{.i18n.Tr "auth.login_userpass"}}
	</a>
	{{if .EnableOpenIDSignIn}}
		<a class="{{if .PageIsLoginOpenID}}active{{end}} item" href="{{AppSubUrl}}/user/login/openid">
			<i class="fa fa-openid"></i>
			&nbsp;OpenID
		</a>
	{{end}}
</div>
