{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content user signin webauthn-prompt">
	<div class="ui page grid">
		<div class="column tw-text-center">
			{{template "user/auth/webauthn_error" .}}
			<h3 class="ui top attached header">{{ctx.Locale.Tr "twofa"}}</h3>
			<div class="ui attached segment">
				{{svg "octicon-key" 56}}
				<h3>{{ctx.Locale.Tr "webauthn_insert_key"}}</h3>
				{{template "base/alert" .}}
				<p>{{ctx.Locale.Tr "webauthn_sign_in"}}</p>
			</div>
			<div class="ui attached segment tw-flex tw-items-center tw-justify-center tw-gap-1 tw-py-2">
				<div class="is-loading tw-w-[40px] tw-h-[40px]"></div>
				{{ctx.Locale.Tr "webauthn_press_button"}}
			</div>
			{{if .HasTwoFactor}}
				<div class="ui attached segment">
					<a href="{{AppSubUrl}}/user/two_factor">{{ctx.Locale.Tr "webauthn_use_twofa"}}</a>
				</div>
			{{end}}
		</div>
	</div>
</div>
{{template "base/footer" .}}
