<div class="ui small modal" id="webauthn-error">
	<div class="header">{{.locale.Tr "webauthn_error"}}</div>
	<div class="content">
		<div class="ui negative message">
			<div class="header">
			{{.locale.Tr "webauthn_error"}}
			</div>
			<div class="hide" data-webauthn-error-msg="browser"><p>{{.locale.Tr "webauthn_unsupported_browser"}}</div>
			<div class="hide" data-webauthn-error-msg="unknown"><p>{{.locale.Tr "webauthn_error_unknown"}}</div>
			<div class="hide" data-webauthn-error-msg="insecure"><p>{{.locale.Tr "webauthn_error_insecure"}}</div>
			<div class="hide" data-webauthn-error-msg="unable-to-process"><p>{{.locale.Tr "webauthn_error_unable_to_process"}}</div>
			<div class="hide" data-webauthn-error-msg="duplicated"><p>{{.locale.Tr "webauthn_error_duplicated"}}</div>
			<div class="hide" data-webauthn-error-msg="empty"><p>{{.locale.Tr "webauthn_error_empty"}}</div>
			<div class="hide" data-webauthn-error-msg="timeout"><p>{{.locale.Tr "webauthn_error_timeout"}}</div>
			<div class="hide" data-webauthn-error-msg="general"></div>
		</div>
	</div>
	<div class="actions">
		<button onclick="window.location.reload()" class="success ui button hide webauthn_error_timeout">{{.locale.Tr "webauthn_reload"}}</button>
		<div class="ui cancel button">{{.locale.Tr "cancel"}}</div>
	</div>
</div>
