{{template "admin/layout_head" (dict "ctxData" . "pageClass" "admin config")}}
	<div class="admin-setting-content">
		<h4 class="ui top attached header">
				{{ctx.Locale.Tr "settings.applications"}}
		</h4>
		{{template "user/settings/applications_oauth2_list" .}}
	</div>
{{template "admin/layout_footer" .}}
