<div class="dropzone-attachments">
    {{if .Attachments}}
        <div class="ui clearing divider"></div>
    {{end}}
    <div class="ui middle aligned padded grid">
        {{$hasThumbnails := false}}
        {{- range .Attachments -}}
            <div class="twelve wide column" style="padding: 6px;">
                <a target="_blank" rel="noopener noreferrer" href="{{.DownloadURL}}" title='{{$.ctx.i18n.Tr "repo.issues.attachment.open_tab" .Name}}'>
                    {{if FilenameIsImage .Name}}
                        {{if not (containGeneric $.Content .UUID)}}
                            {{$hasThumbnails = true}}
                        {{end}}
                        <span class="ui image">{{svg "octicon-file"}}</span>
                    {{else}}
                        <span class="ui image">{{svg "octicon-desktop-download"}}</span>
                    {{end}}
                    <span><strong>{{.Name}}</strong></span>
                </a>
            </div>
            <div class="four wide column" style="padding: 0px;">
                <span class="ui text grey right">{{.Size | FileSize}}</span>
            </div>
        {{end -}}
    </div>

    {{if $hasThumbnails}}
        <div class="ui clearing divider"></div>
        <div class="ui small images thumbnails">
            {{- range .Attachments -}}
                {{if FilenameIsImage .Name}}
                    {{if not (containGeneric $.Content .UUID)}}
                    <a target="_blank" rel="noopener noreferrer" href="{{.DownloadURL}}">
                        <img class="ui image" src="{{.DownloadURL}}" title='{{$.ctx.i18n.Tr "repo.issues.attachment.open_tab" .Name}}'>
                    </a>
                    {{end}}
                {{end}}
            {{end -}}
        </div>
    {{end}}

</div>
