{{if .comment.Time}} {{/* compatibility with time comments made before v1.14 */}}
	{{if (not .comment.Time.Deleted)}}
		{{if (or .ctxData.IsAdmin (and .ctxData.IsSigned (eq .ctxData.SignedUserID .comment.PosterID)))}}
			<span class="ui float right">
				<div class="ui mini modal issue-delete-time-modal" data-id="{{.comment.Time.ID}}">
					<form method="post" class="delete-time-form" action="{{.ctxData.RepoLink}}/issues/{{.ctxData.Issue.Index}}/times/{{.comment.TimeID}}/delete">
						{{.ctxData.CsrfTokenHtml}}
					</form>
					<div class="header">{{.ctxData.locale.Tr "repo.issues.del_time"}}</div>
					{{template "base/modal_actions_confirm" (dict "locale" .ctxData.locale)}}
				</div>
				<button class="ui icon button compact mini issue-delete-time" data-id="{{.comment.Time.ID}}" data-tooltip-content="{{.ctxData.locale.Tr "repo.issues.del_time"}}">
					{{svg "octicon-trash"}}
				</button>
			</span>
		{{end}}
	{{end}}
{{end}}
