{{if .comment.OriginalAuthor}}
	<span class="tw-text-text">
		{{svg (MigrationIcon ctx.RootData.Repository.GetOriginalURLHostname)}}
		{{.comment.OriginalAuthor}}
	</span>
	{{if ctx.RootData.Repository.OriginalURL}}
		<span class="migrate">({{ctx.Locale.Tr "repo.migrated_from" ctx.RootData.Repository.OriginalURL ctx.RootData.Repository.GetOriginalURLHostname}})</span>
	{{end}}
{{else}}
	{{template "shared/user/authorlink" .comment.Poster}}
{{end}}
