{{if .comment.OriginalAuthor}}
	<span class="tw-text-text">
		{{svg (MigrationIcon .Repository.GetOriginalURLHostname)}}
		{{.comment.OriginalAuthor}}
	</span>
	{{if .Repository.OriginalURL}}
		<span class="migrate">({{ctx.Locale.Tr "repo.migrated_from" .Repository.OriginalURL .Repository.GetOriginalURLHostname}})</span>
	{{end}}
{{else}}
	{{$specialDoerHtml := .comment.MetaSpecialDoerTr ctx.Locale}}
	{{if $specialDoerHtml}}
		{{$specialDoerHtml}}
	{{else}}
		{{template "shared/user/authorlink" .comment.Poster}}
	{{end}}
{{end}}
