<div class="ui small modal" id="reference-issue-modal">
	<div class="header">
		{{ctx.Locale.Tr "repo.issues.context.reference_issue"}}
	</div>
	<div class="content">
		<form class="ui form form-fetch-action" action="{{.Repository.Link}}/issues/new" method="post">
			{{.CsrfTokenHtml}}
			<div class="field">
				<label><strong>{{ctx.Locale.Tr "repository"}}</strong></label>
				<div class="ui search selection dropdown issue_reference_repository_search ellipsis-items-nowrap">
					<div class="default text gt-ellipsis">{{.Repository.FullName}}</div>
					<div class="menu"></div>
				</div>
			</div>
			<div class="field">
				<label><strong>{{ctx.Locale.Tr "repo.milestones.title"}}</strong></label>
				<input name="title" value="" autofocus required maxlength="255" autocomplete="off">
			</div>
			<div class="field">
				<label><strong>{{ctx.Locale.Tr "repo.issues.reference_issue.body"}}</strong></label>
				<textarea name="content"></textarea>
			</div>
			<div class="text right">
				<button class="ui primary button">{{ctx.Locale.Tr "repo.issues.create"}}</button>
			</div>
		</form>
	</div>
</div>
