{{if and (.ShowRole.HasRole "Poster") (not .IgnorePoster)}}
	<div class="ui basic label role-label">
		{{ctx.Locale.Tr "repo.issues.poster"}}
	</div>
{{end}}
{{if (.ShowRole.HasRole "Writer")}}
	<div class="ui basic label role-label">
		{{ctx.Locale.Tr "repo.issues.collaborator"}}
	</div>
{{end}}
{{if (.ShowRole.HasRole "Owner")}}
	<div class="ui basic label role-label">
		{{ctx.Locale.Tr "repo.issues.owner"}}
	</div>
{{end}}
