{{if and .ShowRole.IsPoster (not .IgnorePoster)}}
	<div class="ui basic label role-label" data-tooltip-content="{{ctx.Locale.Tr "repo.issues.author_helper"}}">
		{{ctx.Locale.Tr "repo.issues.author"}}
	</div>
{{end}}
{{if .ShowRole.Role}}
	<div class="ui basic label role-label" data-tooltip-content="{{.ShowRole.Role.LocaleHelper ctx.Locale}}">
		{{.ShowRole.Role.LocaleString ctx.Locale}}
	</div>
{{end}}
