{{$data := $.MergeBoxData}}
<div class="tw-w-full flex-left-right">
	<div class="flex-text-block">
		{{svg "octicon-alert"}}
		{{ctx.Locale.Tr "repo.pulls.outdated_with_base_branch"}}
	</div>
	{{if $data.UpdatePrimaryAction}}
	<div class="ui buttons"{{if $data.UpdateStyleOptions}} data-global-init="initRepoPullRequestUpdate"{{end}}>
		<button class="ui button link-action" data-url="{{$data.UpdatePrimaryAction.URL}}">
			{{$data.UpdatePrimaryAction.Text}}
		</button>
		{{if gt (len $data.UpdateStyleOptions) 1}}
		<div class="ui dropdown icon button">
			{{svg "octicon-triangle-down"}}
			<div class="menu">
				{{range $data.UpdateStyleOptions}}
					<a class="item {{if .Selected}}selected{{end}}" data-update-url="{{.URL}}">{{.Text}}</a>
				{{end}}
			</div>
		</div>
		{{end}}
	</div>
	{{end}}
</div>
