<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700&display=swap&subset=japanese" rel="stylesheet">
<style>
	html > body,
	h1, h2, h3, h4, h5,
	.markdown:not(code),
	.ui.menu,
	.ui.button,
	.ui.input input,
	.header {
		font-family: Noto Sans JP,メイリオ,Meiryo,Hiragino Kaku Gothic ProN,ヒラギノ角ゴ ProN W3,ＭＳ Ｐゴシック,MS PGothic,MS UI Gothic,Helvetica,Arial,sans-serif !important;
	}
	#repo-clone-url {
		font-size: 0.9em;
		line-height: 1em;
	}
</style>
