.markup .code-copy {
  position: absolute;
  top: 8px;
  right: 6px;
  padding: 9px;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-hover-fade);
}

/* adjustments for comment content having only 14px font size */
.repository.view.issue .comment-list .comment .markup .code-copy {
  right: 5px;
  padding: 8px;
}

/* can not use regular transparent button colors for hover and active states because
   we need opaque colors here as code can appear behind the button */
.markup .code-copy:hover {
  background: var(--color-secondary) !important;
}

.markup .code-copy:active {
  background: var(--color-secondary-dark-1) !important;
}

.markup .code-block-container:hover .code-copy,
.markup .code-block:hover .code-copy {
  opacity: 1;
  visibility: visible;
}
