{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content repository">
	{{template "repo/header" .}}
	{{template "projects/workflows" .}}
</div>
{{template "base/footer" .}}
