{{template "code/searchform" .}}
<div class="divider"></div>
<div class="ui user list">
	{{if .CodeIndexerUnavailable}}
		<div class="ui error message">
			<p>{{ctx.Locale.Tr "search.unavailable" (ctx.Locale.Tr "search.kind.code")}}</p>
		</div>
	{{else if .SearchResults}}
		{{template "code/searchresults" .}}
	{{else if .Keyword}}
		<div>{{ctx.Locale.Tr "search.no_results" (ctx.Locale.Tr "explore.code")}}</div>
	{{end}}
</div>
{{template "base/paginate" .}}
