{{$showFileTree := (and (not .DiffNotAvailable) (gt .Diff.NumFiles 1))}}
<div>
	<div class="diff-detail-box diff-box">
		<div class="tw-flex tw-items-center tw-flex-wrap tw-gap-2 tw-ml-0.5">
			{{if $showFileTree}}
				<button class="diff-toggle-file-tree-button not-mobile btn interact-fg" data-show-text="{{ctx.Locale.Tr "repo.diff.show_file_tree"}}" data-hide-text="{{ctx.Locale.Tr "repo.diff.hide_file_tree"}}">
					{{/* the icon meaning is reversed here, "octicon-sidebar-collapse" means show the file tree */}}
					{{svg "octicon-sidebar-collapse" 20 "icon tw-hidden"}}
					{{svg "octicon-sidebar-expand" 20 "icon tw-hidden"}}
				</button>
				<script>
					// Default to true if unset
					const diffTreeVisible = localStorage?.getItem('diff_file_tree_visible') !== 'false';
					const diffTreeBtn = document.querySelector('.diff-toggle-file-tree-button');
					const diffTreeIcon = `.octicon-sidebar-${diffTreeVisible ? 'expand' : 'collapse'}`;
					diffTreeBtn.querySelector(diffTreeIcon).classList.remove('tw-hidden');
					diffTreeBtn.setAttribute('data-tooltip-content', diffTreeBtn.getAttribute(diffTreeVisible ? 'data-hide-text' : 'data-show-text'));
				</script>
			{{end}}
			{{if not .DiffNotAvailable}}
				<div class="diff-detail-stats tw-flex tw-items-center tw-flex-wrap">
					{{svg "octicon-diff" 16 "tw-mr-1"}}{{ctx.Locale.Tr "repo.diff.stats_desc" .Diff.NumFiles .Diff.TotalAddition .Diff.TotalDeletion}}
				</div>
			{{end}}
		</div>
		<div class="diff-detail-actions">
			{{if and .PageIsPullFiles $.SignedUserID (not .IsArchived) (not .DiffNotAvailable)}}
				<div class="not-mobile tw-flex tw-items-center tw-flex-col tw-whitespace-nowrap tw-mr-1">
					<label for="viewed-files-summary" id="viewed-files-summary-label" data-text-changed-template="{{ctx.Locale.Tr "repo.pulls.viewed_files_label"}}">
						{{ctx.Locale.Tr "repo.pulls.viewed_files_label" .Diff.NumViewedFiles .Diff.NumFiles}}
					</label>
					<progress id="viewed-files-summary" value="{{.Diff.NumViewedFiles}}" max="{{.Diff.NumFiles}}"></progress>
				</div>
			{{end}}
			{{template "repo/diff/whitespace_dropdown" .}}
			{{template "repo/diff/options_dropdown" .}}
			{{if .PageIsPullFiles}}
				<div id="diff-commit-select" data-issuelink="{{$.Issue.Link}}" data-queryparams="?style={{if $.IsSplitStyle}}split{{else}}unified{{end}}&whitespace={{$.WhitespaceBehavior}}&show-outdated={{$.ShowOutdatedComments}}" data-filter_changes_by_commit="{{ctx.Locale.Tr "repo.pulls.filter_changes_by_commit"}}">
					{{/* the following will be replaced by vue component, but this avoids any loading artifacts till the vue component is initialized */}}
					<div class="ui jump dropdown basic button custom">
						{{svg "octicon-git-commit"}}
					</div>
				</div>
			{{end}}
			{{if and .PageIsPullFiles $.SignedUserID (not .IsArchived)}}
				{{template "repo/diff/new_review" .}}
			{{end}}
		</div>
	</div>
	{{if not .DiffNotAvailable}}
		{{if and .IsShowingOnlySingleCommit .PageIsPullFiles}}
			<div class="ui info message">
				<div>{{ctx.Locale.Tr "repo.pulls.showing_only_single_commit" (ShortSha .AfterCommitID)}} - <a href="{{$.Issue.Link}}/files?style={{if $.IsSplitStyle}}split{{else}}unified{{end}}&whitespace={{$.WhitespaceBehavior}}&show-outdated={{$.ShowOutdatedComments}}">{{ctx.Locale.Tr "repo.pulls.show_all_commits"}}</a></div>
			</div>
		{{else if and (not .IsShowingAllCommits) .PageIsPullFiles}}
			<div class="ui info message">
				<div>{{ctx.Locale.Tr "repo.pulls.showing_specified_commit_range" (ShortSha .BeforeCommitID) (ShortSha .AfterCommitID)}} - <a href="{{$.Issue.Link}}/files?style={{if $.IsSplitStyle}}split{{else}}unified{{end}}&whitespace={{$.WhitespaceBehavior}}&show-outdated={{$.ShowOutdatedComments}}">{{ctx.Locale.Tr "repo.pulls.show_all_commits"}}</a></div>
			</div>
		{{end}}
		<script id="diff-data-script" type="module">
			const diffDataFiles = [{{range $i, $file := .Diff.Files}}{Name:"{{$file.Name}}",NameHash:"{{$file.NameHash}}",Type:{{$file.Type}},IsBin:{{$file.IsBin}},IsSubmodule:{{$file.IsSubmodule}},Addition:{{$file.Addition}},Deletion:{{$file.Deletion}},IsViewed:{{$file.IsViewed}}},{{end}}];
			const diffData = {
				isIncomplete: {{.Diff.IsIncomplete}},
				tooManyFilesMessage: "{{ctx.Locale.Tr "repo.diff.too_many_files"}}",
				binaryFileMessage: "{{ctx.Locale.Tr "repo.diff.bin"}}",
				showMoreMessage: "{{ctx.Locale.Tr "repo.diff.show_more"}}",
				statisticsMessage: "{{ctx.Locale.Tr "repo.diff.stats_desc_file"}}",
				linkLoadMore: "?skip-to={{.Diff.End}}&file-only=true",
			};

			// for first time loading, the diffFileInfo is a plain object
			// after the Vue component is mounted, the diffFileInfo is a reactive object
			// keep in mind that this script block would be executed many times when loading more files, by "loadMoreFiles"
			let diffFileInfo = window.config.pageData.diffFileInfo || {
				files:[],
				fileTreeIsVisible: false,
				fileListIsVisible: false,
				isLoadingNewData: false,
				selectedItem: '',
			};
			diffFileInfo = Object.assign(diffFileInfo, diffData);
			diffFileInfo.files.push(...diffDataFiles);
			window.config.pageData.diffFileInfo = diffFileInfo;
		</script>
		<div id="diff-file-list"></div>
	{{end}}
	<div id="diff-container">
		{{if $showFileTree}}
			<div id="diff-file-tree" class="tw-hidden not-mobile"></div>
			<script>
				if (diffTreeVisible) document.getElementById('diff-file-tree').classList.remove('tw-hidden');
			</script>
		{{end}}
		{{if .DiffNotAvailable}}
			<h4>{{ctx.Locale.Tr "repo.diff.data_not_available"}}</h4>
		{{else}}
			<div id="diff-file-boxes" class="sixteen wide column">
				{{range $i, $file := .Diff.Files}}
					{{/*notice: the index of Diff.Files should not be used for element ID, because the index will be restarted from 0 when doing load-more for PRs with a lot of files*/}}
					{{$blobBase := call $.GetBlobByPathForCommit $.BeforeCommit $file.OldName}}
					{{$blobHead := call $.GetBlobByPathForCommit $.HeadCommit $file.Name}}
					{{$sniffedTypeBase := call $.GetSniffedTypeForBlob $blobBase}}
					{{$sniffedTypeHead := call $.GetSniffedTypeForBlob $blobHead}}
					{{$isImage:= or (call $.IsSniffedTypeAnImage $sniffedTypeBase) (call $.IsSniffedTypeAnImage $sniffedTypeHead)}}
					{{$isCsv := (call $.IsCsvFile $file)}}
					{{$showFileViewToggle := or $isImage (and (not $file.IsIncomplete) $isCsv)}}
					{{$isExpandable := or (gt $file.Addition 0) (gt $file.Deletion 0) $file.IsBin}}
					{{$isReviewFile := and $.IsSigned $.PageIsPullFiles (not $.IsArchived) $.IsShowingAllCommits}}
					<div class="diff-file-box diff-box file-content {{TabSizeClass $.Editorconfig $file.Name}} tw-mt-0" id="diff-{{$file.NameHash}}" data-old-filename="{{$file.OldName}}" data-new-filename="{{$file.Name}}" {{if or ($file.ShouldBeHidden) (not $isExpandable)}}data-folded="true"{{end}}>
						<h4 class="diff-file-header sticky-2nd-row ui top attached header">
							<div class="diff-file-name tw-flex tw-flex-1 tw-items-center tw-gap-1 tw-flex-wrap">
								<button class="fold-file btn interact-bg tw-p-1{{if not $isExpandable}} tw-invisible{{end}}">
									{{if $file.ShouldBeHidden}}
										{{svg "octicon-chevron-right" 18}}
									{{else}}
										{{svg "octicon-chevron-down" 18}}
									{{end}}
								</button>
								<div class="tw-font-semibold tw-flex tw-items-center tw-font-mono">
									{{if $file.IsBin}}
										<span class="tw-ml-0.5 tw-mr-2">
											{{ctx.Locale.Tr "repo.diff.bin"}}
										</span>
									{{else}}
										{{template "repo/diff/stats" dict "file" . "root" $}}
									{{end}}
								</div>
								<span class="file tw-flex tw-items-center tw-font-mono tw-flex-1"><a class="muted file-link" title="{{if $file.IsRenamed}}{{$file.OldName}} → {{end}}{{$file.Name}}" href="#diff-{{$file.NameHash}}">{{if $file.IsRenamed}}{{$file.OldName}} → {{end}}{{$file.Name}}</a>
									{{if .IsLFSFile}} ({{ctx.Locale.Tr "repo.stored_lfs"}}){{end}}
									<button class="btn interact-fg tw-p-2" data-clipboard-text="{{$file.Name}}" data-tooltip-content="{{ctx.Locale.Tr "copy_path"}}">{{svg "octicon-copy" 14}}</button>
									{{if $file.IsGenerated}}
										<span class="ui label">{{ctx.Locale.Tr "repo.diff.generated"}}</span>
									{{end}}
									{{if $file.IsVendored}}
										<span class="ui label">{{ctx.Locale.Tr "repo.diff.vendored"}}</span>
									{{end}}
									{{if and $file.Mode $file.OldMode}}
										{{$old := ctx.Locale.Tr ($file.ModeTranslationKey $file.OldMode)}}
										{{$new := ctx.Locale.Tr ($file.ModeTranslationKey $file.Mode)}}
										<span class="tw-mx-2 tw-font-mono tw-whitespace-nowrap">{{ctx.Locale.Tr "git.filemode.changed_filemode" $old $new}}</span>
									{{else if $file.Mode}}
										<span class="tw-mx-2 tw-font-mono tw-whitespace-nowrap">{{ctx.Locale.Tr ($file.ModeTranslationKey $file.Mode)}}</span>
									{{end}}
								</span>
							</div>
							<div class="diff-file-header-actions tw-flex tw-items-center tw-gap-1 tw-flex-wrap">
								{{if $showFileViewToggle}}
									<div class="ui compact icon buttons">
										<button class="ui tiny basic button file-view-toggle" data-toggle-selector="#diff-source-{{$file.NameHash}}" data-tooltip-content="{{ctx.Locale.Tr "repo.file_view_source"}}">{{svg "octicon-code"}}</button>
										<button class="ui tiny basic button file-view-toggle active" data-toggle-selector="#diff-rendered-{{$file.NameHash}}" data-tooltip-content="{{ctx.Locale.Tr "repo.file_view_rendered"}}">{{svg "octicon-file"}}</button>
									</div>
								{{end}}
								{{if $file.IsProtected}}
									<span class="ui basic label">{{ctx.Locale.Tr "repo.diff.protected"}}</span>
								{{end}}
								{{if and $isReviewFile $file.HasChangedSinceLastReview}}
									<span class="changed-since-last-review unselectable not-mobile">{{ctx.Locale.Tr "repo.pulls.has_changed_since_last_review"}}</span>
								{{end}}
								{{if $isReviewFile}}
									<label data-link="{{$.Issue.Link}}/viewed-files" data-headcommit="{{$.AfterCommitID}}" class="viewed-file-form unselectable{{if $file.IsViewed}} viewed-file-checked-form{{end}}">
										<input type="checkbox" name="{{$file.GetDiffFileName}}" autocomplete="off"{{if $file.IsViewed}} checked{{end}}> {{ctx.Locale.Tr "repo.pulls.has_viewed_file"}}
									</label>
								{{end}}
								{{if not $file.IsSubmodule}}
									<button class="btn diff-header-popup-btn tw-p-1">{{svg "octicon-kebab-horizontal" 18}}</button>
									<div class="tippy-target">
										{{if not (or $file.IsIncomplete $file.IsBin)}}
											<button class="unescape-button item" data-unicode-content-selector="#diff-{{$file.NameHash}}">{{ctx.Locale.Tr "repo.unescape_control_characters"}}</button>
											<button class="escape-button tw-hidden item" data-unicode-content-selector="#diff-{{$file.NameHash}}">{{ctx.Locale.Tr "repo.escape_control_characters"}}</button>
										{{end}}
										{{if not $.PageIsWiki}}
											{{if $file.IsDeleted}}
												<a class="item" rel="nofollow" href="{{$.BeforeSourcePath}}/{{PathEscapeSegments .Name}}">{{ctx.Locale.Tr "repo.diff.view_file"}}</a>
											{{else}}
												<a class="item" rel="nofollow" href="{{$.SourcePath}}/{{PathEscapeSegments .Name}}">{{ctx.Locale.Tr "repo.diff.view_file"}}</a>
												{{if and $.Repository.CanEnableEditor $.CanEditFile (not $file.IsLFSFile) (not $file.IsBin)}}
													<a class="item" rel="nofollow" href="{{$.HeadRepoLink}}/_edit/{{PathEscapeSegments $.HeadBranchName}}/{{PathEscapeSegments $file.Name}}?return_uri={{print $.BackToLink "#diff-" $file.NameHash | QueryEscape}}">{{ctx.Locale.Tr "repo.editor.edit_this_file"}}</a>
												{{end}}
											{{end}}
										{{end}}
									</div>
								{{end}}
							</div>
						</h4>
						<div class="diff-file-body ui attached unstackable table segment" {{if and $file.IsViewed $.IsShowingAllCommits}}data-folded="true"{{end}}>
							<div id="diff-source-{{$file.NameHash}}" class="file-body file-code unicode-escaped code-diff{{if $.IsSplitStyle}} code-diff-split{{else}} code-diff-unified{{end}}{{if $showFileViewToggle}} tw-hidden{{end}}">
								{{if or $file.IsIncomplete $file.IsBin}}
									<div class="diff-file-body binary">
										{{if $file.IsIncomplete}}
											{{if $file.IsIncompleteLineTooLong}}
												{{ctx.Locale.Tr "repo.diff.file_suppressed_line_too_long"}}
											{{else}}
												{{ctx.Locale.Tr "repo.diff.file_suppressed"}}
												<a class="ui basic tiny button diff-load-button" data-href="?file-only=true&files={{$file.Name}}&files={{$file.OldName}}">{{ctx.Locale.Tr "repo.diff.load"}}</a>
											{{end}}
										{{else}}
											{{ctx.Locale.Tr "repo.diff.bin_not_shown"}}
										{{end}}
									</div>
								{{else if $file.SubmoduleDiffInfo}}
									<div class="tw-p-3">{{svg "octicon-file-submodule"}} {{$submoduleDiffInfo := $file.SubmoduleDiffInfo -}}
										{{- $submoduleName := $submoduleDiffInfo.SubmoduleRepoLinkHTML ctx -}}
										{{- if $file.IsDeleted -}}
											{{- ctx.Locale.Tr "repo.diff.submodule_deleted" $submoduleName ($submoduleDiffInfo.CommitRefIDLinkHTML ctx $submoduleDiffInfo.PreviousRefID) -}}
										{{- else if $file.IsCreated -}}
											{{- ctx.Locale.Tr "repo.diff.submodule_added" $submoduleName ($submoduleDiffInfo.CommitRefIDLinkHTML ctx $submoduleDiffInfo.NewRefID) -}}
										{{- else -}}
											{{- ctx.Locale.Tr "repo.diff.submodule_updated" $submoduleName ($submoduleDiffInfo.CompareRefIDLinkHTML ctx) -}}
										{{end}}
									</div>
								{{else}}
									<table class="chroma" data-new-comment-url="{{$.Issue.Link}}/files/reviews/new_comment" data-path="{{$file.Name}}">
										{{if $.IsSplitStyle}}
											{{template "repo/diff/section_split" dict "file" . "root" $}}
										{{else}}
											{{template "repo/diff/section_unified" dict "file" . "root" $}}
										{{end}}
									</table>
								{{end}}
							</div>
							{{if $showFileViewToggle}}
								{{/* for image or CSV, it can have a horizontal scroll bar, there won't be review comment context menu (position absolute) which would be clipped by "overflow" */}}
								<div id="diff-rendered-{{$file.NameHash}}" class="file-body file-code {{if $.IsSplitStyle}}code-diff-split{{else}}code-diff-unified{{end}} tw-overflow-x-scroll">
									<table class="chroma tw-w-full">
										{{if $isImage}}
											{{template "repo/diff/image_diff" dict "file" . "root" $ "blobBase" $blobBase "blobHead" $blobHead "sniffedTypeBase" $sniffedTypeBase "sniffedTypeHead" $sniffedTypeHead}}
										{{else}}
											{{template "repo/diff/csv_diff" dict "file" . "root" $ "blobBase" $blobBase "blobHead" $blobHead "sniffedTypeBase" $sniffedTypeBase "sniffedTypeHead" $sniffedTypeHead}}
										{{end}}
									</table>
								</div>
							{{end}}
						</div>
					</div>
				{{end}}

				{{if .Diff.IsIncomplete}}
					<div class="diff-file-box diff-box file-content tw-mt-2" id="diff-incomplete">
						<h4 class="ui top attached header tw-font-normal tw-flex tw-items-center tw-justify-between">
							{{ctx.Locale.Tr "repo.diff.too_many_files"}}
							<a class="ui basic tiny button" id="diff-show-more-files" data-href="?skip-to={{.Diff.End}}&file-only=true">{{ctx.Locale.Tr "repo.diff.show_more"}}</a>
						</h4>
					</div>
				{{end}}
			</div>
		{{end}}
	</div>

	{{if and (not $.Repository.IsArchived) (not .DiffNotAvailable)}}
		<template id="issue-comment-editor-template">
			<form class="ui form comment">
				{{template "shared/combomarkdowneditor" (dict
					"CustomInit" true
					"MarkdownPreviewInRepo" $.Repository
					"MarkdownPreviewMode" "comment"
					"TextareaName" "content"
					"DropzoneParentContainer" ".ui.form"
				)}}
				{{if .IsAttachmentEnabled}}
					<div class="field">
						{{template "repo/upload" .}}
					</div>
				{{end}}
				<div class="text right edit buttons">
					<button class="ui cancel button">{{ctx.Locale.Tr "repo.issues.cancel"}}</button>
					<button class="ui primary button">{{ctx.Locale.Tr "repo.issues.save"}}</button>
				</div>
			</form>
		</template>
	{{end}}
	{{if (not .DiffNotAvailable)}}
		{{template "repo/issue/view_content/reference_issue_dialog" .}}
		{{template "shared/user/block_user_dialog" .}}
	{{end}}
</div>
