<div class="ui dropdown tiny basic button" data-tooltip-content="{{.locale.Tr "repo.pulls.select_commits"}}">
	{{svg "octicon-git-commit"}}
	<div class="menu commit-selector-menu">
		<a class="vertical item" href="{{$.Issue.Link}}/files?style={{if $.IsSplitStyle}}split{{else}}unified{{end}}&whitespace={{$.WhitespaceBehavior}}&show-outdated={{$.ShowOutdatedComments}}">
			<span class="description gt-ellipsis">
				{{.locale.Tr "repo.pulls.show_all_commits.description"}}
			</span>
			<span class="text gt-ellipsis">
				{{.locale.Tr "repo.pulls.show_all_commits"}}
			</span>
		</a>

		{{range .Commits}}
			<div class="divider"></div>
			<a class="vertical item" href="{{$.Issue.Link}}/files/{{.ID.String}}?style={{if $.IsSplitStyle}}split{{else}}unified{{end}}&whitespace={{$.WhitespaceBehavior}}&show-outdated={{$.ShowOutdatedComments}}">
				<span class="description gt-ellipsis">
					{{if .Committer}}
						{{.Committer.Name}}
						<span class="text right">{{TimeSince .Committer.When $.locale}}</span>
					{{else}}
						{{.Author.Name}}
						<span class="text right">{{TimeSince .Author.When $.locale}}</span>
					{{end}}
				</span>
				<div class="text">
					<div class="ui compact gt-ellipsis commit-list-summary">{{.Summary}}</div>
					<code class="ui right">{{ShortSha .ID.String}}</code>
				</div>
			</a>
		{{end}}
	</div>
</div>
