{{range .comments}}

{{$createdStr:= TimeSinceUnix .CreatedUnix ctx.Locale}}
<div class="comment" id="{{.HashTag}}">
	{{if .OriginalAuthor}}
		<span class="avatar"><img src="{{AppSubUrl}}/assets/img/avatar_default.png"></span>
	{{else}}
		{{template "shared/user/avatarlink" dict "user" .Poster}}
	{{end}}
	<div class="content comment-container">
		<div class="ui top attached header comment-header gt-df gt-ac gt-sb">
			<div class="comment-header-left gt-df gt-ac">
				{{if .OriginalAuthor}}
					<span class="text black gt-font-semibold gt-mr-2">
						{{svg (MigrationIcon $.root.Repository.GetOriginalURLHostname)}}
						{{.OriginalAuthor}}
					</span>
					<span class="text grey muted-links">
						{{ctx.Locale.Tr "repo.issues.commented_at" (.HashTag|Escape) $createdStr | Safe}}
					</span>
					<span class="text migrate">
						{{if $.root.Repository.OriginalURL}}
							({{ctx.Locale.Tr "repo.migrated_from" ($.root.Repository.OriginalURL | Escape) ($.root.Repository.GetOriginalURLHostname | Escape) | Safe}})
						{{end}}
					</span>
				{{else}}
					<span class="text grey muted-links">
						{{template "shared/user/namelink" .Poster}}
						{{ctx.Locale.Tr "repo.issues.commented_at" (.HashTag|Escape) $createdStr | Safe}}
					</span>
				{{end}}
			</div>
			<div class="comment-header-right actions gt-df gt-ac">
				{{if .Invalidated}}
					{{$referenceUrl := printf "%s#%s" $.root.Issue.Link .HashTag}}
					<a href="{{AppSubUrl}}{{$referenceUrl}}" class="ui label basic small" data-tooltip-content="{{ctx.Locale.Tr "repo.issues.review.outdated_description"}}">
						{{ctx.Locale.Tr "repo.issues.review.outdated"}}
					</a>
				{{end}}
				{{if and .Review}}
					{{if eq .Review.Type 0}}
						<div class="ui label basic small yellow pending-label" data-tooltip-content="{{ctx.Locale.Tr "repo.issues.review.pending.tooltip" (ctx.Locale.Tr "repo.diff.review") (ctx.Locale.Tr "repo.diff.review.approve") (ctx.Locale.Tr "repo.diff.review.comment") (ctx.Locale.Tr "repo.diff.review.reject")}}">
						{{ctx.Locale.Tr "repo.issues.review.pending"}}
						</div>
					{{else}}
						<div class="ui label basic small">
						{{ctx.Locale.Tr "repo.issues.review.review"}}
						</div>
					{{end}}
				{{end}}
				{{template "repo/issue/view_content/add_reaction" dict "ctxData" $.root "ActionURL" (printf "%s/comments/%d/reactions" $.root.RepoLink .ID)}}
				{{template "repo/issue/view_content/context_menu" dict "ctxData" $.root "item" . "delete" true "issue" false "diff" true "IsCommentPoster" (and $.root.IsSigned (eq $.root.SignedUserID .PosterID))}}
			</div>
		</div>
		<div class="ui attached segment comment-body">
			<div class="render-content markup" {{if or $.Permission.IsAdmin $.HasIssuesOrPullsWritePermission (and $.root.IsSigned (eq $.root.SignedUserID .PosterID))}}data-can-edit="true"{{end}}>
			{{if .RenderedContent}}
				{{.RenderedContent|Str2html}}
			{{else}}
				<span class="no-content">{{ctx.Locale.Tr "repo.issues.no_content"}}</span>
			{{end}}
			</div>
			<div id="issuecomment-{{.ID}}-raw" class="raw-content gt-hidden">{{.Content}}</div>
			<div class="edit-content-zone gt-hidden" data-update-url="{{$.root.RepoLink}}/comments/{{.ID}}" data-context="{{$.root.RepoLink}}"></div>
		</div>
		{{$reactions := .Reactions.GroupByType}}
		{{if $reactions}}
			{{template "repo/issue/view_content/reactions" dict "ctxData" $.root "ActionURL" (printf "%s/comments/%d/reactions" $.root.RepoLink .ID) "Reactions" $reactions}}
		{{end}}
	</div>
</div>
{{end}}
