{{range $i, $comment := .comments}}

{{ $createdStr:= TimeSinceUnix $comment.CreatedUnix $.root.Lang }}
{{if and ($comment.IsHidden) (not (eq $i 0))}}
	<div class="ui attached header resolved-placeholder df ac sb">
			<div class="ui grey text">
				{{if eq $comment.ResolveReason 1}}
					{{$.root.i18n.Tr "repo.issues.hide.hide_reason_resolved"}}
				{{else if eq $comment.ResolveReason 2}}
					{{$.root.i18n.Tr "repo.issues.hide.hide_reason_spam"}}
				{{else if eq $comment.ResolveReason 3}}
					{{$.root.i18n.Tr "repo.issues.hide.hide_reason_abuse"}}
				{{else if eq $comment.ResolveReason 4}}
					{{$.root.i18n.Tr "repo.issues.hide.hide_reason_offtopic"}}
				{{else if eq $comment.ResolveReason 5}}
					{{$.root.i18n.Tr "repo.issues.hide.hide_reason_outdated"}}
				{{else if eq $comment.ResolveReason 6}}
					{{$.root.i18n.Tr "repo.issues.hide.hide_reason_duplicate"}}
				{{end}}
			</div>
			<div>
				<button id="show-hidden-{{$comment.ID}}" data-comment="{{$comment.ID}}" class="{{if not $comment.IsHidden}}hide {{end}}ui tiny right labeled button show-hidden df ac">
					{{svg "octicon-unfold" 16 "mr-3"}}
					{{$.root.i18n.Tr "repo.issues.review.show_hidden"}}
				</button>
				<button id="hide-hidden-{{$comment.ID}}" data-comment="{{$comment.ID}}" class="{{if $comment.IsHidden}}hide {{end}}ui tiny right labeled button hide-hidden df ac">
					{{svg "octicon-fold" 16 "mr-3"}}
					{{$.root.i18n.Tr "repo.issues.review.hide_hidden"}}
				</button>
			</div>
	</div>
{{end}}
<div class="{{if and ($comment.IsHidden) (not (eq $i 0))}}hide resolved {{end}}comment" id="{{$comment.HashTag}}">
	{{if $comment.OriginalAuthor }}
		<span class="avatar"><img src="{{AppSubUrl}}/assets/img/avatar_default.png"></span>
	{{else}}
		<a class="avatar" {{if gt $comment.Poster.ID 0}}href="{{$comment.Poster.HomeLink}}"{{end}}>
			{{avatar $comment.Poster}}
		</a>
	{{end}}
	<div class="content comment-container">
		<div class="ui top attached header comment-header df ac sb">
			<div class="comment-header-left df ac">
				{{if $comment.OriginalAuthor }}
					<span class="text black mr-2">
						{{svg (MigrationIcon $.root.Repository.GetOriginalURLHostname)}}
						{{ $comment.OriginalAuthor }}
					</span>
					<span class="text grey">
						{{$.root.i18n.Tr "repo.issues.commented_at" (.HashTag|Escape) $createdStr | Safe}}
					</span>
					<span class="text migrate">
						{{if $.root.Repository.OriginalURL}}
							({{$.root.i18n.Tr "repo.migrated_from" ($.root.Repository.OriginalURL | Escape) ($.root.Repository.GetOriginalURLHostname | Escape) | Safe }})
						{{end}}
					</span>
				{{else}}
					<span class="text grey">
						<a {{if gt $comment.Poster.ID 0}}href="{{$comment.Poster.HomeLink}}"{{end}}>
							{{$comment.Poster.GetDisplayName}}
						</a>
						{{$.root.i18n.Tr "repo.issues.commented_at" (.HashTag|Escape) $createdStr | Safe}}
					</span>
				{{end}}
			</div>
			<div class="comment-header-right actions df ac">
				{{if and $comment.Review}}
					{{if eq $comment.Review.Type 0}}
						<div class="ui label basic small yellow">
						{{$.root.i18n.Tr "repo.issues.review.pending"}}
						</div>
					{{else}}
						<div class="ui label basic small">
						{{$.root.i18n.Tr "repo.issues.review.review"}}
						</div>
					{{end}}
				{{end}}
				{{template "repo/issue/view_content/add_reaction" Dict "ctx" $.root "ActionURL" (Printf "%s/comments/%d/reactions" $.root.RepoLink $comment.ID) }}
				{{template "repo/issue/view_content/context_menu" Dict "ctx" $.root "item" $comment "delete" true "hide" (not $comment.IsHidden) "unhide" $comment.IsHidden "issue" false "diff" true "IsCommentPoster" (and $.root.IsSigned (eq $.root.SignedUserID $comment.PosterID))}}
				</div>
				</div>
				<div class="ui attached segment hide-comment hide">
					<i class="ui right tiny icon hide-comment-close" tabindex="0">{{svg "octicon-x"}}</i>
					<strong>{{ $.root.i18n.Tr "repo.issues.hide.choose_reason_for_hiding"}}</strong>
					<div class="mt-2">{{ $.root.i18n.Tr "repo.issues.hide.reason_display_others"}}</div>
					<div class="mt-4">
						<div class="ui dropdown selection hide-reason" tabindex="0">
							<select name="hide_reason">
								<option value="1">{{ $.root.i18n.Tr "repo.issues.hide.resolved" }}</option>
								<option value="2">{{ $.root.i18n.Tr "repo.issues.hide.spam" }}</option>
								<option value="3">{{ $.root.i18n.Tr "repo.issues.hide.abuse" }}</option>
								<option value="4">{{ $.root.i18n.Tr "repo.issues.hide.off_topic" }}</option>
								<option value="5">{{ $.root.i18n.Tr "repo.issues.hide.outdated" }}</option>
								<option value="6">{{ $.root.i18n.Tr "repo.issues.hide.duplicate" }}</option>
							</select>{{svg "octicon-triangle-down" 14 "dropdown icon"}}
							<div class="default text">
								{{ $.root.i18n.Tr "repo.issues.hide.choose_reason"}}
							</div>
							<div class="menu transition hidden" tabindex="-1" style="display: block !important;">
								<div class="item" data-value="1">{{ $.root.i18n.Tr "repo.issues.hide.resolved" }}</div>
								<div class="item" data-value="2">{{ $.root.i18n.Tr "repo.issues.hide.spam" }}</div>
								<div class="item" data-value="3">{{ $.root.i18n.Tr "repo.issues.hide.abuse" }}</div>
								<div class="item" data-value="4">{{ $.root.i18n.Tr "repo.issues.hide.off_topic" }}</div>
								<div class="item" data-value="5">{{ $.root.i18n.Tr "repo.issues.hide.outdated" }}</div>
								<div class="item" data-value="6">{{ $.root.i18n.Tr "repo.issues.hide.duplicate" }}</div>
							</div>
						</div>
						<button class="ui green button hide-comment-submit" data-update-url="{{$.root.RepoLink}}/comments/{{$comment.ID}}/hide" data-action="Resolve" type="submit">
							{{ $.root.i18n.Tr "repo.issues.hide.hide_comment" }}
						</button>
			</div>
		</div>
		<div class="ui attached segment comment-body">
			<div class="render-content markup" {{if or $.Permission.IsAdmin $.HasIssuesOrPullsWritePermission (and $.root.IsSigned (eq $.root.SignedUserID $comment.PosterID))}}data-can-edit="true"{{end}}>
			{{if $comment.RenderedContent}}
				{{$comment.RenderedContent|Str2html}}
			{{else}}
				<span class="no-content">{{$.root.i18n.Tr "repo.issues.no_content"}}</span>
			{{end}}
			</div>
			<div id="comment-{{$comment.ID}}" class="raw-content hide">{{$comment.Content}}</div>
			<div class="edit-content-zone hide" data-write="issuecomment-{{$comment.ID}}-write" data-preview="issuecomment-{{$comment.ID}}-preview" data-update-url="{{$.root.RepoLink}}/comments/{{$comment.ID}}" data-context="{{$.root.RepoLink}}"></div>
		</div>
		{{$reactions := $comment.Reactions.GroupByType}}
		{{if $reactions}}
			<div class="ui attached segment reactions">
			{{template "repo/issue/view_content/reactions" Dict "ctx" $.root "ActionURL" (Printf "%s/comments/%d/reactions" $.root.RepoLink $comment.ID) "Reactions" $reactions}}
			</div>
		{{end}}
	</div>
</div>
{{end}}
