{{$root0 := or $.root $}}
{{if and ctx.RootData.SignedUserID (not ctx.RootData.Repository.IsArchived)}}
	<form class="ui form {{if $.hidden}}tw-hidden comment-form{{end}}" action="{{$root0.RepoLink}}/commit/{{$root0.CommitID}}/comment" method="post">
		{{ctx.CsrfTokenHtml}}
		<input type="hidden" name="side" value="">
		<input type="hidden" name="line" value="">
		<input type="hidden" name="path" value="">
		<div class="field">
		{{template "shared/combomarkdowneditor" (dict
			"CustomInit" true
			"MarkdownEditorContext" (ctx.MiscUtils.MarkdownEditorComment ctx.RootData.Repository)
			"TextareaName" "content"
			"TextareaPlaceholder" (ctx.Locale.Tr "repo.diff.comment.placeholder")
			"DropzoneParentContainer" "form"
			"DisableAutosize" "true"
		)}}
		</div>
		{{if $root0.IsAttachmentEnabled}}
			<div class="field">
				{{template "repo/upload" $root0}}
			</div>
		{{end}}

		<div class="field footer">
			<div class="flex-text-block tw-justify-end">
				<button type="submit" class="ui submit primary tiny button btn-add-comment">{{ctx.Locale.Tr "repo.diff.comment.add_line_comment"}}</button>
				<button type="button" class="ui submit tiny basic button btn-cancel cancel-code-comment">{{ctx.Locale.Tr "cancel"}}</button>
			</div>
		</div>
	</form>
{{end}}
