{{if and $.root.SignedUserID (not $.Repository.IsArchived)}}
	<form class="ui form {{if $.hidden}}gt-hidden comment-form{{end}}" action="{{$.root.Issue.Link}}/files/reviews/comments" method="post">
	{{$.root.CsrfTokenHtml}}
		<input type="hidden" name="origin" value="{{if $.root.PageIsPullFiles}}diff{{else}}timeline{{end}}">
		<input type="hidden" name="latest_commit_id" value="{{$.root.AfterCommitID}}">
		<input type="hidden" name="side" value="{{if $.Side}}{{$.Side}}{{end}}">
		<input type="hidden" name="line" value="{{if $.Line}}{{$.Line}}{{end}}">
		<input type="hidden" name="path" value="{{if $.File}}{{$.File}}{{end}}">
		<input type="hidden" name="diff_start_cid">
		<input type="hidden" name="diff_end_cid">
		<input type="hidden" name="diff_base_cid">

		{{template "shared/combomarkdowneditor" (dict
			"locale" $.root.locale
			"MarkdownPreviewUrl" (print $.root.Repository.Link "/markup")
			"MarkdownPreviewContext" $.root.RepoLink
			"TextareaName" "content"
			"TextareaPlaceholder" ($.locale.Tr "repo.diff.comment.placeholder")
			"DropzoneParentContainer" "form"
		)}}

		<div class="field footer gt-mx-3">
			<span class="markup-info">{{svg "octicon-markup"}} {{$.root.locale.Tr "repo.diff.comment.markdown_info"}}</span>
			<div class="ui right">
				{{if $.reply}}
					<button class="ui submit green tiny button btn-reply" type="submit">{{$.root.locale.Tr "repo.diff.comment.reply"}}</button>
					<input type="hidden" name="reply" value="{{$.reply}}">
					<input type="hidden" name="single_review" value="true">
				{{else}}
					{{if $.root.CurrentReview}}
						<button name="pending_review" type="submit" class="ui submit green tiny button btn-add-comment">{{$.root.locale.Tr "repo.diff.comment.add_review_comment"}}</button>
					{{else}}
						<button name="pending_review" type="submit" class="ui submit green tiny button btn-start-review">{{$.root.locale.Tr "repo.diff.comment.start_review"}}</button>
						<button name="single_review" value="true" type="submit" class="ui submit tiny basic button btn-add-single">{{$.root.locale.Tr "repo.diff.comment.add_single_comment"}}</button>
					{{end}}
				{{end}}
				{{if or (not $.HasComments) $.hidden}}
					<button type="button" class="ui submit tiny basic button btn-cancel cancel-code-comment">{{$.root.locale.Tr "cancel"}}</button>
				{{end}}
			</div>
		</div>
	</form>
{{end}}
