{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content repository diff {{if .PageIsComparePull}}compare pull{{end}}">
	{{template "repo/header" .}}
	{{$showDiffBox := false}}
	<div class="ui container fluid padded">
	<h2 class="ui header">
		{{if and $.PageIsComparePull $.IsSigned (not .Repository.IsArchived)}}
			{{ctx.Locale.Tr "repo.pulls.compare_changes"}}
			<div class="sub header">{{ctx.Locale.Tr "repo.pulls.compare_changes_desc"}}</div>
		{{else}}
			{{ctx.Locale.Tr "action.compare_commits_general"}}
		{{end}}
	</h2>
	{{if .Flash.WarningMsg}}
		{{/*
			There's already an importing of alert.tmpl in new_form.tmpl,
			but only the negative message will be displayed within forms for some reasons, see semantic.css:10659.
			To avoid repeated negative messages, the importing here if for .Flash.WarningMsg only.
		*/}}
		{{template "base/alert" .}}
	{{end}}
	<div class="ui segment choose branch">
		{{if not $.CompareMode.IsAcrossService}}
			<a href="{{if $.HeadInfoNotExist}}#{{else}}{{$.HeadRepo.Link}}/compare/{{PathEscapeSegments $.HeadBranch}}{{$.CompareSeparator}}{{if not $.PullRequestCtx.SameRepo}}{{PathEscape $.BaseName}}/{{PathEscape $.Repository.Name}}:{{end}}{{PathEscapeSegments $.BaseBranch}}{{end}}" title="{{.locale.Tr "repo.pulls.switch_head_and_base"}}">{{svg "octicon-git-compare"}}</a>
		{{end}}

		<div class="ui floating dropdown">
			<div class="ui basic small button">
				{{.locale.Tr $.CompareMode.ToLocal}}
				{{svg "octicon-triangle-down" 14 "dropdown icon"}}
			</div>
			<div class="menu">
				<a class="item {{if $.CompareMode.IsInSameRepo}}selected{{end}}" href="{{$.RepoLink}}/compare/{{PathEscapeSegments $.BaseBranch}}{{$.CompareSeparator}}{{if $.PullRequestCtx.SameRepo}}{{PathEscapeSegments $.HeadBranch}}{{else}}{{PathEscapeSegments $.BaseBranch}}{{end}}">{{.locale.Tr "repo.compare.mode.in_same_repo"}}</a>
				<a class="item {{if $.CompareMode.IsAcrossRepos}}selected{{end}}" href="{{$.RepoLink}}/compare/{{PathEscapeSegments $.BaseBranch}}{{$.CompareSeparator}}{{PathEscape $.HeadUserName}}/{{PathEscape $.HeadRepoName}}:{{PathEscapeSegments $.HeadBranch}}">{{.locale.Tr "repo.compare.mode.across_repos"}}</a>
				<a class="item {{if $.CompareMode.IsAcrossService}}selected{{end}}" href="{{$.RepoLink}}/compare/{{PathEscapeSegments $.BaseBranch}}{{$.CompareSeparator}}{{$.HeadBranch}}?head_repo_url={{QueryEscape $.ExternalRepoURL}}">{{.locale.Tr "repo.compare.mode.across_service"}}</a>
			</div>
		</div>

		{{if $.CompareMode.IsAcrossRepos}}
			<div class="ui floating filter dropdown repo-search-box">
				<div class="ui basic small button">
					<span class="text">{{if $.PageIsComparePull}}{{.locale.Tr "repo.pulls.compare_base"}}{{else}}{{.locale.Tr "repo.compare.compare_base"}}{{end}}: {{$.BaseRepo.OwnerName}}/{{$.BaseRepo.Name}}</span>
					{{svg "octicon-triangle-down" 14 "dropdown icon"}}
				</div>
				<div class="menu">
					<div class="ui icon search input">
						<i class="icon gt-df gt-ac gt-jc gt-m-0">{{svg "octicon-filter" 16}}</i>
						<input name="search" placeholder="{{.locale.Tr "repo.filter_repo"}}...">
					</div>

					<div class="scrolling menu reference-list-menu" data-url-tmpl="{REPO_LINK}/compare/{{PathEscapeSegments $.BaseBranch}}{{$.CompareSeparator}}{{PathEscape $.HeadUserName}}/{{PathEscape $.HeadRepoName}}:{{PathEscapeSegments $.HeadBranch}}">
						{{range .CompareRepos}}
							<div class="{{if eq $.BaseRepo.ID .ID}}selected{{end}} item" data-id="{{.ID}}" data-url="{{.Link}}/compare/{{PathEscapeSegments $.BaseBranch}}{{$.CompareSeparator}}{{PathEscape $.HeadUserName}}/{{PathEscape $.HeadRepoName}}:{{PathEscapeSegments $.HeadBranch}}">{{.OwnerName}}/{{.Name}}</div>
						{{end}}
					</div>
				</div>
			</div>
		{{end}}

		<div class="ui floating filter dropdown branch-search-box" data-no-results="{{.locale.Tr "repo.pulls.no_results"}}">
			<div class="ui basic small button">
				<span class="text">{{if not $.CompareMode.IsAcrossRepos}}{{if $.PageIsComparePull}}{{.locale.Tr "repo.pulls.compare_base"}}{{else}}{{.locale.Tr "repo.compare.compare_base"}}{{end}}: {{end}}{{$.BaseBranch}}</span>
				{{svg "octicon-triangle-down" 14 "dropdown icon"}}
			</div>
			<div class="menu">
				<div class="ui icon search input">
					<i class="icon">{{svg "octicon-filter" 16}}</i>
					<input name="search" placeholder="{{ctx.Locale.Tr "repo.filter_branch_and_tag"}}...">
				</div>
				<div class="header">
					<div class="ui grid">
						<div class="two column row">
							<a class="reference column" href="#" data-target=".base-branch-list">
								<span class="text black">
									{{svg "octicon-git-branch" 16 "gt-mr-2"}}{{ctx.Locale.Tr "repo.branches"}}
								</span>
							</a>
							<a class="reference column" href="#" data-target=".base-tag-list">
								<span class="text black">
									{{svg "octicon-tag" 16 "gt-mr-2"}}{{ctx.Locale.Tr "repo.tags"}}
								</span>
							</a>
						</div>
					</div>
				</div>
				<div class="scrolling menu reference-list-menu base-branch-list">
					{{range .Branches}}
						<div class="item {{if eq $.BaseBranch .}}selected{{end}}" data-url="{{$.RepoLink}}/compare/{{PathEscapeSegments .}}{{$.CompareSeparator}}{{if not $.PullRequestCtx.SameRepo}}{{PathEscape $.HeadUserName}}/{{PathEscape $.HeadRepoName}}:{{end}}{{PathEscapeSegments $.HeadBranch}}">{{.}}</div>
					{{end}}
				</div>
				<div class="scrolling menu reference-list-menu base-tag-list gt-hidden">
					{{range .Tags}}
						<div class="item {{if eq $.BaseBranch .}}selected{{end}}" data-url="{{$.RepoLink}}/compare/{{PathEscapeSegments .}}{{$.CompareSeparator}}{{if not $.PullRequestCtx.SameRepo}}{{PathEscape $.HeadUserName}}/{{PathEscape $.HeadRepoName}}:{{end}}{{PathEscapeSegments $.HeadBranch}}">{{.}}</div>
					{{end}}
				</div>
			</div>
		</div>

		<div class="ui floating compare-switch-btn">
			{{svg "octicon-arrow-left"}}
			<a href="{{.RepoLink}}/compare/{{PathEscapeSegments .BaseBranch}}{{.OtherCompareSeparator}}{{if not $.PullRequestCtx.SameRepo}}{{PathEscape $.HeadUserName}}/{{PathEscape $.HeadRepoName}}:{{end}}{{PathEscapeSegments $.HeadBranch}}" title="{{.locale.Tr "repo.pulls.switch_comparison_type"}}">{{.CompareSeparator}}</a>
		</div>

		{{if $.CompareMode.IsAcrossService}}
			<div class="ui action tiny input" id="clone-panel">
				<button class="ui small compact button disabled">
					{{if $.PageIsComparePull}}{{.locale.Tr "repo.pulls.compare_compare"}}{{else}}{{.locale.Tr "repo.compare.compare_head"}}{{end}}:
				</button>
				<input id="ext_repo_url" size="40" class="js-clone-url gt-br-0 compare-across-server-input" value="{{$.ExternalRepoURL}}">
			</div>
		{{end}}

		{{if $.CompareMode.IsAcrossRepos}}
			<div class="ui floating filter dropdown repo-search-box">
				<div class="ui basic small button {{if .HeadInfoNotExist}}yellow{{end}}">
					<span class="text">{{if $.PageIsComparePull}}{{.locale.Tr "repo.pulls.compare_compare"}}{{else}}{{.locale.Tr "repo.compare.compare_head"}}{{end}}: {{$.HeadUserName}}/{{$.HeadRepoName}}</span>
					{{svg "octicon-triangle-down" 14 "dropdown icon"}}
				</div>
				<div class="menu">
					<div class="ui icon search input">
						<i class="icon gt-df gt-ac gt-jc gt-m-0">{{svg "octicon-filter" 16}}</i>
						<input name="search" placeholder="{{.locale.Tr "repo.filter_repo"}}...">
					</div>

					<div class="scrolling menu reference-list-menu" data-url-tmpl="{{$.RepoLink}}/compare/{{PathEscapeSegments $.BaseBranch}}{{$.CompareSeparator}}{REOP_FULL_NAME}:{{PathEscapeSegments $.HeadBranch}}">
						{{range .CompareRepos}}
							<div class="{{if and ($.HeadRepo) (eq $.HeadRepo.ID .ID)}}selected{{end}} item" data-id="{{.ID}}" data-url="{{$.RepoLink}}/compare/{{PathEscapeSegments $.BaseBranch}}{{$.CompareSeparator}}{{PathEscape .OwnerName}}/{{PathEscape .Name}}:{{PathEscapeSegments $.HeadBranch}}">{{.OwnerName}}/{{.Name}}</div>
						{{end}}
					</div>
				</div>
			</div>
		{{end}}

		<div class="ui floating filter dropdown branch-search-box">
			<div class="ui basic small button">
				<span class="text">{{if $.CompareMode.IsInSameRepo}}{{if $.PageIsComparePull}}{{.locale.Tr "repo.pulls.compare_compare"}}{{else}}{{.locale.Tr "repo.compare.compare_head"}}{{end}}: {{end}}{{$.HeadBranch}}</span>
				{{svg "octicon-triangle-down" 14 "dropdown icon"}}
			</div>
			<div class="menu">
				<div class="ui icon search input">
					<i class="icon">{{svg "octicon-filter" 16}}</i>
					<input name="search" placeholder="{{ctx.Locale.Tr "repo.filter_branch_and_tag"}}...">
				</div>
				<div class="header">
					<div class="ui grid">
						<div class="two column row">
							<a class="reference column" href="#" data-target=".head-branch-list">
								<span class="text black">
									{{svg "octicon-git-branch" 16 "gt-mr-2"}}{{ctx.Locale.Tr "repo.branches"}}
								</span>
							</a>
							<a class="reference column" href="#" data-target=".head-tag-list">
								<span class="text black">
									{{svg "octicon-tag" 16 "gt-mr-2"}}{{ctx.Locale.Tr "repo.tags"}}
								</span>
							</a>
						</div>
					</div>
				</div>
				<div class="scrolling menu reference-list-menu head-branch-list">
					{{range .HeadBranches}}
						<div class="{{if eq $.HeadBranch .}}selected{{end}} item" data-url="{{$.RepoLink}}/compare/{{PathEscapeSegments $.BaseBranch}}{{$.CompareSeparator}}{{if not $.CompareMode.IsAcrossService}}{{if not $.PullRequestCtx.SameRepo}}{{PathEscape $.HeadUserName}}/{{PathEscape $.HeadRepoName}}:{{end}}{{end}}{{PathEscapeSegments .}}{{if $.CompareMode.IsAcrossService}}?head_repo_url={{QueryEscape $.ExternalRepoURL}}{{end}}">{{.}}</div>
					{{end}}
				</div>
				<div class="scrolling menu reference-list-menu head-tag-list gt-hidden">
					{{range .HeadTags}}
						<div class="{{if eq $.HeadBranch .}}selected{{end}} item" data-url="{{$.RepoLink}}/compare/{{PathEscapeSegments $.BaseBranch}}{{$.CompareSeparator}}{{if not $.CompareMode.IsAcrossService}}{{if not $.PullRequestCtx.SameRepo}}{{PathEscape $.HeadUserName}}/{{PathEscape $.HeadRepoName}}:{{end}}{{end}}{{PathEscapeSegments .}}{{if $.CompareMode.IsAcrossService}}?head_repo_url={{QueryEscape $.ExternalRepoURL}}{{end}}">{{.}}</div>
					{{end}}
				</div>
			</div>
		</div>

		{{if $.CompareMode.IsAcrossService}}
			<div class="ui action tiny input" id="clone-panel">
				<button class="ui basic small compact button compare-across-server-btn" data-compare-url="{{$.RepoLink}}/compare/{{PathEscapeSegments $.BaseBranch}}{{$.CompareSeparator}}{{$.HeadBranch}}?head_repo_url=">
					{{.locale.Tr "repo.compare.button_title"}}
				</button>
			</div>
		{{end}}
	</div>

	{{if .HeadInfoNotExist}}
		<div class="ui segment">{{.locale.Tr "repo.compare.head_info_not_exist"}}</div>
	{{else if .CompareRefsNotFound}}
		<div class="ui segment">{{.locale.Tr "repo.compare.refs_not_exist"}}</div>
	{{else if .IsNothingToCompare}}
		{{if and $.IsSigned $.AllowEmptyPr (not .Repository.IsArchived) (not $.CompareMode.IsAcrossService)}}
			<div class="ui segment">{{.locale.Tr "repo.pulls.nothing_to_compare_and_allow_empty_pr"}}</div>
			<div class="ui info message show-form-container {{if .Flash}}gt-hidden{{end}}">
				<button class="ui button primary show-form">{{ctx.Locale.Tr "repo.pulls.new"}}</button>
			</div>
			<div class="pullrequest-form {{if not .Flash}}gt-hidden{{end}}">
				{{template "repo/issue/new_form" .}}
			</div>
		{{else}}
			<div class="ui segment">{{ctx.Locale.Tr "repo.pulls.nothing_to_compare"}}</div>
		{{end}}
	{{else if and .PageIsComparePull (gt .CommitCount 0)}}
		{{if .HasPullRequest}}
			<div class="ui segment grid title">
				<div class="twelve wide column issue-title">
					{{ctx.Locale.Tr "repo.pulls.has_pull_request" (print (Escape $.RepoLink) "/pulls/" .PullRequest.Issue.Index) (Escape $.RepoRelPath) .PullRequest.Index | Safe}}
					<h1>
						<span id="issue-title">{{RenderIssueTitle $.Context .PullRequest.Issue.Title $.RepoLink ($.Repository.ComposeMetas ctx)}}</span>
						<span class="index">#{{.PullRequest.Issue.Index}}</span>
					</h1>
				</div>
				<div class="four wide column middle aligned text right">
				{{- if .PullRequest.HasMerged -}}
				<a href="{{Escape $.RepoLink}}/pulls/{{.PullRequest.Issue.Index}}" class="ui button purple show-form">{{svg "octicon-git-merge" 16}} {{ctx.Locale.Tr "repo.pulls.view"}}</a>
				{{else if .Issue.IsClosed}}
				<a href="{{Escape $.RepoLink}}/pulls/{{.PullRequest.Issue.Index}}" class="ui button red show-form">{{svg "octicon-issue-closed" 16}} {{.locale.Tr "repo.pulls.view"}}</a>
				{{else if not $.CompareMode.IsAcrossService}}
				<a href="{{Escape $.RepoLink}}/pulls/{{.PullRequest.Issue.Index}}" class="ui button green show-form">{{svg "octicon-git-pull-request" 16}} {{.locale.Tr "repo.pulls.view"}}</a>
				{{end}}
				</div>
			</div>
		{{else}}
			{{if and $.IsSigned (not .Repository.IsArchived) (not $.CompareMode.IsAcrossService)}}
				<div class="ui info message show-form-container {{if .Flash}}gt-hidden{{end}}">
					<button class="ui button primary show-form">{{ctx.Locale.Tr "repo.pulls.new"}}</button>
				</div>
			{{else if .Repository.IsArchived}}
				<div class="ui warning message gt-text-center">
					{{if .Repository.ArchivedUnix.IsZero}}
						{{ctx.Locale.Tr "repo.archive.title"}}
					{{else}}
						{{ctx.Locale.Tr "repo.archive.title_date" (DateTime "long" .Repository.ArchivedUnix) | Safe}}
					{{end}}
				</div>
			{{end}}
			{{if and $.IsSigned (not $.CompareMode.IsAcrossService)}}
				<div class="pullrequest-form {{if not .Flash}}gt-hidden{{end}}">
					{{template "repo/issue/new_form" .}}
				</div>
			{{end}}
			{{$showDiffBox = true}}
		{{end}}
	{{else}}
		{{$showDiffBox = true}}
	{{end}}
	</div>

	{{if $showDiffBox}}
	<div class="ui container fluid padded">
		{{template "repo/commits_table" .}}
		{{template "repo/diff/box" .}}
	</div>
	{{end}}
</div>
{{template "base/footer" .}}
