<code {{if .diff.EscapeStatus.Escaped}}{{/*
	*/}}class="code-inner has-escaped" {{/*
	*/}}title="{{template "repo/diff/escape_title" .}}"{{/*
	*/}}{{else}}{{/*
	*/}}class="code-inner"{{/*
	*/}}{{end}}>{{.diff.Content}}</code>
