{{template "base/head" .}}
<div class="page-content repository projects edit-project new milestone">
	{{template "repo/header" .}}
	<div class="ui container">
		<div class="navbar">
			{{template "repo/issue/navbar" .}}
			{{if and .CanWriteBoards .PageIsEditBoard}}
			<div class="ui right floated secondary menu">
				<a class="ui green button" href="{{$.RepoLink}}/boards/new">{{.locale.Tr "repo.milestones.new"}}</a>
			</div>
			{{end}}
		</div>
		<div class="ui divider"></div>
		<h2 class="ui dividing header">
			{{if .PageIsEditBoards}}
			{{.locale.Tr "repo.boards.edit"}}
			<div class="sub header">{{.locale.Tr "repo.boards.edit_subheader"}}</div>
			{{else}}
				{{.locale.Tr "repo.boards.new"}}
				<div class="sub header">{{.locale.Tr "repo.boards.new_subheader"}}</div>
				{{end}}
		</h2>
		{{template "base/alert" .}}
		<form class="ui form grid" action="{{.Link}}" method="post">
			{{.CsrfTokenHtml}}
			<div class="eleven wide column">
				<div class="field {{if .Err_Title}}error{{end}}">
					<label>{{.locale.Tr "repo.boards.title"}}</label>
					<input name="title" placeholder="{{.locale.Tr "repo.boards.title"}}" value="{{.title}}" autofocus required>
				</div>
				<div class="field">
					<label>{{.locale.Tr "repo.boards.description"}}</label>
					<textarea name="content" placeholder="{{.locale.Tr "repo.boards.description_placeholder"}}">{{.content}}</textarea>
				</div>

				{{if not .PageIsEditBoards}}
					<label>{{.locale.Tr "repo.boards.template.desc"}}</label>
					<div class="ui selection dropdown">
						<input type="hidden" name="board_type" value="{{.type}}">
						<div class="default text">{{.locale.Tr "repo.boards.template.desc_helper"}}</div>
						<div class="menu">
							{{range $element := .BoardTypes}}
								<div class="item" data-id="{{$element.BoardType}}" data-value="{{$element.BoardType}}">{{$.locale.Tr $element.Translation}}</div>
							{{end}}
						</div>
					</div>
				{{end}}
			</div>
			<div class="ui container">
				<div class="ui divider"></div>
				<div class="ui left">
					{{if .PageIsEditBoards}}
					<a class="ui primary basic button" href="{{.RepoLink}}/boards">
						{{.locale.Tr "repo.milestones.cancel"}}
					</a>
					<button class="ui green button">
						{{.locale.Tr "repo.boards.modify"}}
					</button>
					{{else}}
						<button class="ui green button">
							{{.locale.Tr "repo.boards.create"}}
						</button>
					{{end}}
				</div>
			</div>

		</form>
	</div>
</div>
{{template "base/footer" .}}
