{{$buttonText := ctx.Locale.Tr (Iif $.IsStaringRepo "repo.unstar" "repo.star")}}
<a role="button" class="ui compact small basic button" aria-label="{{$buttonText}}"
	{{if $.IsSigned}}
		data-fetch-method="post"
		data-fetch-url="{{$.RepoLink}}/action/{{Iif $.IsStaringRepo "unstar" "star"}}"
	{{else}}
		href="{{AppSubUrl}}/user/login"
		data-tooltip-content="{{ctx.Locale.Tr "repo.star_guest_user"}}"
	{{end}}
>
	{{svg (Iif $.IsStaringRepo "octicon-star-fill" "octicon-star")}}
	<span class="not-mobile" aria-hidden="true">{{$buttonText}}</span>
	<span class="ui small label">{{CountFmt .Repository.NumStars}}</span>
</a>
