<div class="ui labeled button" {{if not $.IsSigned}}data-tooltip-content="{{ctx.Locale.Tr "repo.watch_guest_user"}}"{{end}}>
	{{$buttonText := ctx.Locale.Tr "repo.watch"}}
	{{if $.IsWatchingRepo}}{{$buttonText = ctx.Locale.Tr "repo.unwatch"}}{{end}}
	{{if $.IsSigned}}
		<button type="button" class="ui compact small basic button" aria-label="{{$buttonText}}"
			data-fetch-method="post"
			data-fetch-url="{{$.RepoLink}}/action/{{if $.IsWatchingRepo}}unwatch{{else}}watch{{end}}"
			data-fetch-sync="$closest(.ui.labeled.button)"
		>
			{{svg "octicon-eye"}}
			<span class="not-mobile" aria-hidden="true">{{$buttonText}}</span>
		</button>
	{{else}}
		<a class="ui compact small basic button" aria-label="{{$buttonText}}" href="{{AppSubUrl}}/user/login?redirect_to={{$.Link | QueryEscape}}">
			{{svg "octicon-eye"}}
			<span class="not-mobile" aria-hidden="true">{{$buttonText}}</span>
		</a>
	{{end}}
	<a class="ui basic label" href="{{$.RepoLink}}/watchers">
		{{CountFmt .Repository.NumWatches}}
	</a>
</div>
