{{template "user/settings/layout_head" (dict "ctxData" . "pageClass" "user settings actions")}}
	<div class="user-setting-content">
	{{if eq .PageType "secrets"}}
		{{template "shared/secrets/add_list" .}}
	{{else if eq .PageType "runners"}}
		{{template "shared/actions/runner_list" .}}
	{{end}}
	</div>

{{template "user/settings/layout_footer" .}}
