{{template "base/head" .}}
<div class="page-content user settings applications">
	{{template "user/settings/navbar" .}}
	<div class="ui container">
		{{template "base/alert" .}}
		<h4 class="ui top attached header">
			{{.locale.Tr "settings.manage_access_token"}}
		</h4>
		<div class="ui attached segment">
			<div class="ui key list">
				<div class="item">
					{{.locale.Tr "settings.tokens_desc"}}
				</div>
				{{range .Tokens}}
					<div class="item">
						<div class="right floated content">
								<button class="ui red tiny button delete-button" data-modal-id="delete-token" data-url="{{$.Link}}/delete" data-id="{{.ID}}">
									{{svg "octicon-trash" 16 "mr-2"}}
									{{$.locale.Tr "settings.delete_token"}}
								</button>
						</div>
						<i class="icon tooltip{{if .HasRecentActivity}} green{{end}}" {{if .HasRecentActivity}}data-content="{{$.locale.Tr "settings.token_state_desc"}}"{{end}}>{{svg "fontawesome-send" 36}}</i>
						<div class="content">
							<strong>{{.Name}}</strong>
							<div class="activity meta">
								<i>{{$.locale.Tr "settings.add_on"}} <span><time data-format="short-date" datetime="{{.CreatedUnix.FormatLong}}">{{.CreatedUnix.FormatShort}}</time></span> — {{svg "octicon-info"}} {{if .HasUsed}}{{$.locale.Tr "settings.last_used"}} <span {{if .HasRecentActivity}}class="green"{{end}}><time data-format="short-date" datetime="{{.UpdatedUnix.FormatLong}}">{{.UpdatedUnix.FormatShort}}</time></span>{{else}}{{$.locale.Tr "settings.no_activity"}}{{end}}</i>
							</div>
						</div>
					</div>
				{{end}}
			</div>
		</div>
		<div class="ui attached bottom segment">
			<h5 class="ui top header">
				{{.locale.Tr "settings.generate_new_token"}}
			</h5>
			<p>{{.locale.Tr "settings.new_token_desc"}}</p>
			<form class="ui form ignore-dirty" action="{{.Link}}" method="post">
				{{.CsrfTokenHtml}}
				<div class="field {{if .Err_Name}}error{{end}}">
					<label for="name">{{.locale.Tr "settings.token_name"}}</label>
					<input id="name" name="name" value="{{.name}}" autofocus required>
				</div>
				<button class="ui green button">
					{{.locale.Tr "settings.generate_token"}}
				</button>
			</form>
		</div>

		{{if .EnableOAuth2}}
			{{template "user/settings/grants_oauth2" .}}
			{{template "user/settings/applications_oauth2" .}}
		{{end}}
	</div>
</div>

<div class="ui small basic delete modal" id="delete-token">
	<div class="ui icon header">
		{{svg "octicon-trash"}}
		{{.locale.Tr "settings.access_token_deletion"}}
	</div>
	<div class="content">
		<p>{{.locale.Tr "settings.access_token_deletion_desc"}}</p>
	</div>
	<div class="actions">
		<div class="ui cancel button">
			<i class="remove icon"></i>
			{{.locale.Tr "settings.access_token_deletion_cancel_action"}}
		</div>
		<div class="ui red basic inverted ok button">
			<i class="checkmark icon"></i>
			{{.locale.Tr "settings.access_token_deletion_confirm_action"}}
		</div>
	</div>
</div>


{{template "base/footer" .}}
