{{template "user/settings/layout_head" (dict "pageClass" "user settings applications")}}
	<div class="user-setting-content">

		{{template "user/settings/applications_oauth2_edit_form" .}}
	</div>
{{template "user/settings/layout_footer" .}}
