{{template "user/settings/layout_head" (dict "ctxData" . "pageClass" "user settings blocked_users")}}
	<div class="user-setting-content">
		{{template "shared/user/blocked_users" .}}
	</div>
{{template "user/settings/layout_footer" .}}
