{{template "base/head" .}}
<div class="page-content user settings webhooks">
	{{template "user/settings/navbar" .}}
	<div class="ui container">
		{{template "repo/settings/webhook/list" .}}
	</div>
</div>
{{template "base/footer" .}}
