{{template "base/head" .}}
<div class="user settings sshkeys">
	{{template "user/settings/navbar" .}}
	<div class="ui container">
		{{template "base/alert" .}}
		{{template "user/settings/keys_ssh" .}}
		<br>
		{{template "user/settings/keys_gpg" .}}
	</div>
</div>

{{template "base/footer" .}}
