{{if .AllowPrincipals}}
	<h4 class="ui top attached header">
		{{.locale.Tr "settings.manage_ssh_principals"}}
		<div class="ui right">
		{{if not .DisableSSH}}
			<div class="ui primary tiny show-panel button" data-panel="#add-ssh-principal-panel">{{.locale.Tr "settings.add_new_principal"}}</div>
		{{else}}
			<div class="ui primary tiny button disabled">{{.locale.Tr "settings.ssh_disabled"}}</div>
		{{end}}
		</div>
	</h4>
	<div class="ui attached segment">
		<div class="ui key list">
			<div class="item">
				{{.locale.Tr "settings.principal_desc"}}
			</div>
			{{range .Principals}}
				<div class="item">
					<div class="right floated content">
						<button class="ui red tiny button delete-button" data-modal-id="delete-principal" data-url="{{$.Link}}/delete?type=principal" data-id="{{.ID}}">
							{{$.locale.Tr "settings.delete_key"}}
						</button>
					</div>
					<i class="big send icon {{if .HasRecentActivity}}green{{end}}" {{if .HasRecentActivity}}data-content="{{$.locale.Tr "settings.principal_state_desc"}}" data-variation="inverted tiny"{{end}}></i>
					<div class="content">
						<strong>{{.Name}}</strong>
						<div class="activity meta">
							<i>{{$.locale.Tr "settings.add_on"}} <span>{{.CreatedUnix.FormatShort}}</span> —  {{svg "octicon-info" 16}} {{if .HasUsed}}{{$.locale.Tr "settings.last_used"}} <span {{if .HasRecentActivity}}class="green"{{end}}>{{.UpdatedUnix.FormatShort}}</span>{{else}}{{$.locale.Tr "settings.no_activity"}}{{end}}</i>
						</div>
					</div>
				</div>
			{{end}}
		</div>
	</div>
	<br>

	<div {{if not .HasPrincipalError}}class="hide"{{end}} id="add-ssh-principal-panel">
		<h4 class="ui top attached header">
			{{.locale.Tr "settings.add_new_principal"}}
		</h4>
		<div class="ui attached segment">
			<form class="ui form" action="{{.Link}}" method="post">
				{{.CsrfTokenHtml}}
				<div class="field {{if .Err_Content}}error{{end}}">
					<label for="content">{{.locale.Tr "settings.principal_content"}}</label>
					<input id="ssh-principal-content" name="content" value="{{.content}}" autofocus required>
				</div>
				<input name="title" type="hidden" value="principal">
				<input name="type" type="hidden" value="principal">
				<button class="ui green button">
					{{.locale.Tr "settings.add_new_principal"}}
				</button>
			</form>
		</div>
	</div>

	<div class="ui small basic delete modal" id="delete-principal">
		<div class="ui icon header">
			{{svg "octicon-trash"}}
			{{.locale.Tr "settings.ssh_principal_deletion"}}
		</div>
		<div class="content">
			<p>{{.locale.Tr "settings.ssh_principal_deletion_desc"}}</p>
		</div>
		{{template "base/delete_modal_actions" .}}
	</div>
{{end}}
