<h4 class="ui top attached header">
	{{ctx.Locale.Tr "settings.manage_gpg_keys"}}
	<div class="ui right">
		<button class="ui primary tiny show-panel toggle button" data-panel="#add-gpg-key-panel">{{ctx.Locale.Tr "settings.add_key"}}</button>
	</div>
</h4>
<div class="ui attached segment">
	<div class="{{if not .HasGPGError}}tw-hidden{{end}} tw-mb-4" id="add-gpg-key-panel">
		<form class="ui form{{if .HasGPGError}} error{{end}}" action="{{.Link}}" method="post">
			{{.CsrfTokenHtml}}
			<input type="hidden" name="title" value="none">
			<div class="field {{if .Err_Content}}error{{end}}">
				<label for="gpg-key-content">{{ctx.Locale.Tr "settings.key_content"}}</label>
				<textarea id="gpg-key-content" name="content" placeholder="{{ctx.Locale.Tr "settings.key_content_gpg_placeholder"}}" required>{{.content}}</textarea>
			</div>
			{{if .Err_Signature}}
				<div class="ui error message">
					<p>{{ctx.Locale.Tr "settings.gpg_token_required"}}</p>
				</div>
				<div class="field">
					<label for="token">{{ctx.Locale.Tr "settings.gpg_token"}}</label>
					<input readonly="" value="{{.TokenToSign}}">
					<div class="help">
						<p>{{ctx.Locale.Tr "settings.gpg_token_help"}}</p>
						<p><code>{{printf `echo "%s" | gpg -a --default-key %s --detach-sig` .TokenToSign .PaddedKeyID}}</code></p>
					</div>
				</div>
				<div class="field">
					<label for="gpg-key-signature">{{ctx.Locale.Tr "settings.gpg_token_signature"}}</label>
					<textarea id="gpg-key-signature" name="signature" placeholder="{{ctx.Locale.Tr "settings.key_signature_gpg_placeholder"}}" required>{{.signature}}</textarea>
				</div>
			{{end}}
			<input name="type" type="hidden" value="gpg">
			<button class="ui primary button">
				{{ctx.Locale.Tr "settings.add_key"}}
			</button>
			<button class="ui hide-panel button" data-panel="#add-gpg-key-panel">
				{{ctx.Locale.Tr "cancel"}}
			</button>
		</form>
	</div>
	<div class="flex-list">
		<div class="flex-item">
			<p>
				{{ctx.Locale.Tr "settings.gpg_desc"}}<br>
				{{ctx.Locale.Tr "settings.gpg_helper" "https://docs.github.com/en/free-pro-team@latest/github/authenticating-to-github/about-commit-signature-verification#gpg-commit-signature-verification"}}
			</p>
		</div>
		{{range .GPGKeys}}
			<div class="flex-item">
				<div class="flex-item-leading">
					<span class="text {{if or .ExpiredUnix.IsZero ($.PageStartTime.Before .ExpiredUnix.AsTime)}}green{{end}}">{{svg "octicon-key" 32}}</span>
				</div>
				<div class="flex-item-main">
					{{if .Verified}}
						<span class="flex-text-block" data-tooltip-content="{{ctx.Locale.Tr "settings.gpg_key_verified_long"}}">{{svg "octicon-verified"}} <strong>{{ctx.Locale.Tr "settings.gpg_key_verified"}}</strong></span>
					{{end}}
					{{if .Emails}}
						<span class="flex-text-block" data-tooltip-content="{{ctx.Locale.Tr "settings.gpg_key_matched_identities_long"}}">{{svg "octicon-mail"}} {{ctx.Locale.Tr "settings.gpg_key_matched_identities"}} {{range .Emails}}<strong>{{.Email}} </strong>{{end}}</span>
					{{end}}
					<div class="flex-item-body">
						<b>{{ctx.Locale.Tr "settings.key_id"}}:</b> {{.PaddedKeyID}}
						<b>{{ctx.Locale.Tr "settings.subkeys"}}:</b> {{range .SubsKey}} {{.PaddedKeyID}} {{end}}
					</div>
					<div class="flex-item-body">
						<i>{{ctx.Locale.Tr "settings.added_on" (DateUtils.AbsoluteShort .AddedUnix)}}</i>
						-
						<i>{{if not .ExpiredUnix.IsZero}}{{ctx.Locale.Tr "settings.valid_until_date" (DateUtils.AbsoluteShort .ExpiredUnix)}}{{else}}{{ctx.Locale.Tr "settings.valid_forever"}}{{end}}</i>
					</div>
				</div>
				<div class="flex-item-trailing">
					<button class="ui red tiny button delete-button" data-modal-id="delete-gpg" data-url="{{$.Link}}/delete?type=gpg" data-id="{{.ID}}">
						{{ctx.Locale.Tr "settings.delete_key"}}
					</button>
					{{if and (not .Verified) (ne $.VerifyingID .KeyID)}}
						<a class="ui primary tiny button" href="?verify_gpg={{.KeyID}}">{{ctx.Locale.Tr "settings.gpg_key_verify"}}</a>
					{{end}}
				</div>
			</div>
			{{if and (not .Verified) (eq $.VerifyingID .KeyID)}}
				<div class="ui  segment">
					<h4>{{ctx.Locale.Tr "settings.gpg_token_required"}}</h4>
					<form class="ui form{{if $.HasGPGVerifyError}} error{{end}}" action="{{$.Link}}" method="post">
						{{$.CsrfTokenHtml}}
						<input type="hidden" name="title" value="none">
						<input type="hidden" name="content" value="{{.KeyID}}">
						<input type="hidden" name="key_id" value="{{.KeyID}}">
						<div class="field">
							<label for="token">{{ctx.Locale.Tr "settings.gpg_token"}}</label>
							<input readonly="" value="{{$.TokenToSign}}">
							<div class="help">
								<p>{{ctx.Locale.Tr "settings.gpg_token_help"}}</p>
								<p><code>{{printf `echo "%s" | gpg -a --default-key %s --detach-sig` $.TokenToSign .PaddedKeyID}}</code></p>
							</div>
							<br>
						</div>
						<div class="field">
							<label for="signature">{{ctx.Locale.Tr "settings.gpg_token_signature"}}</label>
							<textarea id="gpg-key-signature" name="signature" placeholder="{{ctx.Locale.Tr "settings.key_signature_gpg_placeholder"}}" required>{{$.signature}}</textarea>
						</div>
						<input name="type" type="hidden" value="verify_gpg">
						<button class="ui primary button">
							{{ctx.Locale.Tr "settings.gpg_key_verify"}}
						</button>
						<a class="ui red button" href="{{$.Link}}">
							{{ctx.Locale.Tr "settings.cancel"}}
						</a>
					</form>
				</div>
			{{end}}
		{{end}}
	</div>
	<div class="ui g-modal-confirm delete modal" id="delete-gpg">
		<div class="header">
			{{svg "octicon-trash"}}
			{{ctx.Locale.Tr "settings.gpg_key_deletion"}}
		</div>
		<div class="content">
			<p>{{ctx.Locale.Tr "settings.gpg_key_deletion_desc"}}</p>
		</div>
		{{template "base/modal_actions_confirm" .}}
	</div>
</div>
