{{template "base/head" ctx.RootData}}
<div role="main" aria-label="{{ctx.RootData.Title}}" class="page-content {{.pageClass}}">
	<div class="ui container flex-container">
		{{template "user/settings/navbar" ctx.RootData}}
		<div class="flex-container-main">
			{{template "base/alert" ctx.RootData}}
			{{/* block: user-setting-content */}}

{{if false}}{{/* to make html structure "likely" complete to prevent IDE warnings */}}
		</div>
	</div>
</div>
{{end}}
