<div class="four wide column">
	<div class="ui fluid vertical menu">
		<div class="header item">{{.locale.Tr "org.settings"}}</div>
		<a class="{{if .PageIsSettingsProfile}}active {{end}}item" href="{{AppSubUrl}}/user/settings">
			{{.locale.Tr "settings.profile"}}
		</a>
		<a class="{{if .PageIsSettingsAccount}}active {{end}}item" href="{{AppSubUrl}}/user/settings/account">
			{{.locale.Tr "settings.account"}}
		</a>
		<a class="{{if .PageIsSettingsAppearance}}active {{end}}item" href="{{AppSubUrl}}/user/settings/appearance">
			{{.locale.Tr "settings.appearance"}}
		</a>
		<a class="{{if .PageIsSettingsSecurity}}active {{end}}item" href="{{AppSubUrl}}/user/settings/security">
			{{.locale.Tr "settings.security"}}
		</a>
		<a class="{{if .PageIsSettingsApplications}}active {{end}}item" href="{{AppSubUrl}}/user/settings/applications">
			{{.locale.Tr "settings.applications"}}
		</a>
		<a class="{{if .PageIsSettingsKeys}}active {{end}}item" href="{{AppSubUrl}}/user/settings/keys">
			{{.locale.Tr "settings.ssh_gpg_keys"}}
		</a>
		<a class="{{if .PageIsSettingsSecrets}}active {{end}}item" href="{{AppSubUrl}}/user/settings/secrets">
			{{.locale.Tr "secrets.secrets"}}
		</a>
		{{if .EnablePackages}}
		<a class="{{if .PageIsSettingsPackages}}active {{end}}item" href="{{AppSubUrl}}/user/settings/packages">
			{{.locale.Tr "packages.title"}}
		</a>
		{{end}}
		{{if not DisableWebhooks}}
		<a class="{{if .PageIsSettingsHooks}}active {{end}}item" href="{{AppSubUrl}}/user/settings/hooks">
			{{.locale.Tr "repo.settings.hooks"}}
		</a>
		{{end}}
		<a class="{{if .PageIsSettingsOrganization}}active {{end}}item" href="{{AppSubUrl}}/user/settings/organization">
			{{.locale.Tr "settings.organization"}}
		</a>
		<a class="{{if .PageIsSettingsRepos}}active {{end}}item" href="{{AppSubUrl}}/user/settings/repos">
			{{.locale.Tr "settings.repos"}}
		</a>
	</div>
</div>
