{{template "user/settings/layout_head" (dict "ctxData" . "pageClass" "user settings notifications")}}
	<div class="user-setting-content">
		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "settings.manage_notifications"}}
		</h4>
		<div class="ui attached segment">
			<div class="ui list">
				{{if $.EnableNotifyMail}}
				<div class="item">
					<div class="tw-mb-2">{{ctx.Locale.Tr "settings.email_notifications_desc"}}</div>
					<form action="{{AppSubUrl}}/user/settings/notifications" class="ui form" method="post">
						{{$.CsrfTokenHtml}}
						<input name="_method" type="hidden" value="EMAIL">
						<div class="tw-flex tw-flex-wrap tw-gap-2">
							<div class="ui selection dropdown">
								<input name="preference" type="hidden" value="{{.EmailNotificationsPreference}}">
								{{svg "octicon-triangle-down" 14 "dropdown icon"}}
								<div class="text"></div>
								<div class="menu">
									<div data-value="enabled" class="{{if eq .EmailNotificationsPreference "enabled"}}active selected {{end}}item">{{ctx.Locale.Tr "settings.notifications.enable"}}</div>
									<div data-value="andyourown" class="{{if eq .EmailNotificationsPreference "andyourown"}}active selected {{end}}item">{{ctx.Locale.Tr "settings.notifications.andyourown"}}</div>
									<div data-value="onmention" class="{{if eq .EmailNotificationsPreference "onmention"}}active selected {{end}}item">{{ctx.Locale.Tr "settings.notifications.onmention"}}</div>
									<div data-value="disabled" class="{{if eq .EmailNotificationsPreference "disabled"}}active selected {{end}}item">{{ctx.Locale.Tr "settings.notifications.disable"}}</div>
								</div>
							</div>
							<button class="ui primary button">{{ctx.Locale.Tr "settings.notifications.submit_email"}}</button>
						</div>
					</form>
				</div>
				{{end}}
			</div>
		</div>
		<div class="ui attached segment">
			<div class="ui list">
				<div class="item">
					<div class="tw-mb-2">{{ctx.Locale.Tr "settings.ui_notifications_desc"}}</div>
					<form action="{{AppSubUrl}}/user/settings/notifications" class="ui form" method="post">
						{{$.CsrfTokenHtml}}
						<input name="_method" type="hidden" value="UI">
						<div class="tw-flex tw-flex-wrap tw-gap-2">
							<div class="ui selection dropdown">
								<input name="preference" type="hidden" value="{{.UINotificationsPreference}}">
								{{svg "octicon-triangle-down" 14 "dropdown icon"}}
								<div class="text"></div>
								<div class="menu">
									<div data-value="enabled" class="{{if eq .UINotificationsPreference "enabled"}}active selected {{end}}item">{{ctx.Locale.Tr "settings.notifications.enable"}}</div>
									<div data-value="andyourown" class="{{if eq .UINotificationsPreference "andyourown"}}active selected {{end}}item">{{ctx.Locale.Tr "settings.notifications.andyourown"}}</div>
									<div data-value="onmention" class="{{if eq .UINotificationsPreference "onmention"}}active selected {{end}}item">{{ctx.Locale.Tr "settings.notifications.onmention"}}</div>
									<div data-value="disabled" class="{{if eq .UINotificationsPreference "disabled"}}active selected {{end}}item">{{ctx.Locale.Tr "settings.notifications.disable"}}</div>
								</div>
							</div>
							<button class="ui primary button">{{ctx.Locale.Tr "settings.notifications.submit_ui"}}</button>
						</div>
					</form>
				</div>
			</div>
		</div>

{{template "user/settings/layout_footer" .}}
