{{template "base/head" .}}
<div class="page-content user settings organization">
	{{template "user/settings/navbar" .}}
	<div class="ui container">
		{{template "base/alert" .}}
		<h4 class="ui top attached header">
			{{.locale.Tr "settings.orgs"}}
			{{if .SignedUser.CanCreateOrganization}}
			<div class="ui right">
				<a class="ui primary tiny button" href="{{AppSubUrl}}/org/create">{{.locale.Tr "admin.orgs.new_orga"}}</a>
			</div>
			{{end}}
		</h4>
		<div class="ui attached segment orgs">
			{{if .Orgs}}
				<div class="ui middle aligned divided list">
					{{range .Orgs}}
					<div class="item">
						<div class="right floated content">
							<form method="post" action="{{.OrganisationLink}}/members/action/leave">
								{{$.CsrfTokenHtml}}
								<button type="submit" class="ui primary small button" name="uid" value="{{.ID}}">{{$.locale.Tr "org.members.leave"}}</button>
							</form>
						</div>
						{{avatar . 28 "mini"}}
						<div class="content">
								<a href="{{.HomeLink}}">{{.Name}}</a>
						</div>
					</div>
					{{end}}
				</div>
				{{template "base/paginate" .}}
			{{else}}
				{{.locale.Tr "settings.orgs_none"}}
			{{end}}
		</div>
	</div>
</div>
{{template "base/footer" .}}
