{{template "user/settings/layout_head" (dict "ctxData" . "pageClass" "user settings runners")}}
	<div class="user-setting-content">
		{{template "shared/actions/runner_edit" .}}
	</div>
{{template "user/settings/layout_footer" .}}
