{{template "base/head" .}}
<div class="user settings security">
	{{template "user/settings/navbar" .}}
	<div class="ui container">
		{{template "base/alert" .}}
		{{template "user/settings/security_twofa" .}}
		{{template "user/settings/security_u2f" .}}
		{{template "user/settings/security_accountlinks" .}}
		{{if .EnableOpenIDSignIn}}
		{{template "user/settings/security_openid" .}}
		{{end}}
	</div>
</div>

{{template "base/footer" .}}
