{{template "admin/layout_head" (dict)}}

<div class="admin-setting-content">
	<div class="admin-responsive-columns">
		<div class="tw-flex-1">
			<h4 class="ui top attached header">
				{{.Title}}
				<div class="ui right">
					<a class="ui primary tiny button" href="{{.Link}}/edit">{{ctx.Locale.Tr "admin.badges.edit_badge"}}</a>
				</div>
			</h4>
			<div class="ui attached segment">
				<div class="flex-divided-list items-with-main">
					<div class="item">
						{{if .Badge.ImageURL}}
						<div class="item-leading">
							<img width="64" height="64" src="{{.Badge.ImageURL}}" alt="{{.Badge.Description}}" data-tooltip-content="{{.Badge.Description}}">
						</div>
						{{end}}
						<div class="item-main">
							<div class="item-title">
								{{.Badge.Slug}}
							</div>
							<div class="item-body">
								{{.Badge.Description}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<h4 class="ui top attached header">
		{{ctx.Locale.Tr "explore.users"}} ({{.UsersTotal}})
		<div class="ui right">
			<a class="ui primary tiny button" href="{{.Link}}/users">{{ctx.Locale.Tr "admin.badges.manage_users"}}</a>
		</div>
	</h4>
	<div class="ui attached segment">
		{{template "explore/user_list" .}}
	</div>
</div>

{{template "admin/layout_footer" .}}
