{{template "admin/layout_head" (dict "ctxData" . "pageClass" "admin config")}}
	<div class="admin-setting-content">
		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "admin.config.server_config"}}
		</h4>
		<div class="ui attached table segment">
			<dl class="admin-dl-horizontal">
				<dt>{{ctx.Locale.Tr "admin.config.app_name"}}</dt>
				<dd>{{AppName}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.app_ver"}}</dt>
				<dd>{{AppVer}}{{.AppBuiltWith}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.custom_conf"}}</dt>
				<dd>{{.CustomConf}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.app_url"}}</dt>
				<dd>{{.AppUrl}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.domain"}}</dt>
				<dd>{{.Domain}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.offline_mode"}}</dt>
				<dd>{{if .OfflineMode}}{{svg "octicon-check"}}{{else}}{{svg "octicon-x"}}{{end}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.disable_router_log"}}</dt>
				<dd>{{if .DisableRouterLog}}{{svg "octicon-check"}}{{else}}{{svg "octicon-x"}}{{end}}</dd>

				<div class="divider"></div>

				<dt>{{ctx.Locale.Tr "admin.config.run_user"}}</dt>
				<dd>{{.RunUser}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.run_mode"}}</dt>
				<dd>{{.RunMode}}</dd>

				<div class="divider"></div>

				<dt>{{ctx.Locale.Tr "admin.config.git_version"}}</dt>
				<dd>{{.GitVersion}}</dd>

				<div class="divider"></div>

				<dt>{{ctx.Locale.Tr "admin.config.app_data_path"}}</dt>
				<dd>{{.AppDataPath}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.repo_root_path"}}</dt>
				<dd>{{.RepoRootPath}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.custom_file_root_path"}}</dt>
				<dd>{{.CustomRootPath}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.log_file_root_path"}}</dt>
				<dd>{{.LogRootPath}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.script_type"}}</dt>
				<dd>{{.ScriptType}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.reverse_auth_user"}}</dt>
				<dd>{{.ReverseProxyAuthUser}}</dd>
			</dl>
		</div>

		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "admin.config.ssh_config"}}
		</h4>
		<div class="ui attached table segment">
			<dl class="admin-dl-horizontal">
				<dt>{{ctx.Locale.Tr "admin.config.ssh_enabled"}}</dt>
				<dd>{{if not .SSH.Disabled}}{{svg "octicon-check"}}{{else}}{{svg "octicon-x"}}{{end}}</dd>
				{{if not .SSH.Disabled}}
					<dt>{{ctx.Locale.Tr "admin.config.ssh_start_builtin_server"}}</dt>
					<dd>{{if .SSH.StartBuiltinServer}}{{svg "octicon-check"}}{{else}}{{svg "octicon-x"}}{{end}}</dd>
					<dt>{{ctx.Locale.Tr "admin.config.ssh_domain"}}</dt>
					<dd>{{.SSH.Domain}}</dd>
					<dt>{{ctx.Locale.Tr "admin.config.ssh_port"}}</dt>
					<dd>{{.SSH.Port}}</dd>
					<dt>{{ctx.Locale.Tr "admin.config.ssh_listen_port"}}</dt>
					<dd>{{.SSH.ListenPort}}</dd>

					{{if not .SSH.StartBuiltinServer}}
						<dt>{{ctx.Locale.Tr "admin.config.ssh_root_path"}}</dt>
						<dd>{{.SSH.RootPath}}</dd>
						<dt>{{ctx.Locale.Tr "admin.config.ssh_key_test_path"}}</dt>
						<dd>{{.SSH.KeyTestPath}}</dd>
						<dt>{{ctx.Locale.Tr "admin.config.ssh_keygen_path"}}</dt>
						<dd>{{.SSH.KeygenPath}}</dd>
						<dt>{{ctx.Locale.Tr "admin.config.ssh_minimum_key_size_check"}}</dt>
						<dd>{{if .SSH.MinimumKeySizeCheck}}{{svg "octicon-check"}}{{else}}{{svg "octicon-x"}}{{end}}</dd>
						{{if .SSH.MinimumKeySizeCheck}}
							<dt>{{ctx.Locale.Tr "admin.config.ssh_minimum_key_sizes"}}</dt>
							<dd>{{.SSH.MinimumKeySizes}}</dd>
						{{end}}
					{{end}}
				{{end}}
			</dl>
		</div>

		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "admin.config.lfs_config"}}
		</h4>
		<div class="ui attached table segment">
			<dl class="admin-dl-horizontal">
				<dt>{{ctx.Locale.Tr "admin.config.lfs_enabled"}}</dt>
				<dd>{{if .LFS.StartServer}}{{svg "octicon-check"}}{{else}}{{svg "octicon-x"}}{{end}}</dd>
				{{if .LFS.StartServer}}
					<dt>{{ctx.Locale.Tr "admin.config.lfs_content_path"}}</dt>
					<dd>{{JsonUtils.EncodeToString .LFS.Storage.ToShadowCopy}}</dd>
					<dt>{{ctx.Locale.Tr "admin.config.lfs_http_auth_expiry"}}</dt>
					<dd>{{.LFS.HTTPAuthExpiry}}</dd>
				{{end}}
			</dl>
		</div>

		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "admin.config.db_config"}}
		</h4>
		<div class="ui attached table segment">
			<dl class="admin-dl-horizontal">
				<dt>{{ctx.Locale.Tr "admin.config.db_type"}}</dt>
				<dd>{{.DbCfg.Type}}</dd>
				{{if not (eq .DbCfg.Type "sqlite3")}}
					<dt>{{ctx.Locale.Tr "admin.config.db_host"}}</dt>
					<dd>{{if .DbCfg.Host}}{{.DbCfg.Host}}{{else}}-{{end}}</dd>
					<dt>{{ctx.Locale.Tr "admin.config.db_name"}}</dt>
					<dd>{{if .DbCfg.Name}}{{.DbCfg.Name}}{{else}}-{{end}}</dd>
					<dt>{{ctx.Locale.Tr "admin.config.db_user"}}</dt>
					<dd>{{if .DbCfg.User}}{{.DbCfg.User}}{{else}}-{{end}}</dd>
				{{end}}
				{{if eq .DbCfg.Type "postgres"}}
					<dt>{{ctx.Locale.Tr "admin.config.db_schema"}}</dt>
					<dd>{{if .DbCfg.Schema}}{{.DbCfg.Schema}}{{else}}-{{end}}</dd>
					<dt>{{ctx.Locale.Tr "admin.config.db_ssl_mode"}}</dt>
					<dd>{{if .DbCfg.SSLMode}}{{.DbCfg.SSLMode}}{{else}}-{{end}}</dd>
				{{end}}
				{{if eq .DbCfg.Type "sqlite3"}}
					<dt>{{ctx.Locale.Tr "admin.config.db_path"}}</dt>
					<dd>{{if .DbCfg.Path}}{{.DbCfg.Path}}{{else}}-{{end}}</dd>
				{{end}}
			</dl>
		</div>

		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "admin.config.service_config"}}
		</h4>
		<div class="ui attached table segment">
			<dl class="admin-dl-horizontal">
				<dt>{{ctx.Locale.Tr "admin.config.register_email_confirm"}}</dt>
				<dd>{{if .Service.RegisterEmailConfirm}}{{svg "octicon-check"}}{{else}}{{svg "octicon-x"}}{{end}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.disable_register"}}</dt>
				<dd>{{if .Service.DisableRegistration}}{{svg "octicon-check"}}{{else}}{{svg "octicon-x"}}{{end}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.allow_only_internal_registration"}}</dt>
				<dd>{{if .Service.AllowOnlyInternalRegistration}}{{svg "octicon-check"}}{{else}}{{svg "octicon-x"}}{{end}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.allow_only_external_registration"}}</dt>
				<dd>{{if .Service.AllowOnlyExternalRegistration}}{{svg "octicon-check"}}{{else}}{{svg "octicon-x"}}{{end}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.show_registration_button"}}</dt>
				<dd>{{if .Service.ShowRegistrationButton}}{{svg "octicon-check"}}{{else}}{{svg "octicon-x"}}{{end}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.enable_openid_signup"}}</dt>
				<dd>{{if .Service.EnableOpenIDSignUp}}{{svg "octicon-check"}}{{else}}{{svg "octicon-x"}}{{end}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.enable_openid_signin"}}</dt>
				<dd>{{if .Service.EnableOpenIDSignIn}}{{svg "octicon-check"}}{{else}}{{svg "octicon-x"}}{{end}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.require_sign_in_view"}}</dt>
				<dd>{{if .Service.RequireSignInView}}{{svg "octicon-check"}}{{else}}{{svg "octicon-x"}}{{end}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.mail_notify"}}</dt>
				<dd>{{if .Service.EnableNotifyMail}}{{svg "octicon-check"}}{{else}}{{svg "octicon-x"}}{{end}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.disable_key_size_check"}}</dt>
				<dd>{{if .SSH.MinimumKeySizeCheck}}{{svg "octicon-check"}}{{else}}{{svg "octicon-x"}}{{end}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.enable_captcha"}}</dt>
				<dd>{{if .Service.EnableCaptcha}}{{svg "octicon-check"}}{{else}}{{svg "octicon-x"}}{{end}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.default_keep_email_private"}}</dt>
				<dd>{{if .Service.DefaultKeepEmailPrivate}}{{svg "octicon-check"}}{{else}}{{svg "octicon-x"}}{{end}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.default_allow_create_organization"}}</dt>
				<dd>{{if .Service.DefaultAllowCreateOrganization}}{{svg "octicon-check"}}{{else}}{{svg "octicon-x"}}{{end}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.enable_timetracking"}}</dt>
				<dd>{{if .Service.EnableTimetracking}}{{svg "octicon-check"}}{{else}}{{svg "octicon-x"}}{{end}}</dd>
				{{if .Service.EnableTimetracking}}
					<dt>{{ctx.Locale.Tr "admin.config.default_enable_timetracking"}}</dt>
					<dd>{{if .Service.DefaultEnableTimetracking}}{{svg "octicon-check"}}{{else}}{{svg "octicon-x"}}{{end}}</dd>
					<dt>{{ctx.Locale.Tr "admin.config.default_allow_only_contributors_to_track_time"}}</dt>
					<dd>{{if .Service.DefaultAllowOnlyContributorsToTrackTime}}{{svg "octicon-check"}}{{else}}{{svg "octicon-x"}}{{end}}</dd>
				{{end}}
				<dt>{{ctx.Locale.Tr "admin.config.default_visibility_organization"}}</dt>
				<dd>{{.Service.DefaultOrgVisibility}}</dd>

				<dt>{{ctx.Locale.Tr "admin.config.no_reply_address"}}</dt>
				<dd>{{if .Service.NoReplyAddress}}{{.Service.NoReplyAddress}}{{else}}-{{end}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.default_enable_dependencies"}}</dt>
				<dd>{{if .Service.DefaultEnableDependencies}}{{svg "octicon-check"}}{{else}}{{svg "octicon-x"}}{{end}}</dd>
				<div class="divider"></div>
				<dt>{{ctx.Locale.Tr "admin.config.active_code_lives"}}</dt>
				<dd>{{.Service.ActiveCodeLives}} {{ctx.Locale.Tr "tool.raw_minutes"}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.reset_password_code_lives"}}</dt>
				<dd>{{.Service.ResetPwdCodeLives}} {{ctx.Locale.Tr "tool.raw_minutes"}}</dd>
			</dl>
		</div>

		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "admin.config.webhook_config"}}
		</h4>
		<div class="ui attached table segment">
			<dl class="admin-dl-horizontal">
				<dt>{{ctx.Locale.Tr "admin.config.queue_length"}}</dt>
				<dd>{{.Webhook.QueueLength}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.deliver_timeout"}}</dt>
				<dd>{{.Webhook.DeliverTimeout}} {{ctx.Locale.Tr "tool.raw_seconds"}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.skip_tls_verify"}}</dt>
				<dd>{{if .Webhook.SkipTLSVerify}}{{svg "octicon-check"}}{{else}}{{svg "octicon-x"}}{{end}}</dd>
			</dl>
		</div>

		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "admin.config.mailer_config"}}
		</h4>
		<div class="ui attached table segment">
			<dl class="admin-dl-horizontal">
				<dt>{{ctx.Locale.Tr "admin.config.mailer_enabled"}}</dt>
				<dd>{{if .MailerEnabled}}{{svg "octicon-check"}}{{else}}{{svg "octicon-x"}}{{end}}</dd>
				{{if .MailerEnabled}}
					<dt>{{ctx.Locale.Tr "admin.config.mailer_name"}}</dt>
					<dd>{{.Mailer.Name}}</dd>
					{{if eq .Mailer.Protocol "sendmail"}}
						<dt>{{ctx.Locale.Tr "admin.config.mailer_use_sendmail"}}</dt>
						<dd>{{svg "octicon-check"}}</dd>
						<dt>{{ctx.Locale.Tr "admin.config.mailer_sendmail_path"}}</dt>
						<dd>{{.Mailer.SendmailPath}}</dd>
						<dt>{{ctx.Locale.Tr "admin.config.mailer_sendmail_args"}}</dt>
						<dd>{{.Mailer.SendmailArgs}}</dd>
						<dt>{{ctx.Locale.Tr "admin.config.mailer_sendmail_timeout"}}</dt>
						<dd>{{.Mailer.SendmailTimeout}} {{ctx.Locale.Tr "tool.raw_seconds"}}</dd>
					{{else if eq .Mailer.Protocol "dummy"}}
						<dt>{{ctx.Locale.Tr "admin.config.mailer_use_dummy"}}</dt>
						<dd>{{svg "octicon-check"}}</dd>
					{{else}}{{/* SMTP family */}}
						<dt>{{ctx.Locale.Tr "admin.config.mailer_protocol"}}</dt>
						<dd>{{.Mailer.Protocol}}</dd>
						<dt>{{ctx.Locale.Tr "admin.config.mailer_enable_helo"}}</dt>
						<dd>{{if .Mailer.EnableHelo}}{{svg "octicon-check"}}{{else}}{{svg "octicon-x"}}{{end}}</dd>
						<dt>{{ctx.Locale.Tr "admin.config.mailer_smtp_addr"}}</dt>
						<dd>{{.Mailer.SMTPAddr}}</dd>
						<dt>{{ctx.Locale.Tr "admin.config.mailer_smtp_port"}}</dt>
						<dd>{{.Mailer.SMTPPort}}</dd>
					{{end}}
					<dt>{{ctx.Locale.Tr "admin.config.mailer_user"}}</dt>
					<dd>{{if .Mailer.User}}{{.Mailer.User}}{{else}}(empty){{end}}</dd>
					<div class="divider"></div>
					<dt class="gt-py-2">{{ctx.Locale.Tr "admin.config.send_test_mail"}}</dt>
					<dd>
						<form class="ui form ignore-dirty" action="{{AppSubUrl}}/admin/config/test_mail" method="post">
							{{.CsrfTokenHtml}}
							<div class="ui tiny input">
								<input type="email" name="email" placeholder="{{ctx.Locale.Tr "admin.config.test_email_placeholder"}}" size="29" required>
							</div>
							<button class="ui tiny primary button">{{ctx.Locale.Tr "admin.config.send_test_mail_submit"}}</button>
						</form>
					</dd>
				{{end}}
			</dl>
		</div>

		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "admin.config.cache_config"}}
		</h4>
		<div class="ui attached table segment">
			<dl class="admin-dl-horizontal">
				<dt>{{ctx.Locale.Tr "admin.config.cache_adapter"}}</dt>
				<dd>{{.CacheAdapter}}</dd>
				{{if eq .CacheAdapter "memory"}}
					<dt>{{ctx.Locale.Tr "admin.config.cache_interval"}}</dt>
					<dd>{{.CacheInterval}} {{ctx.Locale.Tr "tool.raw_seconds"}}</dd>
				{{end}}
				{{if .CacheConn}}
					<dt>{{ctx.Locale.Tr "admin.config.cache_conn"}}</dt>
					<dd><code>{{.CacheConn}}</code></dd>
					<dt>{{ctx.Locale.Tr "admin.config.cache_item_ttl"}}</dt>
					<dd><code>{{.CacheItemTTL}}</code></dd>
				{{end}}
			</dl>
		</div>

		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "admin.config.session_config"}}
		</h4>
		<div class="ui attached table segment">
			<dl class="admin-dl-horizontal">
				<dt>{{ctx.Locale.Tr "admin.config.session_provider"}}</dt>
				<dd>{{.SessionConfig.Provider}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.provider_config"}}</dt>
				<dd><code>{{if .SessionConfig.ProviderConfig}}{{.SessionConfig.ProviderConfig}}{{else}}-{{end}}</code></dd>
				<dt>{{ctx.Locale.Tr "admin.config.cookie_name"}}</dt>
				<dd>{{.SessionConfig.CookieName}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.gc_interval_time"}}</dt>
				<dd>{{.SessionConfig.Gclifetime}} {{ctx.Locale.Tr "tool.raw_seconds"}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.session_life_time"}}</dt>
				<dd>{{.SessionConfig.Maxlifetime}} {{ctx.Locale.Tr "tool.raw_seconds"}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.https_only"}}</dt>
				<dd>{{if .SessionConfig.Secure}}{{svg "octicon-check"}}{{else}}{{svg "octicon-x"}}{{end}}</dd>
			</dl>
		</div>

		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "admin.config.picture_config"}}
		</h4>
		<div class="ui attached table segment">
			<dl class="admin-dl-horizontal">
				<dt>{{ctx.Locale.Tr "admin.config.disable_gravatar"}}</dt>
				<dd>
					<div class="ui toggle checkbox" data-tooltip-content="{{ctx.Locale.Tr "admin.config.disable_gravatar"}}">
						<input type="checkbox" data-config-dyn-key="picture.disable_gravatar" {{if .SystemConfig.Picture.DisableGravatar.Value ctx}}checked{{end}}>
					</div>
				</dd>
				<div class="divider"></div>
				<dt>{{ctx.Locale.Tr "admin.config.enable_federated_avatar"}}</dt>
				<dd>
					<div class="ui toggle checkbox" data-tooltip-content="{{ctx.Locale.Tr "admin.config.enable_federated_avatar"}}">
						<input type="checkbox" data-config-dyn-key="picture.enable_federated_avatar" {{if .SystemConfig.Picture.EnableFederatedAvatar.Value ctx}}checked{{end}}>
					</div>
				</dd>
			</dl>
		</div>

		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "admin.config.git_config"}}
		</h4>
		<div class="ui attached table segment">
			<dl class="admin-dl-horizontal">
				<dt>{{ctx.Locale.Tr "admin.config.git_disable_diff_highlight"}}</dt>
				<dd>{{if .Git.DisableDiffHighlight}}{{svg "octicon-check"}}{{else}}{{svg "octicon-x"}}{{end}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.git_max_diff_lines"}}</dt>
				<dd>{{.Git.MaxGitDiffLines}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.git_max_diff_line_characters"}}</dt>
				<dd>{{.Git.MaxGitDiffLineCharacters}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.git_max_diff_files"}}</dt>
				<dd>{{.Git.MaxGitDiffFiles}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.git_gc_args"}}</dt>
				<dd><code>{{.Git.GCArgs}}</code></dd>

				<div class="divider"></div>

				<dt>{{ctx.Locale.Tr "admin.config.git_migrate_timeout"}}</dt>
				<dd>{{.Git.Timeout.Migrate}} {{ctx.Locale.Tr "tool.raw_seconds"}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.git_mirror_timeout"}}</dt>
				<dd>{{.Git.Timeout.Mirror}} {{ctx.Locale.Tr "tool.raw_seconds"}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.git_clone_timeout"}}</dt>
				<dd>{{.Git.Timeout.Clone}} {{ctx.Locale.Tr "tool.raw_seconds"}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.git_pull_timeout"}}</dt>
				<dd>{{.Git.Timeout.Pull}} {{ctx.Locale.Tr "tool.raw_seconds"}}</dd>
				<dt>{{ctx.Locale.Tr "admin.config.git_gc_timeout"}}</dt>
				<dd>{{.Git.Timeout.GC}} {{ctx.Locale.Tr "tool.raw_seconds"}}</dd>
			</dl>
		</div>

		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "admin.config.log_config"}}
		</h4>
		<div class="ui attached table segment">
			<dl class="admin-dl-horizontal">
				{{if .Loggers.xorm.IsEnabled}}
					<dt>{{ctx.Locale.Tr "admin.config.xorm_log_sql"}}</dt>
					<dd>{{if $.LogSQL}}{{svg "octicon-check"}}{{else}}{{svg "octicon-x"}}{{end}}</dd>
				{{end}}

				{{if .Loggers.access.IsEnabled}}
					<dt>{{ctx.Locale.Tr "admin.config.access_log_template"}}</dt>
					<dd><code>{{$.AccessLogTemplate}}</code></dd>
				{{end}}

				{{range $loggerName, $loggerDetail := .Loggers}}
					<dt>{{ctx.Locale.Tr "admin.config.logger_name_fmt" $loggerName}}</dt>
					{{if $loggerDetail.IsEnabled}}
						<dd><pre class="gt-m-0">{{$loggerDetail.EventWriters | JsonUtils.EncodeToString | JsonUtils.PrettyIndent}}</pre></dd>
					{{else}}
						<dd>{{ctx.Locale.Tr "admin.config.disabled_logger"}}</dd>
					{{end}}
				{{end}}
			</dl>
		</div>
	</div>
{{template "admin/layout_footer" .}}
