{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content admin hooks">
	<div class="ui container">
		<div class="ui grid">
			{{template "admin/navbar" .}}
			<div class="twelve wide column content">
				{{template "base/alert" .}}

				{{template "repo/settings/webhook/base_list" .SystemWebhooks}}
				{{template "repo/settings/webhook/base_list" .DefaultWebhooks}}

				{{template "repo/settings/webhook/delete_modal" .}}
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
