{{template "admin/layout_head" (dict "ctxData" . "pageClass" "admin hooks")}}
	<div class="admin-setting-content">
		{{template "repo/settings/webhook/base_list" .SystemWebhooks}}
		{{template "repo/settings/webhook/base_list" .DefaultWebhooks}}
	</div>
{{template "admin/layout_footer" .}}
