{{template "admin/layout_head" (dict "ctxData" . "pageClass" "admin notice")}}
	<div class="admin-setting-content">
		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "admin.notices.system_notice_list"}} ({{ctx.Locale.Tr "admin.total" .Total}})
		</h4>
		<table class="ui attached segment select selectable striped table unstackable g-table-auto-ellipsis">
			<thead>
				<tr>
					<th></th>
					<th>ID</th>
					<th>{{ctx.Locale.Tr "admin.notices.type"}}</th>
					<th>{{ctx.Locale.Tr "admin.notices.desc"}}</th>
					<th>{{ctx.Locale.Tr "admin.users.created"}}</th>
					<th>{{ctx.Locale.Tr "admin.notices.op"}}</th>
				</tr>
			</thead>
			<tbody>
				{{range .Notices}}
					<tr>
						<td><div class="ui checkbox tw-flex" data-id="{{.ID}}"><input type="checkbox"></div></td>
						<td>{{.ID}}</td>
						<td>{{ctx.Locale.Tr .TrStr}}</td>
						<td class="view-detail auto-ellipsis tw-w-4/5"><span class="notice-description">{{.Description}}</span></td>
						<td nowrap>{{DateUtils.AbsoluteShort .CreatedUnix}}</td>
						<td class="view-detail"><a href="#">{{svg "octicon-note" 16}}</a></td>
					</tr>
				{{end}}
			</tbody>
			{{if .Notices}}
				<tfoot>
						<tr>
							<th></th>
							<th colspan="5">
								<form class="tw-float-right" method="post" action="{{AppSubUrl}}/-/admin/notices/empty">
									{{.CsrfTokenHtml}}
									<button type="submit" class="ui red small button">{{ctx.Locale.Tr "admin.notices.delete_all"}}</button>
								</form>
								<div class="ui floating upward dropdown small button">{{/* TODO: Make this dropdown accessible */}}
									<span class="text">{{ctx.Locale.Tr "admin.notices.operations"}}</span>
									<div class="menu">
										<div class="item select action" data-action="select-all">
											{{ctx.Locale.Tr "admin.notices.select_all"}}
										</div>
										<div class="item select action" data-action="deselect-all">
											{{ctx.Locale.Tr "admin.notices.deselect_all"}}
										</div>
										<div class="item select action" data-action="inverse">
											{{ctx.Locale.Tr "admin.notices.inverse_selection"}}
										</div>
									</div>
								</div>
								<button class="ui small button" id="delete-selection" data-link="{{.Link}}/delete" data-redirect="?page={{.Page.Paginater.Current}}">
									<span class="text">{{ctx.Locale.Tr "admin.notices.delete_selected"}}</span>
								</button>
							</th>
						</tr>
				</tfoot>
			{{end}}
		</table>
		{{template "base/paginate" .}}
	</div>

<div class="ui modal admin" id="detail-modal">
	<div class="header">{{ctx.Locale.Tr "admin.notices.view_detail_header"}}</div>
	<div class="content"><pre></pre></div>
</div>

{{template "admin/layout_footer" .}}
