{{template "base/head" .}}
<div class="admin notice">
	{{template "admin/navbar" .}}
	<div class="ui container">
		{{template "base/alert" .}}
		<h4 class="ui top attached header">
			{{.i18n.Tr "admin.notices.system_notice_list"}} ({{.i18n.Tr "admin.total" .Total}})
		</h4>
		<div class="ui attached table segment">
			<table class="ui very basic select selectable table">
				<thead>
					<tr>
						<th></th>
						<th>ID</th>
						<th>{{.i18n.Tr "admin.notices.type"}}</th>
						<th>{{.i18n.Tr "admin.notices.desc"}}</th>
						<th width="100px">{{.i18n.Tr "admin.users.created"}}</th>
						<th>{{.i18n.Tr "admin.notices.op"}}</th>
					</tr>
				</thead>
				<tbody>
					{{range .Notices}}
						<tr>
							<td class="collapsing">
								<div class="ui fitted checkbox" data-id="{{.ID}}">
									<input type="checkbox"> <label></label>
								</div>
							</td>
							<td>{{.ID}}</td>
							<td>{{$.i18n.Tr .TrStr}}</td>
							<td>{{SubStr .Description 0 120}}...</td>
							<td><span class="poping up" data-content="{{.CreatedUnix.AsTime}}" data-variation="inverted tiny">{{.CreatedUnix.FormatShort}}</span></td>
							<td><a href="#"><i class="browser icon view-detail" data-content="{{.Description}}"></i></a></td>
						</tr>
					{{end}}
				</tbody>
				{{ if .Notices }}
					<tfoot class="full-width">
							<tr>
								<th></th>
								<th colspan="5">
									<div class="ui right">
										<form method="post" action="{{AppSubUrl}}/admin/notices/empty">
											{{.CsrfTokenHtml}}
											<button type="submit" class="ui red small button">{{.i18n.Tr "admin.notices.delete_all"}}</button>
										</form>
									</div>
									<div class="ui floating upward dropdown small button">
										<span class="text">{{.i18n.Tr "admin.notices.actions"}}</span>
										<div class="menu">
											<div class="item select action" data-action="select-all">
												{{.i18n.Tr "admin.notices.select_all"}}
											</div>
											<div class="item select action" data-action="deselect-all">
												{{.i18n.Tr "admin.notices.deselect_all"}}
											</div>
											<div class="item select action" data-action="inverse">
												{{.i18n.Tr "admin.notices.inverse_selection"}}
											</div>
										</div>
									</div>
									<div class="ui small teal button" id="delete-selection" data-link="{{.Link}}/delete" data-redirect="{{.Link}}?page={{.Page.Paginater.Current}}">
										{{.i18n.Tr "admin.notices.delete_selected"}}
									</div>
								</th>
							</tr>
					</tfoot>
				{{ end }}
			</table>
		</div>

		{{ template "base/paginate" . }}
	</div>
</div>

<div class="ui modal" id="detail-modal">
	<i class="close icon"></i>
	<div class="header">{{$.i18n.Tr "admin.notices.view_detail_header"}}</div>
	<div class="content">
		<p></p>
	</div>
</div>
{{template "base/footer" .}}
