<h4 class="ui top attached header">
	{{.locale.Tr "admin.monitor.pprof"}}
</h4>
<div class="ui attached segment">
	<h4>{{.locale.Tr "admin.monitor.pprof.cpuprofile"}}</h4>
	<form action="{{AppSubUrl}}/admin/monitor/cpu-profile">
		<div class="ui form">
			<div class="field">
				<label for="pprof-cpuprofile-duration">{{.locale.Tr "admin.monitor.pprof.duration"}}</label>
				<input id="pprof-cpuprofile-duration" type="text" name="duration" placeholder="{{.locale.Tr "admin.monitor.pprof.duration_placeholder"}}">
			</div>
			<input class="ui button basic" type="submit" value="{{.locale.Tr "admin.monitor.pprof.download"}}">
		</div>
	</form>
	<h4>{{.locale.Tr "admin.monitor.pprof.fgprof"}}</h4>
	<form action="{{AppSubUrl}}/admin/monitor/fgprof">
		<div class="ui form">
			<div class="field">
				<label for="pprof-fgprof-duration">{{.locale.Tr "admin.monitor.pprof.duration"}}</label>
				<input id="pprof-fgprof-duration" type="text" name="duration" placeholder="{{.locale.Tr "admin.monitor.pprof.duration_placeholder"}}">
			</div>
			<div class="field">
				<label for="pprof-fgprof-format">{{.locale.Tr "admin.monitor.pprof.fgprof.format"}}</label>
				<select class="ui search dropdown" id="pprof-fgprof-format" name="format">
					<option value="pprof" selected>pprof</option>
					<option value="folded">folded</option>
				</select>
			</div>
			<input class="ui button basic" type="submit" value="{{.locale.Tr "admin.monitor.pprof.download"}}">
		</div>
	</form>
	<h4>{{.locale.Tr "admin.monitor.stacktrace"}}</h4>
	<form action="{{AppSubUrl}}/admin/monitor/stacktrace-profile">
		<div class="ui form">
			<div class="inline field">
				<div class="ui checkbox">
					<input id="pprof-stacktrace-flat" type="checkbox" tabindex="0" class="hidden" name="flat">
					<label for="pprof-stacktrace-flat">{{.locale.Tr "admin.monitor.pprof.stacktrace.flat"}}</label>
				</div>
			</div>
			<div class="inline field">
				<div class="ui checkbox">
					<input id="pprof-stacktrace-no-system" type="checkbox" tabindex="0" class="hidden" name="no-system">
					<label for="pprof-stacktrace-no-system">{{.locale.Tr "admin.monitor.pprof.stacktrace.no-system"}}</label>
				</div>
			</div>
			<div class="field">
				<label for="pprof-stacktrace-format">{{.locale.Tr "admin.monitor.pprof.stacktrace.format"}}</label>
				<select class="ui search dropdown" id="pprof-stacktrace-format" name="format">
					<option value="text" selected>text</option>
					<option value="json">json</option>
				</select>
			</div>
			<input class="ui button basic" type="submit" value="{{.locale.Tr "admin.monitor.pprof.download"}}">
		</div>
	</form>
	<h4>{{.locale.Tr "admin.monitor.pprof.trace"}}</h4>
	<form action="{{AppSubUrl}}/admin/monitor/trace">
		<div class="ui form">
			<div class="field">
				<label for="pprof-trace-duration">{{.locale.Tr "admin.monitor.pprof.duration"}}</label>
				<input id="pprof-trace-duration" type="text" name="duration" placeholder="{{.locale.Tr "admin.monitor.pprof.duration_placeholder"}}">
			</div>
			<input class="ui button basic" type="submit" value="{{.locale.Tr "admin.monitor.pprof.download"}}">
		</div>
	</form>
	<h4>{{.locale.Tr "admin.monitor.pprof.named_profiles"}}</h4>
	<form action="{{AppSubUrl}}/admin/monitor/profile">
		<div class="ui form">
			<div class="field">
				<label for="pprof-named_profiles-name">{{.locale.Tr "admin.monitor.pprof.named_profiles.name"}}</label>
				<select class="ui search dropdown" id="pprof-named_profiles-name" name="name">
					{{range .Profiles}}
						<option value="{{.Name}}">{{.Name}}</option>
					{{end}}
				</select>
			</div>
			<div class="field">
				<label for="pprof-named_profiles-debug">{{$.locale.Tr "admin.monitor.pprof.named_profiles.debug"}}</label>
				<select class="ui search dropdown" id="pprof-named_profiles-debug" name="format">
					<option value="0" selected>{{.locale.Tr "admin.monitor.pprof.named_profiles.format_pprof"}}</option>
					<option value="1">{{.locale.Tr "admin.monitor.pprof.named_profiles.format_text"}}</option>
					<option value="2">{{.locale.Tr "admin.monitor.pprof.named_profiles.format_goroutine"}}</option>
				</select>
			</div>
			<input class="ui button basic" type="submit" value="{{$.locale.Tr "admin.monitor.pprof.download"}}">
		</div>
	</form>
</div>
