<div class="item">
	<div class="gt-df gt-ac">
		<div class="icon gt-ml-3 gt-mr-3">{{if eq .Process.Type "request"}}{{svg "octicon-globe" 16}}{{else if eq .Process.Type "system"}}{{svg "octicon-cpu" 16}}{{else}}{{svg "octicon-terminal" 16}}{{end}}</div>
		<div class="content gt-f1">
			<div class="header">{{.Process.Description}}</div>
			<div class="description">{{TimeSince .Process.Start .root.locale}}</div>
		</div>
		<div>
			{{if ne .Process.Type "system"}}
				<a class="delete-button icon" href="" data-url="{{.root.Link}}/cancel/{{.Process.PID}}" data-id="{{.Process.PID}}" data-name="{{.Process.Description}}">{{svg "octicon-trash" 16 "text-red"}}</a>
			{{end}}
		</div>
	</div>

	{{$children := .Process.Children}}
	{{if $children}}
		<div class="divided list">
			{{range $children}}
				{{template "admin/process-row" dict "Process" . "root" $.root}}
			{{end}}
		</div>
	{{end}}
</div>
