{{template "admin/layout_head" (dict "ctxData" . "pageClass" "admin monitor")}}
<div class="admin-setting-content">

	<div class="gt-df gt-ac">
		<div class="gt-f1">
			<div class="ui compact small menu">
				<a class="{{if eq .ShowGoroutineList "process"}}active {{end}}item" href="{{.Link}}?show=process">{{.locale.Tr "admin.monitor.process"}}</a>
				<a class="{{if eq .ShowGoroutineList "stacktrace"}}active {{end}}item" href="{{.Link}}?show=stacktrace">{{.locale.Tr "admin.monitor.stacktrace"}}</a>
			</div>
		</div>
		<form target="_blank" action="{{AppSubUrl}}/admin/monitor/diagnosis" class="ui form">
			<div class="ui inline field">
				<button class="ui primary small button">{{.locale.Tr "admin.monitor.download_diagnosis_report"}}</button>
				<input name="seconds" size="3" maxlength="3" value="10"> {{.locale.Tr "tool.raw_seconds"}}
			</div>
		</form>
	</div>

	<div class="ui divider"></div>

	<h4 class="ui top attached header">
		{{printf "%d Goroutines" .GoroutineCount}}{{/* Goroutine is non-translatable*/}}
		{{- if .ProcessCount -}}, {{.locale.Tr "admin.monitor.processes_count" .ProcessCount}}{{- end -}}
	</h4>

	{{if .ProcessStacks}}
	<div class="ui attached segment">
		<div class="ui relaxed divided list">
			{{range .ProcessStacks}}
				{{template "admin/stacktrace-row" dict "Process" . "root" $}}
			{{end}}
		</div>
	</div>
	{{end}}
</div>

<div class="ui g-modal-confirm delete modal">
	<div class="header">
		{{.locale.Tr "admin.monitor.process.cancel"}}
	</div>
	<div class="content">
		<p>{{$.locale.Tr "admin.monitor.process.cancel_notices" `<span class="name"></span>` | Safe}}</p>
		<p>{{$.locale.Tr "admin.monitor.process.cancel_desc"}}</p>
	</div>
	{{template "base/modal_actions_confirm" .}}
</div>

{{template "admin/layout_footer" .}}
