{{if eq .PackageDescriptor.Package.Type "arch"}}
	<h4 class="ui top attached header">{{ctx.Locale.Tr "packages.installation"}}</h4>
	<div class="ui attached segment">
		<div class="ui form">

			<div class="field">
				<label>{{svg "octicon-gear"}} {{ctx.Locale.Tr "packages.arch.pacmanconf" | Safe}}</label>
				<div class="markup"><pre class="code-block"><code>[{{.PackageDescriptor.Owner.LowerName}}.{{.RegistryHost}}]
SigLevel = Optional TrustAll
Server = <gitea-origin-url data-url="{{AppSubUrl}}/api/packages/{{.PackageDescriptor.Owner.Name}}/arch/$distribution/$arch"></gitea-origin-url></code></pre></div>
			</div>

			<div class="field">
				<label>{{svg "octicon-sync"}} {{ctx.Locale.Tr "packages.arch.pacmansync"}}</label>
				<div class="markup"><pre class="code-block"><code>pacman -Sy {{.PackageDescriptor.Package.LowerName}}</code></pre></div>
			</div>

			<div class="field">
				{{ctx.Locale.Tr "packages.arch.documentation" (printf `<a target="_blank" rel="noopener noreferrer" href="https://docs.gitea.io/en-us/usage/packages/arch/">`) (printf `</a>`) | Safe}}
			</div>
		</div>
	</div>

	<h4 class="ui top attached header">{{ctx.Locale.Tr "packages.arch.properties"}}</h4>
	<div class="ui attached segment">
	<table class="ui very basic compact table">
		<tbody>
			<tr>
				<td class="collapsing"><h5>{{ctx.Locale.Tr "packages.arch.description"}}</h5></td>
				<td>{{.PackageDescriptor.Metadata.Description}}</td>
			</tr>

			{{if .PackageDescriptor.Metadata.Provides}}
			<tr>
				<td class="collapsing"><h5>{{ctx.Locale.Tr "packages.arch.provides"}}</h5></td>
				<td>{{StringUtils.Join $.PackageDescriptor.Metadata.Provides ", "}}</td>
			</tr>
			{{end}}

			{{if .PackageDescriptor.Metadata.Depends}}
			<tr>
				<td class="collapsing"><h5>{{ctx.Locale.Tr "packages.arch.depends"}}</h5></td>
				<td>{{StringUtils.Join $.PackageDescriptor.Metadata.Depends ", "}}</td>
			</tr>
			{{end}}

			{{if .PackageDescriptor.Metadata.OptDepends}}
			<tr>
				<td class="collapsing"><h5>{{ctx.Locale.Tr "packages.arch.optdepends"}}</h5></td>
				<td>{{StringUtils.Join $.PackageDescriptor.Metadata.OptDepends ", "}}</td>
			</tr>
			{{end}}

			{{if .PackageDescriptor.Metadata.MakeDepends}}
			<tr>
				<td class="collapsing"><h5>{{ctx.Locale.Tr "packages.arch.makedepends"}}</h5></td>
				<td>{{StringUtils.Join $.PackageDescriptor.Metadata.MakeDepends ", "}}</td>
			</tr>
			{{end}}

			{{if .PackageDescriptor.Metadata.CheckDepends}}
			<tr>
				<td class="collapsing"><h5>{{ctx.Locale.Tr "packages.arch.checkdepends"}}</h5></td>
				<td>{{StringUtils.Join $.PackageDescriptor.Metadata.CheckDepends ", "}}</td>
			</tr>
			{{end}}
		</tbody>
	</table>
	</div>
{{end}}
