{{if eq .PackageDescriptor.Package.Type "cargo"}}
	<h4 class="ui top attached header">{{.locale.Tr "packages.installation"}}</h4>
	<div class="ui attached segment">
		<div class="ui form">
			<div class="field">
				<label>{{svg "octicon-code"}} {{.locale.Tr "packages.cargo.registry" | Safe}}</label>
				<div class="markup"><pre class="code-block"><code>[registry]
default = "gitea"

[registries.gitea]
index = "<gitea-origin-url data-url="{{AppSubUrl}}/{{.PackageDescriptor.Owner.Name}}/_cargo-index.git"></gitea-origin-url>"

[net]
git-fetch-with-cli = true</code></pre></div>
			</div>
			<div class="field">
				<label>{{svg "octicon-terminal"}} {{.locale.Tr "packages.cargo.install"}}</label>
				<div class="markup"><pre class="code-block"><code>cargo add {{.PackageDescriptor.Package.Name}}@{{.PackageDescriptor.Version.Version}}</code></pre></div>
			</div>
			<div class="field">
				<label>{{.locale.Tr "packages.cargo.documentation" "https://docs.gitea.io/en-us/usage/packages/cargo/" | Safe}}</label>
			</div>
		</div>
	</div>

	{{if or .PackageDescriptor.Metadata.Description .PackageDescriptor.Metadata.Readme}}
		<h4 class="ui top attached header">{{.locale.Tr "packages.about"}}</h4>
		{{if .PackageDescriptor.Metadata.Description}}<div class="ui attached segment">{{.PackageDescriptor.Metadata.Description}}</div>{{end}}
		{{if .PackageDescriptor.Metadata.Readme}}<div class="ui attached segment">{{RenderMarkdownToHtml $.Context .PackageDescriptor.Metadata.Readme}}</div>{{end}}
	{{end}}

	{{if .PackageDescriptor.Metadata.Dependencies}}
		<h4 class="ui top attached header">{{.locale.Tr "packages.dependencies"}}</h4>
		<div class="ui attached segment">
			<table class="ui single line very basic table">
				<thead>
					<tr>
						<th class="ten wide">{{.locale.Tr "packages.dependency.id"}}</th>
						<th class="six wide">{{.locale.Tr "packages.dependency.version"}}</th>
					</tr>
				</thead>
				<tbody>
					{{range .PackageDescriptor.Metadata.Dependencies}}
					<tr>
						<td>{{.Name}}</td>
						<td>{{.Req}}</td>
					</tr>
					{{end}}
				</tbody>
			</table>
		</div>
	{{end}}

	{{if .PackageDescriptor.Metadata.Keywords}}
		<h4 class="ui top attached header">{{.locale.Tr "packages.keywords"}}</h4>
		<div class="ui attached segment">
			{{range .PackageDescriptor.Metadata.Keywords}}
				{{.}}
			{{end}}
		</div>
	{{end}}
{{end}}
