{{if eq .PackageDescriptor.Package.Type "composer"}}
	<h4 class="ui top attached header">{{ctx.Locale.Tr "packages.installation"}}</h4>
	<div class="ui attached segment">
		<div class="ui form">
			<div class="field">
				<label>{{svg "octicon-code"}} {{ctx.Locale.Tr "packages.composer.registry"}}</label>
				<div class="markup"><pre class="code-block"><code>{
	"repositories": [{
			"type": "composer",
			"url": "<origin-url data-url="{{AppSubUrl}}/api/packages/{{.PackageDescriptor.Owner.Name}}/composer"></origin-url>"
		}
	]
}</code></pre></div>
			</div>
			<div class="field">
				<label>{{svg "octicon-terminal"}} {{ctx.Locale.Tr "packages.composer.install"}}</label>
				<div class="markup"><pre class="code-block"><code>composer require {{.PackageDescriptor.Package.Name}}:{{.PackageDescriptor.Version.Version}}</code></pre></div>
			</div>
			<div class="field">
				<label>{{ctx.Locale.Tr "packages.registry.documentation" "Composer" "https://docs.gitea.com/usage/packages/composer/"}}</label>
			</div>
		</div>
	</div>

	{{if or .PackageDescriptor.Metadata.Description .PackageDescriptor.Metadata.Comments}}
		<h4 class="ui top attached header">{{ctx.Locale.Tr "packages.about"}}</h4>
		{{if .PackageDescriptor.Metadata.Description}}<div class="ui attached segment">{{.PackageDescriptor.Metadata.Description}}</div>{{end}}
		{{if .PackageDescriptor.Metadata.Readme}}<div class="ui attached segment markup markdown">{{ctx.RenderUtils.MarkdownToHtml .PackageDescriptor.Metadata.Readme}}</div>{{end}}
		{{if .PackageDescriptor.Metadata.Comments}}<div class="ui attached segment">{{StringUtils.Join .PackageDescriptor.Metadata.Comments " "}}</div>{{end}}
	{{end}}

	{{if or .PackageDescriptor.Metadata.Require .PackageDescriptor.Metadata.RequireDev}}
		<h4 class="ui top attached header">{{ctx.Locale.Tr "packages.dependencies"}}</h4>
		<div class="ui attached segment">
			<div class="ui list">
				{{template "package/content/composer_dependencies" dict "root" $ "dependencies" .PackageDescriptor.Metadata.Require "title" (ctx.Locale.Tr "packages.composer.dependencies")}}
				{{template "package/content/composer_dependencies" dict "root" $ "dependencies" .PackageDescriptor.Metadata.RequireDev "title" (ctx.Locale.Tr "packages.composer.dependencies.development")}}
			</div>
		</div>
	{{end}}

	{{if .PackageDescriptor.Metadata.Keywords}}
		<h4 class="ui top attached header">{{ctx.Locale.Tr "packages.keywords"}}</h4>
		<div class="ui attached segment">
			{{range .PackageDescriptor.Metadata.Keywords}}
				{{.}}
			{{end}}
		</div>
	{{end}}
{{end}}
