{{if eq .Package.Type 0}}
	<h4 class="ui top attached header">{{.i18n.Tr "packages.installation"}}</h4>
	<div class="ui attached segment">
		<div class="ui form">
			<div class="field">
				<label for="download-input">{{svg "octicon-terminal"}} {{.i18n.Tr "packages.generic.download"}}</label>
				<input id="download-input" type="text" readonly="readonly" value="curl {{AppUrl}}api/v1/packages/{{.PackageDescriptor.Owner.Name}}/generic/{{.Package.LowerName}}/{{.Package.Version}}/{{(index .Files 0).LowerName}}">
			</div>
			<div class="field">
				<label>{{.i18n.Tr "packages.generic.documentation" | Safe}}</label>
			</div>
		</div>
	</div>
{{end}}
