{{if and (eq .PackageDescriptor.Package.Type "maven") (not .PackageDescriptor.Metadata)}}
	<h4 class="ui top attached header">{{ctx.Locale.Tr "packages.installation"}}</h4>
	<div class="ui attached segment">{{ctx.Locale.Tr "packages.no_metadata"}}</div>
{{end}}
{{if and (eq .PackageDescriptor.Package.Type "maven") .PackageDescriptor.Metadata}}
	<h4 class="ui top attached header">{{ctx.Locale.Tr "packages.installation"}}</h4>
	<div class="ui attached segment">
		<div class="ui form">
			<div class="field">
				<label>{{svg "octicon-code"}} {{ctx.Locale.Tr "packages.maven.registry"}}</label>
				<div class="markup"><pre class="code-block"><code>&lt;repositories&gt;
	&lt;repository&gt;
		&lt;id&gt;gitea&lt;/id&gt;
		&lt;url&gt;<origin-url data-url="{{AppSubUrl}}/api/packages/{{.PackageDescriptor.Owner.Name}}/maven"></origin-url>&lt;/url&gt;
	&lt;/repository&gt;
&lt;/repositories&gt;

&lt;distributionManagement&gt;
	&lt;repository&gt;
		&lt;id&gt;gitea&lt;/id&gt;
		&lt;url&gt;<origin-url data-url="{{AppSubUrl}}/api/packages/{{.PackageDescriptor.Owner.Name}}/maven"></origin-url>&lt;/url&gt;
	&lt;/repository&gt;

	&lt;snapshotRepository&gt;
		&lt;id&gt;gitea&lt;/id&gt;
		&lt;url&gt;<origin-url data-url="{{AppSubUrl}}/api/packages/{{.PackageDescriptor.Owner.Name}}/maven"></origin-url>&lt;/url&gt;
	&lt;/snapshotRepository&gt;
&lt;/distributionManagement&gt;</code></pre></div>
			</div>
			<div class="field">
				<label>{{svg "octicon-code"}} {{ctx.Locale.Tr "packages.maven.install"}}</label>
				<div class="markup"><pre class="code-block"><code>&lt;dependency&gt;
	&lt;groupId&gt;{{.PackageDescriptor.Metadata.GroupID}}&lt;/groupId&gt;
	&lt;artifactId&gt;{{.PackageDescriptor.Metadata.ArtifactID}}&lt;/artifactId&gt;
	&lt;version&gt;{{.PackageDescriptor.Version.Version}}&lt;/version&gt;
&lt;/dependency&gt;</code></pre></div>
			</div>
			<div class="field">
				<label>{{svg "octicon-terminal"}} {{ctx.Locale.Tr "packages.maven.install2"}}</label>
				<div class="markup"><pre class="code-block"><code>mvn install</code></pre></div>
			</div>
			<div class="field">
				<label>{{svg "octicon-terminal"}} {{ctx.Locale.Tr "packages.maven.download"}}</label>
				<div class="markup"><pre class="code-block"><code>mvn dependency:get -DremoteRepositories=<origin-url data-url="{{AppSubUrl}}/api/packages/{{.PackageDescriptor.Owner.Name}}/maven"></origin-url> -Dartifact={{.PackageDescriptor.Metadata.GroupID}}:{{.PackageDescriptor.Metadata.ArtifactID}}:{{.PackageDescriptor.Version.Version}}</code></pre></div>
			</div>
			<div class="field">
				<label>{{ctx.Locale.Tr "packages.registry.documentation" "Maven" "https://docs.gitea.com/usage/packages/maven/"}}</label>
			</div>
		</div>
	</div>

	{{if .PackageDescriptor.Metadata.Description}}
		<h4 class="ui top attached header">{{ctx.Locale.Tr "packages.about"}}</h4>
		<div class="ui attached segment">
			{{.PackageDescriptor.Metadata.Description}}
		</div>
	{{end}}

	{{if .PackageDescriptor.Metadata.Dependencies}}
		<h4 class="ui top attached header">{{ctx.Locale.Tr "packages.dependencies"}}</h4>
		<div class="ui attached segment">
			<div class="ui list">
				{{range .PackageDescriptor.Metadata.Dependencies}}
					<div class="item">
						<i class="icon">{{svg "octicon-package-dependencies" 16 ""}}</i>
						<div class="content">
							<div class="header">{{.GroupID}}:{{.ArtifactID}}</div>
							<div class="description text small">{{.Version}}</div>
						</div>
					</div>
				{{end}}
			</div>
		</div>
	{{end}}
{{end}}
