{{if eq .PackageDescriptor.Package.Type "nuget"}}
	<h4 class="ui top attached header">{{.locale.Tr "packages.installation"}}</h4>
	<div class="ui attached segment">
		<div class="ui form">
			<div class="field">
				<label>{{svg "octicon-terminal"}} {{.locale.Tr "packages.nuget.registry"}}</label>
				<div class="markup"><pre class="code-block"><code>dotnet nuget add source --name {{.PackageDescriptor.Owner.Name}} --username your_username --password your_token <gitea-origin-url data-url="{{AppSubUrl}}/api/packages/{{.PackageDescriptor.Owner.Name}}/nuget/index.json"></gitea-origin-url></code></pre></div>
			</div>
			<div class="field">
				<label>{{svg "octicon-terminal"}} {{.locale.Tr "packages.nuget.install"}}</label>
				<div class="markup"><pre class="code-block"><code>dotnet add package --source {{.PackageDescriptor.Owner.Name}} --version {{.PackageDescriptor.Version.Version}} {{.PackageDescriptor.Package.Name}}</code></pre></div>
			</div>
			<div class="field">
				<label>{{.locale.Tr "packages.nuget.documentation" "https://docs.gitea.com/usage/packages/nuget/" | Safe}}</label>
			</div>
		</div>
	</div>

	{{if or .PackageDescriptor.Metadata.Description .PackageDescriptor.Metadata.ReleaseNotes}}
		<h4 class="ui top attached header">{{.locale.Tr "packages.about"}}</h4>
		<div class="ui attached segment">
			{{if .PackageDescriptor.Metadata.Description}}{{.PackageDescriptor.Metadata.Description}}{{end}}
			{{if .PackageDescriptor.Metadata.ReleaseNotes}}{{Str2html .PackageDescriptor.Metadata.ReleaseNotes}}{{end}}
		</div>
	{{end}}

	{{if .PackageDescriptor.Metadata.Dependencies}}
		<h4 class="ui top attached header">{{.locale.Tr "packages.dependencies"}}</h4>
		<div class="ui attached segment">
			<table class="ui single line very basic table">
				<thead>
					<tr>
						<th class="ten wide">{{.locale.Tr "packages.dependency.id"}}</th>
						<th class="three wide">{{.locale.Tr "packages.dependency.version"}}</th>
						<th class="three wide">{{.locale.Tr "packages.nuget.dependency.framework"}}</th>
					</tr>
				</thead>
				<tbody>
					{{range $framework, $dependencies := .PackageDescriptor.Metadata.Dependencies}}
						{{range $dependencies}}
						<tr>
							<td>{{.ID}}</td>
							<td>{{.Version}}</td>
							<td>{{$framework}}</td>
						</tr>
						{{end}}
					{{end}}
				</tbody>
			</table>
		</div>
	{{end}}
{{end}}
