{{if eq .PackageDescriptor.Package.Type "swift"}}
	<h4 class="ui top attached header">{{.locale.Tr "packages.installation"}}</h4>
	<div class="ui attached segment">
		<div class="ui form">
			<div class="field">
				<label>{{svg "octicon-terminal"}} {{.locale.Tr "packages.swift.registry"}}</label>
				<div class="markup"><pre class="code-block"><code>swift package-registry set <gitea-origin-url data-url="{{AppSubUrl}}/api/packages/{{.PackageDescriptor.Owner.Name}}/swift"></gitea-origin-url></code></pre></div>
			</div>
			<div class="field">
				<label>{{svg "octicon-code"}} {{.locale.Tr "packages.swift.install" | Safe}}</label>
				<div class="markup"><pre class="code-block"><code>dependencies: [
	.package(id: "{{.PackageDescriptor.Package.Name}}", from:"{{.PackageDescriptor.Version.Version}}")
]</code></pre></div>
			</div>
			<div class="field">
				<label>{{svg "octicon-terminal"}} {{.locale.Tr "packages.swift.install2"}}</label>
				<div class="markup"><pre class="code-block"><code>swift package resolve</code></pre></div>
			</div>
			<div class="field">
				<label>{{.locale.Tr "packages.swift.documentation" "https://docs.gitea.com/usage/packages/swift/" | Safe}}</label>
			</div>
		</div>
	</div>

	{{if .PackageDescriptor.Metadata.Description}}
		<h4 class="ui top attached header">{{.locale.Tr "packages.about"}}</h4>
		<div class="ui attached segment">
			{{if .PackageDescriptor.Metadata.Description}}{{.PackageDescriptor.Metadata.Description}}{{end}}
		</div>
	{{end}}

	{{if .PackageDescriptor.Metadata.Keywords}}
		<h4 class="ui top attached header">{{.locale.Tr "packages.keywords"}}</h4>
		<div class="ui attached segment">
			{{range .PackageDescriptor.Metadata.Keywords}}
				{{.}}
			{{end}}
		</div>
	{{end}}
{{end}}
