{{template "base/head" .}}
<div class="page-content repository diff">
	{{template "repo/header" .}}
	<div class="ui container {{if .IsSplitStyle}}fluid padded{{end}}">
		{{$class := ""}}
		{{if .Commit.Signature}}
			{{$class = (printf "%s%s" $class " isSigned")}}
			{{if .Verification.Verified}}
				{{if eq .Verification.TrustStatus "trusted"}}
					{{$class = (printf "%s%s" $class " isVerified")}}
				{{else if eq .Verification.TrustStatus "untrusted"}}
					{{$class = (printf "%s%s" $class " isVerifiedUntrusted")}}
				{{else}}
					{{$class = (printf "%s%s" $class " isVerifiedUnmatched")}}
				{{end}}
			{{else if .Verification.Warning}}
				{{$class = (printf "%s%s" $class " isWarning")}}
			{{end}}
		{{end}}
		<div class="ui top attached info clearing segment {{$class}}">
			{{if not $.PageIsWiki}}
			<a class="ui floated right blue tiny button" href="{{EscapePound .SourcePath}}">
				{{.i18n.Tr "repo.diff.browse_source"}}
			</a>
			{{end}}
			<h3><span class="message-wrapper"><span class="commit-summary" title="{{.Commit.Summary}}">{{RenderCommitMessage .Commit.Message $.RepoLink $.Repository.ComposeMetas}}</span></span>{{template "repo/commits/commit_statuses" dict "Status" .CommitStatus "Statuses" .CommitStatuses  "root" $}}</h3>
			{{if IsMultilineCommitMessage .Commit.Message}}
				<pre class="commit-body">{{RenderCommitBody .Commit.Message $.RepoLink $.Repository.ComposeMetas}}</pre>
			{{end}}
			{{if .BranchName}}
				<span class="text grey">{{svg "octicon-git-branch"}}{{.BranchName}}</span>
			{{end}}
			{{if .TagName}}
				<span class="text grey">{{svg "octicon-tag"}}{{.TagName}}</span>
			{{end}}
		</div>
		<div class="ui attached info segment {{$class}}">
			<div class="ui stackable grid">
				<div class="nine wide column">
					{{if .Author}}
						{{avatar .Author}}
						{{if .Author.FullName}}
							<a href="{{.Author.HomeLink}}"><strong>{{.Author.FullName}}</strong></a>
						{{else}}
							<a href="{{.Author.HomeLink}}"><strong>{{.Commit.Author.Name}}</strong></a>
						{{end}}
					{{else}}
						{{avatarByEmail .Commit.Author.Email .Commit.Author.Email 12}}
						<strong>{{.Commit.Author.Name}}</strong>
					{{end}}
					<span class="text grey" id="authored-time">{{TimeSince .Commit.Author.When $.Lang}}</span>
					{{if or (ne .Commit.Committer.Name .Commit.Author.Name) (ne .Commit.Committer.Email .Commit.Author.Email)}}
						<div class="committed-by">
							<span class="text grey">{{svg "octicon-git-commit"}}{{.i18n.Tr "repo.diff.committed_by"}}</span>
							{{if ne .Verification.CommittingUser.ID 0}}
								{{avatar .Verification.CommittingUser}}
								<a href="{{.Verification.CommittingUser.HomeLink}}"><strong>{{.Commit.Committer.Name}}</strong></a>
							{{else}}
								{{avatarByEmail .Commit.Committer.Email .Commit.Committer.Name}}
								<strong>{{.Commit.Committer.Name}}</strong>
							{{end}}
						</div>
					{{end}}

				</div>
				<div class="seven wide right aligned column">
					<div class="ui horizontal list">
						{{if .Parents}}
							<div class="item">
								{{.i18n.Tr "repo.diff.parent"}}
							</div>
							<div class="item">
								{{range .Parents}}
									{{if $.PageIsWiki}}
										<a class="ui blue sha label" href="{{$.RepoLink}}/wiki/commit/{{.}}">{{ShortSha .}}</a>
									{{else}}
										<a class="ui blue sha label" href="{{$.RepoLink}}/commit/{{.}}">{{ShortSha .}}</a>
									{{end}}
								{{end}}
							</div>
						{{end}}
						<div class="mobile-only"></div>
						<div class="item">{{.i18n.Tr "repo.diff.commit"}}</div>
						<div class="item"><span class="ui blue sha label">{{ShortSha .CommitID}}</span></div>
					</div>
				</div><!-- end column -->
			</div><!-- end grid -->
		</div>
		{{if .Commit.Signature}}
			<div class="ui bottom attached message {{$class}}">
				{{if .Verification.Verified }}
					{{if ne .Verification.SigningUser.ID 0}}
						{{svg "gitea-lock"}}
						{{if eq .Verification.TrustStatus "trusted"}}
							<span class="ui text">{{.i18n.Tr "repo.commits.signed_by"}}:</span>
						{{else if eq .Verification.TrustStatus "untrusted"}}
							<span class="ui text">{{.i18n.Tr "repo.commits.signed_by_untrusted_user"}}:</span>
						{{else}}
							<span class="ui text">{{.i18n.Tr "repo.commits.signed_by_untrusted_user_unmatched"}}:</span>
						{{end}}
						{{avatar .Verification.SigningUser}}
						<a href="{{.Verification.SigningUser.HomeLink}}"><strong>{{.Verification.SigningUser.Name}}</strong></a>
						<span class="pull-right"><span class="ui text">{{.i18n.Tr "repo.commits.gpg_key_id"}}:</span> {{.Verification.SigningKey.KeyID}}</span>
					{{else}}
						<span title="{{.i18n.Tr "gpg.default_key"}}">{{svg "gitea-lock-cog"}}</span>
						<span class="ui text">{{.i18n.Tr "repo.commits.signed_by"}}:</span>
						{{avatarByEmail .Verification.SigningEmail ""}}
						<strong>{{.Verification.SigningUser.Name}}</strong>
						<span class="pull-right"><span class="ui text">{{.i18n.Tr "repo.commits.gpg_key_id"}}:</span> <i class="cogs icon" title="{{.i18n.Tr "gpg.default_key"}}"></i>{{.Verification.SigningKey.KeyID}}</span>
					{{end}}
				{{else if .Verification.Warning}}
					{{svg "gitea-unlock"}}
					<span class="ui text">{{.i18n.Tr .Verification.Reason}}</span>
					<span class="pull-right"><span class="ui text">{{.i18n.Tr "repo.commits.gpg_key_id"}}:</span> <i class="warning icon"></i>{{.Verification.SigningKey.KeyID}}</span>
				{{else}}
				  <i class="unlock icon"></i>
				  {{.i18n.Tr .Verification.Reason}}
				  {{if .Verification.SigningKey}}
				  	{{if ne .Verification.SigningKey.KeyID ""}}
						<span class="pull-right"><span class="ui text">{{.i18n.Tr "repo.commits.gpg_key_id"}}:</span> <i class="warning icon"></i>{{.Verification.SigningKey.KeyID}}</span>
				  	{{end}}
				  {{end}}
				{{end}}
			</div>
		{{end}}
		{{if .Note}}
			<div class="ui top attached info segment message git-notes">
				<i class="sticky note icon"></i>
				{{.i18n.Tr "repo.diff.git-notes"}}:
				{{if .NoteAuthor}}
					<a href="{{.NoteAuthor.HomeLink}}">
						{{if .NoteAuthor.FullName}}
						  <strong>{{.NoteAuthor.FullName}}</strong>
						{{else}}
						  <strong>{{.NoteCommit.Author.Name}}</strong>
						{{end}}
					</a>
				{{else}}
					<strong>{{.NoteCommit.Author.Name}}</strong>
				{{end}}
				<span class="text grey" id="note-authored-time">{{TimeSince .NoteCommit.Author.When $.Lang}}</span>
			</div>
			<div class="ui bottom attached info segment git-notes">
				<pre class="commit-body">{{RenderNote .Note $.RepoLink $.Repository.ComposeMetas}}</pre>
			</div>
		{{end}}
		{{template "repo/diff/box" .}}
		{{range .Comments}}
			{{ $createdStr:= TimeSinceUnix .CreatedUnix $.Lang }}
			<div class="timeline-item comment" id="{{.HashTag}}">
			{{if .OriginalAuthor }}
				<span class="timeline-avatar"><img src="/img/avatar_default.png"></span>
			{{else}}
				<a class="timeline-avatar" {{if gt .Poster.ID 0}}href="{{.Poster.HomeLink}}"{{end}}>
					{{avatar .Poster}}
				</a>
			{{end}}
			<div class="content comment-container">
				<div class="ui top attached header comment-header df ac sb">
					<div class="comment-header-left df ac">
						{{if .OriginalAuthor }}
							<span class="text black mr-2">
								<i class="fa {{MigrationIcon $.Repository.GetOriginalURLHostname}}" aria-hidden="true"></i>
								{{ .OriginalAuthor }}
							</span>
							<span class="text grey">
								{{$.i18n.Tr "repo.issues.commented_at" .Issue.HashTag $createdStr | Safe}} {{if $.Repository.OriginalURL}}
							</span>
							<span class="text migrate">
								({{$.i18n.Tr "repo.migrated_from" $.Repository.OriginalURL $.Repository.GetOriginalURLHostname | Safe }}){{end}}
							</span>
						{{else}}
							<span class="text grey">
								<a class="author"{{if gt .Poster.ID 0}} href="{{.Poster.HomeLink}}"{{end}}>
									{{.Poster.GetDisplayName}}
								</a>
								{{$.i18n.Tr "repo.issues.commented_at" .HashTag $createdStr | Safe}}
							</span>
						{{end}}
					</div>
					<div class="comment-header-right actions df ac">
						{{if not $.Repository.IsArchived}}
							{{if gt .ShowTag 0}}
								<div class="ui basic label">
									{{if eq .ShowTag 2}}
										{{$.i18n.Tr "repo.issues.collaborator"}}
									{{else if eq .ShowTag 3}}
										{{$.i18n.Tr "repo.issues.owner"}}
									{{end}}
								</div>
							{{end}}
							{{template "repo/issue/view_content/add_reaction" Dict "ctx" $ "ActionURL" (Printf "%s/comments/%d/reactions" $.RepoLink .ID)}}
							{{template "repo/issue/view_content/context_menu" Dict "ctx" $ "item" . "delete" true "issue" true "diff" false "IsCommentPoster" (and $.IsSigned (eq $.SignedUserID .PosterID))}}
						{{end}}
					</div>
				</div>
				<div class="ui attached segment comment-body">
					<div class="render-content markdown">
						{{if .RenderedContent}}
							{{.RenderedContent|Str2html}}
						{{else}}
							<span class="no-content">{{$.i18n.Tr "repo.issues.no_content"}}</span>
						{{end}}
					</div>
					<div id="comment-{{.ID}}" class="raw-content hide">{{.Content}}</div>
					<div class="edit-content-zone hide" data-write="issuecomment-{{.ID}}-write" data-preview="issuecomment-{{.ID}}-preview" data-update-url="{{$.RepoLink}}/comments/{{.ID}}" data-context="{{$.RepoLink}}" data-attachment-url="{{$.RepoLink}}/comments/{{.ID}}/attachments"></div>
    				{{if .Attachments}}
    					{{template "repo/issue/view_content/attachments" Dict "ctx" $ "Attachments" .Attachments "Content" .RenderedContent}}
    				{{end}}
				</div>
				{{$reactions := .Reactions.GroupByType}}
				{{if $reactions}}
					<div class="ui attached segment reactions">
						{{template "repo/issue/view_content/reactions" Dict "ctx" $ "ActionURL" (Printf "%s/comments/%d/reactions" $.RepoLink .ID) "Reactions" $reactions}}
					</div>
				{{end}}
			</div>
		{{end}}
		{{if .SignedUser}}
			<form class="ui comment form stackable grid" id="new-comment-commit" action="{{.Link}}/create_comment" method="post">
				{{.CsrfTokenHtml}}
				<div class="sixteen wide column">
					<div class="ui comments">
						<div class="comment">
							<a class="avatar" href="{{.SignedUser.HomeLink}}">
								{{avatar .SignedUser}}
							</a>
							<div class="ui segment content">
								{{template "repo/issue/comment_tab" .}}
								<div class="text right">
									<button class="ui green button" tabindex="6">
										{{.i18n.Tr "repo.commits.comment_on_commit"}}
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		{{end}}
	</div>
</div>
{{template "base/footer" .}}
