<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{.i18n.Tr "mail.activate_account.title" .DisplayName}}</title>
</head>

{{ $activate_url := printf "%suser/activate?code=%s" AppUrl .Code}}
<body>
	{{.i18n.Tr "mail.activate_account.body" .DisplayName .ActiveCodeLives $activate_url AppName | Str2html}}

	<p>© <a target="_blank" rel="noopener noreferrer" href="{{AppUrl}}">{{AppName}}</a></p>
</body>
</html>
