<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{.i18n.Tr "mail.register_notify.title" .DisplayName AppName}}</title>
</head>

<body>
	{{.i18n.Tr "mail.register_notify.body" .DisplayName .Username AppUrl AppName | Str2html}}

	{{.i18n.Tr "mail.footer" AppUrl AppName | Str2html}}
</body>
</html>
