<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{.i18n.Tr "mail.reset_password.title" .DisplayName}}</title>
</head>

{{ $recover_url := printf "%suser/recover_account?code=%s" AppUrl .Code}}
<body>
	{{.i18n.Tr "mail.reset_password.body" .DisplayName .ResetPwdCodeLives $recover_url | Str2html}}

	{{.i18n.Tr "mail.footer" AppUrl AppName | Str2html}}
</body>
</html>
