<div id="codespace-list-state" data-state-url="{{.CodespaceListStateURL}}" data-refresh-after-ms="{{.CodespaceListRefreshAfter}}">
	{{template "codespace/list_rows" .}}
	{{template "base/paginate" .}}
</div>
