<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Gitea API</title>
		<link href="{{AssetUrlPrefix}}/css/swagger.css?v={{AssetVersion}}" rel="stylesheet">
	</head>
	<body>
		<a class="swagger-back-link" href="{{AppSubUrl}}/">{{svg "octicon-reply"}}{{.locale.Tr "return_to_gitea"}}</a>
		<div id="swagger-ui" data-source="{{AppSubUrl}}/swagger.{{.APIJSONVersion}}.json"></div>
		<script src="{{AssetUrlPrefix}}/js/swagger.js?v={{AssetVersion}}"></script>
	</body>
</html>
