<h4 class="ui top attached header">
	{{.locale.Tr "secrets.management"}}
	<div class="ui right">
		<button class="ui primary tiny button show-modal"
			data-modal="#add-secret-modal"
			data-modal-form.action="{{.Link}}"
			data-modal-header="{{.locale.Tr "secrets.creation"}}"
		>
			{{.locale.Tr "secrets.creation"}}
		</button>
	</div>
</h4>
<div class="ui attached segment">
	{{if .Secrets}}
	<div class="ui key list">
		{{range $i, $v := .Secrets}}
		<div class="item gt-df gt-ac gt-fw {{if gt $i 0}} gt-py-4{{end}}">
			<div class="content gt-f1 gt-df gt-js">
				<div class="content">
					<i>{{svg "octicon-key" 32}}</i>
				</div>
				<div class="content gt-ml-3 gt-ellipsis">
					<strong>{{$v.Name}}</strong>
					<div class="print meta">******</div>
				</div>
			</div>
			<div class="content">
				<span class="color-text-light-2 gt-mr-5">
					{{$.locale.Tr "settings.added_on" (DateTime "short" $v.CreatedUnix) | Safe}}
				</span>
				<button class="ui btn interact-bg link-action gt-p-3"
					data-url="{{$.Link}}/delete?id={{.ID}}"
					data-modal-confirm="{{$.locale.Tr "secrets.deletion.description"}}"
					data-tooltip-content="{{$.locale.Tr "secrets.deletion"}}"
				>
					{{svg "octicon-trash"}}
				</button>
			</div>
		</div>
		{{end}}
	</div>
	{{else}}
		{{.locale.Tr "secrets.none"}}
	{{end}}
</div>

{{/* Add secret dialog */}}
<div class="ui small modal" id="add-secret-modal">
	<div class="header">
		<span id="actions-modal-header"></span>
	</div>
	<form class="ui form form-fetch-action" method="post">
		<div class="content">
			{{.CsrfTokenHtml}}
			<div class="field">
				{{.locale.Tr "secrets.description"}}
			</div>
			<div class="field">
				<label for="secret-name">{{.locale.Tr "name"}}</label>
				<input autofocus required
					id="secret-name"
					name="name"
					value="{{.name}}"
					pattern="^[a-zA-Z_][a-zA-Z0-9_]*$"
					placeholder="{{.locale.Tr "secrets.creation.name_placeholder"}}"
				>
			</div>
			<div class="field">
				<label for="secret-data">{{.locale.Tr "value"}}</label>
				<textarea required
					id="secret-data"
					name="data"
					placeholder="{{.locale.Tr "secrets.creation.value_placeholder"}}"
				></textarea>
			</div>
		</div>
		{{template "base/modal_actions_confirm" (dict "locale" $.locale "ModalButtonTypes" "confirm")}}
	</form>
</div>
