<h4 class="ui top attached header">
	{{ctx.Locale.Tr "secrets.management"}}
	<div class="ui right">
		<button class="ui primary tiny button show-modal"
			data-modal="#add-secret-modal"
			data-modal-form.action="{{.Link}}"
			data-modal-header="{{ctx.Locale.Tr "secrets.creation"}}"
		>
			{{ctx.Locale.Tr "secrets.creation"}}
		</button>
	</div>
</h4>
<div class="ui attached segment">
	{{if .Secrets}}
	<div class="flex-list">
		{{range .Secrets}}
		<div class="flex-item tw-items-center">
			<div class="flex-item-leading">
				{{svg "octicon-key" 32}}
			</div>
			<div class="flex-item-main">
				<div class="flex-item-title">
					{{.Name}}
				</div>
				<div class="flex-item-body">
					******
				</div>
			</div>
			<div class="flex-item-trailing">
				<span class="color-text-light-2">
					{{ctx.Locale.Tr "settings.added_on" (DateUtils.AbsoluteShort .CreatedUnix)}}
				</span>
				<button class="ui btn interact-bg link-action tw-p-2"
					data-url="{{$.Link}}/delete?id={{.ID}}"
					data-modal-confirm="{{ctx.Locale.Tr "secrets.deletion.description"}}"
					data-tooltip-content="{{ctx.Locale.Tr "secrets.deletion"}}"
				>
					{{svg "octicon-trash"}}
				</button>
			</div>
		</div>
		{{end}}
	</div>
	{{else}}
		{{ctx.Locale.Tr "secrets.none"}}
	{{end}}
</div>

{{/* Add secret dialog */}}
<div class="ui small modal" id="add-secret-modal">
	<div class="header">
		<span id="actions-modal-header"></span>
	</div>
	<form class="ui form form-fetch-action" method="post">
		<div class="content">
			{{.CsrfTokenHtml}}
			<div class="field">
				{{ctx.Locale.Tr "secrets.description"}}
			</div>
			<div class="field">
				<label for="secret-name">{{ctx.Locale.Tr "name"}}</label>
				<input autofocus required
					id="secret-name"
					name="name"
					value="{{.name}}"
					pattern="^(?!GITEA_|GITHUB_)[a-zA-Z_][a-zA-Z0-9_]*$"
					placeholder="{{ctx.Locale.Tr "secrets.creation.name_placeholder"}}"
				>
			</div>
			<div class="field">
				<label for="secret-data">{{ctx.Locale.Tr "value"}}</label>
				<textarea required
					id="secret-data"
					name="data"
					placeholder="{{ctx.Locale.Tr "secrets.creation.value_placeholder"}}"
				></textarea>
			</div>
		</div>
		{{template "base/modal_actions_confirm" (dict "ModalButtonTypes" "confirm")}}
	</form>
</div>
