{{template "devtest/devtest-header"}}
<div class="page-content">
	<div class="ui container">
		<h1>ANSI render</h1>
		<div data-global-init="initDevtestAnsiRender"></div>
	</div>
</div>
{{template "devtest/devtest-footer"}}
