{{template "devtest/devtest-header"}}
<div class="page-content devtest ui container">
	{{template "base/alert" .}}
	<div class="modal-buttons flex-text-block tw-flex-wrap"></div>
	<script type="module">
		for (const el of $('.ui.modal:not([data-skip-button])')) {
			const $btn = $('<button class="ui button">').text(`${el.id}`).on('click', () => {
				$(el).modal({onApprove() {alert('confirmed')}}).modal('show');
			});
			$('.modal-buttons').append($btn);
		}
	</script>

	<div id="test-modal-form-1" class="ui mini modal">
		<div class="header">Form dialog (layout 1)</div>
		<form class="content" method="post">
			<div class="ui input tw-w-full"><input name="user_input"></div>
			{{template "base/modal_actions_confirm" (dict "ModalButtonTypes" "confirm")}}
		</form>
	</div>

	<div id="test-modal-form-2" class="ui mini modal">
		<div class="header">Form dialog (layout 2)</div>
		<form method="post">
			<div class="content">
				<div class="ui input tw-w-full"><input name="user_input"></div>
				{{template "base/modal_actions_confirm" (dict "ModalButtonTypes" "confirm")}}
			</div>
		</form>
	</div>

	<div id="test-modal-form-3" class="ui mini modal">
		<div class="header">Form dialog (layout 3)</div>
		<form method="post">
			<div class="content">
				<div class="ui input tw-w-full"><input name="user_input"></div>
			</div>
			{{template "base/modal_actions_confirm" (dict "ModalButtonTypes" "confirm")}}
		</form>
	</div>

	<div id="test-modal-form-4" class="ui mini modal">
		<div class="header">Form dialog (layout 4)</div>
		<div class="content">
			<div class="ui input tw-w-full"><input name="user_input"></div>
		</div>
		<form method="post">
			{{template "base/modal_actions_confirm" (dict "ModalButtonTypes" "confirm")}}
		</form>
	</div>

	<div class="ui g-modal-confirm modal" id="test-modal-default">
		<div class="header">{{svg "octicon-file"}} Default dialog <span>title</span></div>
		<div class="content">
			very long aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
		</div>
		{{template "base/modal_actions_confirm"}}
	</div>

	<div class="ui g-modal-confirm modal" id="test-modal-confirm">
		<div class="header">Confirm dialog</div>
		<div class="content">hello, this is the modal dialog content</div>
		{{template "base/modal_actions_confirm" (dict "ModalButtonTypes" "confirm")}}
	</div>

	<div class="ui g-modal-confirm modal" id="test-modal-danger">
		{{svg "octicon-x" 16 "inside close"}}
		<div class="header">dangerous action dialog</div>
		<div class="content">hello, this is the modal dialog content, this is a dangerous operation</div>
		{{template "base/modal_actions_confirm" (dict "ModalButtonDangerText" "I know and must do  this is dangerous operation")}}
	</div>

	<div class="divider"></div>

	<button class="show-modal" data-modal="#test-modal-fill-values"
		data-modal-fill-by-id="value for id"
		data-modal-fill-by-name="value for name"
		data-modal-fill-by-class="value for class"
		data-modal-p="value for tag"
		data-modal-a.text-content="fill with attr"
	>test-modal-fill-values</button>

	<div id="test-modal-fill-values" class="ui mini modal" data-skip-button>
		<div class="header">Modal dialog (fill values)</div>
		<form class="content">
			<div id="fill-by-id"></div>
			<input name="fill-by-name">
			<div class="fill-by-class"></div>
			<p></p>
			<a href="#">link</a>
			{{template "base/modal_actions_confirm" dict}}
		</form>
	</div>
</div>
{{template "devtest/devtest-footer"}}
