{{template "base/head" .}}

<ul>
	{{range .SubNames}}
	<li><a href="{{AppSubUrl}}/devtest/{{.}}">{{.}}</a></li>
	{{end}}
</ul>

<style>
ul {
	line-height: 2em;
}
</style>

{{template "base/footer" .}}
