{{template "base/head" .}}
<div class="page-content">
	<div class="flex-text-block tw-justify-center tw-gap-5">
		<a href="/devtest/repo-action-view/runs/10">Run:CanCancel</a>
		<a href="/devtest/repo-action-view/runs/20">Run:CanApprove</a>
		<a href="/devtest/repo-action-view/runs/30">Run:CanRerunLatest</a>
		<a href="/devtest/repo-action-view/runs/30/attempts/2">Run:PreviousAttempt</a>
	</div>
	{{$runID := or .RunID 10}}
	{{$viewURL := .ViewURL}}
	{{if not $viewURL}}{{$viewURL = print AppSubUrl "/devtest/repo-action-view/runs/" $runID}}{{end}}
	{{template "repo/actions/view_component" (dict
		"RunID" $runID
		"JobID" (or .JobID 0)
		"ViewURL" $viewURL
	)}}
</div>
{{template "base/footer" .}}
