{{template "base/head" .}}
<div class="page-content repository actions">
	<div class="ui fluid container artifact-preview-page">
		{{template "shared/actions/artifact_preview_content" .}}
	</div>
</div>

{{template "base/footer" .}}
