{{template "admin/layout_head" (dict "ctxData" . "pageClass" "admin authentication")}}
	<div class="admin-setting-content">
		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "admin.auths.auth_manage_panel"}} ({{ctx.Locale.Tr "admin.total" .Total}})
			<div class="ui right">
				<a class="ui primary tiny button" href="{{AppSubUrl}}/-/admin/auths/new">{{ctx.Locale.Tr "admin.auths.new"}}</a>
			</div>
		</h4>
		<div class="ui attached table segment">
			<table class="ui very basic striped table unstackable">
				<thead>
					<tr>
						<th>ID</th>
						<th>{{ctx.Locale.Tr "admin.auths.name"}}</th>
						<th>{{ctx.Locale.Tr "admin.auths.type"}}</th>
						<th>{{ctx.Locale.Tr "admin.auths.enabled"}}</th>
						<th>{{ctx.Locale.Tr "admin.auths.updated"}}</th>
						<th>{{ctx.Locale.Tr "admin.users.created"}}</th>
						<th>{{ctx.Locale.Tr "admin.users.edit"}}</th>
					</tr>
				</thead>
				<tbody>
					{{range .Sources}}
						<tr>
							<td>{{.ID}}</td>
							<td><a href="{{AppSubUrl}}/-/admin/auths/{{.ID}}">{{.Name}}</a></td>
							<td>{{.TypeName}}</td>
							<td>{{svg (Iif .IsActive "octicon-check" "octicon-x")}}</td>
							<td>{{DateUtils.AbsoluteShort .UpdatedUnix}}</td>
							<td>{{DateUtils.AbsoluteShort .CreatedUnix}}</td>
							<td><a href="{{AppSubUrl}}/-/admin/auths/{{.ID}}">{{svg "octicon-pencil"}}</a></td>
						</tr>
					{{end}}
				</tbody>
			</table>
		</div>
	</div>
{{template "admin/layout_footer" .}}
