{{template "admin/layout_head" (dict "ctxData" . "pageClass" "admin config" "dataGlobalInit" "initAdminConfigSettings")}}

	{{template "admin/config_settings/avatars" .}}
	{{template "admin/config_settings/repository" .}}
	{{template "admin/config_settings/instance" .}}

{{template "admin/layout_footer" .}}
