{{template "admin/layout_head" (dict "ctxData" . "pageClass" "admin config")}}

{{template "admin/config_settings/avatars" .}}

{{template "admin/config_settings/repository" .}}

{{template "admin/layout_footer" .}}
