<h4 class="ui top attached header">{{ctx.Locale.Tr "admin.config.instance_maintenance"}}</h4>
<div class="ui attached segment">
	<form class="ui form ignore-dirty system-config-form" method="post" action="{{AppSubUrl}}/-/admin/config">
		{{$cfgOpt := $.SystemConfig.Instance.MaintenanceMode}}
		{{$cfgKey := $cfgOpt.DynKey}}
		{{$maintenanceMode := $cfgOpt.Value ctx}}
		<input type="hidden" data-config-dyn-key="{{$cfgKey}}" data-config-value-json="{{JsonUtils.EncodeToString $maintenanceMode}}">
		<div class="field">
			<div class="ui checkbox tw-mb-2">
				<input type="checkbox" name="{{$cfgKey}}.AdminWebAccessOnly" value="true" {{if $maintenanceMode.AdminWebAccessOnly}}checked{{end}} data-config-value-type="boolean">
				<label>{{ctx.Locale.Tr "admin.config.instance_maintenance_mode.admin_web_access_only"}}</label>
			</div>
		</div>
		<div class="field">
			<div class="fields tw-mb-1">
				<div class="field">
					<label>{{ctx.Locale.Tr "admin.config.common.start_time"}}</label>
					<input type="datetime-local" name="{{$cfgKey}}.StartTimeUnix" data-config-value-type="timestamp">
				</div>
				<div class="field">
					<label>{{ctx.Locale.Tr "admin.config.common.end_time"}}</label>
					<input type="datetime-local" name="{{$cfgKey}}.EndTimeUnix" data-config-value-type="timestamp">
				</div>
			</div>
			<div class="help">{{ctx.Locale.Tr "admin.config.common.skip_time_check"}}</div>
		</div>

		<div class="divider"></div>

		{{$cfgOpt = $.SystemConfig.Instance.WebBanner}}
		{{$cfgKey = $cfgOpt.DynKey}}
		{{$banner := ($cfgOpt.Value ctx).FormValue}}
		<input type="hidden" data-config-dyn-key="{{$cfgKey}}" data-config-value-json="{{JsonUtils.EncodeToString $banner}}">
		<div class="field">
			<div class="ui checkbox tw-mb-2">
				<input type="checkbox" name="{{$cfgKey}}.DisplayEnabled" value="true" {{if $banner.DisplayEnabled}}checked{{end}} data-config-value-type="boolean">
				<label>{{ctx.Locale.Tr "admin.config.instance_web_banner.enabled"}}</label>
			</div>
		</div>
		<div class="field">
			<label>{{ctx.Locale.Tr "admin.config.instance_web_banner.color"}}</label>
			<div class="web-banner-color-picker-row">
				<div class="color-picker-combo web-banner-color-picker" data-global-init="initColorPicker">
					<input class="js-web-banner-background-color" name="{{$cfgKey}}.BackgroundColor" value="{{$banner.BackgroundColor}}" placeholder="#ddf4ff" pattern="^#?([\dA-Fa-f]{3}|[\dA-Fa-f]{6})$" maxlength="7" data-config-value-type="string">
				</div>
				<button type="button" class="ui icon button js-web-banner-color-reset" data-tooltip-content="{{ctx.Locale.Tr "admin.config.instance_web_banner.color_reset"}}" data-default-color="{{$banner.DefaultBackgroundColor}}">{{svg "octicon-undo"}}</button>
			</div>
		</div>
		<div class="field js-web-banner-preview" style="--web-banner-bg: {{$banner.BackgroundColor}}; --web-banner-border: {{$banner.BorderColor}}; --web-banner-text: {{$banner.TextColor}};">
			{{template "shared/combomarkdowneditor" (dict
				"ContainerClasses" "web-banner-content-editor"
				"TextareaName" (print $cfgKey ".ContentMessage")
				"TextareaContent" $banner.ContentMessage
				"TextareaPlaceholder" (ctx.Locale.Tr "admin.config.instance_web_banner.message_placeholder")
			)}}
		</div>
		<div class="field">
			<div class="fields tw-mb-1">
				<div class="field">
					<label>{{ctx.Locale.Tr "admin.config.common.start_time"}}</label>
					<input type="datetime-local" name="{{$cfgKey}}.StartTimeUnix" data-config-value-type="timestamp">
				</div>
				<div class="field">
					<label>{{ctx.Locale.Tr "admin.config.common.end_time"}}</label>
					<input type="datetime-local" name="{{$cfgKey}}.EndTimeUnix" data-config-value-type="timestamp">
				</div>
			</div>
			<div class="help">{{ctx.Locale.Tr "admin.config.common.skip_time_check"}}</div>
		</div>
		<div class="field">
			<button class="ui primary button">{{ctx.Locale.Tr "save"}}</button>
		</div>
	</form>
</div>
