<h4 class="ui top attached header">
	{{ctx.Locale.Tr "admin.config.theme"}}
</h4>
<div class="ui attached table segment dropdown-container">
	<dl class="admin-dl-horizontal">
		<dt>{{ctx.Locale.Tr "admin.config.default_theme"}}</dt>
		<dd>
			<div class="ui selection dropdown js-theme-config-dropdown" data-config-key="theme.default_theme">
				{{svg "octicon-triangle-down" 14 "dropdown icon"}}
				<div class="text">
					<strong>{{$.SystemConfig.Theme.DefaultTheme.Value ctx}}</strong>
				</div>
				<div class="menu">
					{{range .AvailableThemes}}
						<div class="{{if eq ($.SystemConfig.Theme.DefaultTheme.Value ctx) .DisplayName}}active selected {{end}}item" data-value="{{.DisplayName}}">{{.DisplayName}}</div>
					{{end}}
				</div>
			</div>
		</dd>
		<div class="divider"></div>
		<dt>{{ctx.Locale.Tr "admin.config.default_file_icon_theme"}}</dt>
		<dd>
			<div class="ui selection dropdown js-theme-config-dropdown" data-config-key="theme.default_file_icon_theme">
				{{svg "octicon-triangle-down" 14 "dropdown icon"}}
				<div class="text">
					<strong>{{$.SystemConfig.Theme.DefaultFileIconTheme.Value ctx}}</strong>
				</div>
				<div class="menu">
					{{range .AvailableFileIconThemes}}
						<div class="{{if eq ($.SystemConfig.Theme.DefaultFileIconTheme.Value ctx) .}}active selected {{end}}item" data-value="{{.}}">{{.}}</div>
					{{end}}
				</div>
			</div>
		</dd>
	</dl>
</div>
