.EasyMDEContainer .CodeMirror.cm-s-default .cm-property,
.EasyMDEContainer .CodeMirror.cm-s-paper .cm-property {
  color: #a0cc75;
}

.EasyMDEContainer .CodeMirror.cm-s-default .cm-header,
.EasyMDEContainer .CodeMirror.cm-s-paper .cm-header {
  color: #9daccc;
}

.EasyMDEContainer .CodeMirror.cm-s-default .cm-quote,
.EasyMDEContainer .CodeMirror.cm-s-paper .cm-quote {
  color: #009900;
}

.EasyMDEContainer .CodeMirror.cm-s-default .cm-keyword,
.EasyMDEContainer .CodeMirror.cm-s-paper .cm-keyword {
  color: #cc8a61;
}

.EasyMDEContainer .CodeMirror.cm-s-default .cm-atom,
.EasyMDEContainer .CodeMirror.cm-s-paper .cm-atom {
  color: #ef5e77;
}

.EasyMDEContainer .CodeMirror.cm-s-default .cm-number,
.EasyMDEContainer .CodeMirror.cm-s-paper .cm-number {
  color: #ff5656;
}

.EasyMDEContainer .CodeMirror.cm-s-default .cm-def,
.EasyMDEContainer .CodeMirror.cm-s-paper .cm-def {
  color: #e4e4e4;
}

.EasyMDEContainer .CodeMirror.cm-s-default .cm-variable-2,
.EasyMDEContainer .CodeMirror.cm-s-paper .cm-variable-2 {
  color: #00bdbf;
}

.EasyMDEContainer .CodeMirror.cm-s-default .cm-variable-3,
.EasyMDEContainer .CodeMirror.cm-s-paper .cm-variable-3 {
  color: #008855;
}

.EasyMDEContainer .CodeMirror.cm-s-default .cm-comment,
.EasyMDEContainer .CodeMirror.cm-s-paper .cm-comment {
  color: #8e9ab3;
}

.EasyMDEContainer .CodeMirror.cm-s-default .cm-string,
.EasyMDEContainer .CodeMirror.cm-s-paper .cm-string {
  color: #a77272;
}

.EasyMDEContainer .CodeMirror.cm-s-default .cm-string-2,
.EasyMDEContainer .CodeMirror.cm-s-paper .cm-string-2 {
  color: #ff5500;
}

.EasyMDEContainer .CodeMirror.cm-s-default .cm-meta,
.EasyMDEContainer .CodeMirror.cm-s-paper .cm-meta,
.EasyMDEContainer .CodeMirror.cm-s-default .cm-qualifier,
.EasyMDEContainer .CodeMirror.cm-s-paper .cm-qualifier {
  color: #ffb176;
}

.EasyMDEContainer .CodeMirror.cm-s-default .cm-builtin,
.EasyMDEContainer .CodeMirror.cm-s-paper .cm-builtin {
  color: #b7c951;
}

.EasyMDEContainer .CodeMirror.cm-s-default .cm-bracket,
.EasyMDEContainer .CodeMirror.cm-s-paper .cm-bracket {
  color: #999977;
}

.EasyMDEContainer .CodeMirror.cm-s-default .cm-tag,
.EasyMDEContainer .CodeMirror.cm-s-paper .cm-tag {
  color: #f1d273;
}

.EasyMDEContainer .CodeMirror.cm-s-default .cm-attribute,
.EasyMDEContainer .CodeMirror.cm-s-paper .cm-attribute {
  color: #bfcc70;
}

.EasyMDEContainer .CodeMirror.cm-s-default .cm-hr,
.EasyMDEContainer .CodeMirror.cm-s-paper .cm-hr {
  color: #999999;
}

.EasyMDEContainer .CodeMirror.cm-s-default .cm-url,
.EasyMDEContainer .CodeMirror.cm-s-paper .cm-url {
  color: #c5cfd0;
}

.EasyMDEContainer .CodeMirror.cm-s-default .cm-link,
.EasyMDEContainer .CodeMirror.cm-s-paper .cm-link {
  color: #d8c792;
}

.EasyMDEContainer .CodeMirror.cm-s-default .cm-error,
.EasyMDEContainer .CodeMirror.cm-s-paper .cm-error {
  color: #dbdbeb;
}
