{{template "repo/settings/layout_head" (dict "ctxData" . "pageClass" "repository settings")}}
	<div class="repo-setting-content">
		{{template "shared/secrets/add_list" .}}
	</div>
{{template "repo/settings/layout_footer" .}}
