<a
	class="item {{if not .label.IsChecked}}gt-hidden{{end}}"
	id="label_{{.label.ID}}"
	href="{{.root.RepoLink}}/{{if or .root.IsPull .root.Issue.IsPull}}pulls{{else}}issues{{end}}?labels={{.label.ID}}"{{/* FIXME: use .root.Issue.Link or create .root.Link */}}
>
	{{- RenderLabel $.Context .label -}}
</a>
