<div class="ui small modal" id="issue-label-edit-modal"
		data-current-page-link="{{$.Link}}"{{/*will be used to construct "new label" and "edit label" URLs*/}}
		data-text-new-label="{{ctx.Locale.Tr "repo.issues.new_label"}}"
		data-text-edit-label="{{ctx.Locale.Tr "repo.issues.label_modify"}}"
>
	<div class="header"></div>
	<div class="content">
		<form class="ui form ignore-dirty" method="post">
			{{.CsrfTokenHtml}}
			<input name="id" type="hidden">
			<div class="required field">
				<label for="name">{{ctx.Locale.Tr "repo.issues.label_title"}}</label>
				<div class="ui small input">
					<input class="label-name-input" name="title" placeholder="{{ctx.Locale.Tr "repo.issues.new_label_placeholder"}}" autofocus required maxlength="50">
				</div>
			</div>
			<div class="field label-exclusive-input-field">
				<div class="ui checkbox">
					<input class="label-exclusive-input" name="exclusive" type="checkbox">
					<label>{{ctx.Locale.Tr "repo.issues.label_exclusive"}}</label>
				</div>
				<br>
				<small class="desc">{{ctx.Locale.Tr "repo.issues.label_exclusive_desc"}}</small>
				<div class="desc tw-ml-1 tw-mt-2 tw-hidden label-exclusive-warning">
					{{svg "octicon-alert"}} {{ctx.Locale.Tr "repo.issues.label_exclusive_warning"}}
				</div>
				<br>
			</div>
			<div class="field label-is-archived-input-field">
				<div class="ui checkbox">
					<input class="label-is-archived-input" name="is_archived" type="checkbox">
					<label>{{ctx.Locale.Tr "repo.issues.label_archive"}}</label>
				</div>
				<i class="tw-ml-1" data-tooltip-content={{ctx.Locale.Tr "repo.issues.label_archive_tooltip"}}>
					{{svg "octicon-info"}}
				</i>
			</div>
			<div class="field">
				<label for="description">{{ctx.Locale.Tr "repo.issues.label_description"}}</label>
				<div class="ui small fluid input">
					<input class="label-desc-input" name="description" placeholder="{{ctx.Locale.Tr "repo.issues.new_label_desc_placeholder"}}" maxlength="200">
				</div>
			</div>
			<div class="field">
				<label for="color">{{ctx.Locale.Tr "repo.issues.label_color"}}</label>
				<div class="column js-color-picker-input">
					<input name="color" value="#70c24a"placeholder="#c320f6" required maxlength="7">
					{{template "repo/issue/label_precolors"}}
				</div>
			</div>
		</form>
	</div>
	<div class="actions">
		<button class="ui small basic cancel button">
			{{svg "octicon-x"}}
			{{ctx.Locale.Tr "cancel"}}
		</button>
		<button class="ui primary small approve button">
			{{svg "fontawesome-save"}}
			{{ctx.Locale.Tr "save"}}
		</button>
	</div>
</div>
