<div class="ui {{if or (not .HasIssuesOrPullsWritePermission) .Repository.IsArchived}}disabled{{end}} floating jump select-label dropdown">
	<span class="text muted flex-text-block">
		<strong>{{.locale.Tr "repo.issues.new.labels"}}</strong>
		{{if and .HasIssuesOrPullsWritePermission (not .Repository.IsArchived)}}
			{{svg "octicon-gear" 16 "gt-ml-2"}}
		{{end}}
	</span>
	<div class="filter menu" {{if .Issue}}data-action="update" data-issue-id="{{$.Issue.ID}}" data-update-url="{{$.RepoLink}}/issues/labels"{{else}}data-id="#label_ids"{{end}}>
		{{if or .Labels .OrgLabels}}
			<div class="ui icon search input">
				<i class="icon gt-df gt-ac gt-jc">{{svg "octicon-search" 16}}</i>
				<input type="text" placeholder="{{.locale.Tr "repo.issues.filter_labels"}}">
			</div>
		{{end}}
		<a class="no-select item" href="#">{{.locale.Tr "repo.issues.new.clear_labels"}}</a>
		{{if or .Labels .OrgLabels}}
			{{$previousExclusiveScope := "_no_scope"}}
			{{range .Labels}}
				{{$exclusiveScope := .ExclusiveScope}}
				{{if and (ne $previousExclusiveScope "_no_scope") (ne $previousExclusiveScope $exclusiveScope)}}
					<div class="divider"></div>
				{{end}}
				{{$previousExclusiveScope = $exclusiveScope}}
				<a class="{{if .IsChecked}}checked{{end}} item" href="#" data-id="{{.ID}}" data-id-selector="#label_{{.ID}}" data-scope="{{$exclusiveScope}}"><span class="octicon-check {{if not .IsChecked}}invisible{{end}}">{{if $exclusiveScope}}{{svg "octicon-dot-fill"}}{{else}}{{svg "octicon-check"}}{{end}}</span>&nbsp;&nbsp;{{RenderLabel $.Context .}}
				{{if .Description}}<br><small class="desc">{{.Description | RenderEmoji $.Context}}</small>{{end}}</a>
			{{end}}
			<div class="divider"></div>
			{{$previousExclusiveScope := "_no_scope"}}
			{{range .OrgLabels}}
				{{$exclusiveScope := .ExclusiveScope}}
				{{if and (ne $previousExclusiveScope "_no_scope") (ne $previousExclusiveScope $exclusiveScope)}}
					<div class="divider"></div>
				{{end}}
				{{$previousExclusiveScope = $exclusiveScope}}
				<a class="{{if .IsChecked}}checked{{end}} item" href="#" data-id="{{.ID}}" data-id-selector="#label_{{.ID}}" data-scope="{{$exclusiveScope}}"><span class="octicon-check {{if not .IsChecked}}invisible{{end}}">{{if $exclusiveScope}}{{svg "octicon-dot-fill"}}{{else}}{{svg "octicon-check"}}{{end}}</span>&nbsp;&nbsp;{{RenderLabel $.Context .}}
				{{if .Description}}<br><small class="desc">{{.Description | RenderEmoji $.Context}}</small>{{end}}</a>
			{{end}}
		{{else}}
			<div class="disabled item">{{.locale.Tr "repo.issues.new.no_items"}}</div>
		{{end}}
	</div>
</div>
