{{/* This template is only used to show tags list when repo's release setting is disabled. */}}
{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content repository release">
	{{template "repo/header" .}}
	<div class="ui container">
		{{template "base/alert" .}}
		{{template "repo/sub_menu" .}}
		<div class="gt-mt-4">
			{{template "repo/tag/table" .}}
		</div>
	</div>
</div>
{{template "base/footer" .}}
