.issue-list-toolbar {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 1rem;
}

.issue-list-toolbar-left {
  display: flex;
}

.issue-list-toolbar-right {
  margin-left: auto;
}
