.repository.releases #release-list {
  margin-top: 12px;
  padding-top: 12px;
  padding-left: 0;
}

.repository.releases #release-list .release-list-title {
  font-size: 2rem;
  font-weight: normal;
  margin-top: -4px;
  margin-bottom: 0;
}

.repository.releases #release-list > li {
  list-style: none;
}

.repository.releases #release-list > li .meta,
.repository.releases #release-list > li .detail {
  padding-top: 30px;
  padding-bottom: 40px;
}

.repository.releases #release-list > li .meta {
  margin-top: 4px;
  text-align: right;
  position: relative;
}

.repository.releases #release-list > li .detail {
  border-left: 1px solid var(--color-secondary);
}

.repository.releases #release-list > li .detail .author img {
  margin-bottom: 3px;
}

.repository.releases #release-list > li .detail .download > a .svg {
  margin-left: 5px;
  margin-right: 5px;
}

.repository.releases #release-list > li .detail .download .list {
  padding-left: 0;
}

.repository.releases #release-list > li .detail .download .list li {
  list-style: none;
  display: block;
  padding: 8px;
  border: 1px solid var(--color-secondary);
  background: var(--color-light);
}

.repository.releases #release-list > li .detail .download .list li a > .text.right {
  margin-right: 5px;
}

.repository.releases #release-list > li .detail .download .list li + li {
  border-top: 0;
}

.repository.releases #release-list > li .detail .download .list li:first-of-type {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.repository.releases #release-list > li .detail .download .list li:last-of-type {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.repository.releases #release-list > li .detail .dot {
  width: 10px;
  height: 10px;
  background-color: var(--color-secondary-dark-3);
  z-index: 9;
  position: absolute;
  display: block;
  left: -5.5px;
  top: 40px;
  border-radius: 100%;
  border: 2.5px solid var(--color-body);
}

.repository.tags #tags-table .tag {
  padding: 8px 12px;
}

.repository.tags #tags-table .release-tag-name {
  font-size: 18px;
  font-weight: normal;
}

.repository.new.release .target {
  min-width: 500px;
}

.repository.new.release .target #tag-name {
  margin-top: -4px;
}

.repository.new.release .target .at {
  margin-left: -5px;
  margin-right: 5px;
}

.repository.new.release .target .selection.dropdown {
  padding-top: 10px;
  padding-bottom: 10px;
}

.repository.new.release .prerelease.field {
  margin-bottom: 0;
}

@media (max-width: 438px) {
  .repository.new.release .field button,
  .repository.new.release .field input {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .repository.new.release .field button {
    margin-bottom: 1em;
  }
}

.repository.new.release .field .wrap_remove {
  height: 38px;
}

.repository.new.release .field .attachment_edit {
  width: 450px !important;
}
