<div class="ui small secondary filter menu">
	<form id="repo-search-form" class="ui form ignore-dirty tw-flex-1 tw-flex tw-items-center tw-gap-x-2">
		{{if .Language}}<input type="hidden" name="language" value="{{.Language}}">{{end}}
		{{if .PageIsExploreRepositories}}<input type="hidden" name="only_show_relevant" value="{{.OnlyShowRelevant}}">{{end}}
		{{if .TabName}}<input type="hidden" name="tab" value="{{.TabName}}">{{end}}
		{{if .TopicOnly}}<input type="hidden" name="topic" value="{{.TopicOnly}}">{{end}}
		<div class="ui small fluid action input tw-flex-1">
			{{template "shared/search/input" dict "Value" .Keyword "Placeholder" (ctx.Locale.Tr "search.repo_kind")}}
			{{template "shared/search/button"}}
		</div>
		<!-- Filter -->
		<div class="item ui small dropdown jump">
			<span class="text">{{ctx.Locale.Tr "filter_title"}}</span>
			{{svg "octicon-triangle-down" 14 "dropdown icon"}}
			<div class="menu flex-items-menu">
				<label class="item"><input type="radio" name="clear-filter"> {{ctx.Locale.Tr "filter.clear"}}</label>
				<div class="divider"></div>
				<label class="item"><input type="radio" name="archived" {{if .IsArchived.Value}}checked{{end}} value="1"> {{ctx.Locale.Tr "filter.is_archived"}}</label>
				<label class="item"><input type="radio" name="archived" {{if (not (.IsArchived.ValueOrDefault true))}}checked{{end}} value="0"> {{ctx.Locale.Tr "filter.not_archived"}}</label>
				<div class="divider"></div>
				<label class="item"><input type="radio" name="fork" {{if .IsFork.Value}}checked{{end}} value="1"> {{ctx.Locale.Tr "filter.is_fork"}}</label>
				<label class="item"><input type="radio" name="fork" {{if (not (.IsFork.ValueOrDefault true))}}checked{{end}} value="0"> {{ctx.Locale.Tr "filter.not_fork"}}</label>
				<div class="divider"></div>
				<label class="item"><input type="radio" name="mirror" {{if .IsMirror.Value}}checked{{end}} value="1"> {{ctx.Locale.Tr "filter.is_mirror"}}</label>
				<label class="item"><input type="radio" name="mirror" {{if (not (.IsMirror.ValueOrDefault true))}}checked{{end}} value="0"> {{ctx.Locale.Tr "filter.not_mirror"}}</label>
				<div class="divider"></div>
				<label class="item"><input type="radio" name="template" {{if .IsTemplate.Value}}checked{{end}} value="1"> {{ctx.Locale.Tr "filter.is_template"}}</label>
				<label class="item"><input type="radio" name="template" {{if (not (.IsTemplate.ValueOrDefault true))}}checked{{end}} value="0"> {{ctx.Locale.Tr "filter.not_template"}}</label>
				<div class="divider"></div>
				<label class="item"><input type="radio" name="private" {{if .IsPrivate.Value}}checked{{end}} value="1"> {{ctx.Locale.Tr "filter.private"}}</label>
				<label class="item"><input type="radio" name="private" {{if (not (.IsPrivate.ValueOrDefault true))}}checked{{end}} value="0"> {{ctx.Locale.Tr "filter.public"}}</label>
			</div>
		</div>
		<!-- Sort -->
		<div class="item ui small dropdown jump">
			<span class="text">{{ctx.Locale.Tr "repo.issues.filter_sort"}}</span>
			{{svg "octicon-triangle-down" 14 "dropdown icon"}}
			<div class="menu">
				{{template "shared/repo/sort_options" dict "CurrentSort" .SortType "DisableStars" .DisableStars "Kind" "radio"}}
			</div>
		</div>
	</form>
</div>
{{if and .PageIsExploreRepositories .OnlyShowRelevant}}
	<div class="ui message">
		<span data-tooltip-content="{{ctx.Locale.Tr "explore.relevant_repositories_tooltip"}}">
			{{ctx.Locale.Tr "explore.relevant_repositories" (printf "?only_show_relevant=0&sort=%s&q=%s&language=%s" $.SortType (QueryEscape $.Keyword) (QueryEscape $.Language))}}
		</span>
	</div>
{{end}}
<div class="divider"></div>
