{{template "base/head" .}}
<div class="page-content organization settings options">
	{{template "org/header" .}}

	{{template "user/settings/applications_oauth2_edit_form" .}}
</div>
{{template "base/footer" .}}
