{{template "org/settings/layout_head" (dict "ctxData" . "pageClass" "organization settings")}}
<div class="repo-setting-content">
	<h4 class="ui top attached header">{{ctx.Locale.Tr "admin.monitor.audit.title"}}</h4>
	{{template "shared/audit/list" .}}
</div>
{{template "org/settings/layout_footer" .}}
