{{template "org/settings/layout_head" (dict "ctxData" . "pageClass" "organization settings labels")}}
				<div class="org-setting-content">
					<div class="ui grid">
						<div class="left floated twelve wide column">
							{{$.locale.Tr "org.settings.labels_desc" | Str2html}}
						</div>
						<div class="right floated three wide column">
							<div class="ui right">
								<button class="ui green new-label button">{{.locale.Tr "repo.issues.new_label"}}</button>
							</div>
						</div>
					</div>
					<div class="ui divider"></div>
					{{template "repo/issue/labels/label_new" .}}
					{{template "repo/issue/labels/label_list" .}}
				</div>
{{template "repo/issue/labels/edit_delete_label" .}}
{{template "org/settings/layout_footer" .}}

