{{template "org/settings/layout_head" (dict "ctxData" . "pageClass" "organization settings labels")}}
				<div class="org-setting-content">
					<div class="gt-df gt-ac">
						<div class="gt-f1">
							{{ctx.Locale.Tr "org.settings.labels_desc" | Str2html}}
						</div>
						<button class="ui small primary new-label button">{{ctx.Locale.Tr "repo.issues.new_label"}}</button>
					</div>
					<div class="divider"></div>
					{{template "repo/issue/labels/label_new" .}}
					{{template "repo/issue/labels/label_list" .}}
				</div>
{{template "repo/issue/labels/edit_delete_label" .}}
{{template "org/settings/layout_footer" .}}

