{{template "base/head" .ctxData}}
<div role="main" aria-label="{{.ctxData.Title}}" class="page-content {{.pageClass}}">
	{{template "org/header" .ctxData}}
	<div class="ui container stackable grid">
		{{template "org/settings/navbar" .ctxData}}
		<div class="twelve wide column">
			{{template "base/alert" .ctxData}}
			{{/* block: org-setting-content */}}

{{if false}}{{/* to make html structure "likely" complete to prevent IDE warnings */}}
		</div>
	</div>
</div>
{{end}}
