<div class="four wide column">
	<div class="ui fluid vertical menu">
		<div class="header item">{{.locale.Tr "org.settings"}}</div>
		<a class="{{if .PageIsSettingsOptions}}active {{end}}item" href="{{.OrgLink}}/settings">
			{{.locale.Tr "org.settings.options"}}
		</a>
		{{if not DisableWebhooks}}
		<a class="{{if .PageIsSettingsHooks}}active {{end}}item" href="{{.OrgLink}}/settings/hooks">
			{{.locale.Tr "repo.settings.hooks"}}
		</a>
		{{end}}
		<a class="{{if .PageIsOrgSettingsLabels}}active {{end}}item" href="{{.OrgLink}}/settings/labels">
			{{.locale.Tr "repo.labels"}}
		</a>
		{{if .EnableOAuth2}}
		<a class="{{if .PageIsSettingsApplications}}active {{end}}item" href="{{.OrgLink}}/settings/applications">
			{{.locale.Tr "settings.applications"}}
		</a>
		{{end}}
		{{if .EnablePackages}}
		<a class="{{if .PageIsSettingsPackages}}active {{end}}item" href="{{.OrgLink}}/settings/packages">
			{{.locale.Tr "packages.title"}}
		</a>
		{{end}}
		{{if .EnableActions}}
		<details class="item toggleable-item" {{if or .PageIsSharedSettingsRunners .PageIsSharedSettingsSecrets .PageIsSharedSettingsVariables}}open{{end}}>
			<summary>{{.locale.Tr "actions.actions"}}</summary>
			<div class="menu">
				<a class="{{if .PageIsSharedSettingsRunners}}active {{end}}item" href="{{.OrgLink}}/settings/actions/runners">
					{{.locale.Tr "actions.runners"}}
				</a>
				<a class="{{if .PageIsSharedSettingsSecrets}}active {{end}}item" href="{{.OrgLink}}/settings/actions/secrets">
					{{.locale.Tr "secrets.secrets"}}
				</a>
				<a class="{{if .PageIsSharedSettingsVariables}}active {{end}}item" href="{{.OrgLink}}/settings/actions/variables">
					{{.locale.Tr "actions.variables"}}
				</a>
			</div>
		</details>
		{{end}}
		<a class="{{if .PageIsSettingsDelete}}active {{end}}item" href="{{.OrgLink}}/settings/delete">
			{{.locale.Tr "org.settings.delete"}}
		</a>
	</div>
</div>
