{{template "base/head" .}}
<div class="page-content organization settings runners">
	{{template "org/header" .}}
	<div class="ui container">
		<div class="ui grid">
			{{template "org/settings/navbar" .}}
			<div class="twelve wide column content">
				{{template "shared/actions/runner_edit" .}}
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
