{{template "org/settings/layout_head" (dict "ctxData" . "pageClass" "organization settings runners")}}
			<div class="org-setting-content">
				{{template "shared/actions/runner_list" .}}
			</div>
{{template "org/settings/layout_footer" .}}
