{{template "base/head" .}}
<div class="page-content organization settings webhooks">
	{{template "org/header" .}}
	<div class="ui container">
		<div class="ui grid">
			{{template "org/settings/navbar" .}}
			<div class="ui twelve wide column content">
				{{template "base/alert" .}}
				{{template "shared/secrets/add_list" .}}
			</div>
		</div>
	</div>
</div>

{{template "base/footer" .}}
