{{template "org/settings/layout_head" (dict "ctxData" . "pageClass" "organization settings secrets")}}
			<div class="org-setting-content">
				{{template "shared/secrets/add_list" .}}
			</div>
{{template "org/settings/layout_footer" .}}
