{{template "repo/settings/layout_head" (dict "ctxData" . "pageClass" "repository settings collaboration")}}
	<div class="repo-setting-content">
		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "repo.settings.collaboration"}}
		</h4>
		{{if .Collaborators}}
		<div class="ui attached segment">
			<div class="flex-list">
				{{range .Collaborators}}
					<div class="flex-item tw-items-center">
						<div class="flex-item-leading">
							<a href="{{.HomeLink}}">{{ctx.AvatarUtils.Avatar . 32}}</a>
						</div>
						<div class="flex-item-main">
							<div class="flex-item-title">
								{{template "shared/user/name" .}}
							</div>
						</div>
						<div class="flex-item-trailing">
							<div class="flex-text-block">
								{{svg "octicon-shield-lock"}}
								<div class="ui dropdown custom access-mode" data-url="{{$.Link}}/access_mode" data-uid="{{.ID}}" data-last-value="{{.Collaboration.Mode}}">
									<div class="text">{{if eq .Collaboration.Mode 1}}{{ctx.Locale.Tr "repo.settings.collaboration.read"}}{{else if eq .Collaboration.Mode 2}}{{ctx.Locale.Tr "repo.settings.collaboration.write"}}{{else if eq .Collaboration.Mode 3}}{{ctx.Locale.Tr "repo.settings.collaboration.admin"}}{{else}}{{ctx.Locale.Tr "repo.settings.collaboration.undefined"}}{{end}}</div>
									{{svg "octicon-triangle-down" 14 "dropdown icon"}}
									<div class="menu">
										<div class="item" data-value="3">{{ctx.Locale.Tr "repo.settings.collaboration.admin"}}</div>
										<div class="item" data-value="2">{{ctx.Locale.Tr "repo.settings.collaboration.write"}}</div>
										<div class="item" data-value="1">{{ctx.Locale.Tr "repo.settings.collaboration.read"}}</div>
									</div>
								</div>
							</div>
							<button class="ui red tiny button inline delete-button" data-url="{{$.Link}}/delete" data-id="{{.ID}}">
								{{ctx.Locale.Tr "repo.settings.delete_collaborator"}}
							</button>
						</div>
					</div>
				{{end}}
			</div>
		</div>
		{{end}}
		<div class="ui bottom attached segment">
			<form class="ui form" id="repo-collab-form" action="{{.Link}}" method="post">
				{{.CsrfTokenHtml}}
				<div id="search-user-box" class="ui search input tw-align-middle">
					<input class="prompt" name="collaborator" placeholder="{{ctx.Locale.Tr "search.team_kind"}}" autocomplete="off" autofocus required>
				</div>
				<button class="ui primary button">{{ctx.Locale.Tr "repo.settings.add_collaborator"}}</button>
			</form>
		</div>

		{{if .RepoOwnerIsOrganization}}
		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "repo.settings.teams"}}
		</h4>
		{{$allowedToChangeTeams := (or (.Org.RepoAdminChangeTeamAccess) (.Permission.IsOwner))}}
		{{if .Teams}}
		<div class="ui attached segment">
			<div class="flex-list">
				{{range $t, $team := .Teams}}
					<div class="flex-item">
						<div class="flex-item-main">
							<a class="flex-item-title text primary" href="{{AppSubUrl}}/org/{{$.OrgName|PathEscape}}/teams/{{.LowerName|PathEscape}}">
								{{.Name}}
							</a>
							<div class="flex-item-body flex-text-block">
								{{svg "octicon-shield-lock"}}
								{{if eq .AccessMode 1}}{{ctx.Locale.Tr "repo.settings.collaboration.read"}}{{else if eq .AccessMode 2}}{{ctx.Locale.Tr "repo.settings.collaboration.write"}}{{else if eq .AccessMode 3}}{{ctx.Locale.Tr "repo.settings.collaboration.admin"}}{{else if eq .AccessMode 4}}{{ctx.Locale.Tr "repo.settings.collaboration.owner"}}{{else}}{{ctx.Locale.Tr "repo.settings.collaboration.undefined"}}{{end}}
							</div>
							{{if or (eq .AccessMode 1) (eq .AccessMode 2)}}
								{{$first := true}}
								<div class="flex-item-body" data-tooltip-content="{{ctx.Locale.Tr "repo.settings.change_team_permission_tip"}}">
									Sections: {{range $u, $unit := $.Units}}{{if and ($.Repo.UnitEnabled $.Context $unit.Type) ($team.UnitEnabled $.Context $unit.Type)}}{{if $first}}{{$first = false}}{{else}}, {{end}}{{ctx.Locale.Tr $unit.NameKey}}{{end}}{{end}} {{if $first}}None{{end}}
								</div>
							{{end}}
						</div>
						{{if $allowedToChangeTeams}}
							<div class="flex-item-trailing" {{if .IncludesAllRepositories}} data-tooltip-content="{{ctx.Locale.Tr "repo.settings.delete_team_tip"}}"{{end}}>
								<button class="ui red tiny button inline delete-button {{if .IncludesAllRepositories}}disabled{{end}}" data-url="{{$.Link}}/team/delete" data-id="{{.ID}}">
										{{ctx.Locale.Tr "repo.settings.delete_collaborator"}}
								</button>
							</div>
						{{end}}
					</div>
				{{end}}
			</div>
		</div>
		{{end}}
		<div class="ui bottom attached segment">
			{{if $allowedToChangeTeams}}
				<form class="ui form" id="repo-collab-team-form" action="{{.Link}}/team" method="post">
					{{.CsrfTokenHtml}}
					<div id="search-team-box" class="ui search input tw-align-middle" data-org-name="{{.OrgName}}">
						<input class="prompt" name="team" placeholder="{{ctx.Locale.Tr "search.team_kind"}}" autocomplete="off" autofocus required>
					</div>
					<button class="ui primary button">{{ctx.Locale.Tr "repo.settings.add_team"}}</button>
				</form>
			{{else}}
				<div class="item">
					{{ctx.Locale.Tr "repo.settings.change_team_access_not_allowed"}}
				</div>
			{{end}}
		</div>
		{{end}}
	</div>

<div class="ui g-modal-confirm delete modal">
	<div class="header">
		{{svg "octicon-trash"}}
		{{ctx.Locale.Tr "repo.settings.collaborator_deletion"}}
	</div>
	<div class="content">
		<p>{{ctx.Locale.Tr "repo.settings.collaborator_deletion_desc"}}</p>
	</div>
	{{template "base/modal_actions_confirm" .}}
</div>

{{template "repo/settings/layout_footer" .}}
