{{template "repo/settings/layout_head" (dict "pageClass" "repository settings environments")}}
	<div class="repo-setting-content">
		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "environments.environments"}}
			<div class="ui right">
				<button class="ui primary tiny button show-modal" data-modal="#new-environment-modal">
					{{ctx.Locale.Tr "environments.new"}}
				</button>
			</div>
		</h4>
		<div class="ui attached segment">
			{{if .Environments}}
			<div class="flex-divided-list items-with-main">
				{{range .Environments}}
				<div class="item tw-items-center">
					<div class="item-leading">{{svg "octicon-server" 32}}</div>
					<div class="item-main">
						<div class="item-title">
							<a href="{{$.Link}}/{{PathEscapeSegments .Name}}">{{.Name}}</a>
						</div>
						<div class="item-body">
							{{ctx.Locale.Tr "settings.added_on" (DateUtils.AbsoluteShort .CreatedUnix)}}
							{{if .AllowedBranchPatterns}}·{{svg "octicon-git-branch" 14}} {{StringUtils.Join .BranchPatterns ", "}}{{end}}
						</div>
					</div>
					<div class="item-trailing">
						<a class="btn interact-bg tw-p-2 silenced"
							href="{{$.Link}}/{{PathEscapeSegments .Name}}"
							data-tooltip-content="{{ctx.Locale.Tr "environments.configure"}}"
						>
							{{svg "octicon-pencil"}}
						</a>
						<button class="btn interact-bg tw-p-2 link-action"
							data-url="{{$.Link}}/{{PathEscapeSegments .Name}}/delete"
							data-modal-confirm="{{ctx.Locale.Tr "environments.deletion.description"}}"
							data-tooltip-content="{{ctx.Locale.Tr "environments.deletion"}}"
						>
							{{svg "octicon-trash"}}
						</button>
					</div>
				</div>
				{{end}}
			</div>
			{{else}}
				{{ctx.Locale.Tr "environments.none"}}
			{{end}}
		</div>
	</div>

{{/* New environment dialog */}}
<div class="ui small modal" id="new-environment-modal">
	<div class="header">{{ctx.Locale.Tr "environments.new"}}</div>
	<form class="ui form" action="{{.Link}}" method="post">
		{{.CsrfTokenHtml}}
		<div class="content">
			<div class="field">
				<label for="environment-name">{{ctx.Locale.Tr "name"}}</label>
				<input autofocus required
					id="environment-name"
					name="name"
					maxlength="255"
					placeholder="{{ctx.Locale.Tr "environments.name_placeholder"}}"
				>
			</div>
			<div class="field">
				<label for="new-allowed-branch-patterns">{{ctx.Locale.Tr "environments.allowed_branch_patterns"}}</label>
				<textarea
					id="new-allowed-branch-patterns"
					name="allowed_branch_patterns"
					rows="3"
					placeholder="{{ctx.Locale.Tr "environments.allowed_branch_patterns_placeholder"}}"
				></textarea>
				<p class="help">{{ctx.Locale.Tr "environments.allowed_branch_patterns_help"}}</p>
			</div>
		</div>
		{{template "base/modal_actions_confirm" (dict "ModalButtonTypes" "confirm")}}
	</form>
</div>
{{template "repo/settings/layout_footer" .}}
