{{template "base/head" .ctxData}}
<div role="main" aria-label="{{.ctxData.Title}}" class="page-content {{.pageClass}}">
	{{template "repo/header" .ctxData}}
	<div class="ui container stackable grid">
		{{template "repo/settings/navbar" .ctxData}}
		<div class="twelve wide column">
{{if false}}{{/* to make html structure "likely" complete to prevent IDE warnings */}}
		</div>
		{{/* block: admin-main-content */}}
	</div>
</div>
{{end}}
