{{template "repo/settings/layout_head" (dict "pageClass" "repository settings lfs")}}
	<div class="repo-setting-content">
		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "repo.settings.lfs_filelist"}} ({{ctx.Locale.Tr "admin.total" .Total}})
			<div class="ui right">
				<a class="ui tiny compact button" href="{{.Link}}/locks">{{ctx.Locale.Tr "repo.settings.lfs_locks"}}</a>
				<a class="ui primary tiny compact button" href="{{.Link}}/pointers">&nbsp;{{ctx.Locale.Tr "repo.settings.lfs_findpointerfiles"}}</a>
			</div>
		</h4>
		<table id="lfs-files-table" class="ui attached segment single line table">
			<tbody>
				{{range .LFSFiles}}
					<tr>
						<td>
							<a href="{{$.Link}}/show/{{.Oid}}" title="{{.Oid}}" class="ui label commit-id-short">
								{{ShortSha .Oid}}
							</a>
						</td>
						<td>{{FormatByteSize .Size}}</td>
						<td>{{DateUtils.TimeSince .CreatedUnix}}</td>
						<td>
							<div class="flex-text-block tw-justify-end">
								<a class="ui basic primary tiny compact button" href="{{$.Link}}/find?oid={{.Oid}}&size={{.Size}}">{{ctx.Locale.Tr "repo.settings.lfs_findcommits"}}</a>
								<button type="button" class="ui basic tiny compact red icon button show-modal" data-tooltip-content="{{ctx.Locale.Tr "repo.editor.delete_this_file"}}"
									data-modal="#delete-lfs-object" data-modal-header="{{ctx.Locale.Tr "repo.settings.lfs_delete" .Oid}}" data-modal-form.url="{{$.Link}}/delete/{{.Oid}}"
								>
									{{svg "octicon-trash" 14}}
								</button>
							</div>
						</td>
					</tr>
				{{else}}
					<tr>
						<td colspan="4">{{ctx.Locale.Tr "repo.settings.lfs_no_lfs_files"}}</td>
					</tr>
				{{end}}
			</tbody>
		</table>
		{{template "base/paginate" .}}
		<div class="ui g-modal-confirm modal" id="delete-lfs-object">
			<div class="header"></div>
			<form class="content" method="post">
				<p>{{ctx.Locale.Tr "repo.settings.lfs_delete_warning"}}</p>
				{{template "base/modal_actions_confirm"}}
			</form>
		</div>
	</div>
{{template "repo/settings/layout_footer" .}}
