<div class="ui small modal" id="push-mirror-edit-modal">
	<div class="header">
		{{ctx.Locale.Tr "repo.settings.mirror_settings.push_mirror.edit_sync_time"}}
	</div>
	<form class="content ui form ignore-dirty" method="post">
		{{.CsrfTokenHtml}}
		<input type="hidden" name="action" value="push-mirror-update">
		<input type="hidden" name="push_mirror_id" id="push-mirror-edit-id">
		<div class="field">
			<label>{{ctx.Locale.Tr "repo.settings.mirror_settings.mirrored_repository"}}</label>
			<span id="push-mirror-edit-address"></span>
		</div>
		<div class="field">
			<label for="push-mirror-edit-interval">{{ctx.Locale.Tr "repo.mirror_interval" .MinimumMirrorInterval}}</label>
			<input id="push-mirror-edit-interval" name="push_mirror_interval" class="tw-w-auto">
		</div>
		<div class="actions">
			<button class="ui small basic cancel button">
				{{svg "octicon-x"}}
				{{ctx.Locale.Tr "cancel"}}
			</button>
			<button class="ui primary small approve button">
				{{svg "fontawesome-save"}}
				{{ctx.Locale.Tr "save"}}
			</button>
		</div>
	</form>
</div>
