{{template "base/head" .}}
<div class="page-content repository settings">
	{{template "repo/header" .}}
	{{template "repo/settings/navbar" .}}
	<div class="ui container">
		{{template "base/alert" .}}
		{{template "shared/secrets/add_list" .}}
	</div>
</div>
{{template "base/footer" .}}
