{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content dashboard feeds">
	{{template "user/dashboard/navbar" .}}
	<div class="ui container flex-container">
		<div class="flex-container-main">
			{{template "base/alert" .}}
			{{template "user/heatmap" .}}
			{{template "user/dashboard/feeds" .}}
		</div>
		{{template "user/dashboard/repolist" .}}
	</div>
</div>
{{template "base/footer" .}}
