<div class="item">
	<div class="item-main tw-gap-2">
		<div>
			{{ctx.Locale.TrN .Count "user.activity.private_contributions_1" "user.activity.private_contributions_n" .Count}}
			{{DateUtils.AbsoluteShort .DisplayTime}}
		</div>
	</div>
	<div class="item-trailing">
		{{svg "octicon-lock" 32 "tw-text-text-light tw-mr-1"}}
	</div>
</div>
