{{range .Feeds}}
	<div class="news">
		<div class="ui left">
			{{avatarByAction $.Context .}}
		</div>
		<div class="ui grid">
			<div class="ui fourteen wide column">
				<div class="{{if or (eq .GetOpType 5) (eq .GetOpType 18)}}push news{{end}}">
					<p>
						{{if gt .ActUser.ID 0}}
							<a href="{{AppSubUrl}}/{{.GetActUserName | PathEscape}}" title="{{.GetDisplayNameTitle}}">{{.GetDisplayName}}</a>
						{{else}}
							{{.ShortActUserName}}
						{{end}}
						{{if eq .GetOpType 1}}
							{{$.locale.Tr "action.create_repo" (.GetRepoLink|Escape) (.ShortRepoPath|Escape) | Str2html}}
						{{else if eq .GetOpType 2}}
							{{$.locale.Tr "action.rename_repo" (.GetContent|Escape) (.GetRepoLink|Escape) (.ShortRepoPath|Escape) | Str2html}}
						{{else if eq .GetOpType 5}}
							{{if .Content}}
								{{$.locale.Tr "action.commit_repo" (.GetRepoLink|Escape) (.GetRefLink|Escape) (Escape .GetBranch) (.ShortRepoPath|Escape) | Str2html}}
							{{else}}
								{{$.locale.Tr "action.create_branch" (.GetRepoLink|Escape) (.GetRefLink|Escape) (Escape .GetBranch) (.ShortRepoPath|Escape) | Str2html}}
							{{end}}
						{{else if eq .GetOpType 6}}
							{{$index := index .GetIssueInfos 0}}
							{{$.locale.Tr "action.create_issue" ((printf "%s/issues/%s" .GetRepoLink $index) |Escape) $index (.ShortRepoPath|Escape) | Str2html}}
						{{else if eq .GetOpType 7}}
							{{$index := index .GetIssueInfos 0}}
							{{$.locale.Tr "action.create_pull_request" ((printf "%s/pulls/%s" .GetRepoLink $index) |Escape) $index (.ShortRepoPath|Escape) | Str2html}}
						{{else if eq .GetOpType 8}}
							{{$.locale.Tr "action.transfer_repo" .GetContent (.GetRepoLink|Escape) (.ShortRepoPath|Escape) | Str2html}}
						{{else if eq .GetOpType 9}}
							{{$.locale.Tr "action.push_tag" (.GetRepoLink|Escape) (.GetRefLink|Escape) (.GetTag|Escape) (.ShortRepoPath|Escape) | Str2html}}
						{{else if eq .GetOpType 10}}
							{{$index := index .GetIssueInfos 0}}
							{{$.locale.Tr "action.comment_issue" ((printf "%s/issues/%s" .GetRepoLink $index) |Escape) $index (.ShortRepoPath|Escape) | Str2html}}
						{{else if eq .GetOpType 11}}
							{{$index := index .GetIssueInfos 0}}
							{{$.locale.Tr "action.merge_pull_request" ((printf "%s/pulls/%s" .GetRepoLink $index) |Escape) $index (.ShortRepoPath|Escape) | Str2html}}
						{{else if eq .GetOpType 12}}
							{{$index := index .GetIssueInfos 0}}
							{{$.locale.Tr "action.close_issue" ((printf "%s/issues/%s" .GetRepoLink $index) |Escape) $index (.ShortRepoPath|Escape) | Str2html}}
						{{else if eq .GetOpType 13}}
							{{$index := index .GetIssueInfos 0}}
							{{$.locale.Tr "action.reopen_issue" ((printf "%s/issues/%s" .GetRepoLink $index) |Escape) $index (.ShortRepoPath|Escape) | Str2html}}
						{{else if eq .GetOpType 14}}
							{{$index := index .GetIssueInfos 0}}
							{{$.locale.Tr "action.close_pull_request" ((printf "%s/pulls/%s" .GetRepoLink $index) |Escape) $index (.ShortRepoPath|Escape) | Str2html}}
						{{else if eq .GetOpType 15}}
							{{$index := index .GetIssueInfos 0}}
							{{$.locale.Tr "action.reopen_pull_request" ((printf "%s/pulls/%s" .GetRepoLink $index) |Escape) $index (.ShortRepoPath|Escape) | Str2html}}
						{{else if eq .GetOpType 16}}
							{{$index := index .GetIssueInfos 0}}
							{{$.locale.Tr "action.delete_tag" (.GetRepoLink|Escape) (.GetTag|Escape) (.ShortRepoPath|Escape) | Str2html}}
						{{else if eq .GetOpType 17}}
							{{$index := index .GetIssueInfos 0}}
							{{$.locale.Tr "action.delete_branch" (.GetRepoLink|Escape) (.GetBranch|Escape) (.ShortRepoPath|Escape) | Str2html}}
						{{else if eq .GetOpType 18}}
							{{$.locale.Tr "action.mirror_sync_push" (.GetRepoLink|Escape) (.GetRefLink|Escape) (.GetBranch|Escape) (.ShortRepoPath|Escape) | Str2html}}
						{{else if eq .GetOpType 19}}
							{{$.locale.Tr "action.mirror_sync_create" (.GetRepoLink|Escape) (.GetRefLink|Escape) (.GetBranch|Escape) (.ShortRepoPath|Escape) | Str2html}}
						{{else if eq .GetOpType 20}}
							{{$.locale.Tr "action.mirror_sync_delete" (.GetRepoLink|Escape) (.GetBranch|Escape) (.ShortRepoPath|Escape) | Str2html}}
						{{else if eq .GetOpType 21}}
							{{$index := index .GetIssueInfos 0}}
							{{$.locale.Tr "action.approve_pull_request" ((printf "%s/pulls/%s" .GetRepoLink $index) |Escape) $index (.ShortRepoPath|Escape) | Str2html}}
						{{else if eq .GetOpType 22}}
							{{$index := index .GetIssueInfos 0}}
							{{$.locale.Tr "action.reject_pull_request" ((printf "%s/pulls/%s" .GetRepoLink $index) |Escape) $index (.ShortRepoPath|Escape) | Str2html}}
						{{else if eq .GetOpType 23}}
							{{$index := index .GetIssueInfos 0}}
							{{$.locale.Tr "action.comment_pull" ((printf "%s/pulls/%s" .GetRepoLink $index) |Escape) $index (.ShortRepoPath|Escape) | Str2html}}
						{{else if eq .GetOpType 24}}
							{{$linkText := .Content | RenderEmoji $.Context}}
							{{$.locale.Tr "action.publish_release" (.GetRepoLink|Escape) ((printf "%s/releases/tag/%s" .GetRepoLink .GetTag)|Escape) (.ShortRepoPath|Escape) $linkText | Str2html}}
						{{else if eq .GetOpType 25}}
							{{$index := index .GetIssueInfos 0}}
							{{$reviewer := index .GetIssueInfos 1}}
							{{$.locale.Tr "action.review_dismissed" ((printf "%s/pulls/%s" .GetRepoLink $index) |Escape) $index (.ShortRepoPath|Escape) $reviewer | Str2html}}
						{{end}}
					</p>
					{{if or (eq .GetOpType 5) (eq .GetOpType 18)}}
						<div class="content">
							<ul>
								{{$push := ActionContent2Commits .}}
								{{$repoLink := .GetRepoLink}}
								{{range $push.Commits}}
									{{$commitLink := printf "%s/commit/%s" $repoLink .Sha1}}
									<li>
										{{avatarHTML ($push.AvatarLink $.Context .AuthorEmail) 16 "gt-mr-2" .AuthorName}}
										<a class="commit-id gt-mr-2" href="{{$commitLink}}">{{ShortSha .Sha1}}</a>
										<span class="text truncate light grey">
											{{RenderCommitMessage $.Context .Message $repoLink $.ComposeMetas}}
										</span>
									</li>
								{{end}}
								{{if and (gt $push.Len 1) $push.CompareURL}}<li><a href="{{AppSubUrl}}/{{$push.CompareURL}}">{{$.locale.Tr "action.compare_commits" $push.Len}} »</a></li>{{end}}
							</ul>
						</div>
					{{else if eq .GetOpType 6}}
						<span class="text truncate issue title">{{index .GetIssueInfos 1 | RenderEmoji $.Context | RenderCodeBlock}}</span>
					{{else if eq .GetOpType 7}}
						<span class="text truncate issue title">{{index .GetIssueInfos 1 | RenderEmoji $.Context | RenderCodeBlock}}</span>
					{{else if or (eq .GetOpType 10) (eq .GetOpType 21) (eq .GetOpType 22) (eq .GetOpType 23)}}
						<a href="{{.GetCommentLink}}" class="text truncate issue title">{{.GetIssueTitle | RenderEmoji $.Context | RenderCodeBlock}}</a>
						{{$comment := index .GetIssueInfos 1}}
						{{if gt (len $comment) 0}}<p class="text light grey">{{$comment | RenderEmoji $.Context}}</p>{{end}}
					{{else if eq .GetOpType 11}}
						<p class="text light grey">{{index .GetIssueInfos 1}}</p>
					{{else if or (eq .GetOpType 12) (eq .GetOpType 13) (eq .GetOpType 14) (eq .GetOpType 15)}}
						<span class="text truncate issue title">{{.GetIssueTitle | RenderEmoji $.Context | RenderCodeBlock}}</span>
					{{else if eq .GetOpType 25}}
					<p class="text light grey">{{$.locale.Tr "action.review_dismissed_reason"}}</p>
						<p class="text light grey">{{index .GetIssueInfos 2 | RenderEmoji $.Context}}</p>
					{{end}}
					<p class="text italic light grey">{{TimeSince .GetCreate $.locale}}</p>
				</div>
			</div>
			<div class="ui two wide right aligned column">
				<span class="text grey">{{svg (printf "octicon-%s" (ActionIcon .GetOpType)) 32}}</span>
			</div>
		</div>
		<div class="divider"></div>
	</div>
{{end}}

{{template "base/paginate" .}}
