<div class="ui center tw-px-8 tw-py-8 guide">
	{{svg "octicon-package" 24}}
	<h3>{{ctx.Locale.Tr "guide.title"}}</h3>
	<p>{{ctx.Locale.Tr "guide.desc"}}</p>
	<div>
		<a href="/explore/repos">
			{{ctx.Locale.Tr "guide.explore_repos"}}
		</a>
		<span>·</span>
		<a href="/explore/users">
			{{ctx.Locale.Tr "guide.explore_users"}}
		</a>
	</div>
</div>
