<div class="ui center segment tw-py-8">
	<img width="30" height="30" src="{{AssetUrlPrefix}}/img/logo.svg" alt="{{ctx.Locale.Tr "logo"}}" aria-hidden="true">
	<h2>{{ctx.Locale.Tr "guide.welcome"}}</h2>
	<p>{{ctx.Locale.Tr "guide.welcome_desc"}}</p>
</div>
