{
    "short_name": "Gitea",
    "name": "Gitea - Git with a cup of tea",
    "icons": [
      {
        "src": "{{StaticUrlPrefix}}/img/gitea-lg.png",
        "type": "image/png",
        "sizes": "880x880"
      },
      {
        "src": "{{StaticUrlPrefix}}/img/gitea-sm.png",
        "type": "image/png",
        "sizes": "120x120"
      },
      {
        "src": "{{StaticUrlPrefix}}/img/gitea-512.png",
        "type": "image/png",
        "sizes": "512x512"
      },
      {
        "src": "{{StaticUrlPrefix}}/img/gitea-192.png",
        "type": "image/png",
        "sizes": "192x192"
      }
    ],
    "start_url": "{{AppSubUrl}}/",
    "scope": "{{AppSubUrl}}/",
    "background_color": "#FAFAFA",
    "display": "standalone",
    "theme_color": "{{ThemeColorMetaTag}}"
  }
