{{if and $.IssueWatch (not .Repository.IsArchived)}}
	<div class="divider"></div>
	<div class="ui watching">
		<span class="text"><strong>{{ctx.Locale.Tr "notification.notifications"}}</strong></span>
		<div class="tw-mt-2">
			{{template "repo/issue/view_content/watching" .}}
		</div>
	</div>
{{end}}
