{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content organization invitemember">
	{{template "org/header" .}}
	<div class="ui container">
		{{template "base/alert" .}}

		<div class="center">
			<h1 class="ui header">{{ctx.Locale.Tr "org.members.invite_member"}}</h1>
			<form class="ui form input member-invite" action="{{$.OrgLink}}/members/invite" method="post">
				<div class="inline field">
					{{.CsrfTokenHtml}}
					<input type="hidden" name="uid" value="{{.SignedUser.ID}}">
					<label>{{ctx.Locale.Tr "org.members.invite"}}</label>
					<div id="search-user-box" class="ui search input"{{if .IsEmailInviteEnabled}} data-allow-email="true" data-allow-email-description="{{ctx.Locale.Tr "org.teams.invite_team_member" $.Team.Name}}"{{end}}>
						<input class="prompt" name="uname" placeholder="{{ctx.Locale.Tr "repo.settings.search_user_placeholder"}}" autocomplete="off" autofocus required>
					</div>
					<label>{{ctx.Locale.Tr "org.members.to"}}</label>
					<select class="ui selection dropdown" name="team">
						{{range .Teams}}
							<option value="{{.LowerName | PathEscape}}">{{.Name}}</option>
						{{end}}
					</select>
					<label>{{ctx.Locale.Tr "org.members.team"}}</label>
					<button class="ui primary button">{{ctx.Locale.Tr "org.members.invite_now"}}</button>
				</div>
			</form>
		</div>
	</div>
</div>
{{template "base/footer" .}}
