{{template "base/head" .}}
<div class="organization members">
	{{template "org/header" .}}
	<div class="ui container">
		{{template "base/alert" .}}

		<div class="list">
			{{ range .Members}}
				<div class="item ui grid">
					<div class="ui one wide column">
						<img class="ui avatar" src="{{.SizedRelAvatarLink 48}}">
					</div>
					<div class="ui three wide column">
						<div class="meta"><a href="{{.HomeLink}}">{{.Name}}</a></div>
						<div class="meta">{{.FullName}}</div>
					</div>
					<div class="ui four wide column center">
						<div class="meta">
							{{$.i18n.Tr "org.members.membership_visibility"}}
						</div>
						<div class="meta">
							{{ $isPublic := index $.MembersIsPublicMember .ID}}
							{{if $isPublic}}
								<strong>{{$.i18n.Tr "org.members.public"}}</strong>
								{{if or (eq $.SignedUser.ID .ID) $.IsOrganizationOwner}}(<a class="link-action" href data-url="{{$.OrgLink}}/members/action/private?uid={{.ID}}">{{$.i18n.Tr "org.members.public_helper"}}</a>){{end}}
							{{else}}
								<strong>{{$.i18n.Tr "org.members.private"}}</strong>
								{{if or (eq $.SignedUser.ID .ID) $.IsOrganizationOwner}}(<a class="link-action" href data-url="{{$.OrgLink}}/members/action/public?uid={{.ID}}">{{$.i18n.Tr "org.members.private_helper"}}</a>){{end}}
							{{end}}
						</div>
					</div>
					<div class="ui three wide column center">
						<div class="meta">
							{{$.i18n.Tr "org.members.member_role"}}
						</div>
						<div class="meta">
							<strong>{{if index $.MembersIsUserOrgOwner .ID}}<span class="octicon octicon-shield"></span> {{$.i18n.Tr "org.members.owner"}}{{else}}{{$.i18n.Tr "org.members.member"}}{{end}}</strong>
						</div>
					</div>
					<div class="ui one wide column center">
						<div class="meta">
							2FA
						</div>
						<div class="meta">
							<strong><span class="octicon {{if index $.MembersTwoFaStatus .ID}}octicon-check text green{{else}}octicon-x{{end}}"></span></strong>
						</div>
					</div>
					<div class="ui four wide column">
						<div class="text right">
							{{if eq $.SignedUser.ID .ID}}
								<form method="post" action="{{$.OrgLink}}/members/action/leave">
									{{$.CsrfTokenHtml}}
									<button type="submit" class="ui red small button" name="uid" value="{{.ID}}">{{$.i18n.Tr "org.members.leave"}}</button>
								</form>
							{{else if $.IsOrganizationOwner}}
								<form method="post" action="{{$.OrgLink}}/members/action/remove">
									{{$.CsrfTokenHtml}}
									<button type="submit" class="ui red small button" name="uid" value="{{.ID}}">{{$.i18n.Tr "org.members.remove"}}</button>
								</form>
							{{end}}
						</div>
					</div>
				</div>
			{{end}}
		</div>

		{{template "base/paginate" .}}
	</div>
</div>
{{template "base/footer" .}}
