<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{.Subject}}</title>
</head>

<body>
	<p>You have been invited as an owner of the repository, <code>{{.RepoName}}</code>.
	Please click <a href="{{.AcceptTransferLink}}">here to accept the invitation</a> or
	<a href="{{.DeclineTransferLink}}"> here to reject the invitation</a></p>
	<p>
		---
		<br>
		<a href="{{.Link}}">View it on Gitea</a>.
	</p>
</body>
</html>
