<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{{.Subject}}</title>
</head>

{{$url := HTMLFormat "<a href='%[1]s'>%[2]s</a>" .Link .Repo}}
<body>
	<p>{{.Subject}}.
		{{.locale.Tr "mail.repo.transfer.body" $url}}
	</p>
	<p>
		---
		<br>
		<a href="{{.Link}}">{{.locale.Tr "mail.view_it_on" AppName}}</a>.
	</p>
</body>
</html>
