{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content repository">
	{{template "repo/header" .}}
	<div class="ui container">
		{{template "base/alert" .}}
		<form class="ui form form-fetch-action" method="post" action="{{.RepoLink}}/_fork/{{.BranchName | PathEscapeSegments}}">
			{{.CsrfTokenHtml}}
			<div class="tw-text-center">
				<div class="tw-my-[40px]">
					<h3>{{ctx.Locale.Tr "repo.editor.fork_create"}}</h3>
					<p>{{ctx.Locale.Tr "repo.editor.fork_create_description"}}</p>
				</div>
				<button class="ui primary button">{{ctx.Locale.Tr "repo.fork_repo"}}</button>
			</div>
		</form>
	</div>
</div>
{{template "base/footer" .}}
