{{$indentStyle := $.CodeEditorConfig.IndentStyle}}
{{$indentSize := $.CodeEditorConfig.IndentSize}}
{{$lineWrapOn := $.CodeEditorConfig.LineWrapOn}}
<div class="flex-text-block code-editor-options">
	<select class="js-indent-style-select" data-tooltip-content="{{ctx.Locale.Tr "text_indent_style"}}">
		<option{{if eq $indentStyle "space"}} selected{{end}} value="space">{{ctx.Locale.Tr "characters_spaces"}}</option>
		<option{{if eq $indentStyle "tab"}} selected{{end}} value="tab">{{ctx.Locale.Tr "characters_tabs"}}</option>
	</select>
	<select class="js-indent-size-select" data-tooltip-content="{{ctx.Locale.Tr "text_indent_size"}}">
		<option{{if eq $indentSize 2}} selected{{end}} value="2">2</option>
		<option{{if eq $indentSize 4}} selected{{end}} value="4">4</option>
		<option{{if eq $indentSize 8}} selected{{end}} value="8">8</option>
	</select>
	<select class="js-line-wrap-select"  data-tooltip-content="{{ctx.Locale.Tr "text_line_wrap_mode"}}">
		<option{{if $lineWrapOn}} selected{{end}} value="on">{{ctx.Locale.Tr "text_line_wrap"}}</option>
		<option{{if not $lineWrapOn}} selected{{end}} value="off">{{ctx.Locale.Tr "text_line_nowrap"}}</option>
	</select>
</div>
