{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content explore repositories">
	<div class="ui container">
		{{template "explore/navbar" .}}
		{{template "shared/repo/search" .}}
		{{template "shared/repo/list" .}}
		{{template "base/paginate" .}}
	</div>
</div>
{{template "base/footer" .}}
