[{{.Repo}}] @{{.Doer.Name}} closed pull request #{{.Issue.Index}} - {{.Issue.Title}}
-------------------------------------------------------------
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{.Subject}}</title>
</head>

<body>
	{{if .IsMention}}<p>@{{.Doer.Name}} mentioned you:</p>{{end}}
	<p>{{.Body | Str2html}}</p>
	<p>
		---
		<br>
		<a href="{{.Link}}">View it on Gitea</a>.
	</p>
</body>
</html>
