/*
maintain the themes:
1. Get chroma binary with the same version
2. Output CSS styles (https://github.com/alecthomas/chroma/tree/master/styles)
  * ./chroma --html-styles --style=github
  * ./chroma --html-styles --style=github-dark
3. Remove unnecessary styles like ".bg", ".chroma { background-color }"
4. Add the style name to the code comment
*/

.chroma {
  background-color: var(--color-code-bg);
}

// do not want to use any Chroma font style, overwrite them
.chroma * {
  font-weight: normal !important;
  font-style: normal !important;
  text-decoration: none !important;
}

/* LineTableTD */
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}

/* LineTable */
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;
  overflow: auto;
  display: block;
}

/* LineHighlight */
.chroma .hl {
  display: block;
  width: 100%;
}

/* LineNumbersTable */
.chroma .lnt {
  margin-right: .4em;
  padding: 0 .4em;
}

/* LineNumbers */
.chroma .ln {
  margin-right: .4em;
  padding: 0 .4em;
}

/* GenericStrong */
.chroma .gs {
  font-weight: 600;
}

/* GenericUnderline */
.chroma .gl {
  text-decoration: underline;
}
