.runner-container {
  padding-bottom: 30px;
}

.runner-container .ui.table.segment {
  overflow-x: auto;
}

.runner-container .runner-ops > a {
  margin-left: 0.5em;
}

.runner-container .runner-ops-delete {
  color: var(--color-red-light);
}

.runner-container .runner-basic-info .gt-dib {
  margin-right: 1em;
}

.runner-container .runner-new-text {
  color: var(--color-white);
}

.runner-container #runner-new:hover .runner-new-text {
  color: var(--color-white) !important;
}

.runner-container .task-status-success {
  background-color: var(--color-green);
  color: var(--color-white);
}

.runner-container .task-status-failure {
  background-color: var(--color-red-light);
  color: var(--color-white);
}

.runner-container .task-status-running {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.runner-container .task-status-cancelled,
.runner-container .task-status-blocked {
  background-color: var(--color-yellow);
  color: var(--color-white);
}

.run-list-item-right {
  flex: 0 0 15%;
  display: flex;
  flex-direction: column;
  gap: 3px;
  color: var(--color-text-light);
}

.run-list-item-right .run-list-meta {
  display: flex;
  flex-wrap: nowrap;
  gap: .25rem;
  align-items: center;
}
