.combo-markdown-editor {
  width: 100%;
}

.combo-markdown-editor markdown-toolbar {
  cursor: default;
  display: block;
  padding-bottom: 10px;
}

.combo-markdown-editor .markdown-toolbar-group {
  display: inline-block;
}

.combo-markdown-editor .markdown-toolbar-button {
  user-select: none;
  padding: 5px;
  cursor: pointer;
}

.combo-markdown-editor .markdown-text-editor {
  display: block;
  width: 100%;
  height: 200px;
}
