.combo-markdown-editor {
  width: 100%;
}

.combo-markdown-editor markdown-toolbar {
  cursor: default;
  display: block;
  padding-bottom: 10px;
}

.combo-markdown-editor .markdown-toolbar-group {
  display: inline-block;
}

.combo-markdown-editor .markdown-toolbar-button {
  user-select: none;
  padding: 5px;
  cursor: pointer;
}

.ui.form .combo-markdown-editor textarea.markdown-text-editor,
.combo-markdown-editor textarea.markdown-text-editor {
  display: block;
  width: 100%;
  min-height: 200px;
  max-height: calc(100vh - 200px);
  resize: vertical;
}

.combo-markdown-editor .CodeMirror-scroll {
  max-height: calc(100vh - 200px);
}
