.explore .navbar {
  margin-bottom: 15px !important;
  background-color: var(--color-header-wrapper) !important;
  border-width: 1px !important;
}

.explore .navbar .svg {
  width: 16px;
  text-align: center;
  margin-right: 5px;
}

.explore-menu {
  display: flex;
  gap: 4px;
}

@media (max-width: 767.98px) {
  .explore-menu {
    flex-direction: column;
  }
  .explore-form {
    align-self: stretch;
  }
  .explore-filters {
    align-self: flex-end;
  }
}

.ui.repository.branches .info {
  font-size: 12px;
  color: var(--color-text-light);
  display: flex;
  white-space: pre;
}

.ui.repository.branches .info .commit-message {
  max-width: 72em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui.repository.branches .overflow-visible {
  overflow: visible;
}

/* fix alignment of PR popup in branches table */
.ui.repository.branches table .ui.popup {
  text-align: left;
}
