/**
 * File View & Render Plugin Styles
 */

/* file view container */
.file-view-container {
  position: relative;
  width: 100%;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-raw-fallback {
  padding: 16px;
  text-align: center;
}

/* 3D model viewer */
.model3d-content {
  width: 100% !important;
  min-height: 400px !important;
  border: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* PDF viewer */
.pdf-view-content {
  width: 100%;
  height: 600px;
  border: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pdf-view-content .pdf-fallback-button {
  margin: 50px auto;
}

.file-view-container .pdfobject {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.pdf-view-content.is-loading {
  height: var(--height-loading);
}

/* error message */
.file-view-container .ui.error.message {
  margin: 1em 0;
  width: 100%;
}

.file-view-container .ui.error.message pre {
  margin-top: 0.5em;
  font-size: 12px;
  max-height: 150px;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.5em;
}