.search-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.search-header {
  display: flex;
  align-items: center;
  padding: 6px;
  height: 60px;
  flex-shrink: 0;
  box-sizing: border-box;
}

.search-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 495px);
  max-height: 290px;
  min-height: 92px;
  flex-shrink: 0;
  box-sizing: border-box;
}

.search-title {
  margin-top: auto;
  font-size: 4em;
  margin-bottom: 8px;
  white-space: nowrap;
  float: left;
  padding: 16px;
  font-weight: 500;
}

@media (max-width: 590px) {
  .search-title {
    font-size: 3em;
    margin-bottom: 0px;
  }
}

.search-form {
  padding: 20px;
  max-height: 160px;
  flex-shrink: 0;
  box-sizing: border-box;
}

.search-container {
  margin: 0 auto;
  width: auto;
  max-width: 584px;
  padding-top: 6px;
  position: relative;
}

.search-bar {
  display: flex;
  z-index: 3;
  position: relative;
  min-height: 44px;
  background: var(--color-search-bar-background);
  /* light: #fff; dark: #4d5156; */
  border: 1px solid var(--color-search-bar-border);
  /* light: #dfe1e5; dark: transparent; */
  box-shadow: var(--shadow-search-box);
  /* light: 0px 2px 8px 0px rgba(60, 64, 67, 0.25); dark: none; */
  border-radius: 24px;
  margin: 0 auto;
  width: 638px;
  width: auto;
  max-width: 584px;
}

.search-bar:hover {
  background: var(--color-search-bar-background-hover) !important;
  box-shadow: var(--shadow-search-box-hover) !important;
  border-color: transparent !important;
}

.search-flex {
  flex: 1;
  display: flex;
  padding: 0 8px 0 0;
}

.search-icon {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: center; */
  padding-right: 13px;
  padding-left: 14px;
  height: 46px;
}

.search-input-area {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.search-input-area textarea.search-input {
  all: inherit;
  font-family: Arial, sans-serif;
  font-size: 16px;
  /* line-height: 22px; */
  border-bottom: 6px solid transparent;
  padding-top: 12px;
  overflow-y: hidden;
  overflow-x: hidden;
  /* resize:none;
    flex: 100%; */
  height: 46px;
  word-wrap: break-word;
  outline: none;
  display: flex;
}

.search-icons-right {
  display: flex;
  flex: 0 0 auto;
  align-items: stretch;
  flex-direction: row;
  height: 44px;
}

.search-icon-clear {
  display: flex;
  background: transparent;
  align-items: center;
  flex: 1 0 auto;
  flex-direction: row;
  cursor: pointer;
  padding-right: 4px;
}

.search-predict-show {
  position: absolute;
  text-align: left;
  z-index: 3;
  cursor: default;
  -webkit-user-select: none;
  width: 100%;
  margin-top: -1px;
}

.search-predictions {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: var(--color-search-bar-background);
  border-radius: 0 0 24px 24px;
  box-shadow: 0 4px 6px rgba(32, 33, 36, .28);
  border: 0;
  padding-bottom: 4px;
}

.search-spacer {
  border-top: 1px solid #e8eaed; /*TODO: add custom variable*/
  margin: 0 20px 0 14px;
  padding-bottom: 4px;
}

.search-predictions-flex {
  display: flex;
}

.search-predictions-flex .bottom-pad {
  padding-bottom: 8px;
  flex: auto;
  overflow-x: hidden;
}

.search-predictions-flex .zero {
  margin: 0;
  padding: 0;
}

.search-predictions-flex .flex-column {
  display: flex;
  flex-direction: column;
  min-width: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}

.search-buttons {
  height: 70px;
  padding-top: 18px;
}

.search-center {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.search-center input[type="submit"] {
  background-color: var(--color-search-button-background);
  /* light: #f8f9fa; dark: #303134 */
  border: 1px solid var(--color-search-button-background);
  /* light: #f8f9fa; dark: #303134 */
  border-radius: 4px;
  color: var(--color-text-light);
  /* light: #3c4043; dark: #e8eaed; */
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.search-center input[type="submit"]:hover {
  box-shadow: var(--shadow-search-button);
  /* light: 0 1px 1px rgba(0,0,0,.1); dark: 0 1px 3px rgba(23,23,23,0.24); */
  border: 1px solid var(--color-search-button-border-hover);
  /* light: #dadce0; dark: #5f6368; */
  color: var(--color-search-button-text);
  /* light: #202124; dark: #e8eaed; */
}

.search-center input[type="submit"]:focus {
  border: 1px solid var(--color-search-button-focus-border);
  /* light: #4285f4; dark: #5f6368; */
  outline: none;
}

.psearch-header {
  height: 69px;
  left: 0;
  /* position: absolute; */
  width: 100%;
  /* margin-top: 0px; */
}

.psearch-bar {
  display: flex;
  z-index: 3;
  position: relative;
  min-height: 44px;
  background: var(--color-search-bar-background-hover);
  /* light: #fff; dark: #4d5156; */
  border: 1px solid var(--color-search-bar-border);
  /* light: #dfe1e5; dark: transparent; */
  box-shadow: var(--shadow-search-box);
  /* light: 0px 2px 8px 0px rgba(60, 64, 67, 0.25); dark: none; */
  border-radius: 24px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
}