@theme inline {
  --color-accent: var(--color-accent);
  --color-active: var(--color-active);
  --color-ansi-black: var(--color-ansi-black);
  --color-ansi-blue: var(--color-ansi-blue);
  --color-ansi-bright-black: var(--color-ansi-bright-black);
  --color-ansi-bright-blue: var(--color-ansi-bright-blue);
  --color-ansi-bright-cyan: var(--color-ansi-bright-cyan);
  --color-ansi-bright-green: var(--color-ansi-bright-green);
  --color-ansi-bright-magenta: var(--color-ansi-bright-magenta);
  --color-ansi-bright-red: var(--color-ansi-bright-red);
  --color-ansi-bright-white: var(--color-ansi-bright-white);
  --color-ansi-bright-yellow: var(--color-ansi-bright-yellow);
  --color-ansi-cyan: var(--color-ansi-cyan);
  --color-ansi-green: var(--color-ansi-green);
  --color-ansi-magenta: var(--color-ansi-magenta);
  --color-ansi-red: var(--color-ansi-red);
  --color-ansi-white: var(--color-ansi-white);
  --color-ansi-yellow: var(--color-ansi-yellow);
  --color-black: var(--color-black);
  --color-black-dark-1: var(--color-black-dark-1);
  --color-black-dark-2: var(--color-black-dark-2);
  --color-black-light: var(--color-black-light);
  --color-blue: var(--color-blue);
  --color-blue-dark-1: var(--color-blue-dark-1);
  --color-blue-dark-2: var(--color-blue-dark-2);
  --color-blue-light: var(--color-blue-light);
  --color-body: var(--color-body);
  --color-box-body: var(--color-box-body);
  --color-box-body-highlight: var(--color-box-body-highlight);
  --color-box-header: var(--color-box-header);
  --color-brown: var(--color-brown);
  --color-brown-dark-1: var(--color-brown-dark-1);
  --color-brown-dark-2: var(--color-brown-dark-2);
  --color-brown-light: var(--color-brown-light);
  --color-button: var(--color-button);
  --color-card: var(--color-card);
  --color-caret: var(--color-caret);
  --color-code-bg: var(--color-code-bg);
  --color-console-active-bg: var(--color-console-active-bg);
  --color-console-bg: var(--color-console-bg);
  --color-console-border: var(--color-console-border);
  --color-console-fg: var(--color-console-fg);
  --color-console-fg-subtle: var(--color-console-fg-subtle);
  --color-console-hover-bg: var(--color-console-hover-bg);
  --color-console-link: var(--color-console-link);
  --color-console-menu-bg: var(--color-console-menu-bg);
  --color-console-menu-border: var(--color-console-menu-border);
  --color-danger: var(--color-danger);
  --color-diff-added-fg: var(--color-diff-added-fg);
  --color-diff-added-linenum-bg: var(--color-diff-added-linenum-bg);
  --color-diff-added-row-bg: var(--color-diff-added-row-bg);
  --color-diff-added-row-border: var(--color-diff-added-row-border);
  --color-diff-added-word-bg: var(--color-diff-added-word-bg);
  --color-diff-inactive: var(--color-diff-inactive);
  --color-diff-moved-row-bg: var(--color-diff-moved-row-bg);
  --color-diff-moved-row-border: var(--color-diff-moved-row-border);
  --color-diff-removed-fg: var(--color-diff-removed-fg);
  --color-diff-removed-linenum-bg: var(--color-diff-removed-linenum-bg);
  --color-diff-removed-row-bg: var(--color-diff-removed-row-bg);
  --color-diff-removed-row-border: var(--color-diff-removed-row-border);
  --color-diff-removed-word-bg: var(--color-diff-removed-word-bg);
  --color-editor-line-highlight: var(--color-editor-line-highlight);
  --color-error-bg: var(--color-error-bg);
  --color-error-bg-active: var(--color-error-bg-active);
  --color-error-bg-hover: var(--color-error-bg-hover);
  --color-error-border: var(--color-error-border);
  --color-error-text: var(--color-error-text);
  --color-expand-button: var(--color-expand-button);
  --color-footer: var(--color-footer);
  --color-git: var(--color-git);
  --color-gold: var(--color-gold);
  --color-green: var(--color-green);
  --color-green-badge: var(--color-green-badge);
  --color-green-badge-bg: var(--color-green-badge-bg);
  --color-green-badge-hover-bg: var(--color-green-badge-hover-bg);
  --color-green-dark-1: var(--color-green-dark-1);
  --color-green-dark-2: var(--color-green-dark-2);
  --color-green-light: var(--color-green-light);
  --color-grey: var(--color-grey);
  --color-grey-light: var(--color-grey-light);
  --color-highlight-bg: var(--color-highlight-bg);
  --color-highlight-fg: var(--color-highlight-fg);
  --color-hover: var(--color-hover);
  --color-hover-opaque: var(--color-hover-opaque);
  --color-info-bg: var(--color-info-bg);
  --color-info-border: var(--color-info-border);
  --color-info-text: var(--color-info-text);
  --color-input-background: var(--color-input-background);
  --color-input-border: var(--color-input-border);
  --color-input-text: var(--color-input-text);
  --color-input-toggle-background: var(--color-input-toggle-background);
  --color-label-active-bg: var(--color-label-active-bg);
  --color-label-bg: var(--color-label-bg);
  --color-label-hover-bg: var(--color-label-hover-bg);
  --color-label-text: var(--color-label-text);
  --color-light: var(--color-light);
  --color-light-border: var(--color-light-border);
  --color-logo: var(--color-logo);
  --color-markup-code-block: var(--color-markup-code-block);
  --color-markup-code-inline: var(--color-markup-code-inline);
  --color-markup-table-row: var(--color-markup-table-row);
  --color-menu: var(--color-menu);
  --color-nav-bg: var(--color-nav-bg);
  --color-nav-hover-bg: var(--color-nav-hover-bg);
  --color-nav-text: var(--color-nav-text);
  --color-olive: var(--color-olive);
  --color-olive-dark-1: var(--color-olive-dark-1);
  --color-olive-dark-2: var(--color-olive-dark-2);
  --color-olive-light: var(--color-olive-light);
  --color-orange: var(--color-orange);
  --color-orange-badge: var(--color-orange-badge);
  --color-orange-badge-bg: var(--color-orange-badge-bg);
  --color-orange-badge-hover-bg: var(--color-orange-badge-hover-bg);
  --color-orange-dark-1: var(--color-orange-dark-1);
  --color-orange-dark-2: var(--color-orange-dark-2);
  --color-orange-light: var(--color-orange-light);
  --color-overlay-backdrop: var(--color-overlay-backdrop);
  --color-pink: var(--color-pink);
  --color-pink-dark-1: var(--color-pink-dark-1);
  --color-pink-dark-2: var(--color-pink-dark-2);
  --color-pink-light: var(--color-pink-light);
  --color-placeholder-text: var(--color-placeholder-text);
  --color-primary: var(--color-primary);
  --color-primary-active: var(--color-primary-active);
  --color-primary-alpha-10: var(--color-primary-alpha-10);
  --color-primary-alpha-20: var(--color-primary-alpha-20);
  --color-primary-alpha-30: var(--color-primary-alpha-30);
  --color-primary-alpha-40: var(--color-primary-alpha-40);
  --color-primary-alpha-50: var(--color-primary-alpha-50);
  --color-primary-alpha-60: var(--color-primary-alpha-60);
  --color-primary-alpha-70: var(--color-primary-alpha-70);
  --color-primary-alpha-80: var(--color-primary-alpha-80);
  --color-primary-alpha-90: var(--color-primary-alpha-90);
  --color-primary-contrast: var(--color-primary-contrast);
  --color-primary-dark-1: var(--color-primary-dark-1);
  --color-primary-dark-2: var(--color-primary-dark-2);
  --color-primary-dark-3: var(--color-primary-dark-3);
  --color-primary-dark-4: var(--color-primary-dark-4);
  --color-primary-dark-5: var(--color-primary-dark-5);
  --color-primary-dark-6: var(--color-primary-dark-6);
  --color-primary-dark-7: var(--color-primary-dark-7);
  --color-primary-hover: var(--color-primary-hover);
  --color-primary-light-1: var(--color-primary-light-1);
  --color-primary-light-2: var(--color-primary-light-2);
  --color-primary-light-3: var(--color-primary-light-3);
  --color-primary-light-4: var(--color-primary-light-4);
  --color-primary-light-5: var(--color-primary-light-5);
  --color-primary-light-6: var(--color-primary-light-6);
  --color-primary-light-7: var(--color-primary-light-7);
  --color-project-column-bg: var(--color-project-column-bg);
  --color-purple: var(--color-purple);
  --color-purple-dark-1: var(--color-purple-dark-1);
  --color-purple-dark-2: var(--color-purple-dark-2);
  --color-purple-light: var(--color-purple-light);
  --color-reaction-active-bg: var(--color-reaction-active-bg);
  --color-reaction-bg: var(--color-reaction-bg);
  --color-reaction-hover-bg: var(--color-reaction-hover-bg);
  --color-red: var(--color-red);
  --color-red-badge: var(--color-red-badge);
  --color-red-badge-bg: var(--color-red-badge-bg);
  --color-red-badge-hover-bg: var(--color-red-badge-hover-bg);
  --color-red-dark-1: var(--color-red-dark-1);
  --color-red-dark-2: var(--color-red-dark-2);
  --color-red-light: var(--color-red-light);
  --color-secondary: var(--color-secondary);
  --color-secondary-active: var(--color-secondary-active);
  --color-secondary-alpha-10: var(--color-secondary-alpha-10);
  --color-secondary-alpha-20: var(--color-secondary-alpha-20);
  --color-secondary-alpha-30: var(--color-secondary-alpha-30);
  --color-secondary-alpha-40: var(--color-secondary-alpha-40);
  --color-secondary-alpha-50: var(--color-secondary-alpha-50);
  --color-secondary-alpha-60: var(--color-secondary-alpha-60);
  --color-secondary-alpha-70: var(--color-secondary-alpha-70);
  --color-secondary-alpha-80: var(--color-secondary-alpha-80);
  --color-secondary-alpha-90: var(--color-secondary-alpha-90);
  --color-secondary-bg: var(--color-secondary-bg);
  --color-secondary-button: var(--color-secondary-button);
  --color-secondary-dark-1: var(--color-secondary-dark-1);
  --color-secondary-dark-10: var(--color-secondary-dark-10);
  --color-secondary-dark-11: var(--color-secondary-dark-11);
  --color-secondary-dark-12: var(--color-secondary-dark-12);
  --color-secondary-dark-13: var(--color-secondary-dark-13);
  --color-secondary-dark-2: var(--color-secondary-dark-2);
  --color-secondary-dark-3: var(--color-secondary-dark-3);
  --color-secondary-dark-4: var(--color-secondary-dark-4);
  --color-secondary-dark-5: var(--color-secondary-dark-5);
  --color-secondary-dark-6: var(--color-secondary-dark-6);
  --color-secondary-dark-7: var(--color-secondary-dark-7);
  --color-secondary-dark-8: var(--color-secondary-dark-8);
  --color-secondary-dark-9: var(--color-secondary-dark-9);
  --color-secondary-hover: var(--color-secondary-hover);
  --color-secondary-light-1: var(--color-secondary-light-1);
  --color-secondary-light-2: var(--color-secondary-light-2);
  --color-secondary-light-3: var(--color-secondary-light-3);
  --color-secondary-light-4: var(--color-secondary-light-4);
  --color-secondary-nav-bg: var(--color-secondary-nav-bg);
  --color-shadow: var(--color-shadow);
  --color-shadow-opaque: var(--color-shadow-opaque);
  --color-small-accent: var(--color-small-accent);
  --color-success-bg: var(--color-success-bg);
  --color-success-border: var(--color-success-border);
  --color-success-text: var(--color-success-text);
  --color-teal: var(--color-teal);
  --color-teal-dark-1: var(--color-teal-dark-1);
  --color-teal-dark-2: var(--color-teal-dark-2);
  --color-teal-light: var(--color-teal-light);
  --color-text: var(--color-text);
  --color-text-dark: var(--color-text-dark);
  --color-text-light: var(--color-text-light);
  --color-text-light-1: var(--color-text-light-1);
  --color-text-light-2: var(--color-text-light-2);
  --color-text-light-3: var(--color-text-light-3);
  --color-timeline: var(--color-timeline);
  --color-tooltip-bg: var(--color-tooltip-bg);
  --color-tooltip-text: var(--color-tooltip-text);
  --color-transparency-grid-dark: var(--color-transparency-grid-dark);
  --color-transparency-grid-light: var(--color-transparency-grid-light);
  --color-violet: var(--color-violet);
  --color-violet-dark-1: var(--color-violet-dark-1);
  --color-violet-dark-2: var(--color-violet-dark-2);
  --color-violet-light: var(--color-violet-light);
  --color-warning-bg: var(--color-warning-bg);
  --color-warning-border: var(--color-warning-border);
  --color-warning-text: var(--color-warning-text);
  --color-white: var(--color-white);
  --color-workflow-edge-hover: var(--color-workflow-edge-hover);
  --color-yellow: var(--color-yellow);
  --color-yellow-badge: var(--color-yellow-badge);
  --color-yellow-badge-bg: var(--color-yellow-badge-bg);
  --color-yellow-badge-hover-bg: var(--color-yellow-badge-hover-bg);
  --color-yellow-dark-1: var(--color-yellow-dark-1);
  --color-yellow-dark-2: var(--color-yellow-dark-2);
  --color-yellow-light: var(--color-yellow-light);

  --radius: var(--border-radius);
  --radius-sm: 2px;
  --radius-md: var(--border-radius-medium);
  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 24px;

  --font-sans: var(--fonts-regular);
  --font-mono: var(--fonts-monospace);

  --font-weight-light: var(--font-weight-light);
  --font-weight-normal: var(--font-weight-normal);
  --font-weight-medium: var(--font-weight-medium);
  --font-weight-semibold: var(--font-weight-semibold);
  --font-weight-bold: var(--font-weight-bold);

  --text-xs: 11px;
  --text-sm: 12px;
  --text-base: 14px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 30px;
  --text-4xl: 36px;
  --text-5xl: 48px;
  --text-6xl: 60px;
  --text-7xl: 72px;
  --text-8xl: 96px;
  --text-9xl: 128px;
}
