.user.profile .ui.card .header {
  display: block;
  font-weight: var(--font-weight-semibold);
  font-size: 1.3rem;
  margin-top: -0.2rem;
  line-height: 1.3rem;
}

.user.profile .ui.card .profile-avatar-name {
  border-top: none;
  text-align: center;
}

.user.profile .ui.card .extra.content {
  padding: 0;
}

.user.profile .ui.card .extra.content > ul {
  margin: 0;
  padding: 0;
}

.user.profile .ui.card .extra.content > ul > li {
  padding: 10px;
  display: flex;
  list-style: none;
  align-items: center;
  gap: 0.25em;
}

.user.profile .ui.card .extra.content > ul > li:not(:last-child) {
  border-bottom: 1px solid var(--color-secondary);
}

.user.profile .ui.card .extra.content > ul > li.follow .ui.button {
  width: 100%;
}

.user.profile .ui.card #profile-avatar {
  padding: 1rem 1rem 0.25rem;
  justify-content: center;
}

.user.profile .ui.card #profile-avatar img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 767.98px) {
  .user.profile .ui.card #profile-avatar img {
    width: 30vw;
  }
}

@media (max-width: 767.98px) {
  .user.profile .ui.card {
    width: 100%;
  }
}

.user.profile .ui.secondary.stackable.pointing.menu {
  flex-wrap: wrap;
}

.user.followers .header.name {
  font-size: 20px;
  line-height: 24px;
  vertical-align: middle;
}

.user.followers .follow .ui.button {
  padding: 8px 15px;
}

.user.link-account:not(.icon) {
  padding-top: 15px;
  padding-bottom: 5px;
}

.user-orgs {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin: -3px !important;
}

.user-orgs > li {
  display: flex;
  border-bottom: 0 !important;
  padding: 3px !important;
  max-width: 60px;
}

.user-badges {
  display: grid;
  grid-template-columns: repeat(auto-fill, 64px);
  gap: 2px;
}

.user-badges img {
  object-fit: contain;
}

.star-list .top {
  height: 43.75px;
  line-height: 43.75px;
  display: flex;
  justify-content: space-between;
}

.star-list .top-right {
  display: flex;
  justify-content: space-between;
}

#profile-lists-container .box {
  margin-top: 10px;
  background-color: var(--color-body);
  border-color: #d1d9e0;
  border-radius: 0.375rem;
  border-style: solid;
  border-width: 0.0625rem;
}

#profile-lists-container .box-row,.box-row:link,.box-row:visited,.box-row:hover,.box-row:active {
  display: block;
  height: 42px;
  line-height: 42px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

#profile-lists-container .box-row:hover {
  background-color: #f6f8fa;
}

#profile-lists-container .box-row {
  border-bottom: 0.0625rem solid #d1d9e0;
}

#profile-lists-container .box-row:first-of-type {
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

#profile-lists-container .box-row:last-of-type {
  border-bottom: none;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

#profile-lists-container h3 {
  line-height: inherit;
  margin: 0;
  padding: 0;
}

#profile-lists-container .name {
  margin-left: 10px;
  color: var(--color-text-dark);
}

#profile-lists-container .repositories {
  color: #5b6167;
  margin-right: 10px;
}

.star-list-repos .top {
  height: 37.75px;
  line-height: 37.75px;
  display: flex;
  justify-content: space-between;
}

.star-list-repos h2 {
  display: block;
  margin: 0;
  padding: 0;
  height: inherit;
  line-height: inherit;
}

.star-list-repos .btn {
  padding: 5px 16px;
  color: #25292e;
  background-color: #f6f8fa;
  list-style: none;
  box-shadow: 0px 1px 0px 0px #1f232880a;
  border-radius: 6px;
  font-size: 16px;
  border: 1px solid #d1d9e0;
  line-height: 20px;
}

.star-list-repos details>summary {
  transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
  transition-property: color, background-color, box-shadow, border-color;
}

.star-list-repos .box {
  width: 448px;
  border-color: #d1d9e0;
  border-radius: 0.375rem;
  border-style: solid;
  border-width: 0.0625rem;
}

.star-list-repos details-dialog {
  position: fixed;
  margin: 10vh auto;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  max-height: 80vh;
  max-width: 90vw;
  overflow: auto;
  border-shadow: 3px 3px 3px 3px 5px black;
}

.star-list-repos .box-header {
  background-color: #f6f8fa;
  height: 37.75px;
}

.star-list-repos h1 {
  margin-left: 10px;
  font-size: 0.875rem;
  font-weight: 600;
  height: 37.75px;
  line-height: 37.75px;
}

.star-list-repos .box-title {
  height: 37.75px;
  line-height: 37.75px;
  font-size: 0.875rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.star-list-repos .btn-group {
  display: flex;
  justify-content: space-between;
}

.star-list-repos .description {
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.star-list-repos .repositories {
  color: #59536e;
}

#readme_profile {
  padding: 1em 2em;
  border-radius: var(--border-radius);
  background: var(--color-card);
  border: 1px solid var(--color-secondary);
}

#notification_table {
  background: var(--color-box-body);
  border: 1px solid var(--color-secondary);
  border-radius: var(--border-radius);
}

.notifications-item:hover {
  background: var(--color-hover);
}

.notifications-buttons {
  display: none;
  min-width: 74px;
}

.notifications-updated {
  display: flex;
}

.notifications-item:hover .notifications-buttons {
  display: flex;
}

.notifications-item:hover .notifications-updated {
  display: none;
}
