{{template "base/head" .}}
<div role="main" aria-label="{{if .IsSigned}}{{ctx.Locale.Tr "dashboard"}}{{else}}{{ctx.Locale.Tr "home"}}{{end}}" class="page-content home">
	<div class="gt-mb-5 gt-px-5">
		<div class="center">
			<img class="logo" width="220" height="220" src="{{AssetUrlPrefix}}/img/logo.svg" alt="{{ctx.Locale.Tr "logo"}}">
			<div class="hero">
				<h1 class="ui icon header title">
					{{AppName}}
				</h1>
				<h2>{{ctx.Locale.Tr "startpage.app_desc"}}</h2>
			</div>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				{{svg "octicon-flame"}} {{ctx.Locale.Tr "startpage.install"}}
			</h1>
			<p class="large">
				{{ctx.Locale.Tr "startpage.install_desc" | Str2html}}
			</p>
		</div>
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				{{svg "octicon-device-desktop"}} {{ctx.Locale.Tr "startpage.platform"}}
			</h1>
			<p class="large">
				{{ctx.Locale.Tr "startpage.platform_desc" | Str2html}}
			</p>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				{{svg "octicon-rocket"}} {{ctx.Locale.Tr "startpage.lightweight"}}
			</h1>
			<p class="large">
				{{ctx.Locale.Tr "startpage.lightweight_desc" | Str2html}}
			</p>
		</div>
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				{{svg "octicon-code"}} {{ctx.Locale.Tr "startpage.license"}}
			</h1>
			<p class="large">
				{{ctx.Locale.Tr "startpage.license_desc" | Str2html}}
			</p>
		</div>
	</div>
</div>
{{template "base/footer" .}}
