{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content install post-install">
	<div class="ui container">
		<div class="ui grid">
			<div class="sixteen wide column content">
				<div class="home">
					<div class="ui stackable middle very relaxed page grid">
						<div class="sixteen wide center aligned centered column">
							<div class="loading">
								<img src="{{AssetUrlPrefix}}/img/loading.png" alt="{{ctx.Locale.Tr "install.installing"}}">
							</div>
							<p><a id="goto-user-login" href="{{AppSubUrl}}/user/login">{{ctx.Locale.Tr "install.installing_desc"}}</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
