{{template "base/head" .}}
<div class="page-content repository">
	{{template "repo/header" .}}
	<div class="ui container">
		<div class="sixteen wide column title">
			<div class="issue-title" id="issue-title-wrapper">
				<h1>
					<span id="issue-title">{{RenderIssueTitle $.Context .Build.Title $.RepoLink $.Repository.ComposeMetas}}</span>
					<span class="index">#{{.Build.Index}}</span>
				</h1>
			</div>
		</div>
		{{template "repo/builds/view_content" .}}
	</div>
</div>
{{template "base/footer" .}}
