{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content repository packages">
	{{template "user/overview/header" .}}
	{{template "projects/view" .}}
</div>
{{template "base/footer" .}}
