<!DOCTYPE html>
<html>
<head>
	<style>
		.footer { font-size:small; color:#666;}
	</style>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{.Subject}}</title>
</head>

<body>
	<p>@{{.Doer.Name}} assigned you to the {{if .IsPull}}pull request{{else}}issue{{end}} <a href="{{.Link}}">#{{.Issue.Index}}</a> in repository {{.Repo}}.</p>
	<div class="footer">
	    <p>
	        ---
	        <br>
	        <a href="{{.Link}}">View it on {{AppName}}</a>.
	    </p>
	</div>
</body>
</html>
