[{{.Repo}}] {{.Doer}}
{{if eq .Action 6}}
	created issue #{{.Issue.Index}}
{{else if eq .Action 7}}
	created PR #{{.Issue.Index}}
{{else if eq .Action 10}}
	commented on #{{.Issue.Index}}
{{else if eq .Action 12}}
	closed issue #{{.Issue.Index}}
{{else if eq .Action 13}}
	reopened issue #{{.Issue.Index}}
{{else if eq .Action 14}}
	closed PR #{{.Issue.Index}}
{{else if eq .Action 15}}
	reopened PR #{{.Issue.Index}}
{{else}}
	commented/acted upon #{{.Issue.Index}}
{{end}}
 áéíóú - {{.Issue.Title}}