{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content repository new issue">
	{{template "repo/header" .}}
	<div class="ui container">
		{{template "base/alert" .}}
		<div class="navbar">
			{{template "repo/issue/navbar" .}}
		</div>
		<div class="divider"></div>
		{{range .IssueTemplates}}
			<div class="ui attached segment">
				<div class="ui two column grid">
					<div class="column left aligned">
						<strong>{{.Name | RenderEmojiPlain}}</strong>
						<br>{{.About | RenderEmojiPlain}}
					</div>
					<div class="column right aligned">
						<a href="{{$.RepoLink}}/issues/new?template={{.FileName}}{{if $.milestone}}&milestone={{$.milestone}}{{end}}{{if $.project}}&project={{$.project}}{{end}}" class="ui primary button">{{ctx.Locale.Tr "repo.issues.choose.get_started"}}</a>
					</div>
				</div>
			</div>
		{{end}}
		{{range .IssueConfig.ContactLinks}}
			<div class="ui attached segment">
				<div class="ui two column grid">
					<div class="column left aligned">
						<strong>{{.Name | RenderEmojiPlain}}</strong>
						<br>{{.About | RenderEmojiPlain}}
					</div>
					<div class="column right aligned">
						<a href="{{.URL}}" class="ui primary button">{{svg "octicon-link-external"}} {{ctx.Locale.Tr "repo.issues.choose.open_external_link"}}</a>
					</div>
				</div>
			</div>
		{{end}}
		{{if .IssueConfig.BlankIssuesEnabled}}
			<div class="ui attached segment">
				<div class="ui two column grid">
					<div class="column left aligned">
						<strong>{{ctx.Locale.Tr "repo.issues.choose.blank"}}</strong>
						<br/>{{ctx.Locale.Tr "repo.issues.choose.blank_about"}}
					</div>
					<div class="column right aligned">
						<a href="{{.RepoLink}}/issues/new?{{if .milestone}}&milestone={{.milestone}}{{end}}{{if $.project}}&project={{$.project}}{{end}}" class="ui primary button">{{ctx.Locale.Tr "repo.issues.choose.get_started"}}</a>
					</div>
				</div>
			</div>
		{{end}}
		{{- if .IssueConfigError}}{{/* normal warning flash makes problems here*/}}
			<div class="ui warning message">
				<div class="text left">
					<div>{{ctx.Locale.Tr "repo.issues.choose.invalid_config"}}</div>
					<div>{{.IssueConfigError}}</div>
				</div>
			</div>
		{{end}}
	</div>
</div>
{{template "base/footer" .}}
