{{template "base/head" .}}
<div class="page-content repository new issue">
	{{template "repo/header" .}}
	<div class="ui container">
		<div class="navbar">
			{{template "repo/issue/navbar" .}}
		</div>
		<div class="ui divider"></div>
		{{range .IssueTemplates}}
			<div class="ui attached segment">
				<div class="ui two column grid">
					<div class="column left aligned">
						<strong>{{.Name | RenderEmojiPlain}}</strong>
						<br/>{{.About | RenderEmojiPlain}}
					</div>
					<div class="column right aligned">
						<a href="{{$.RepoLink}}/issues/new?template={{.FileName}}{{if $.milestone}}&milestone={{$.milestone}}{{end}}{{if $.project}}&project={{$.project}}{{end}}" class="ui green button">{{$.i18n.Tr "repo.issues.choose.get_started"}}</a>
					</div>
				</div>
			</div>
		{{end}}
		<div class="ui attached segment">
			<div class="ui two column grid">
				<div class="column left aligned">
					<strong>{{.i18n.Tr "repo.issues.choose.blank"}}</strong>
					<br/>{{.i18n.Tr "repo.issues.choose.blank_about"}}
				</div>
				<div class="column right aligned">
					<a href="{{.RepoLink}}/issues/new?{{if .milestone}}&milestone={{.milestone}}{{end}}{{if $.project}}&project={{$.project}}{{end}}" class="ui green button">{{$.i18n.Tr "repo.issues.choose.get_started"}}</a>
				</div>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
