{{$textareaContent := .BodyQuery}}
{{if not $textareaContent}}{{$textareaContent = .IssueTemplate}}{{end}}
{{if not $textareaContent}}{{$textareaContent = .PullRequestTemplate}}{{end}}
{{if not $textareaContent}}{{$textareaContent = .content}}{{end}}

{{template "shared/combomarkdowneditor" (dict
	"locale" $.locale
	"MarkdownPreviewUrl" (print .Repository.Link "/markup")
	"MarkdownPreviewContext" .RepoLink
	"TextareaName" "content"
	"TextareaContent" $textareaContent
	"DropzoneParentContainer" "form, .ui.form"
)}}

{{if .IsAttachmentEnabled}}
	<div class="field">
		{{template "repo/upload" .}}
	</div>
{{end}}
