{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content repository labels">
	{{template "repo/header" .}}
	<div class="ui container">
		<div class="issue-navbar tw-mb-4">
			{{template "repo/issue/navbar" .}}
			{{if and (or .CanWriteIssues .CanWritePulls) (not .Repository.IsArchived)}}
				<button class="ui small primary new-label button">{{ctx.Locale.Tr "repo.issues.new_label"}}</button>
			{{end}}
		</div>
		{{template "base/alert" .}}
		{{template "repo/issue/labels/label_list" .}}
	</div>
	{{if and (or .CanWriteIssues .CanWritePulls) (not .Repository.IsArchived)}}
		{{template "repo/issue/labels/label_edit_modal" .}}
	{{end}}
</div>
{{template "base/footer" .}}
