{{template "base/head" .}}
<div class="repository">
	{{template "repo/header" .}}
	<div class="ui container">
		<div class="ui three column stackable grid">
			<div class="column">
				{{template "repo/issue/navbar" .}}
			</div>
			<div class="column center aligned">
				{{template "repo/issue/search" .}}
			</div>
			{{if not .Repository.IsArchived}}
				<div class="column right aligned">
					{{if .PageIsIssueList}}
						<a class="ui green button" href="{{.RepoLink}}/issues/new">{{.i18n.Tr "repo.issues.new"}}</a>
					{{else}}
						<a class="ui green button {{if not .PullRequestCtx.Allowed}}disabled{{end}}" href="{{if .PullRequestCtx.Allowed}}{{.Repository.Link}}/compare/{{.Repository.DefaultBranch | EscapePound}}...{{if ne .Repository.Owner.Name .PullRequestCtx.BaseRepo.Owner.Name}}{{.Repository.Owner.Name}}:{{end}}{{.Repository.DefaultBranch | EscapePound}}{{end}}">{{.i18n.Tr "repo.pulls.new"}}</a>
					{{end}}
				</div>
			{{else}}
				{{if not .PageIsIssueList}}
					<div class="column right aligned">
						<a class="ui green button {{if not .PullRequestCtx.Allowed}}disabled{{end}}" href="{{if .PullRequestCtx.Allowed}}{{.PullRequestCtx.BaseRepo.Link}}/compare/{{.PullRequestCtx.BaseRepo.DefaultBranch | EscapePound}}...{{if ne .Repository.Owner.Name .PullRequestCtx.BaseRepo.Owner.Name}}{{.Repository.Owner.Name}}:{{end}}{{.Repository.DefaultBranch | EscapePound}}{{end}}">{{$.i18n.Tr "action.compare_commits_general"}}</a>
					</div>
				{{end}}
			{{end}}
		</div>
		<div class="ui divider"></div>
		<div id="issue-filters" class="ui stackable grid">
			<div class="six wide column">
				<div class="ui tiny basic status buttons">
					<a class="ui {{if not .IsShowClosed}}green active{{end}} basic button" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort={{$.SortType}}&state=open&labels={{.SelectLabels}}&milestone={{.MilestoneID}}&assignee={{.AssigneeID}}">
						<i class="octicon octicon-issue-opened"></i>
						{{.i18n.Tr "repo.issues.open_tab" .IssueStats.OpenCount}}
					</a>
					<a class="ui {{if .IsShowClosed}}red active{{end}} basic button" href="{{$.Link}}?q={{$.Keyword}}&type={{.ViewType}}&sort={{$.SortType}}&state=closed&labels={{.SelectLabels}}&milestone={{.MilestoneID}}&assignee={{.AssigneeID}}">
						<i class="octicon octicon-issue-closed"></i>
						{{.i18n.Tr "repo.issues.close_tab" .IssueStats.ClosedCount}}
					</a>
				</div>
			</div>
			<div class="ten wide right aligned column">
				<div class="ui secondary filter stackable menu labels">
					<!-- Label -->
					<div class="ui {{if not .Labels}}disabled{{end}} dropdown jump item label-filter" style="margin-left: auto">
						<span class="text">
							{{.i18n.Tr "repo.issues.filter_label"}}
							<i class="dropdown icon"></i>
						</span>
						<div class="menu">
							<span class="info">{{.i18n.Tr "repo.issues.filter_label_exclude" | Safe}}</span>
							<a class="item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort={{$.SortType}}&state={{$.State}}&milestone={{$.MilestoneID}}&assignee={{$.AssigneeID}}">{{.i18n.Tr "repo.issues.filter_label_no_select"}}</a>
							{{range .Labels}}
								<a class="item has-emoji label-filter-item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort={{$.SortType}}&state={{$.State}}&labels={{.QueryString}}&milestone={{$.MilestoneID}}&assignee={{$.AssigneeID}}" data-label-id="{{.ID}}"><span class="octicon {{if .IsExcluded}}octicon-circle-slash{{else if .IsSelected}}octicon-check{{end}}"></span><span class="label color" style="background-color: {{.Color}}"></span> {{.Name}}</a>
							{{end}}
						</div>
					</div>

					<!-- Milestone -->
					<div class="ui {{if not .Milestones}}disabled{{end}} dropdown jump item">
						<span class="text">
							{{.i18n.Tr "repo.issues.filter_milestone"}}
							<i class="dropdown icon"></i>
						</span>
						<div class="menu">
							<a class="item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort={{$.SortType}}&state={{$.State}}&labels={{.SelectLabels}}&assignee={{$.AssigneeID}}">{{.i18n.Tr "repo.issues.filter_milestone_no_select"}}</a>
							{{range .Milestones}}
								<a class="{{if eq $.MilestoneID .ID}}active selected{{end}} item" href="{{$.Link}}?type={{$.ViewType}}&sort={{$.SortType}}&state={{$.State}}&labels={{$.SelectLabels}}&milestone={{.ID}}&assignee={{$.AssigneeID}}">{{.Name}}</a>
							{{end}}
						</div>
					</div>

					<!-- Assignee -->
					<div class="ui {{if not .Assignees}}disabled{{end}} dropdown jump item">
						<span class="text">
							{{.i18n.Tr "repo.issues.filter_assignee"}}
							<i class="dropdown icon"></i>
						</span>
						<div class="menu">
							<a class="item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort={{$.SortType}}&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}">{{.i18n.Tr "repo.issues.filter_assginee_no_select"}}</a>
							{{range .Assignees}}
								<a class="{{if eq $.AssigneeID .ID}}active selected{{end}} item" href="{{$.Link}}?type={{$.ViewType}}&sort={{$.SortType}}&state={{$.State}}&labels={{$.SelectLabels}}&milestone={{$.MilestoneID}}&assignee={{.ID}}"><img src="{{.RelAvatarLink}}"> {{.GetDisplayName}}</a>
							{{end}}
						</div>
					</div>

					{{if .IsSigned}}
						<!-- Type -->
						<div class="ui dropdown type jump item">
							<span class="text">
								{{.i18n.Tr "repo.issues.filter_type"}}
								<i class="dropdown icon"></i>
							</span>
							<div class="menu">
								<a class="{{if eq .ViewType "all"}}active{{end}} item" href="{{$.Link}}?q={{$.Keyword}}&type=all&sort={{$.SortType}}&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}&assignee={{$.AssigneeID}}">{{.i18n.Tr "repo.issues.filter_type.all_issues"}}</a>
								<a class="{{if eq .ViewType "assigned"}}active{{end}} item" href="{{$.Link}}?q={{$.Keyword}}&type=assigned&sort={{$.SortType}}&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}&assignee={{.SignedUser.ID}}">{{.i18n.Tr "repo.issues.filter_type.assigned_to_you"}}</a>
								<a class="{{if eq .ViewType "created_by"}}active{{end}} item" href="{{$.Link}}?q={{$.Keyword}}&type=created_by&sort={{$.SortType}}&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}&assignee={{$.AssigneeID}}">{{.i18n.Tr "repo.issues.filter_type.created_by_you"}}</a>
								<a class="{{if eq .ViewType "mentioned"}}active{{end}} item" href="{{$.Link}}?q={{$.Keyword}}&type=mentioned&sort={{$.SortType}}&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}&assignee={{$.AssigneeID}}">{{.i18n.Tr "repo.issues.filter_type.mentioning_you"}}</a>
							</div>
						</div>
					{{end}}

					<!-- Sort -->
					<div class="ui dropdown type jump item">
						<span class="text">
							{{.i18n.Tr "repo.issues.filter_sort"}}
							<i class="dropdown icon"></i>
						</span>
						<div class="menu">
							<a class="{{if or (eq .SortType "latest") (not .SortType)}}active{{end}} item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort=latest&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}&assignee={{$.AssigneeID}}">{{.i18n.Tr "repo.issues.filter_sort.latest"}}</a>
							<a class="{{if eq .SortType "oldest"}}active{{end}} item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort=oldest&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}&assignee={{$.AssigneeID}}">{{.i18n.Tr "repo.issues.filter_sort.oldest"}}</a>
							<a class="{{if eq .SortType "recentupdate"}}active{{end}} item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort=recentupdate&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}&assignee={{$.AssigneeID}}">{{.i18n.Tr "repo.issues.filter_sort.recentupdate"}}</a>
							<a class="{{if eq .SortType "leastupdate"}}active{{end}} item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort=leastupdate&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}&assignee={{$.AssigneeID}}">{{.i18n.Tr "repo.issues.filter_sort.leastupdate"}}</a>
							<a class="{{if eq .SortType "mostcomment"}}active{{end}} item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort=mostcomment&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}&assignee={{$.AssigneeID}}">{{.i18n.Tr "repo.issues.filter_sort.mostcomment"}}</a>
							<a class="{{if eq .SortType "leastcomment"}}active{{end}} item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort=leastcomment&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}&assignee={{$.AssigneeID}}">{{.i18n.Tr "repo.issues.filter_sort.leastcomment"}}</a>
							<a class="{{if eq .SortType "nearduedate"}}active{{end}} item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort=nearduedate&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}&assignee={{$.AssigneeID}}">{{.i18n.Tr "repo.issues.filter_sort.nearduedate"}}</a>
							<a class="{{if eq .SortType "farduedate"}}active{{end}} item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort=farduedate&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}&assignee={{$.AssigneeID}}">{{.i18n.Tr "repo.issues.filter_sort.farduedate"}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="issue-actions" class="ui stackable grid hide">
			<div class="six wide column">
				<div class="ui tiny basic status buttons">
					<a class="ui {{if not .IsShowClosed}}green active{{end}} basic button" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort={{$.SortType}}&state=open&labels={{.SelectLabels}}&milestone={{.MilestoneID}}&assignee={{.AssigneeID}}">
						<i class="octicon octicon-issue-opened"></i>
						{{.i18n.Tr "repo.issues.open_tab" .IssueStats.OpenCount}}
					</a>
					<a class="ui {{if .IsShowClosed}}red active{{end}} basic button" href="{{$.Link}}?q={{$.Keyword}}&type={{.ViewType}}&sort={{$.SortType}}&state=closed&labels={{.SelectLabels}}&milestone={{.MilestoneID}}&assignee={{.AssigneeID}}">
						<i class="octicon octicon-issue-closed"></i>
						{{.i18n.Tr "repo.issues.close_tab" .IssueStats.ClosedCount}}
					</a>
				</div>
			</div>
			{{/* Ten wide does not cope well and makes the columns stack.
			This seems to be related to jQuery's hide/show: in fact, switching
			issue-actions and issue-filters and having this ten wide will show
			this one correctly, but not the other one. */}}
			<div class="nine wide right aligned right floated column">
				<div class="ui secondary filter stackable menu">
					{{if not .Repository.IsArchived}}
					<!-- Action Button -->
					{{if .IsShowClosed}}
						<div class="ui green active basic button issue-action" data-action="open" data-url="{{$.RepoLink}}/issues/status" style="margin-left: auto">{{.i18n.Tr "repo.issues.action_open"}}</div>
					{{else}}
						<div class="ui red active basic button issue-action" data-action="close" data-url="{{$.RepoLink}}/issues/status" style="margin-left: auto">{{.i18n.Tr "repo.issues.action_close"}}</div>
					{{end}}
					<!-- Labels -->
					<div class="ui {{if not .Labels}}disabled{{end}} dropdown jump item">
						<span class="text">
							{{.i18n.Tr "repo.issues.action_label"}}
							<i class="dropdown icon"></i>
						</span>
						<div class="menu">
							{{range .Labels}}
								<div class="item issue-action has-emoji" data-action="toggle" data-element-id="{{.ID}}" data-url="{{$.RepoLink}}/issues/labels">
									<span class="octicon {{if contain $.SelLabelIDs .ID}}octicon-check{{end}}"></span><span class="label color" style="background-color: {{.Color}}"></span> {{.Name}}
								</div>
							{{end}}
						</div>
					</div>

					<!-- Milestone -->
					<div class="ui {{if not .Milestones}}disabled{{end}} dropdown jump item">
						<span class="text">
							{{.i18n.Tr "repo.issues.action_milestone"}}
							<i class="dropdown icon"></i>
						</span>
						<div class="menu">
							<div class="item issue-action" data-element-id="0" data-url="{{$.Link}}/milestone">
							{{.i18n.Tr "repo.issues.action_milestone_no_select"}}
							</div>
							{{range .Milestones}}
								<div class="item issue-action" data-element-id="{{.ID}}" data-url="{{$.RepoLink}}/issues/milestone">
									{{.Name}}
								</div>
							{{end}}
						</div>
					</div>

					<!-- Assignees -->
					<div class="ui {{if not .Assignees}}disabled{{end}} dropdown jump item">
						<span class="text">
							{{.i18n.Tr "repo.issues.action_assignee"}}
							<i class="dropdown icon"></i>
						</span>
						<div class="menu">
							<div class="item issue-action" data-element-id="0" data-url="{{$.Link}}/assignee">
								{{.i18n.Tr "repo.issues.action_assignee_no_select"}}
							</div>
							{{range .Assignees}}
								<div class="item issue-action" data-element-id="{{.ID}}" data-url="{{$.RepoLink}}/issues/assignee">
									<img src="{{.RelAvatarLink}}"> {{.GetDisplayName}}
								</div>
							{{end}}
						</div>
					</div>
					{{end}}
				</div>
			</div>
		</div>

		<div class="issue list">
			{{range .Issues}}
				<li class="item">
					{{if $.CanWriteIssuesOrPulls}}
					<div class="ui checkbox issue-checkbox">
						<input type="checkbox" data-issue-id={{.ID}}></input>
					</div>
					{{end}}
					<div class="ui {{if .IsClosed}}{{if .IsPull}}{{if .PullRequest.HasMerged}}purple{{else}}red{{end}}{{else}}red{{end}}{{else}}{{if .IsRead}}white{{else}}green{{end}}{{end}} label">#{{.Index}}</div>
					<a class="title has-emoji" href="{{$.Link}}/{{.Index}}">{{.Title}}</a>

                    {{if .IsPull }}
                        {{if (index $.CommitStatus .PullRequest.ID)}}
                            {{template "repo/commit_status" (index $.CommitStatus .PullRequest.ID)}}
						{{end}}
					{{end}}

					{{range .Labels}}
						<a class="ui label has-emoji" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&state={{$.State}}&labels={{.ID}}&milestone={{$.MilestoneID}}&assignee={{$.AssigneeID}}" style="color: {{.ForegroundColor}}; background-color: {{.Color}}" title="{{.Description}}">{{.Name}}</a>
					{{end}}

					{{if .NumComments}}
						<span class="comment ui right"><i class="octicon octicon-comment"></i> {{.NumComments}}</span>
					{{end}}

					{{if .TotalTrackedTime}}
						<span class="comment ui right"><i class="octicon octicon-clock"></i> {{.TotalTrackedTime | Sec2Time}}</span>
					{{end}}

					<p class="desc">
						{{ $timeStr := TimeSinceUnix .GetLastEventTimestamp $.Lang }}
						{{if .OriginalAuthor }}
							{{$.i18n.Tr .GetLastEventLabelFake $timeStr .OriginalAuthor | Safe}}
						{{else if gt .Poster.ID 0}}
							{{$.i18n.Tr .GetLastEventLabel $timeStr .Poster.HomeLink (.Poster.GetDisplayName | Escape) | Safe}}
						{{else}}
							{{$.i18n.Tr .GetLastEventLabelFake $timeStr (.Poster.GetDisplayName | Escape) | Safe}}
						{{end}}

						{{if .Milestone}}
							<a class="milestone" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&state={{$.State}}&labels={{$.SelectLabels}}&milestone={{.Milestone.ID}}&assignee={{$.AssigneeID}}">
								<span class="octicon octicon-milestone"></span> {{.Milestone.Name}}
							</a>
						{{end}}
						{{if .Ref}}
							<a class="ref" href="{{$.RepoLink}}/src/branch/{{.Ref | PathEscapeSegments}}">
								<span class="octicon octicon-git-branch"></span> {{.Ref}}
							</a>
						{{end}}
						{{$tasks := .GetTasks}}
						{{if gt $tasks 0}}
							{{$tasksDone := .GetTasksDone}}
							<span class="checklist">
								<span class="octicon octicon-checklist"></span> {{$tasksDone}} / {{$tasks}} <span class="progress-bar"><span class="progress" style="width:calc(100% * {{$tasksDone}} / {{$tasks}});"></span></span>
							</span>
						{{end}}
						{{if ne .DeadlineUnix 0}}
							<span class="due-date poping up" data-content="{{$.i18n.Tr "repo.issues.due_date"}}" data-variation="tiny inverted" data-position="right center">
								<span class="octicon octicon-calendar"></span><span{{if .IsOverdue}} class="overdue"{{end}}>{{.DeadlineUnix.FormatShort}}</span>
							</span>
						{{end}}
						{{range .Assignees}}
							<a class="ui right assignee poping up" href="{{.HomeLink}}" data-content="{{.Name}}" data-variation="inverted" data-position="left center">
								<img class="ui avatar image" src="{{.RelAvatarLink}}">
							</a>
						{{end}}
					</p>
				</li>
			{{end}}

			{{template "base/paginate" .}}
		</div>
	</div>
</div>
{{template "base/footer" .}}
