{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content repository issue-list">
	{{template "repo/header" .}}
	<div class="ui container">
		<div class="ui three column grid issue-list-headers">
			<div class="column">
				{{template "repo/issue/navbar" .}}
			</div>
			<div class="column center aligned">
				{{template "repo/issue/search" .}}
			</div>
			{{if not .Repository.IsArchived}}
				<div class="column right aligned">
					{{if .PageIsIssueList}}
						<a class="ui green button" href="{{.RepoLink}}/issues/new{{if .NewIssueChooseTemplate}}/choose{{end}}">{{.locale.Tr "repo.issues.new"}}</a>
					{{else}}
						<a class="ui green button {{if not .PullRequestCtx.Allowed}}disabled{{end}}" href="{{if .PullRequestCtx.Allowed}}{{.Repository.Link}}/compare/{{.Repository.DefaultBranch | PathEscapeSegments}}...{{if ne .Repository.Owner.Name .PullRequestCtx.BaseRepo.Owner.Name}}{{PathEscape .Repository.Owner.Name}}:{{end}}{{.Repository.DefaultBranch | PathEscapeSegments}}{{end}}">{{.locale.Tr "repo.pulls.new"}}</a>
					{{end}}
				</div>
			{{else}}
				{{if not .PageIsIssueList}}
					<div class="column right aligned">
						<a class="ui green button {{if not .PullRequestCtx.Allowed}}disabled{{end}}" href="{{if .PullRequestCtx.Allowed}}{{.PullRequestCtx.BaseRepo.Link}}/compare/{{.PullRequestCtx.BaseRepo.DefaultBranch | PathEscapeSegments}}...{{if ne .Repository.Owner.Name .PullRequestCtx.BaseRepo.Owner.Name}}{{PathEscape .Repository.Owner.Name}}:{{end}}{{.Repository.DefaultBranch | PathEscapeSegments}}{{end}}">{{$.locale.Tr "action.compare_commits_general"}}</a>
					</div>
				{{end}}
			{{end}}
		</div>
		<div class="ui divider"></div>
		<div id="issue-filters" class="ui stackable grid">
			<div class="six wide column">
				{{if $.CanWriteIssuesOrPulls}}
					<input type="checkbox" autocomplete="off" class="issue-checkbox-all gt-vm gt-mr-4" title="{{.locale.Tr "repo.issues.action_check_all"}}">
				{{end}}
				{{template "repo/issue/openclose" .}}
			</div>
			<div class="ten wide right aligned column">
				<div class="ui secondary filter stackable menu labels">
					<!-- Label -->
					<div class="ui {{if not .Labels}}disabled{{end}} dropdown jump item label-filter" style="margin-left: auto">
						<span class="text">
							{{.locale.Tr "repo.issues.filter_label"}}
							{{svg "octicon-triangle-down" 14 "dropdown icon"}}
						</span>
						<div class="menu">
							<div class="ui icon search input">
								<i class="icon gt-df gt-ac gt-jc">{{svg "octicon-search" 16}}</i>
								<input type="text" placeholder="{{.locale.Tr "repo.issues.filter_label"}}">
							</div>
							<span class="info">{{.locale.Tr "repo.issues.filter_label_exclude" | Safe}}</span>
							<a class="item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort={{$.SortType}}&state={{$.State}}&milestone={{$.MilestoneID}}&project={{$.ProjectID}}&assignee={{$.AssigneeID}}&poster={{$.PosterID}}">{{.locale.Tr "repo.issues.filter_label_no_select"}}</a>
							{{$previousExclusiveScope := "_no_scope"}}
							{{range .Labels}}
								{{$exclusiveScope := .ExclusiveScope}}
								{{if and (ne $previousExclusiveScope "_no_scope") (ne $previousExclusiveScope $exclusiveScope)}}
									<div class="ui divider"></div>
								{{end}}
								{{$previousExclusiveScope = $exclusiveScope}}
								<a class="item label-filter-item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort={{$.SortType}}&state={{$.State}}&labels={{.QueryString}}&milestone={{$.MilestoneID}}&project={{$.ProjectID}}&assignee={{$.AssigneeID}}&poster={{$.PosterID}}" data-label-id="{{.ID}}">{{if .IsExcluded}}{{svg "octicon-circle-slash"}}{{else if .IsSelected}}{{if $exclusiveScope}}{{svg "octicon-dot-fill"}}{{else}}{{svg "octicon-check"}}{{end}}{{end}} {{RenderLabel $.Context .}}</a>
							{{end}}
						</div>
					</div>

					<!-- Milestone -->
					<div class="ui {{if not .Milestones}}disabled{{end}} dropdown jump item">
						<span class="text">
							{{.locale.Tr "repo.issues.filter_milestone"}}
							{{svg "octicon-triangle-down" 14 "dropdown icon"}}
						</span>
						<div class="menu">
							<div class="ui icon search input">
								<i class="icon gt-df gt-ac gt-jc">{{svg "octicon-search" 16}}</i>
								<input type="text" placeholder="{{.locale.Tr "repo.issues.filter_milestone"}}">
							</div>
							<a class="item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort={{$.SortType}}&state={{$.State}}&labels={{.SelectLabels}}&assignee={{$.AssigneeID}}&poster={{$.PosterID}}">{{.locale.Tr "repo.issues.filter_milestone_no_select"}}</a>
							{{range .Milestones}}
								<a class="{{if $.MilestoneID}}{{if eq $.MilestoneID .ID}}active selected{{end}}{{end}} item" href="{{$.Link}}?type={{$.ViewType}}&sort={{$.SortType}}&state={{$.State}}&labels={{$.SelectLabels}}&milestone={{.ID}}&project={{$.ProjectID}}&assignee={{$.AssigneeID}}&poster={{$.PosterID}}">{{.Name}}</a>
							{{end}}
						</div>
					</div>

					<!-- Project -->
					<div class="ui{{if not (or .OpenProjects .ClosedProjects)}} disabled{{end}} dropdown jump item">
						<span class="text">
							{{.locale.Tr "repo.issues.filter_project"}}
							{{svg "octicon-triangle-down" 14 "dropdown icon"}}
						</span>
						<div class="menu">
							<div class="ui icon search input">
								<i class="icon gt-df gt-ac gt-jc">{{svg "octicon-search" 16}}</i>
								<input type="text" placeholder="{{.locale.Tr "repo.issues.filter_project"}}">
							</div>
							<a class="item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort={{$.SortType}}&state={{$.State}}&labels={{.SelectLabels}}&assignee={{$.AssigneeID}}&poster={{$.PosterID}}">{{.locale.Tr "repo.issues.filter_project_all"}}</a>
							<a class="item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort={{$.SortType}}&state={{$.State}}&labels={{.SelectLabels}}&project=-1&assignee={{$.AssigneeID}}&poster={{$.PosterID}}">{{.locale.Tr "repo.issues.filter_project_none"}}</a>
							{{if .OpenProjects}}
								<div class="divider"></div>
								<div class="header">
									{{.locale.Tr "repo.issues.new.open_projects"}}
								</div>
								{{range .OpenProjects}}
									<a class="{{if $.ProjectID}}{{if eq $.ProjectID .ID}}active selected{{end}}{{end}} item gt-df" href="{{$.Link}}?type={{$.ViewType}}&sort={{$.SortType}}&state={{$.State}}&labels={{$.SelectLabels}}&milestone={{$.MilestoneID}}&project={{.ID}}&assignee={{$.AssigneeID}}&poster={{$.PosterID}}">
										{{svg .IconName 18 "gt-mr-3 gt-shrink-0"}}<span class="gt-ellipsis">{{.Title}}</span>
									</a>
								{{end}}
							{{end}}
							{{if .ClosedProjects}}
								<div class="divider"></div>
								<div class="header">
									{{.locale.Tr "repo.issues.new.closed_projects"}}
								</div>
								{{range .ClosedProjects}}
									<a class="{{if $.ProjectID}}{{if eq $.ProjectID .ID}}active selected{{end}}{{end}} item" href="{{$.Link}}?type={{$.ViewType}}&sort={{$.SortType}}&state={{$.State}}&labels={{$.SelectLabels}}&milestone={{$.MilestoneID}}&project={{.ID}}&assignee={{$.AssigneeID}}&poster={{$.PosterID}}">
										{{svg .IconName 18 "gt-mr-3"}}{{.Title}}
									</a>
								{{end}}
							{{end}}
						</div>
					</div>

					<!-- Author -->
					<div class="ui dropdown jump item user-remote-search" data-tooltip-content="{{.locale.Tr "repo.author_search_tooltip"}}"
						data-search-url="{{$.Link}}/posters"
						data-selected-user-id="{{$.PosterID}}"
						data-action-jump-url="{{$.Link}}?type={{$.ViewType}}&sort={{$.SortType}}&state={{$.State}}&labels={{$.SelectLabels}}&milestone={{$.MilestoneID}}&project={{$.ProjectID}}&assignee={{$.AssigneeID}}&poster={user_id}"
					>
						<span class="text">
							{{.locale.Tr "repo.issues.filter_poster"}}
							{{svg "octicon-triangle-down" 14 "dropdown icon"}}
						</span>
						<div class="menu">
							<div class="ui icon search input">
								<i class="icon gt-df gt-ac gt-jc">{{svg "octicon-search" 16}}</i>
								<input type="text" placeholder="{{.locale.Tr "repo.issues.filter_poster"}}">
							</div>
							<a class="item" data-value="0">{{.locale.Tr "repo.issues.filter_poster_no_select"}}</a>
						</div>
					</div>

					<!-- Assignee -->
					<div class="ui {{if not .Assignees}}disabled{{end}} dropdown jump item">
						<span class="text">
							{{.locale.Tr "repo.issues.filter_assignee"}}
							{{svg "octicon-triangle-down" 14 "dropdown icon"}}
						</span>
						<div class="menu">
							<div class="ui icon search input">
								<i class="icon gt-df gt-ac gt-jc">{{svg "octicon-search" 16}}</i>
								<input type="text" placeholder="{{.locale.Tr "repo.issues.filter_assignee"}}">
							</div>
							<a class="item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort={{$.SortType}}&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}&project={{$.ProjectID}}&poster={{$.PosterID}}">{{.locale.Tr "repo.issues.filter_assginee_no_select"}}</a>
							{{range .Assignees}}
								<a class="{{if eq $.AssigneeID .ID}}active selected{{end}} item gt-df" href="{{$.Link}}?type={{$.ViewType}}&sort={{$.SortType}}&state={{$.State}}&labels={{$.SelectLabels}}&milestone={{$.MilestoneID}}&project={{$.ProjectID}}&assignee={{.ID}}&poster={{$.PosterID}}">
									{{avatar $.Context . 20}}{{template "repo/search_name" .}}
								</a>
							{{end}}
						</div>
					</div>

					{{if .IsSigned}}
						<!-- Type -->
						<div class="ui dropdown type jump item">
							<span class="text">
								{{.locale.Tr "repo.issues.filter_type"}}
								{{svg "octicon-triangle-down" 14 "dropdown icon"}}
							</span>
							<div class="menu">
								<a class="{{if eq .ViewType "all"}}active {{end}}item" href="{{$.Link}}?q={{$.Keyword}}&type=all&sort={{$.SortType}}&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}&project={{$.ProjectID}}&assignee={{$.AssigneeID}}&poster={{$.PosterID}}">{{.locale.Tr "repo.issues.filter_type.all_issues"}}</a>
								<a class="{{if eq .ViewType "assigned"}}active {{end}}item" href="{{$.Link}}?q={{$.Keyword}}&type=assigned&sort={{$.SortType}}&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}&project={{$.ProjectID}}&assignee={{$.AssigneeID}}&poster={{$.PosterID}}">{{.locale.Tr "repo.issues.filter_type.assigned_to_you"}}</a>
								<a class="{{if eq .ViewType "created_by"}}active {{end}}item" href="{{$.Link}}?q={{$.Keyword}}&type=created_by&sort={{$.SortType}}&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}&project={{$.ProjectID}}&assignee={{$.AssigneeID}}&poster={{$.PosterID}}">{{.locale.Tr "repo.issues.filter_type.created_by_you"}}</a>
								{{if .PageIsPullList}}
									<a class="{{if eq .ViewType "review_requested"}}active {{end}}item" href="{{$.Link}}?q={{$.Keyword}}&type=review_requested&sort={{$.SortType}}&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}&project={{$.ProjectID}}&assignee={{$.AssigneeID}}&poster={{$.PosterID}}">{{.locale.Tr "repo.issues.filter_type.review_requested"}}</a>
									<a class="{{if eq .ViewType "reviewed_by"}}active {{end}}item" href="{{$.Link}}?q={{$.Keyword}}&type=reviewed_by&sort={{$.SortType}}&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}&project={{$.ProjectID}}&assignee={{$.AssigneeID}}&poster={{$.PosterID}}">{{.locale.Tr "repo.issues.filter_type.reviewed_by_you"}}</a>
								{{end}}
								<a class="{{if eq .ViewType "mentioned"}}active {{end}}item" href="{{$.Link}}?q={{$.Keyword}}&type=mentioned&sort={{$.SortType}}&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}&project={{$.ProjectID}}&assignee={{$.AssigneeID}}&poster={{$.PosterID}}">{{.locale.Tr "repo.issues.filter_type.mentioning_you"}}</a>
							</div>
						</div>
					{{end}}

					<!-- Sort -->
					<div class="ui dropdown downward type jump item">
						<span class="text">
							{{.locale.Tr "repo.issues.filter_sort"}}
							{{svg "octicon-triangle-down" 14 "dropdown icon"}}
						</span>
						<div class="menu">
							<a class="{{if or (eq .SortType "latest") (not .SortType)}}active {{end}}item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort=latest&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}&project={{$.ProjectID}}&assignee={{$.AssigneeID}}&poster={{$.PosterID}}">{{.locale.Tr "repo.issues.filter_sort.latest"}}</a>
							<a class="{{if eq .SortType "oldest"}}active {{end}}item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort=oldest&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}&project={{$.ProjectID}}&assignee={{$.AssigneeID}}&poster={{$.PosterID}}">{{.locale.Tr "repo.issues.filter_sort.oldest"}}</a>
							<a class="{{if eq .SortType "recentupdate"}}active {{end}}item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort=recentupdate&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}&project={{$.ProjectID}}&assignee={{$.AssigneeID}}&poster={{$.PosterID}}">{{.locale.Tr "repo.issues.filter_sort.recentupdate"}}</a>
							<a class="{{if eq .SortType "leastupdate"}}active {{end}}item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort=leastupdate&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}&project={{$.ProjectID}}&assignee={{$.AssigneeID}}&poster={{$.PosterID}}">{{.locale.Tr "repo.issues.filter_sort.leastupdate"}}</a>
							<a class="{{if eq .SortType "mostcomment"}}active {{end}}item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort=mostcomment&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}&project={{$.ProjectID}}&assignee={{$.AssigneeID}}&poster={{$.PosterID}}">{{.locale.Tr "repo.issues.filter_sort.mostcomment"}}</a>
							<a class="{{if eq .SortType "leastcomment"}}active {{end}}item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort=leastcomment&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}&project={{$.ProjectID}}&assignee={{$.AssigneeID}}&poster={{$.PosterID}}">{{.locale.Tr "repo.issues.filter_sort.leastcomment"}}</a>
							<a class="{{if eq .SortType "nearduedate"}}active {{end}}item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort=nearduedate&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}&project={{$.ProjectID}}&assignee={{$.AssigneeID}}&poster={{$.PosterID}}">{{.locale.Tr "repo.issues.filter_sort.nearduedate"}}</a>
							<a class="{{if eq .SortType "farduedate"}}active {{end}}item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort=farduedate&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}&project={{$.ProjectID}}&assignee={{$.AssigneeID}}&poster={{$.PosterID}}">{{.locale.Tr "repo.issues.filter_sort.farduedate"}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="issue-actions" class="ui stackable grid gt-hidden">
			<div class="six wide column">
				{{template "repo/issue/openclose" .}}
			</div>
			{{/* Ten wide does not cope well and makes the columns stack.
			This seems to be related to jQuery's hide/show: in fact, switching
			issue-actions and issue-filters and having this ten wide will show
			this one correctly, but not the other one. */}}
			<div class="nine wide right aligned right floated column">
				<div class="ui secondary filter stackable menu">
					{{if not .Repository.IsArchived}}
					<!-- Action Button -->
					{{if .IsShowClosed}}
						<button class="ui green active basic button issue-action" data-action="open" data-url="{{$.RepoLink}}/issues/status" style="margin-left: auto">{{.locale.Tr "repo.issues.action_open"}}</button>
					{{else}}
						<button class="ui red active basic button issue-action" data-action="close" data-url="{{$.RepoLink}}/issues/status" style="margin-left: auto">{{.locale.Tr "repo.issues.action_close"}}</button>
					{{end}}
					<!-- Labels -->
					<div class="ui {{if not .Labels}}disabled{{end}} dropdown jump item">
						<span class="text">
							{{.locale.Tr "repo.issues.action_label"}}
							{{svg "octicon-triangle-down" 14 "dropdown icon"}}
						</span>
						<div class="menu">
							{{$previousExclusiveScope := "_no_scope"}}
							{{range .Labels}}
								{{$exclusiveScope := .ExclusiveScope}}
								{{if and (ne $previousExclusiveScope "_no_scope") (ne $previousExclusiveScope $exclusiveScope)}}
									<div class="ui divider"></div>
								{{end}}
								{{$previousExclusiveScope = $exclusiveScope}}
								<div class="item issue-action" data-action="toggle" data-element-id="{{.ID}}" data-url="{{$.RepoLink}}/issues/labels">
									{{if SliceUtils.Contains $.SelLabelIDs .ID}}{{if $exclusiveScope}}{{svg "octicon-dot-fill"}}{{else}}{{svg "octicon-check"}}{{end}}{{end}} {{RenderLabel $.Context .}}
								</div>
							{{end}}
						</div>
					</div>

					<!-- Milestone -->
					<div class="ui {{if not .Milestones}}disabled{{end}} dropdown jump item">
						<span class="text">
							{{.locale.Tr "repo.issues.action_milestone"}}
							{{svg "octicon-triangle-down" 14 "dropdown icon"}}
						</span>
						<div class="menu">
							<div class="item issue-action" data-element-id="0" data-url="{{$.Link}}/milestone">
							{{.locale.Tr "repo.issues.action_milestone_no_select"}}
							</div>
							{{range .Milestones}}
								<div class="item issue-action" data-element-id="{{.ID}}" data-url="{{$.RepoLink}}/issues/milestone">
									{{.Name}}
								</div>
							{{end}}
						</div>
					</div>

					<!-- Projects -->
					<div class="ui{{if not (or .OpenProjects .ClosedProjects)}} disabled{{end}} dropdown jump item">
						<span class="text">
							{{.locale.Tr "repo.project_board"}}
							{{svg "octicon-triangle-down" 14 "dropdown icon"}}
						</span>
						<div class="menu">
							<div class="item issue-action" data-element-id="0" data-url="{{$.Link}}/projects">
							{{.locale.Tr "repo.issues.new.clear_projects"}}
							</div>
							{{if .OpenProjects}}
								<div class="divider"></div>
								<div class="header">
									{{.locale.Tr "repo.issues.new.open_projects"}}
								</div>
								{{range .OpenProjects}}
									<div class="item issue-action" data-element-id="{{.ID}}" data-url="{{$.RepoLink}}/issues/projects">
										{{svg .IconName 18 "gt-mr-3"}}{{.Title}}
									</div>
								{{end}}
							{{end}}
							{{if .ClosedProjects}}
								<div class="divider"></div>
								<div class="header">
									{{.locale.Tr "repo.issues.new.closed_projects"}}
								</div>
								{{range .ClosedProjects}}
									<div class="item issue-action" data-element-id="{{.ID}}" data-url="{{$.RepoLink}}/issues/projects">
										{{svg .IconName 18 "gt-mr-3"}}{{.Title}}
									</div>
								{{end}}
							{{end}}
						</div>
					</div>

					<!-- Assignees -->
					<div class="ui {{if not .Assignees}}disabled{{end}} dropdown jump item">
						<span class="text">
							{{.locale.Tr "repo.issues.action_assignee"}}
							{{svg "octicon-triangle-down" 14 "dropdown icon"}}
						</span>
						<div class="menu">
							<div class="item issue-action" data-element-id="0" data-url="{{$.Link}}/assignee">
								{{.locale.Tr "repo.issues.action_assignee_no_select"}}
							</div>
							{{range .Assignees}}
								<div class="item issue-action" data-element-id="{{.ID}}" data-url="{{$.RepoLink}}/issues/assignee">
									{{avatar $.Context . 20}} {{.GetDisplayName}}
								</div>
							{{end}}
						</div>
					</div>
					{{end}}
				</div>
			</div>
		</div>
		{{template "shared/issuelist" dict "." . "listType" "repo"}}
	</div>
</div>
{{template "base/footer" .}}
