{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content repository issue-list">
	{{template "repo/header" .}}
	<div class="ui container">
	{{template "base/alert" .}}

	{{if .PinnedIssues}}
		<div id="issue-pins" {{if .IsRepoAdmin}}data-is-repo-admin{{end}}>
			{{range .PinnedIssues}}
				<div class="issue-card tw-break-anywhere {{if $.IsRepoAdmin}}tw-cursor-grab{{end}}" data-move-url="{{$.Link}}/move_pin" data-issue-id="{{.ID}}">
					{{template "repo/issue/card" (dict "Issue" . "Page" $ "isPinnedIssueCard" true)}}
				</div>
			{{end}}
		</div>
	{{end}}

		<div class="list-header">
			{{template "repo/issue/navbar" .}}
			{{template "repo/issue/search" .}}
			{{if not .Repository.IsArchived}}
				{{if .PageIsIssueList}}
					<a class="ui small primary button issue-list-new" href="{{.RepoLink}}/issues/new{{if .NewIssueChooseTemplate}}/choose{{end}}">{{ctx.Locale.Tr "repo.issues.new"}}</a>
				{{else}}
					<a class="ui small primary button new-pr-button issue-list-new{{if not .PullRequestCtx.Allowed}} disabled{{end}}" href="{{if .PullRequestCtx.Allowed}}{{.Repository.Link}}/compare/{{.Repository.DefaultBranch | PathEscapeSegments}}...{{if ne .Repository.Owner.Name .PullRequestCtx.BaseRepo.Owner.Name}}{{PathEscape .Repository.Owner.Name}}:{{end}}{{.Repository.DefaultBranch | PathEscapeSegments}}{{end}}">{{ctx.Locale.Tr "repo.pulls.new"}}</a>
				{{end}}
			{{else}}
				{{if not .PageIsIssueList}}
					<a class="ui small primary small button issue-list-new{{if not .PullRequestCtx.Allowed}} disabled{{end}}" href="{{if .PullRequestCtx.Allowed}}{{.PullRequestCtx.BaseRepo.Link}}/compare/{{.PullRequestCtx.BaseRepo.DefaultBranch | PathEscapeSegments}}...{{if ne .Repository.Owner.Name .PullRequestCtx.BaseRepo.Owner.Name}}{{PathEscape .Repository.Owner.Name}}:{{end}}{{.Repository.DefaultBranch | PathEscapeSegments}}{{end}}">{{ctx.Locale.Tr "action.compare_commits_general"}}</a>
				{{end}}
			{{end}}
		</div>

		{{template "repo/issue/filters" .}}

		<div id="issue-actions" class="issue-list-toolbar tw-hidden">
			<div class="issue-list-toolbar-left">
				{{template "repo/issue/openclose" .}}
				<!-- Total Tracked Time -->
				{{if .TotalTrackedTime}}
					<div class="ui compact tiny secondary menu">
						<span class="item" data-tooltip-content='{{ctx.Locale.Tr "tracked_time_summary"}}'>
							{{svg "octicon-clock"}}
							{{.TotalTrackedTime | Sec2Hour}}
						</span>
					</div>
				{{end}}
			</div>
			<div class="issue-list-toolbar-right">
				{{template "repo/issue/filter_actions" .}}
			</div>
		</div>
		{{template "shared/issuelist" dict "." . "listType" "repo"}}
	</div>
</div>
{{template "base/footer" .}}
