<div class="tw-flex tw-justify-center tw-mb-4">
	<div class="ui small modal get-mailto-addr" id="get-mailto-addr" data-reset-url="{{.MailToIssueTokenResetUrl}}">
		<div class="header">{{ctx.Locale.Tr "repo.issues.mailto_modal.title"}}</div>
		<div class="content tw-flex tw-flex-col">
			<div>{{ctx.Locale.Tr "repo.issues.mailto_modal.desc_1"}}</div>
			<div class="ui action input mailto-buttons-combo tw-p-2">
				<input size="60" class="repo-mailto-url" value="{{.MailToIssueAddress}}" readonly>
				<button class="ui small icon button" data-clipboard-target=".repo-mailto-url" data-tooltip-content="{{ctx.Locale.Tr "copy_url"}}">
					{{svg "octicon-copy" 14}}
				</button>
				<a data-tooltip-content="{{repo.issues.mailto_modal.send_mail}}" class="ui small icon button send-mail-link" href="{{.MailToIssueLink}}">
					{{svg "octicon-mail"}}
				</a>
			</div>
			<div>{{ctx.Locale.Tr "repo.issues.mailto_modal.desc_2"}}</div>
			<div>{{ctx.Locale.Tr "repo.issues.mailto_modal.desc_3" "reset-get-mailto-addr"}}</div>
		</div>
	</div>
	<div class="tw-justify-center">
		<button class="btn show-modal show-get-mailto-addr" data-modal="#get-mailto-addr">
			{{ctx.Locale.Tr "repo.issues.mailto_modal.mailto_link"}}
		</button>
	</div>
</div>
