{{template "base/head" .}}
<div class="page-content repository new milestone">
	{{template "repo/header" .}}
	<div class="ui container">
		<div class="navbar">
			{{template "repo/issue/navbar" .}}
			{{if and (or .CanWriteIssues .CanWritePulls) .PageIsEditMilestone}}
				<div class="ui right floated secondary menu">
					<a class="ui green button" href="{{$.RepoLink}}/milestones/new">{{.i18n.Tr "repo.milestones.new"}}</a>
				</div>
			{{end}}
		</div>
		<div class="ui divider"></div>
		<h2 class="ui dividing header">
			{{if .PageIsEditMilestone}}
				{{.i18n.Tr "repo.milestones.edit"}}
				<div class="sub header">{{.i18n.Tr "repo.milestones.edit_subheader"}}</div>
			{{else}}
				{{.i18n.Tr "repo.milestones.new"}}
				<div class="sub header">{{.i18n.Tr "repo.milestones.new_subheader"}}</div>
			{{end}}
		</h2>
		{{template "base/alert" .}}
		<form class="ui form grid" action="{{.Link}}" method="post">
			{{.CsrfTokenHtml}}
			<div class="twelve wide column">
				<div class="field {{if .Err_Title}}error{{end}}">
					<label>{{.i18n.Tr "repo.milestones.title"}}</label>
					<input name="title" placeholder="{{.i18n.Tr "repo.milestones.title"}}" value="{{.title}}" autofocus required maxlength="50">
				</div>
				<div class="field {{if .Err_Deadline}}error{{end}}">
					<label>
						{{.i18n.Tr "repo.milestones.due_date"}}
						<a id="clear-date">{{.i18n.Tr "repo.milestones.clear"}}</a>
					</label>
					<input type="date" id="deadline" name="deadline" value="{{.deadline}}" placeholder="{{.i18n.Tr "repo.issues.due_date_form"}}">
				</div>
				<div class="field">
					<label>{{.i18n.Tr "repo.milestones.desc"}}</label>
					<textarea name="content">{{.content}}</textarea>
				</div>
				<div class="ui segment metas">
					<input id="label_ids" name="label_ids" type="hidden" value="{{.label_ids}}">
					<div class="ui floating jump select-label dropdown">
						<span class="text">
							<strong>{{.i18n.Tr "repo.issues.new.labels"}}</strong>
							{{svg "octicon-gear"}}
						</span>
						<div class="filter menu" data-id="#label_ids">
							<div class="header" style="text-transform: none;font-size:16px;">{{.i18n.Tr "repo.issues.new.add_labels_title"}}</div>
							{{if or .Labels .OrgLabels}}
							<div class="ui icon search input">
								<i class="icon df ac jc">{{svg "octicon-search" 16}}</i>
								<input type="text" placeholder="{{.i18n.Tr "repo.issues.filter_labels"}}">
							</div>
							{{end}}
							<div class="no-select item">{{.i18n.Tr "repo.issues.new.clear_labels"}}</div>
							{{if or .Labels .OrgLabels}}
								{{range .Labels}}
									<a class="{{if .IsChecked}}checked{{end}} item" href="#" data-id="{{.ID}}" data-id-selector="#label_{{.ID}}"><span class="octicon-check {{if not .IsChecked}}invisible{{end}}">{{svg "octicon-check"}}</span><span class="label color" style="background-color: {{.Color}}"></span> {{.Name | RenderEmoji}}
									{{if .Description }}<br><small class="desc">{{.Description | RenderEmoji}}</small>{{end}}</a>
								{{end}}

								<div class="ui divider"></div>
								{{range .OrgLabels}}
									<a class="{{if .IsChecked}}checked{{end}} item" href="#" data-id="{{.ID}}" data-id-selector="#label_{{.ID}}"><span class="octicon-check {{if not .IsChecked}}invisible{{end}}">{{svg "octicon-check"}}</span><span class="label color" style="background-color: {{.Color}}"></span> {{.Name | RenderEmoji}}
									{{if .Description }}<br><small class="desc">{{.Description | RenderEmoji}}</small>{{end}}</a>
								{{end}}
							{{else}}
								<div class="header" style="text-transform: none;font-size:14px;">{{.i18n.Tr "repo.issues.new.no_items"}}</div>
							{{end}}
						</div>
					</div>
					{{template "repo/issue/labels/labels_sidebar" dict "root" $ "ctx" .}}
				</div>
			</div>
			<div class="ui container">
				<div class="ui divider"></div>
				<div class="ui right">
					{{if .PageIsEditMilestone}}
						<a class="ui blue basic button" href="{{.RepoLink}}/milestones">
							{{.i18n.Tr "repo.milestones.cancel"}}
						</a>
						<button class="ui green button">
							{{.i18n.Tr "repo.milestones.modify"}}
						</button>
					{{else}}
						<button class="ui green button">
							{{.i18n.Tr "repo.milestones.create"}}
						</button>
					{{end}}
				</div>
			</div>
		</form>
	</div>
</div>
{{template "base/footer" .}}
