{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content repository milestones">
	{{template "repo/header" .}}
	<div class="ui container">
		<div class="navbar gt-mb-4">
			{{template "repo/issue/navbar" .}}
			{{if and (or .CanWriteIssues .CanWritePulls) (not .Repository.IsArchived)}}
				<div class="ui right">
					<a class="ui small green button" href="{{$.Link}}/new">{{.locale.Tr "repo.milestones.new"}}</a>
				</div>
			{{end}}
		</div>
		{{template "base/alert" .}}

		<div class="list-header">
			<div class="small-menu-items ui compact tiny menu list-header-toggle">
				<a class="item{{if not .IsShowClosed}} active{{end}}" href="{{.RepoLink}}/milestones?state=open&q={{$.Keyword}}">
					{{svg "octicon-milestone" 16 "gt-mr-3"}}
					{{.locale.PrettyNumber .OpenCount}}&nbsp;{{.locale.Tr "repo.issues.open_title"}}
				</a>
				<a class="item{{if .IsShowClosed}} active{{end}}" href="{{.RepoLink}}/milestones?state=closed&q={{$.Keyword}}">
					{{svg "octicon-check" 16 "gt-mr-3"}}
					{{.locale.PrettyNumber .ClosedCount}}&nbsp;{{.locale.Tr "repo.issues.closed_title"}}
				</a>
			</div>

			<!-- Search -->
			<form class="list-header-search ui form ignore-dirty">
				<div class="ui small search fluid action input">
					<input type="hidden" name="state" value="{{$.State}}">
					{{template "shared/searchinput" dict "locale" .locale "Value" .Keyword}}
					<button class="ui small icon button" type="submit" aria-label="{{.locale.Tr "explore.search"}}">
						{{svg "octicon-search"}}
					</button>
				</div>
			</form>

			<!-- Sort -->
			<div class="list-header-sort ui small dropdown type jump item">
				<span class="text">
					{{.locale.Tr "repo.issues.filter_sort"}}
					{{svg "octicon-triangle-down" 14 "dropdown icon"}}
				</span>
				<div class="menu">
					<a class="{{if or (eq .SortType "closestduedate") (not .SortType)}}active {{end}}item" href="{{$.Link}}?sort=closestduedate&state={{$.State}}&q={{$.Keyword}}">{{.locale.Tr "repo.milestones.filter_sort.closest_due_date"}}</a>
					<a class="{{if eq .SortType "furthestduedate"}}active {{end}}item" href="{{$.Link}}?sort=furthestduedate&state={{$.State}}&q={{$.Keyword}}">{{.locale.Tr "repo.milestones.filter_sort.furthest_due_date"}}</a>
					<a class="{{if eq .SortType "leastcomplete"}}active {{end}}item" href="{{$.Link}}?sort=leastcomplete&state={{$.State}}&q={{$.Keyword}}">{{.locale.Tr "repo.milestones.filter_sort.least_complete"}}</a>
					<a class="{{if eq .SortType "mostcomplete"}}active {{end}}item" href="{{$.Link}}?sort=mostcomplete&state={{$.State}}&q={{$.Keyword}}">{{.locale.Tr "repo.milestones.filter_sort.most_complete"}}</a>
					<a class="{{if eq .SortType "mostissues"}}active {{end}}item" href="{{$.Link}}?sort=mostissues&state={{$.State}}&q={{$.Keyword}}">{{.locale.Tr "repo.milestones.filter_sort.most_issues"}}</a>
					<a class="{{if eq .SortType "leastissues"}}active {{end}}item" href="{{$.Link}}?sort=leastissues&state={{$.State}}&q={{$.Keyword}}">{{.locale.Tr "repo.milestones.filter_sort.least_issues"}}</a>
				</div>
			</div>
		</div>

		<!-- milestone list -->
		<div class="milestone-list">
			{{range .Milestones}}
				<li class="milestone-card">
					<div class="milestone-header">
						<h3 class="flex-text-block gt-m-0">
							{{svg "octicon-milestone" 16}}
							<a class="muted" href="{{$.RepoLink}}/milestone/{{.ID}}">{{.Name}}</a>
						</h3>
						<div class="gt-df gt-ac">
							<span class="gt-mr-3">{{.Completeness}}%</span>
							<progress value="{{.Completeness}}" max="100"></progress>
						</div>
					</div>
					<div class="milestone-toolbar">
						<div class="group">
							<div class="flex-text-block">
								{{svg "octicon-issue-opened" 14}}
								{{$.locale.PrettyNumber .NumOpenIssues}}&nbsp;{{$.locale.Tr "repo.issues.open_title"}}
							</div>
							<div class="flex-text-block">
								{{svg "octicon-check" 14}}
								{{$.locale.PrettyNumber .NumClosedIssues}}&nbsp;{{$.locale.Tr "repo.issues.closed_title"}}
							</div>
							{{if .TotalTrackedTime}}
								<div class="flex-text-block">
									{{svg "octicon-clock"}}
									{{.TotalTrackedTime|Sec2Time}}
								</div>
							{{end}}
							{{if .UpdatedUnix}}
								<div class="flex-text-block">
									{{svg "octicon-clock"}}
									{{$.locale.Tr "repo.milestones.update_ago" (TimeSinceUnix .UpdatedUnix $.locale) | Safe}}
								</div>
							{{end}}
							<div class="flex-text-block">
								{{if .IsClosed}}
									{{$closedDate:= TimeSinceUnix .ClosedDateUnix $.locale}}
									{{svg "octicon-clock" 14}}
									{{$.locale.Tr "repo.milestones.closed" $closedDate | Safe}}
								{{else}}
									{{if .DeadlineString}}
										<span{{if .IsOverdue}} class="text red"{{end}}>
											{{svg "octicon-calendar" 14}}
											{{DateTime "short" .DeadlineString}}
										</span>
									{{else}}
										{{svg "octicon-calendar" 14}}
										{{$.locale.Tr "repo.milestones.no_due_date"}}
									{{end}}
								{{end}}
							</div>
						</div>
						{{if and (or $.CanWriteIssues $.CanWritePulls) (not $.Repository.IsArchived)}}
							<div class="group">
								<a class="flex-text-inline" href="{{$.Link}}/{{.ID}}/edit">{{svg "octicon-pencil" 14}}{{$.locale.Tr "repo.issues.label_edit"}}</a>
								{{if .IsClosed}}
									<a class="link-action flex-text-inline" href data-url="{{$.Link}}/{{.ID}}/open">{{svg "octicon-check" 14}}{{$.locale.Tr "repo.milestones.open"}}</a>
								{{else}}
									<a class="link-action flex-text-inline" href data-url="{{$.Link}}/{{.ID}}/close">{{svg "octicon-x" 14}}{{$.locale.Tr "repo.milestones.close"}}</a>
								{{end}}
								<a class="delete-button flex-text-inline" href="#" data-url="{{$.RepoLink}}/milestones/delete" data-id="{{.ID}}">{{svg "octicon-trash" 14}}{{$.locale.Tr "repo.issues.label_delete"}}</a>
							</div>
						{{end}}
					</div>
					{{if .Content}}
						<div class="markup content">
							{{.RenderedContent|Str2html}}
						</div>
					{{end}}
				</li>
			{{end}}

			{{template "base/paginate" .}}
		</div>
	</div>
</div>

{{if or .CanWriteIssues .CanWritePulls}}
	<div class="ui g-modal-confirm delete modal">
		<div class="header">
			{{svg "octicon-trash"}}
			{{.locale.Tr "repo.milestones.deletion"}}
		</div>
		<div class="content">
			<p>{{.locale.Tr "repo.milestones.deletion_desc"}}</p>
		</div>
		{{template "base/modal_actions_confirm" .}}
	</div>
{{end}}
{{template "base/footer" .}}
