{{template "base/head" .}}
<div class="repository">
	{{template "repo/header" .}}
	<div class="ui container">
		<div class="ui three column stackable grid">
			<div class="column">
				<h3>{{.Milestone.Name}}</h3>
			</div>
			<div class="column center aligned">

			</div>
			{{if not .Repository.IsArchived}}
				<div class="column right aligned">
					{{if or .CanWriteIssues .CanWritePulls}}
					<a class="ui grey button" href="{{.RepoLink}}/milestones/{{.MilestoneID}}/edit">{{.i18n.Tr "repo.milestones.edit"}}</a>
					{{end}}
					<a class="ui green button" href="{{.RepoLink}}/issues/new?milestone={{.MilestoneID}}">{{.i18n.Tr "repo.issues.new"}}</a>
				</div>
			{{end}}
		</div>
        <div class="ui one column stackable grid">
            <div class="column">
                {{ $closedDate:= TimeSinceUnix .Milestone.ClosedDateUnix $.Lang }}
                {{if .IsClosed}}
					{{svg "octicon-clock" 16}} {{$.i18n.Tr "repo.milestones.closed" $closedDate|Str2html}}
                {{else}}
					{{svg "octicon-calendar" 16}}
                    {{if .Milestone.DeadlineString}}
                        <span {{if .IsOverdue}}class="overdue"{{end}}>{{.Milestone.DeadlineString}}</span>
                    {{else}}
                        {{$.i18n.Tr "repo.milestones.no_due_date"}}
                    {{end}}
                {{end}}
                &nbsp;
                <b>{{.i18n.Tr "repo.milestones.completeness" .Milestone.Completeness}}</b>
            </div>
        </div>
		<div class="ui divider"></div>
		<div id="issue-filters" class="ui stackable grid">
			<div class="six wide column">
				<div class="ui tiny basic status buttons">
					<a class="ui {{if not .IsShowClosed}}green active{{end}} basic button" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort={{$.SortType}}&state=open&labels={{.SelectLabels}}&assignee={{.AssigneeID}}">
						{{svg "octicon-issue-opened" 16}}
						{{.i18n.Tr "repo.issues.open_tab" .IssueStats.OpenCount}}
					</a>
					<a class="ui {{if .IsShowClosed}}red active{{end}} basic button" href="{{$.Link}}?q={{$.Keyword}}&type={{.ViewType}}&sort={{$.SortType}}&state=closed&labels={{.SelectLabels}}&assignee={{.AssigneeID}}">
						{{svg "octicon-issue-closed" 16}}
						{{.i18n.Tr "repo.issues.close_tab" .IssueStats.ClosedCount}}
					</a>
				</div>
			</div>
			<div class="ten wide right aligned column">
				<div class="ui secondary filter stackable menu labels">
					<!-- Label -->
					<div class="ui {{if not .Labels}}disabled{{end}} dropdown jump item label-filter" style="margin-left: auto">
						<span class="text">
							{{.i18n.Tr "repo.issues.filter_label"}}
							<i class="dropdown icon"></i>
						</span>
						<div class="menu">
							<span class="info">{{.i18n.Tr "repo.issues.filter_label_exclude" | Safe}}</span>
							<a class="item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort={{$.SortType}}&state={{$.State}}&assignee={{$.AssigneeID}}">{{.i18n.Tr "repo.issues.filter_label_no_select"}}</a>
							{{range .Labels}}
								<a class="item label-filter-item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort={{$.SortType}}&state={{$.State}}&labels={{.ID}}&assignee={{$.AssigneeID}}" data-label-id="{{.ID}}">{{if .IsExcluded}}{{svg "octicon-circle-slash" 16}}{{else if contain $.SelLabelIDs .ID}}{{svg "octicon-check" 16}}{{end}}<span class="label color" style="background-color: {{.Color}}"></span> {{.Name | RenderEmoji}}</a>
							{{end}}
						</div>
					</div>

					<!-- Assignee -->
					<div class="ui {{if not .Assignees}}disabled{{end}} dropdown jump item">
						<span class="text">
							{{.i18n.Tr "repo.issues.filter_assignee"}}
							<i class="dropdown icon"></i>
						</span>
						<div class="menu">
							<a class="item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort={{$.SortType}}&state={{$.State}}&labels={{.SelectLabels}}">{{.i18n.Tr "repo.issues.filter_assginee_no_select"}}</a>
							{{range .Assignees}}
								<a class="{{if eq $.AssigneeID .ID}}active selected{{end}} item" href="{{$.Link}}?type={{$.ViewType}}&sort={{$.SortType}}&state={{$.State}}&labels={{$.SelectLabels}}&assignee={{.ID}}"><img src="{{.RelAvatarLink}}"> {{.GetDisplayName}}</a>
							{{end}}
						</div>
					</div>

					{{if .IsSigned}}
						<!-- Type -->
						<div class="ui dropdown type jump item">
							<span class="text">
								{{.i18n.Tr "repo.issues.filter_type"}}
								<i class="dropdown icon"></i>
							</span>
							<div class="menu">
								<a class="{{if eq .ViewType "all"}}active{{end}} item" href="{{$.Link}}?q={{$.Keyword}}&type=all&sort={{$.SortType}}&state={{$.State}}&labels={{.SelectLabels}}&assignee={{$.AssigneeID}}">{{.i18n.Tr "repo.issues.filter_type.all_issues"}}</a>
								<a class="{{if eq .ViewType "assigned"}}active{{end}} item" href="{{$.Link}}?q={{$.Keyword}}&type=assigned&sort={{$.SortType}}&state={{$.State}}&labels={{.SelectLabels}}&assignee={{.SignedUser.ID}}">{{.i18n.Tr "repo.issues.filter_type.assigned_to_you"}}</a>
								<a class="{{if eq .ViewType "created_by"}}active{{end}} item" href="{{$.Link}}?q={{$.Keyword}}&type=created_by&sort={{$.SortType}}&state={{$.State}}&labels={{.SelectLabels}}&assignee={{$.AssigneeID}}">{{.i18n.Tr "repo.issues.filter_type.created_by_you"}}</a>
								<a class="{{if eq .ViewType "mentioned"}}active{{end}} item" href="{{$.Link}}?q={{$.Keyword}}&type=mentioned&sort={{$.SortType}}&state={{$.State}}&labels={{.SelectLabels}}&assignee={{$.AssigneeID}}">{{.i18n.Tr "repo.issues.filter_type.mentioning_you"}}</a>
							</div>
						</div>
					{{end}}

					<!-- Sort -->
					<div class="ui dropdown type jump item">
						<span class="text">
							{{.i18n.Tr "repo.issues.filter_sort"}}
							<i class="dropdown icon"></i>
						</span>
						<div class="menu">
							<a class="{{if or (eq .SortType "latest") (not .SortType)}}active{{end}} item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort=latest&state={{$.State}}&labels={{.SelectLabels}}&assignee={{$.AssigneeID}}">{{.i18n.Tr "repo.issues.filter_sort.latest"}}</a>
							<a class="{{if eq .SortType "oldest"}}active{{end}} item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort=oldest&state={{$.State}}&labels={{.SelectLabels}}&assignee={{$.AssigneeID}}">{{.i18n.Tr "repo.issues.filter_sort.oldest"}}</a>
							<a class="{{if eq .SortType "recentupdate"}}active{{end}} item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort=recentupdate&state={{$.State}}&labels={{.SelectLabels}}&assignee={{$.AssigneeID}}">{{.i18n.Tr "repo.issues.filter_sort.recentupdate"}}</a>
							<a class="{{if eq .SortType "leastupdate"}}active{{end}} item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort=leastupdate&state={{$.State}}&labels={{.SelectLabels}}&assignee={{$.AssigneeID}}">{{.i18n.Tr "repo.issues.filter_sort.leastupdate"}}</a>
							<a class="{{if eq .SortType "mostcomment"}}active{{end}} item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort=mostcomment&state={{$.State}}&labels={{.SelectLabels}}&assignee={{$.AssigneeID}}">{{.i18n.Tr "repo.issues.filter_sort.mostcomment"}}</a>
							<a class="{{if eq .SortType "leastcomment"}}active{{end}} item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort=leastcomment&state={{$.State}}&labels={{.SelectLabels}}&assignee={{$.AssigneeID}}">{{.i18n.Tr "repo.issues.filter_sort.leastcomment"}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="issue-actions" class="ui stackable grid hide">
			<div class="six wide column">
				<div class="ui tiny basic status buttons">
					<a class="ui {{if not .IsShowClosed}}green active{{end}} basic button" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort={{$.SortType}}&state=open&labels={{.SelectLabels}}&assignee={{.AssigneeID}}">
						{{svg "octicon-issue-opened" 16}}
						{{.i18n.Tr "repo.issues.open_tab" .IssueStats.OpenCount}}
					</a>
					<a class="ui {{if .IsShowClosed}}red active{{end}} basic button" href="{{$.Link}}?q={{$.Keyword}}&type={{.ViewType}}&sort={{$.SortType}}&state=closed&labels={{.SelectLabels}}&assignee={{.AssigneeID}}">
						{{svg "octicon-issue-closed" 16}}
						{{.i18n.Tr "repo.issues.close_tab" .IssueStats.ClosedCount}}
					</a>
				</div>
			</div>

			{{/* Ten wide does not cope well and makes the columns stack.
			This seems to be related to jQuery's hide/show: in fact, switching
			issue-actions and issue-filters and having this ten wide will show
			this one correctly, but not the other one. */}}
			<div class="nine wide right aligned right floated column">
				<div class="ui secondary filter stackable menu">
					<!-- Action Button -->
					{{if .IsShowClosed}}
						<div class="ui green active basic button issue-action" data-action="open" data-url="{{$.RepoLink}}/issues/status" style="margin-left: auto">{{.i18n.Tr "repo.issues.action_open"}}</div>
					{{else}}
						<div class="ui red active basic button issue-action" data-action="close" data-url="{{$.RepoLink}}/issues/status" style="margin-left: auto">{{.i18n.Tr "repo.issues.action_close"}}</div>
					{{end}}
					<!-- Labels -->
					<div class="ui {{if not .Labels}}disabled{{end}} dropdown jump item">
						<span class="text">
							{{.i18n.Tr "repo.issues.action_label"}}
							<i class="dropdown icon"></i>
						</span>
						<div class="menu">
							{{range .Labels}}
								<div class="item issue-action" data-action="toggle" data-element-id="{{.ID}}" data-url="{{$.RepoLink}}/issues/labels">
									{{if contain $.SelLabelIDs .ID}}{{svg "octicon-check" 16}}{{end}}<span class="label color" style="background-color: {{.Color}}"></span> {{.Name | RenderEmoji}}
								</div>
							{{end}}
						</div>
					</div>

					<!-- Assignees -->
					<div class="ui {{if not .Assignees}}disabled{{end}} dropdown jump item">
						<span class="text">
							{{.i18n.Tr "repo.issues.action_assignee"}}
							<i class="dropdown icon"></i>
						</span>
						<div class="menu">
							<div class="item issue-action" data-element-id="0" data-url="{{$.Link}}/assignee">
								{{.i18n.Tr "repo.issues.action_assignee_no_select"}}
							</div>
							{{range .Assignees}}
								<div class="item issue-action" data-element-id="{{.ID}}" data-url="{{$.RepoLink}}/issues/assignee">
									<img src="{{.RelAvatarLink}}"> {{.GetDisplayName}}
								</div>
							{{end}}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="issue list">
			{{ $approvalCounts := .ApprovalCounts}}
			{{range .Issues}}
				{{ $timeStr:= TimeSinceUnix .CreatedUnix $.Lang }}
				<li class="item">
					{{if or (and $.CanWriteIssues (not .IsPull)) (and $.CanWritePulls .IsPull)}}
					<div class="ui checkbox issue-checkbox">
						<input type="checkbox" data-issue-id={{.ID}}></input>
					</div>
					{{end}}
					<div class="ui {{if .IsClosed}}{{if .IsPull}}{{if .PullRequest.HasMerged}}purple{{else}}red{{end}}{{else}}red{{end}}{{else}}{{if .IsRead}}white{{else}}green{{end}}{{end}} label">#{{.Index}}</div>
					<a class="title" href="{{$.RepoLink}}/issues/{{.Index}}">{{.Title | RenderEmoji}}</a>

					{{if .IsPull }}
						{{if (index $.CommitStatus .PullRequest.ID)}}
							{{template "repo/commit_status" (index $.CommitStatus .PullRequest.ID)}}
						{{end}}
					{{end}}

					{{range .Labels}}
						<a class="ui label" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&state={{$.State}}&labels={{.ID}}&assignee={{$.AssigneeID}}" style="color: {{.ForegroundColor}}; background-color: {{.Color}}" title="{{.Description}}">{{.Name | RenderEmoji}}</a>
					{{end}}

					{{if .NumComments}}
						<span class="comment ui right">{{svg "octicon-comment" 16}} {{.NumComments}}</span>
					{{end}}

					{{if .TotalTrackedTime}}
						<span class="comment ui right">{{svg "octicon-clock" 16}} {{.TotalTrackedTime | Sec2Time}}</span>
					{{end}}

					<p class="desc">
						{{ $timeStr := TimeSinceUnix .GetLastEventTimestamp $.Lang }}
						{{if .OriginalAuthor }}
							{{$.i18n.Tr .GetLastEventLabelFake $timeStr .OriginalAuthor | Safe}}
						{{else if gt .Poster.ID 0}}
							{{$.i18n.Tr .GetLastEventLabel $timeStr .Poster.HomeLink (.Poster.GetDisplayName | Escape) | Safe}}
						{{else}}
							{{$.i18n.Tr .GetLastEventLabelFake $timeStr (.Poster.GetDisplayName | Escape) | Safe}}
						{{end}}

						{{if .Ref}}
							<a class="ref" href="{{index $.IssueRefURLs .ID}}">
								{{svg "octicon-git-branch" 16}} {{index $.IssueRefEndNames .ID}}
							</a>
						{{end}}
						{{$tasks := .GetTasks}}
						{{if gt $tasks 0}}
							{{$tasksDone := .GetTasksDone}}
							<span class="checklist">
								{{svg "octicon-checklist" 16}} {{$tasksDone}} / {{$tasks}} <span class="progress-bar"><span class="progress" style="width:calc(100% * {{$tasksDone}} / {{$tasks}});"></span></span>
							</span>
						{{end}}
						{{if ne .DeadlineUnix 0}}
							{{svg "octicon-calendar" 16}}
							<span{{if .IsOverdue}} class="overdue"{{end}}>{{.DeadlineUnix.FormatShort}}</span>
						{{end}}
						{{range .Assignees}}
							<a class="ui right assignee poping up" href="{{.HomeLink}}" data-content="{{.Name}}" data-variation="inverted" data-position="left center">
								<img class="ui avatar image" src="{{.RelAvatarLink}}">
							</a>
						{{end}}
						{{if .IsPull}}
							{{$approveOfficial := call $approvalCounts .ID "approve"}}
							{{$rejectOfficial := call $approvalCounts .ID "reject"}}
							{{$waitingOfficial := call $approvalCounts .ID "waiting"}}
							{{if gt $approveOfficial 0}}
								<span class="approvals">{{svg "octicon-check" 16}}
									{{$.i18n.Tr (TrN $.i18n.Lang $approveOfficial "repo.pulls.approve_count_1" "repo.pulls.approve_count_n") $approveOfficial}}
								</span>
							{{end}}

							{{if gt $rejectOfficial 0}}
								<span class="rejects">{{svg "octicon-request-changes" 16}}
									{{$.i18n.Tr (TrN $.i18n.Lang $rejectOfficial "repo.pulls.reject_count_1" "repo.pulls.reject_count_n") $rejectOfficial}}
								</span>
							{{end}}

							{{if gt $waitingOfficial 0}}
								<span class="waiting">{{svg "octicon-eye" 16}}
									{{$.i18n.Tr (TrN $.i18n.Lang $waitingOfficial "repo.pulls.waiting_count_1" "repo.pulls.waiting_count_n") $waitingOfficial}}
								</span>
							{{end}}

							{{if and (not .PullRequest.HasMerged) (gt (len .PullRequest.ConflictedFiles) 0)}}
								<span class="conflicting">{{svg "octicon-mirror" 16}} {{$.i18n.Tr (TrN $.i18n.Lang (len .PullRequest.ConflictedFiles) "repo.pulls.num_conflicting_files_1" "repo.pulls.num_conflicting_files_n") (len .PullRequest.ConflictedFiles)}}</span>
							{{end}}
						{{end}}
					</p>
				</li>
			{{end}}

			{{template "base/paginate" .}}
		</div>
	</div>
</div>
{{template "base/footer" .}}
