<form class="list-header-search ui form ignore-dirty issue-list-search">
	<div class="ui small search fluid action input">
		<input type="hidden" name="state" value="{{$.State}}">
		{{if not .PageIsMilestones}}
			<input type="hidden" name="type" value="{{$.ViewType}}">
			<input type="hidden" name="labels" value="{{$.SelectLabels}}">
			<input type="hidden" name="milestone" value="{{$.MilestoneID}}">
			<input type="hidden" name="project" value="{{$.ProjectID}}">
			<input type="hidden" name="assignee" value="{{$.AssigneeID}}">
			<input type="hidden" name="poster" value="{{$.PosterUsername}}">
		{{end}}
		{{template "shared/search/input" dict "Value" .Keyword}}
		{{if .PageIsIssueList}}
			<button id="issue-list-quick-goto" class="ui small icon button tw-hidden" data-tooltip-content="{{ctx.Locale.Tr "explore.go_to"}}" data-repo-link="{{.RepoLink}}">{{svg "octicon-hash"}}</button>
		{{end}}
		{{template "shared/search/button"}}
	</div>
</form>
