<div class="ui tiny modal" id="cite-repo-modal">
	<div class="header">
		{{.locale.Tr "repo.cite_this_repo"}}
	</div>
	<div class="content">
		<div class="ui stackable secondary menu">
			<div class="fitted item">
				<div class="ui action input" id="citation-panel">
					{{template "repo/cite/cite_buttons" .}}
					<a id="goto-citation-btn" class="ui basic jump icon button" href="{{$.RepoLink}}/src/{{$.BranchName}}/CITATION.cff" data-tooltip-content="{{.locale.Tr "repo.find_file.go_to_file"}}">
						{{svg "octicon-file-moved"}}
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="actions">
		<button class="ui black cancel button">
			{{.locale.Tr "cancel"}}
		</button>
	</div>
</div>
