{{if .CitationAPA}}
<button type="button" class="ui citation button" id="citation-copy-apa" data-text="{{.CitationAPA}}">
APA
</button>
{{end}}
<button type="button" class="ui citation button" id="citation-copy-bibtex" data-text="{{.CitationBibTeX}}">
BibTeX
</button>
<!-- the value will be updated by initCitationFileCopyContent, the code below is used to avoid UI flicking  -->
<input id="citation-copy-content" value="" size="1" readonly autofocus>
<button type="button" class="ui icon button" id="citation-clipboard-btn" data-tooltip-content="{{ctx.Locale.Tr "copy"}}">
	{{svg "octicon-copy"}}
</button>
