{{if .}}
    <div class="file-info-entry">
        <div data-tooltip-content="Owned by {{ StringUtils.Join . ", "}} (CODEOWNERS)">
            {{svg "octicon-shield-lock"}}
        </div>
    </div>
{{end}}
