<div class="header">
	{{.locale.Tr "sponsor.header_text" .FundingName}}
</div>
<div class="content">
	<ul>
		{{range .Funding}}
			<li>
				<div class="ui">
					{{if .Icon}}
						<img class="ui" src="{{.Icon}}" width="16" height="16">
					{{else}}
						{{svg "octicon-heart"}}
					{{end}}

					<a href="{{.URL}}">{{.Text}}</a>
				</div>
			</li>
		{{end}}
	</ul>
</div>
