<markdown-toolbar class="markdown-toolbar">
	<div class="markdown-toolbar-buttons">
		<md-header class="markdown-toolbar-button">{{svg "octicon-heading"}}</md-header>
		<md-bold class="markdown-toolbar-button">{{svg "octicon-bold"}}</md-bold>
		<md-italic class="markdown-toolbar-button">{{svg "octicon-italic"}}</md-italic>
	</div>
	<div class="markdown-toolbar-buttons">
		<md-quote class="markdown-toolbar-button">{{svg "octicon-quote"}}</md-quote>
		<md-code class="markdown-toolbar-button">{{svg "octicon-code"}}</md-code>
		<md-link class="markdown-toolbar-button">{{svg "octicon-link"}}</md-link>
	</div>
	<div class="markdown-toolbar-buttons">
		<md-unordered-list class="markdown-toolbar-button">{{svg "octicon-list-unordered"}}</md-unordered-list>
		<md-ordered-list class="markdown-toolbar-button">{{svg "octicon-list-ordered"}}</md-ordered-list>
		<md-task-list class="markdown-toolbar-button">{{svg "octicon-tasklist"}}</md-task-list>
	</div>
	<div class="markdown-toolbar-buttons" class="p-2">
		<md-mention class="markdown-toolbar-button">{{svg "octicon-mention"}}</md-mention>
		<md-ref class="markdown-toolbar-button">{{svg "octicon-cross-reference"}}</md-ref>
	</div>
</markdown-toolbar>
