<div class="ui bottom attached table segment gt-df gt-ac gt-sb">
		<div class="gt-df gt-ac gt-ml-4">
			{{if .result.Language}}
					<i class="color-icon gt-mr-3" style="background-color: {{.result.Color}}"></i>{{.result.Language}}
			{{end}}
		</div>
		<div class="gt-mr-4">
			{{if not .result.UpdatedUnix.IsZero}}
					<span class="ui grey text">{{ctx.Locale.Tr "explore.code_last_indexed_at" (TimeSinceUnix .result.UpdatedUnix ctx.Locale) | Safe}}</span>
			{{end}}
		</div>
</div>
