<!-- Topic can be "repo" or "explore" -->
<div class="ui dropdown selection {{if .Disabled}} disabled{{end}}" data-tooltip-content="{{ctx.Locale.Tr (printf "%s.search.type.tooltip" .Topic)}}">
	<input name="fuzzy" type="hidden"{{if .Disabled}} disabled{{end}} value="{{.IsFuzzy}}">{{svg "octicon-triangle-down" 14 "dropdown icon"}}
	{{if .IsFuzzy}}
		<div class="text">{{ctx.Locale.Tr (printf "%s.search.fuzzy" .Topic)}}</div>
	{{else}}
		<div class="text">{{ctx.Locale.Tr (printf "%s.search.match" .Topic)}}</div>
	{{end}}
	<div class="menu">
		<div class="item" data-value="true" data-tooltip-content="{{ctx.Locale.Tr (printf "%s.search.fuzzy.tooltip" .Topic)}}">{{ctx.Locale.Tr (printf "%s.search.fuzzy" .Topic)}}</div>
		<div class="item" data-value="false" data-tooltip-content="{{ctx.Locale.Tr (printf "%s.search.match.tooltip" .Topic)}}">{{ctx.Locale.Tr (printf "%s.search.match" .Topic)}}</div>
	</div>
</div>
