<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="format-detection" content="telephone=no,date=no,address=no,email=no,url=no">
<meta name="color-scheme" content="light dark">
<meta name="supported-color-schemes" content="light dark">
<title>{{.Title}}</title>

<style>
	a {color: #4183c4}
	blockquote {padding-left: 1em; margin: 1em 0; border-left: 1px solid grey}
</style>
