<form class="ui form ignore-dirty">
	{{template "shared/search/combo_fuzzy" dict "Value" .Keyword "Disabled" .CodeIndexerUnavailable "IsFuzzy" .IsFuzzy "Placeholder" (ctx.Locale.Tr "search.code_kind")}}
</form>
<div class="divider"></div>
<div class="ui list">
	{{template "base/alert" .}}
	{{if .CodeIndexerUnavailable}}
		<div class="ui error message">
			<p>{{ctx.Locale.Tr "search.code_search_unavailable"}}</p>
		</div>
	{{else}}
		{{if not .IsRepoIndexerEnabled}}
			<div class="ui message">
				<p>{{ctx.Locale.Tr "search.code_search_by_git_grep"}}</p>
			</div>
		{{end}}
		{{if .SearchResults}}
			{{template "shared/search/code/results" .}}
		{{else if .Keyword}}
			<div>{{ctx.Locale.Tr "search.no_results"}}</div>
		{{end}}
	{{end}}
</div>
