<div class="header-wrapper">
	<!-- TODO: make template org and user can share -->
	{{with .ContextUser}}
		<div class="ui container">
			<div class="ui vertically grid head">
				<div class="column">
					<div class="ui header">
						{{avatar . 100}}
						<span class="text thin grey"><a href="{{.HomeLink}}">{{.DisplayName}}</a></span>
						<span class="org-visibility">
							{{if .Visibility.IsLimited}}<div class="ui medium orange horizontal label">{{$.i18n.Tr "org.settings.visibility.limited_shortname"}}</div>{{end}}
							{{if .Visibility.IsPrivate}}<div class="ui medium red horizontal label">{{$.i18n.Tr "org.settings.visibility.private_shortname"}}</div>{{end}}
						</span>
					</div>
				</div>
			</div>
		</div>
	{{end}}

	<div class="ui tabs container">
		<div class="ui tabular stackable menu navbar">
			<a class="item" href="{{.ContextUser.HomeLink}}">
				{{svg "octicon-repo"}} {{.i18n.Tr "user.repositories"}}
			</a>
			{{if (not .UnitPackagesGlobalDisabled)}}
				<a href="{{.ContextUser.HTMLURL}}/-/packages" class="{{if .IsPackagesPage}}active{{end}} item">
					{{svg "octicon-package"}} {{.i18n.Tr "packages.title"}}
				</a>
			{{end}}

			{{if .ContextUser.IsOrganization}}
				{{if .IsOrganizationMember}}
					<a class="item" href="{{$.OrgLink}}/members">
						{{svg "octicon-organization"}}&nbsp;{{$.i18n.Tr "org.people"}}
						{{if .NumMembers}}
							<div class="ui primary label">{{.NumMembers}}</div>
						{{end}}
					</a>
					<a class="item" href="{{$.OrgLink}}/teams">
						{{svg "octicon-people"}}&nbsp;{{$.i18n.Tr "org.teams"}}
						{{if .NumTeams}}
							<div class="ui black label">{{.NumTeams}}</div>
						{{end}}
					</a>
				{{end}}

				{{if .IsOrganizationOwner}}
					<div class="right menu">
						<a class="item" href="{{.OrgLink}}/settings">
						{{svg "octicon-tools"}} {{.i18n.Tr "repo.settings"}}
						</a>
					</div>
				{{end}}
			{{end}}

		</div>
	</div>
	<div class="ui tabs divider"></div>
</div>
