<div role="main" aria-label="{{.Title}}" class="page-content user profile">
	<div class="ui container">
		<div class="ui stackable grid">
			{{template "user/overview/header_big_avatar" .}}
			<div class="ui twelve wide column">
				{{template "user/overview/header_items" .}}
				{{template "projects/overview_list" .}}
			</div>
		</div>
	</div>
</div>
