<!-- DNM(Krey): The translation or a placeholder has to be remade on `editor.title` -->
<input id="editor_title"
	name="title"
	placeholder="{{.i18n.Tr "repo.milestones.title"}}"
	tabindex="3"
	autofocus required maxlength="255" autocomplete="off">
