/* Based on https://github.com/buildkite/terminal-to-html/blob/697ff23bd8dc48b9d23f11f259f5256dae2455f0/assets/terminal.css */

.console {
  background: var(--color-console-bg);
  color: var(--color-console-fg);
  font-family: var(--fonts-monospace);
  border-radius: var(--border-radius);
  overflow-wrap: anywhere;
}

.console img { max-width: 100%; }

.console a {
  color: inherit;
  text-decoration: underline;
  text-decoration-style: dashed;
}
.console a:hover { color: var(--color-primary); }

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

/* ansi_up colors used in actions */

.ansi-black-fg { color: var(--color-ansi-black); }
.ansi-red-fg { color: var(--color-ansi-red); }
.ansi-green-fg { color: var(--color-ansi-green); }
.ansi-yellow-fg { color: var(--color-ansi-yellow); }
.ansi-blue-fg { color: var(--color-ansi-blue); }
.ansi-magenta-fg { color: var(--color-ansi-magenta); }
.ansi-cyan-fg { color: var(--color-ansi-cyan); }
.ansi-white-fg { color: var(--color-ansi-white); }

.ansi-bright-black-fg { color: var(--color-ansi-bright-black); }
.ansi-bright-red-fg { color: var(--color-ansi-bright-red); }
.ansi-bright-green-fg { color: var(--color-ansi-bright-green); }
.ansi-bright-yellow-fg { color: var(--color-ansi-bright-yellow); }
.ansi-bright-blue-fg { color: var(--color-ansi-bright-blue); }
.ansi-bright-magenta-fg { color: var(--color-ansi-bright-magenta); }
.ansi-bright-cyan-fg { color: var(--color-ansi-bright-cyan); }
.ansi-bright-white-fg { color: var(--color-ansi-bright-white); }

.ansi-black-bg { background-color: var(--color-ansi-black); }
.ansi-red-bg { background-color: var(--color-ansi-red); }
.ansi-green-bg { background-color: var(--color-ansi-green); }
.ansi-yellow-bg { background-color: var(--color-ansi-yellow); }
.ansi-blue-bg { background-color: var(--color-ansi-blue); }
.ansi-magenta-bg { background-color: var(--color-ansi-magenta); }
.ansi-cyan-bg { background-color: var(--color-ansi-cyan); }
.ansi-white-bg { background-color: var(--color-ansi-white); }

.ansi-bright-black-bg { background-color: var(--color-ansi-bright-black); }
.ansi-bright-red-bg { background-color: var(--color-ansi-bright-red); }
.ansi-bright-green-bg { background-color: var(--color-ansi-bright-green); }
.ansi-bright-yellow-bg { background-color: var(--color-ansi-bright-yellow); }
.ansi-bright-blue-bg { background-color: var(--color-ansi-bright-blue); }
.ansi-bright-magenta-bg { background-color: var(--color-ansi-bright-magenta); }
.ansi-bright-cyan-bg { background-color: var(--color-ansi-bright-cyan); }
.ansi-bright-white-bg { background-color: var(--color-ansi-bright-white); }

/* term colors used in console rendering */

.term-fg2 { color: var(--color-ansi-bright-black); } /* faint (decreased intensity) - same as gray really */
.term-fg3 { font-style: italic; } /* italic */
.term-fg4 { text-decoration: underline; } /* underline */
.term-fg5 { animation: blink-animation 1s steps(3, start) infinite; } /* blink */
.term-fg9 { text-decoration: line-through; } /* crossed-out */

.term-fg30 { color: var(--color-ansi-black); } /* black (but we can't use black, so a diff color) */
.term-fg31 { color: var(--color-ansi-red); } /* red */
.term-fg32 { color: var(--color-ansi-green); } /* green */
.term-fg33 { color: var(--color-ansi-yellow); } /* yellow */
.term-fg34 { color: var(--color-ansi-blue); } /* blue */
.term-fg35 { color: var(--color-ansi-magenta); } /* magenta */
.term-fg36 { color: var(--color-ansi-cyan); } /* cyan */

/* high intense colors */
.term-fgi1 { color: var(--color-ansi-bright-green); }
.term-fgi90 { color: var(--color-ansi-bright-black); } /* grey */
.term-fgi91 { color: var(--color-ansi-bright-red); } /* red */
.term-fgi92 { color: var(--color-ansi-bright-green); } /* green */
.term-fgi93 { color: var(--color-ansi-bright-yellow); } /* yellow */
.term-fgi94 { color: var(--color-ansi-bright-blue); } /* blue */
.term-fgi95 { color: var(--color-ansi-bright-magenta); } /* magenta */
.term-fgi96 { color: var(--color-ansi-bright-cyan); } /* cyan */

/* background colors */
.term-bg40 { background: var(--color-ansi-bright-black); } /* grey */
.term-bg41 { background: var(--color-ansi-red); } /* red */
.term-bg42 { background: var(--color-ansi-green); } /* green */

/* custom foreground/background combos for readability */
.term-fg31.term-bg40 { color: var(--color-ansi-bright-red); }

/* xterm colors */
.term-fgx16 { color: #000000; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx17 { color: #00005f; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx18 { color: #000087; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx19 { color: #0000af; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx20 { color: #0000d7; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx21 { color: #0000ff; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx22 { color: #005f00; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx23 { color: #005f5f; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx24 { color: #005f87; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx25 { color: #005faf; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx26 { color: #005fd7; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx27 { color: #005fff; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx28 { color: #008700; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx29 { color: #00875f; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx30 { color: #008787; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx31 { color: #0087af; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx32 { color: #0087d7; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx33 { color: #0087ff; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx34 { color: #00af00; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx35 { color: #00af5f; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx36 { color: #00af87; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx37 { color: #00afaf; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx38 { color: #00afd7; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx39 { color: #00afff; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx40 { color: #00d700; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx41 { color: #00d75f; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx42 { color: #00d787; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx43 { color: #00d7af; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx44 { color: #00d7d7; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx45 { color: #00d7ff; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx46 { color: #00ff00; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx47 { color: #00ff5f; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx48 { color: #00ff87; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx49 { color: #00ffaf; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx50 { color: #00ffd7; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx51 { color: #00ffff; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx52 { color: #5f0000; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx53 { color: #5f005f; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx54 { color: #5f0087; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx55 { color: #5f00af; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx56 { color: #5f00d7; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx57 { color: #5f00ff; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx58 { color: #5f5f00; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx59 { color: #5f5f5f; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx60 { color: #5f5f87; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx61 { color: #5f5faf; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx62 { color: #5f5fd7; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx63 { color: #5f5fff; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx64 { color: #5f8700; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx65 { color: #5f875f; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx66 { color: #5f8787; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx67 { color: #5f87af; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx68 { color: #5f87d7; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx69 { color: #5f87ff; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx70 { color: #5faf00; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx71 { color: #5faf5f; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx72 { color: #5faf87; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx73 { color: #5fafaf; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx74 { color: #5fafd7; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx75 { color: #5fafff; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx76 { color: #5fd700; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx77 { color: #5fd75f; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx78 { color: #5fd787; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx79 { color: #5fd7af; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx80 { color: #5fd7d7; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx81 { color: #5fd7ff; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx82 { color: #5fff00; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx83 { color: #5fff5f; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx84 { color: #5fff87; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx85 { color: #5fffaf; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx86 { color: #5fffd7; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx87 { color: #5fffff; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx88 { color: #870000; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx89 { color: #87005f; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx90 { color: #870087; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx91 { color: #8700af; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx92 { color: #8700d7; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx93 { color: #8700ff; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx94 { color: #875f00; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx95 { color: #875f5f; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx96 { color: #875f87; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx97 { color: #875faf; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx98 { color: #875fd7; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx99 { color: #875fff; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx100 { color: #878700; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx101 { color: #87875f; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx102 { color: #878787; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx103 { color: #8787af; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx104 { color: #8787d7; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx105 { color: #8787ff; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx106 { color: #87af00; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx107 { color: #87af5f; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx108 { color: #87af87; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx109 { color: #87afaf; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx110 { color: #87afd7; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx111 { color: #87afff; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx112 { color: #87d700; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx113 { color: #87d75f; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx114 { color: #87d787; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx115 { color: #87d7af; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx116 { color: #87d7d7; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx117 { color: #87d7ff; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx118 { color: #87ff00; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx119 { color: #87ff5f; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx120 { color: #87ff87; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx121 { color: #87ffaf; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx122 { color: #87ffd7; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx123 { color: #87ffff; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx124 { color: #af0000; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx125 { color: #af005f; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx126 { color: #af0087; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx127 { color: #af00af; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx128 { color: #af00d7; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx129 { color: #af00ff; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx130 { color: #af5f00; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx131 { color: #af5f5f; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx132 { color: #af5f87; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx133 { color: #af5faf; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx134 { color: #af5fd7; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx135 { color: #af5fff; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx136 { color: #af8700; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx137 { color: #af875f; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx138 { color: #af8787; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx139 { color: #af87af; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx140 { color: #af87d7; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx141 { color: #af87ff; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx142 { color: #afaf00; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx143 { color: #afaf5f; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx144 { color: #afaf87; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx145 { color: #afafaf; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx146 { color: #afafd7; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx147 { color: #afafff; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx148 { color: #afd700; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx149 { color: #afd75f; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx150 { color: #afd787; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx151 { color: #afd7af; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx152 { color: #afd7d7; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx153 { color: #afd7ff; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx154 { color: #afff00; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx155 { color: #afff5f; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx156 { color: #afff87; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx157 { color: #afffaf; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx158 { color: #afffd7; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx159 { color: #afffff; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx160 { color: #d70000; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx161 { color: #d7005f; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx162 { color: #d70087; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx163 { color: #d700af; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx164 { color: #d700d7; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx165 { color: #d700ff; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx166 { color: #d75f00; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx167 { color: #d75f5f; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx168 { color: #d75f87; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx169 { color: #d75faf; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx170 { color: #d75fd7; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx171 { color: #d75fff; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx172 { color: #d78700; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx173 { color: #d7875f; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx174 { color: #d78787; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx175 { color: #d787af; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx176 { color: #d787d7; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx177 { color: #d787ff; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx178 { color: #d7af00; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx179 { color: #d7af5f; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx180 { color: #d7af87; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx181 { color: #d7afaf; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx182 { color: #d7afd7; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx183 { color: #d7afff; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx184 { color: #d7d700; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx185 { color: #d7d75f; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx186 { color: #d7d787; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx187 { color: #d7d7af; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx188 { color: #d7d7d7; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx189 { color: #d7d7ff; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx190 { color: #d7ff00; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx191 { color: #d7ff5f; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx192 { color: #d7ff87; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx193 { color: #d7ffaf; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx194 { color: #d7ffd7; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx195 { color: #d7ffff; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx196 { color: #ff0000; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx197 { color: #ff005f; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx198 { color: #ff0087; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx199 { color: #ff00af; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx200 { color: #ff00d7; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx201 { color: #ff00ff; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx202 { color: #ff5f00; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx203 { color: #ff5f5f; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx204 { color: #ff5f87; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx205 { color: #ff5faf; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx206 { color: #ff5fd7; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx207 { color: #ff5fff; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx208 { color: #ff8700; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx209 { color: #ff875f; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx210 { color: #ff8787; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx211 { color: #ff87af; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx212 { color: #ff87d7; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx213 { color: #ff87ff; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx214 { color: #ffaf00; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx215 { color: #ffaf5f; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx216 { color: #ffaf87; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx217 { color: #ffafaf; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx218 { color: #ffafd7; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx219 { color: #ffafff; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx220 { color: #ffd700; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx221 { color: #ffd75f; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx222 { color: #ffd787; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx223 { color: #ffd7af; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx224 { color: #ffd7d7; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx225 { color: #ffd7ff; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx226 { color: #ffff00; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx227 { color: #ffff5f; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx228 { color: #ffff87; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx229 { color: #ffffaf; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx230 { color: #ffffd7; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx231 { color: #ffffff; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx232 { color: #080808; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx233 { color: #121212; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx234 { color: #1c1c1c; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx235 { color: #262626; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx236 { color: #303030; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx237 { color: #3a3a3a; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx238 { color: #444444; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx239 { color: #4e4e4e; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx240 { color: #585858; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx241 { color: #626262; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx242 { color: #6c6c6c; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx243 { color: #767676; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx244 { color: #808080; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx245 { color: #8a8a8a; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx246 { color: #949494; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx247 { color: #9e9e9e; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx248 { color: #a8a8a8; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx249 { color: #b2b2b2; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx250 { color: #bcbcbc; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx251 { color: #c6c6c6; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx252 { color: #d0d0d0; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx253 { color: #dadada; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx254 { color: #e4e4e4; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
.term-fgx255 { color: #eeeeee; } /* stylelint-disable-line scale-unlimited/declaration-strict-value */
