@import "cropperjs/dist/cropper.css";

.cropper-panel {
  display: flex;
  column-gap: 10px;
}

.cropper-panel #cropper-result {
  overflow: hidden;
  width: 256px;
  height: 256px;
  max-width: 256px;
  max-height: 256px;
}

.cropper-panel .cropper-editor {
  flex: 1;
  max-width: 100%;
  overflow: hidden;
}

.cropper-panel .cropper-editor >div {
  display: flex;
  column-gap: 10px;
}

.cropper-panel .cropper-editor .cropper-wrapper {
  height: 600px;
  max-height: 600px;
}
