@import "cropperjs/dist/cropper.css";

.cropper-panel {
  display: flex;
  column-gap: 10px;

  .cropper-editor {
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    .cropper-wrapper {
      height: 600px;
      max-height: 600px;
    }
    >div {
      display: flex;
      column-gap: 10px;
    }
  }

  #cropper-result {
    overflow: hidden;
    width: 256px;
    height: 256px;
    max-width: 256px;
    max-height: 256px;
  }
}
