.board {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 0 0.5em;
}

.board.sortable .board-card {
  cursor: move;
}

.board-column {
  background-color: var(--color-project-board-bg) !important;
  border: 1px solid var(--color-secondary) !important;
  margin: 0 0.5rem !important;
  padding: 0.5rem !important;
  width: 320px;
  height: calc(100vh - 450px);
  min-height: 60vh;
  overflow-y: scroll;
  flex: 0 0 auto;
  overflow: visible;
  display: flex;
  flex-direction: column;
}

.board-column-header {
  display: flex;
  justify-content: space-between;
}

.board-column-header.dark-label {
  color: var(--color-project-board-dark-label) !important;
}

.board-column-header.dark-label .board-label {
  color: var(--color-project-board-dark-label) !important;
}

.board-column-header.light-label {
  color: var(--color-project-board-light-label) !important;
}

.board-column-header.light-label .board-label {
  color: var(--color-project-board-light-label) !important;
}

.board-label {
  background: none !important;
  line-height: 1.25 !important;
}

.board-column > .cards {
  flex: 1;
  display: flex;
  align-content: baseline;
  margin: 0 !important;
  padding: 0 !important;
  flex-wrap: nowrap !important;
  flex-direction: column;
}

.project-board-title {
  word-break: break-word;
}

.board-column > .divider {
  margin: 5px 0;
}

.board-column:first-child {
  margin-left: auto !important;
}

.board-column:last-child {
  margin-right: auto !important;
}

.board-column .ui.cards > .card > .content {
  border: none;
}

.board-card {
  margin: 4px 2px !important;
  border-radius: 5px !important;
  width: calc(100% - 4px) !important;
  padding: 0.5rem !important;
  min-height: auto !important;
}

.board-card .meta * {
  margin-right: 0 !important;
}

.board-card .header {
  margin-top: 0 !important;
  font-size: 16px !important;
}

.board-card .card-attachment-images {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.board-card .card-attachment-images img {
  display: inline-block;
  max-height: 50px;
  border-radius: var(--border-radius);
  margin-right: 2px;
}

.board-card .card-attachment-images img:only-child {
  max-height: 90px;
  margin: auto;
}

.card-ghost {
  border-style: dashed !important;
  background: none !important;
}

.card-ghost * {
  opacity: 0;
}

.color-field .minicolors.minicolors-theme-default {
  display: block;
}

.color-field .minicolors.minicolors-theme-default .minicolors-input {
  height: 38px;
  padding-left: 2rem;
}

.color-field .minicolors.minicolors-theme-default .minicolors-swatch {
  top: 10px;
}

.edit-project-board .color.picker.column,
.new-board-modal .color.picker.column {
  display: flex;
}

.edit-project-board .color.picker.column .minicolors,
.new-board-modal .color.picker.column .minicolors {
  flex: 1;
}
