.ui.modal .content {
  max-height: 85vh;
  overflow-y: auto;
}

#pinned-notes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin-bottom: 8px;
}

.board {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 0 0.5em;
}

.project-column {
  background-color: var(--color-project-board-bg) !important;
  border: 1px solid var(--color-secondary) !important;
  margin: 0 0.5rem !important;
  padding: 0.5rem !important;
  width: 320px;
  height: calc(100vh - 450px);
  min-height: 60vh;
  flex: 0 0 auto;
  overflow: visible;
  display: flex;
  flex-direction: column;
}

.project-column-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-column-header.dark-label {
  color: var(--color-project-board-dark-label) !important;
}

.project-column-header.dark-label .project-column-title {
  color: var(--color-project-board-dark-label) !important;
}

.project-column-header.light-label {
  color: var(--color-project-board-light-label) !important;
}

.project-column-header.light-label .project-column-title {
  color: var(--color-project-board-light-label) !important;
}

.project-column-title {
  white-space: unset !important;
  background: none !important;
  line-height: 1.25 !important;
}

.cards-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.cards-wrapper > .cards {
  flex-grow: 1;
  margin: 0 !important;
  flex-direction: column;
  gap: .25rem;
  max-width: 100%;
}

.cards-wrapper > .note-cards {
  flex-grow: unset;
}

.cards-wrapper > .cards * {
  max-width: 100%;
}

/* don't show divider, if currently no note-cards are draged and note-cards are empty */
#project-board:not(:has(.note-cards > .card-ghost)) .cards-wrapper > .note-cards:not(:has(> *)) + .divider,
/* don't show divider, if there are no childs in issue-cards */
.project-column:not(:has(.issue-cards > *)) .note-cards + .divider {
  display: none;
}

/* give empty cards a min-height, if there is currently a child-card been draged */
#project-board:has(.note-cards > .card-ghost) .cards-wrapper > .note-cards:not(:has(> *)),
/* set min-height if issue-cards, this helps when note-cards are higher then 100% */
#project-board:has(.card-ghost) .cards-wrapper > .issue-cards:not(:has(> *)) {
  min-height: 5%;
}

.project-column > .divider {
  margin: 5px 0;
}

.project-column:first-child {
  margin-left: auto !important;
}

.project-column:last-child {
  margin-right: auto !important;
}

.project-column-note-content {
  max-height: 250px;
  overflow-y: hidden;
}

.card-attachment-images {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.card-attachment-images img {
  display: inline-block;
  max-height: 50px;
  border-radius: var(--border-radius);
  margin-right: 2px;
}

.card-attachment-images img:only-child {
  max-height: 90px;
  margin: auto;
}

.card-ghost {
  border-style: dashed !important;
  background: none !important;
}

.card-ghost * {
  opacity: 0;
}

.color-field .minicolors.minicolors-theme-default {
  display: block;
}

.color-field .minicolors.minicolors-theme-default .minicolors-input {
  height: 38px;
  padding-left: 2rem;
}

.color-field .minicolors.minicolors-theme-default .minicolors-swatch {
  top: 10px;
}

.edit-project-column-modal .color.picker.column,
.new-project-column-modal .color.picker.column {
  display: flex;
}

.edit-project-column-modal .color.picker.column .minicolors,
.new-project-column-modal .color.picker.column .minicolors {
  flex: 1;
}
