<div class="ui attached segment">
	<form class="ui form ignore-dirty">
		{{if .AuditSort}}<input type="hidden" name="sort" value="{{.AuditSort}}">{{end}}
		<div class="ui small fluid action input">
			<input type="text" name="actor" value="{{.AuditFilterActor}}" placeholder="{{ctx.Locale.Tr "audit.filter.actor"}}">
			<select class="ui small dropdown" name="action">
				<option value="">{{ctx.Locale.Tr "audit.filter.action"}}</option>
				{{range $action := .AuditActions}}
					<option{{if eq $.AuditFilterAction (print $action)}} selected{{end}} value="{{$action}}">{{$action}}</option>
				{{end}}
			</select>
			<select class="ui small dropdown" name="origin">
				<option value="">{{ctx.Locale.Tr "audit.filter.origin"}}</option>
				{{range $origin := .AuditOrigins}}
					<option{{if eq $.AuditFilterOrigin (print $origin)}} selected{{end}} value="{{$origin}}">{{$origin}}</option>
				{{end}}
			</select>
			{{template "shared/search/button"}}
		</div>
	</form>
</div>
<div class="ui attached table segment">
	<table class="ui very basic striped table unstackable">
		<thead>
			<tr>
				<th>{{ctx.Locale.Tr "audit.actor"}}</th>
				<th>{{ctx.Locale.Tr "audit.scope"}}</th>
				<th>{{ctx.Locale.Tr "audit.action"}}</th>
				<th>{{ctx.Locale.Tr "audit.origin"}}</th>
				<th>{{ctx.Locale.Tr "audit.details"}}</th>
				<th>{{ctx.Locale.Tr "audit.ip_address"}}</th>
				<th data-sortt-asc="timestamp_asc" data-sortt-desc="timestamp_desc">{{ctx.Locale.Tr "audit.timestamp"}}{{SortArrow "timestamp_asc" "timestamp_desc" $.AuditSort false}}</th>
			</tr>
		</thead>
		<tbody>
			{{range .AuditEvents}}
				<tr>
					<td>
						{{with .Impersonator}}
							{{if .HasLink}}
								<a href="{{.HomeLink}}">{{.DisplayName}}</a>
							{{else}}
								{{.DisplayName}}
							{{end}}
							<span class="text small">{{ctx.Locale.Tr "audit.impersonating_as"}}</span>
						{{end}}
						{{if .Actor.DisplayName}}
							{{if .Actor.HasLink}}
								<a href="{{.Actor.HomeLink}}">{{.Actor.DisplayName}}</a>
							{{else}}
								{{.Actor.DisplayName}}
							{{end}}
						{{else}}
							<span class="text small">{{ctx.Locale.Tr "audit.deleted.actor"}}</span>
						{{end}}
					</td>
					<td>
						{{if .Scope.DisplayName}}
							{{if .Scope.HasLink}}
								<a href="{{.Scope.HomeLink}}">{{.Scope.DisplayName}}</a>
							{{else}}
								{{.Scope.DisplayName}}
							{{end}}
						{{else}}
							<span class="text small">{{ctx.Locale.Tr "audit.deleted.type" .Scope.Type .Scope.ID}}</span>
						{{end}}
					</td>
					<td><code>{{.Action}}</code></td>
					<td><code>{{.Origin}}</code></td>
					<td>
						{{.Message}}
					</td>
					<td>{{.IPAddress}}</td>
					<td>{{DateUtils.FullTime .Time}}</td>
				</tr>
			{{else}}
				<tr><td colspan="7">{{ctx.Locale.Tr "audit.no_events"}}</td></tr>
			{{end}}
		</tbody>
	</table>
</div>
{{template "base/paginate" .}}
