{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content organization new org">
	<div class="ui middle very relaxed page grid">
		<div class="column">
			<form class="ui form" action="{{.Link}}" method="post">
				{{.CsrfTokenHtml}}
				<h3 class="ui top attached header">
					{{ctx.Locale.Tr "new_org"}}
				</h3>
				<div class="ui attached segment">
					{{template "base/alert" .}}
					<div class="inline required field {{if .Err_OrgName}}error{{end}}">
						<label for="org_name">{{ctx.Locale.Tr "org.org_name_holder"}}</label>
						<input id="org_name" name="org_name" value="{{.org_name}}" autofocus required maxlength="40">
						<span class="help">{{ctx.Locale.Tr "org.org_name_helper"}}</span>
					</div>

					<div class="inline field {{if .Err_OrgVisibility}}error{{end}}">
						<span class="inline required field"><label for="visibility">{{ctx.Locale.Tr "org.settings.visibility"}}</label></span>
						<div class="inline-grouped-list">
							<div class="ui radio checkbox">
								<input class="enable-system-radio" name="visibility" type="radio" value="0" {{if .DefaultOrgVisibilityMode.IsPublic}}checked{{end}}>
								<label>{{ctx.Locale.Tr "org.settings.visibility.public"}}</label>
							</div>
							<div class="ui radio checkbox">
								<input class="enable-system-radio" name="visibility" type="radio" value="1" {{if .DefaultOrgVisibilityMode.IsLimited}}checked{{end}}>
								<label>{{ctx.Locale.Tr "org.settings.visibility.limited"}}</label>
							</div>
							<div class="ui radio checkbox">
								<input class="enable-system-radio" name="visibility" type="radio" value="2" {{if .DefaultOrgVisibilityMode.IsPrivate}}checked{{end}}>
								<label>{{ctx.Locale.Tr "org.settings.visibility.private"}}</label>
							</div>
						</div>
					</div>

					<div class="inline field" id="permission_box">
						<label>{{ctx.Locale.Tr "org.settings.permission"}}</label>
						<div class="inline-grouped-list">
							<div class="ui checkbox">
								<input type="checkbox" name="repo_admin_change_team_access" checked>
								<label>{{ctx.Locale.Tr "org.settings.repoadminchangeteam"}}</label>
							</div>
						</div>
					</div>

					<div class="inline field">
						<label></label>
						<button class="ui primary button">
							{{ctx.Locale.Tr "org.create_org"}}
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{{template "base/footer" .}}
