<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{.Subject}}</title>

	<style>
		blockquote { padding-left: 1em; margin: 1em 0; border-left: 1px solid grey; color: #777}
		.footer { font-size:small; color:#666;}
	</style>

</head>

{{$release_url := printf "<a href='%s'>%s</a>" .Release.HTMLURL .Release.TagName}}
{{$repo_url := printf "<a href='%s'>%s</a>" .Release.Repo.HTMLURL .Release.Repo.FullName}}
<body>
	<p>
		{{.i18n.Tr "mail.release.new.text" .Release.Publisher.Name $release_url $repo_url | Str2html}}
	</p>
	<h4>{{.i18n.Tr "mail.release.title" .Release.Title}}</h4>
	<p>
		{{.i18n.Tr "mail.release.note"}}<br>
		{{- if eq .Release.RenderedNote ""}}
		{{else}}
			{{.Release.RenderedNote | Str2html}}
		{{end -}}
	</p>
	<br><br>
	<p>
		---
		<br>
		{{.i18n.Tr "mail.release.downloads"}}
		<ul>
			{{$tagname := .Release.TagName | EscapePound}}
			{{$archive_url := printf "%s%s/%s/archive" AppUrl .Release.Repo.OwnerName .Release.Repo.Name}}
			<li>
				<a href="{{$archive_url}}/{{$tagname}}.zip" rel="nofollow"><strong>{{.i18n.Tr "mail.release.download.zip"}}</strong></a>
			</li>
			<li>
				<a href="{{$archive_url}}/{{$tagname}}.tar.gz" rel="nofollow"><strong>{{.i18n.Tr "mail.release.download.targz"}}</strong></a>
			</li>
			{{if .Release.Attachments}}
				{{range .Release.Attachments}}
					<li>
						<a target="_blank" rel="noopener noreferrer" href="{{.DownloadURL}}">
							<strong>{{.Name}} ({{.Size | FileSize}})</strong>
						</a>
					</li>
				{{end}}
			{{end}}
		</ul>
	</p>
	<div class="footer">
	<p>
		---
		<br>
		<a href="{{.Link}}">{{.i18n.Tr "mail.view_it_on" AppName}}</a>.
	</p>
	</div>
</body>
</html>
