@import "./theme-gitea-light-protanopia-deuteranopia.css";

gitea-theme-meta-info {
  --theme-display-name: "Light";
  --theme-colorblind-type: "blue-yellow";
  --theme-color-scheme: "light";
}

/* blue/yellow colorblind-friendly colors */
/* from GitHub: blue yellow blindness is based on red green blindness, and --diffBlob-deletion-* restored to the normal theme color */
:root {
  --color-diff-removed-linenum-bg: #ffcecb;
  --color-diff-removed-row-bg: #ffeef0;
  --color-diff-removed-word-bg: #fdb8c0;
}
