@import "../chroma/dark.css";
@import "../codemirror/dark.css";

:root {
  --is-dark-theme: true;
  --color-primary: #87ab63;
  --color-primary-contrast: #ffffff;
  --color-primary-dark-1: #93b373;
  --color-primary-dark-2: #9fbc82;
  --color-primary-dark-3: #abc492;
  --color-primary-dark-4: #b7cda1;
  --color-primary-dark-5: #cfddc1;
  --color-primary-dark-6: #e7eee0;
  --color-primary-dark-7: #f8faf6;
  --color-primary-light-1: #7a9e55;
  --color-primary-light-2: #6c8c4c;
  --color-primary-light-3: #5f7b42;
  --color-primary-light-4: #516939;
  --color-primary-light-5: #364626;
  --color-primary-light-6: #1b2313;
  --color-primary-light-7: #080b06;
  --color-primary-alpha-10: #87ab6319;
  --color-primary-alpha-20: #87ab6333;
  --color-primary-alpha-30: #87ab634b;
  --color-primary-alpha-40: #87ab6366;
  --color-primary-alpha-50: #87ab6380;
  --color-primary-alpha-60: #87ab6399;
  --color-primary-alpha-70: #87ab63b3;
  --color-primary-alpha-80: #87ab63cc;
  --color-primary-alpha-90: #87ab63e1;
  --color-primary-hover: var(--color-primary-light-1);
  --color-primary-active: var(--color-primary-light-2);
  --color-secondary: #525767;
  --color-secondary-dark-1: #5c6374;
  --color-secondary-dark-2: #666e81;
  --color-secondary-dark-3: #7c8497;
  --color-secondary-dark-4: #8990a1;
  --color-secondary-dark-5: #959cab;
  --color-secondary-dark-6: #a2a8b5;
  --color-secondary-dark-7: #afb4c0;
  --color-secondary-dark-8: #bcc0ca;
  --color-secondary-dark-9: #c9cbd4;
  --color-secondary-dark-10: #d6d7de;
  --color-secondary-dark-11: #e2e3e8;
  --color-secondary-dark-12: #eeeff2;
  --color-secondary-dark-13: #fbfbfc;
  --color-secondary-light-1: #454a57;
  --color-secondary-light-2: #383c47;
  --color-secondary-light-3: #2c2f37;
  --color-secondary-light-4: #1f2226;
  --color-secondary-alpha-10: #52576719;
  --color-secondary-alpha-20: #52576733;
  --color-secondary-alpha-30: #5257674b;
  --color-secondary-alpha-40: #52576766;
  --color-secondary-alpha-50: #52576780;
  --color-secondary-alpha-60: #52576799;
  --color-secondary-alpha-70: #525767b3;
  --color-secondary-alpha-80: #525767cc;
  --color-secondary-alpha-90: #525767e1;
  --color-secondary-button: var(--color-secondary-dark-4);
  --color-secondary-hover: var(--color-secondary-dark-3);
  --color-secondary-active: var(--color-secondary-dark-2);
  /* console colors - used for actions console and console files */
  --color-console-fg: #eeeff2;
  --color-console-fg-subtle: #959cab;
  --color-console-bg: #262936;
  --color-console-border: #383c47;
  --color-console-hover-bg: #ffffff16;
  --color-console-active-bg: #454a57;
  --color-console-menu-bg: #383c47;
  --color-console-menu-border: #5c6374;
  /* named colors */
  --color-red: #cc4848;
  --color-orange: #cc580c;
  --color-yellow: #cc9903;
  --color-olive: #91a313;
  --color-green: #87ab63;
  --color-teal: #00918a;
  --color-blue: #3a8ac6;
  --color-violet: #906ae1;
  --color-purple: #b259d0;
  --color-pink: #d22e8b;
  --color-brown: #a47252;
  --color-black: #2e323e;
  /* light variants - produced via Sass scale-color(color, $lightness: +10%) */
  --color-red-light: #d15a5a;
  --color-orange-light: #f6a066;
  --color-yellow-light: #eaaf03;
  --color-olive-light: #abc016;
  --color-green-light: #93b373;
  --color-teal-light: #00b6ad;
  --color-blue-light: #4e96cc;
  --color-violet-light: #9b79e4;
  --color-purple-light: #ba6ad5;
  --color-pink-light: #d74397;
  --color-brown-light: #b08061;
  --color-black-light: #3f4555;
  /* dark 1 variants - produced via Sass scale-color(color, $lightness: -10%) */
  --color-red-dark-1: #c23636;
  --color-orange-dark-1: #f38236;
  --color-yellow-dark-1: #b88a03;
  --color-olive-dark-1: #839311;
  --color-green-dark-1: #7a9e55;
  --color-teal-dark-1: #00837c;
  --color-blue-dark-1: #347cb3;
  --color-violet-dark-1: #7b4edb;
  --color-purple-dark-1: #a742c9;
  --color-pink-dark-1: #be297d;
  --color-brown-dark-1: #94674a;
  --color-black-dark-1: #292d38;
  /* dark 2 variants - produced via Sass scale-color(color, $lightness: -20%) */
  --color-red-dark-2: #ad3030;
  --color-orange-dark-2: #f16e17;
  --color-yellow-dark-2: #a37a02;
  --color-olive-dark-2: #74820f;
  --color-green-dark-2: #6c8c4c;
  --color-teal-dark-2: #00746e;
  --color-blue-dark-2: #2e6e9f;
  --color-violet-dark-2: #6733d6;
  --color-purple-dark-2: #9834b9;
  --color-pink-dark-2: #a9246f;
  --color-brown-dark-2: #835b42;
  --color-black-dark-2: #252832;
  /* ansi colors used for actions console and console files */
  --color-ansi-black: var(--color-black);
  --color-ansi-red: var(--color-red);
  --color-ansi-green: var(--color-green);
  --color-ansi-yellow: var(--color-yellow);
  --color-ansi-blue: var(--color-blue);
  --color-ansi-magenta: var(--color-pink);
  --color-ansi-cyan: var(--color-teal);
  --color-ansi-white: var(--color-console-fg-subtle);
  --color-ansi-bright-black: var(--color-black-light);
  --color-ansi-bright-red: var(--color-red-light);
  --color-ansi-bright-green: var(--color-green-light);
  --color-ansi-bright-yellow: var(--color-yellow-light);
  --color-ansi-bright-blue: var(--color-blue-light);
  --color-ansi-bright-magenta: var(--color-pink-light);
  --color-ansi-bright-cyan: var(--color-teal-light);
  --color-ansi-bright-white: var(--color-console-fg);
  /* other colors */
  --color-grey: #505665;
  --color-grey-light: #a1a6b7;
  --color-gold: #b1983b;
  --color-white: #ffffff;
  --color-diff-removed-word-bg: #6f3333;
  --color-diff-added-word-bg: #3c653c;
  --color-diff-removed-row-bg: #3c2626;
  --color-diff-moved-row-bg: #818044;
  --color-diff-added-row-bg: #283e2d;
  --color-diff-removed-row-border: #634343;
  --color-diff-moved-row-border: #bcca6f;
  --color-diff-added-row-border: #314a37;
  --color-diff-inactive: #353846;
  --color-error-border: #a04141;
  --color-error-bg: #522;
  --color-error-bg-active: #744;
  --color-error-bg-hover: #633;
  --color-error-text: #f9cbcb;
  --color-success-border: #458a57;
  --color-success-bg: #284034;
  --color-success-text: #6cc664;
  --color-warning-border: #bb9d00;
  --color-warning-bg: #3a3a30;
  --color-warning-text: #fbbd08;
  --color-info-border: #306090;
  --color-info-bg: #26354c;
  --color-info-text: #38a8e8;
  --color-red-badge: #db2828;
  --color-red-badge-bg: #db28281a;
  --color-red-badge-hover-bg: #db28284d;
  --color-green-badge: #21ba45;
  --color-green-badge-bg: #21ba451a;
  --color-green-badge-hover-bg: #21ba454d;
  --color-yellow-badge: #fbbd08;
  --color-yellow-badge-bg: #fbbd081a;
  --color-yellow-badge-hover-bg: #fbbd084d;
  --color-orange-badge: #f2711c;
  --color-orange-badge-bg: #f2711c1a;
  --color-orange-badge-hover-bg: #f2711c4d;
  --color-git: #f05133;
  /* target-based colors */
  --color-body: #2e323e;
  --color-box-header: #303340;
  --color-box-body: #222733;
  --color-box-body-highlight: #262b36;
  --color-text-dark: #dbe0ea;
  --color-text: #cbd0da;
  --color-text-light: #bbbfca;
  --color-text-light-1: #aaafb9;
  --color-text-light-2: #9a9ea9;
  --color-text-light-3: #8a8e99;
  --color-footer: #232834;
  --color-timeline: #4c525e;
  --color-input-text: #dfe3ec;
  --color-input-background: #1e252e;
  --color-input-toggle-background: #454a57;
  --color-input-border: var(--color-secondary);
  --color-input-border-hover: var(--color-secondary-dark-1);
  --color-header-wrapper: #202430;
  --color-light: #00000028;
  --color-light-mimic-enabled: rgba(0, 0, 0, calc(40 / 255 * 222 / 255 / var(--opacity-disabled)));
  --color-light-border: #ffffff28;
  --color-hover: #ffffff19;
  --color-active: #ffffff24;
  --color-menu: #1e252e;
  --color-card: #1e252e;
  --color-markup-table-row: #ffffff06;
  --color-markup-code-block: #ffffff16;
  --color-button: #1e252e;
  --color-code-bg: #222733;
  --color-code-sidebar-bg: #232834;
  --color-shadow: #00000058;
  --color-secondary-bg: #2a2e3a;
  --color-expand-button: #3c404d;
  --color-placeholder-text: #8a8e99;
  --color-editor-line-highlight: var(--color-primary-light-5);
  --color-project-board-bg: var(--color-secondary-light-2);
  --color-project-board-dark-label: #111111;
  --color-project-board-light-label: #eeeeee;
  --color-caret: var(--color-text); /* should ideally be --color-text-dark, see #15651 */
  --color-reaction-bg: #ffffff12;
  --color-reaction-hover-bg: var(--color-primary-light-4);
  --color-reaction-active-bg: var(--color-primary-light-5);
  --color-tooltip-text: #ffffff;
  --color-tooltip-bg: #000000f0;
  --color-nav-bg: #232834;
  --color-nav-hover-bg: #383c47;
  --color-nav-text: var(--color-text);
  --color-label-text: #dfe3ec;
  --color-label-bg: #7c84974b;
  --color-label-hover-bg: #7c8497a0;
  --color-label-active-bg: #7c8497ff;
  --color-accent: var(--color-primary-light-1);
  --color-small-accent: var(--color-primary-light-5);
  --color-active-line: #534d1b;
  --color-overlay-backdrop: #080808c0;
  accent-color: var(--color-accent);
  color-scheme: dark;
}

/* invert emojis that are hard to read otherwise */
.emoji[aria-label="check mark"],
.emoji[aria-label="currency exchange"],
.emoji[aria-label="TOP arrow"],
.emoji[aria-label="END arrow"],
.emoji[aria-label="ON! arrow"],
.emoji[aria-label="SOON arrow"],
.emoji[aria-label="heavy dollar sign"],
.emoji[aria-label="copyright"],
.emoji[aria-label="registered"],
.emoji[aria-label="trade mark"],
.emoji[aria-label="multiply"],
.emoji[aria-label="plus"],
.emoji[aria-label="minus"],
.emoji[aria-label="divide"],
.emoji[aria-label="curly loop"],
.emoji[aria-label="double curly loop"],
.emoji[aria-label="wavy dash"],
.emoji[aria-label="paw prints"],
.emoji[aria-label="musical note"],
.emoji[aria-label="musical notes"] {
  filter: invert(100%) hue-rotate(180deg);
}
