@import "./theme-gitea-light.css";

/* red/green colorblind-friendly colors */
/* from GitHub: --diffBlob-addition-*, --diffBlob-deletion-*, etc */
:root {
  --color-diff-added-linenum-bg: #54aeff4d;
  --color-diff-added-row-bg: #ddf4ff80;
  --color-diff-added-word-bg: #54aeff66;
  --color-diff-removed-linenum-bg: #ffb77c4d;
  --color-diff-removed-row-bg: #fff1e580;
  --color-diff-removed-word-bg: #ffb77c80;
}
