:root {
  --color-primary: #3F72AF;
  --color-primary-contrast: #ffffff;
  --color-primary-dark-1: #3F72AF;
  --color-primary-dark-2: #37669f;
  --color-primary-dark-3: #305b8f;
  --color-primary-dark-4: #28507f;
  --color-primary-dark-5: #20446e;
  --color-primary-dark-6: #19395e;
  --color-primary-dark-7: #112D4E;
  --color-primary-light-1: #5884b9;
  --color-primary-light-2: #7297c4;
  --color-primary-light-3: #8ba9ce;
  --color-primary-light-4: #a4bcd9;
  --color-primary-light-4: #becee3;
  --color-primary-light-6: #d7e1ee;
  --color-primary-light-7: #f0f3f8;
  --color-primary-alpha-10: rgba(63, 114, 175, 0.1);
  --color-primary-alpha-20: rgba(63, 114, 175, 0.2);
  --color-primary-alpha-30: rgba(63, 114, 175, 0.3);
  --color-primary-alpha-40: rgba(63, 114, 175, 0.4);
  --color-primary-alpha-50: rgba(63, 114, 175, 0.5);
  --color-primary-alpha-60: rgba(63, 114, 175, 0.6);
  --color-primary-alpha-70: rgba(63, 114, 175, 0.7);
  --color-primary-alpha-80: rgba(63, 114, 175, 0.8);
  --color-primary-alpha-90: rgba(63, 114, 175, 0.9);
  --color-secondary: #DBE2EF;
  --color-secondary-dark-1: #cbd4e3;
  --color-secondary-dark-2: #bcc6d6;
  --color-secondary-dark-3: #acb8ca;
  --color-secondary-dark-4: #9daabd;
  --color-secondary-dark-5: #8d9cb1;
  --color-secondary-dark-6: #7e8fa5;
  --color-secondary-dark-7: #6e8198;
  --color-secondary-dark-8: #5f738c;
  --color-secondary-dark-9: #4f6580;
  --color-secondary-dark-10: #405773;
  --color-secondary-dark-11: #304967;
  --color-secondary-dark-12: #213b5a;
  --color-secondary-dark-13: #112D4E;
  --color-secondary-light-1: #e2e8f2;
  --color-secondary-light-2: #e9edf5;
  --color-secondary-light-3: #f0f3f8;
  --color-secondary-light-4: #f7f9fc;
  --color-secondary-alpha-10: rgba(219, 226, 239, 0.1);
  --color-secondary-alpha-20: rgba(219, 226, 239, 0.2);
  --color-secondary-alpha-30: rgba(219, 226, 239, 0.3);
  --color-secondary-alpha-40: rgba(219, 226, 239, 0.4);
  --color-secondary-alpha-50: rgba(219, 226, 239, 0.5);
  --color-secondary-alpha-60: rgba(219, 226, 239, 0.6);
  --color-secondary-alpha-70: rgba(219, 226, 239, 0.7);
  --color-secondary-alpha-80: rgba(219, 226, 239, 0.8);
  --color-secondary-alpha-90: rgba(219, 226, 239, 0.9);
  /* colors */
  --color-red: #f44336;
  --color-orange: #ff9800;
  --color-yellow: #ffeb3b;
  --color-olive: #4caf50;
  --color-green: #4caf50;
  --color-teal: #00bcd4;
  --color-blue: #2196f3;
  --color-violet: #9c27b0;
  --color-purple: #9c27b0;
  --color-pink: #e91e63;
  --color-brown: #ff9800;
  --color-grey: #9e9e9e;
  /* light variants */
  --color-red-light: #f44336;
  --color-orange-light: #ff9800;
  --color-yellow-light: #ffeb3b;
  --color-olive-light: #4caf50;
  --color-green-light: #4caf50;
  --color-teal-light: #00bcd4;
  --color-blue-light: #2196f3;
  --color-violet-light: #9c27b0;
  --color-purple-light: #9c27b0;
  --color-pink-light: #e91e63;
  --color-brown-light: #ff9800;
  --color-grey-light: #9e9e9e;
  /* other colors */
  --color-black: #0d1b2a;
  --color-gold: #ff9800;
  --color-white: #ffffff;
  --color-diff-removed-word-bg: #fcb9b7;
  --color-diff-added-word-bg: #b9e0bb;
  --color-diff-removed-row-bg: #ffebee;
  --color-diff-moved-row-bg: #e3f2fd;
  --color-diff-added-row-bg: #e8f5e9;
  --color-diff-removed-row-border: #fa9792;
  --color-diff-moved-row-border: #82c4f8;
  --color-diff-added-row-border: #9ad29d;
  --color-diff-inactive: #f0f3f8;
  --color-error-border: #fa9792;
  --color-error-bg: #ffebee;
  --color-error-text: #f44336;
  --color-success-border: #9ad29d;
  --color-success-bg: #e8f5e9;
  --color-success-text: #4caf50;
  --color-warning-border: #ffc670;
  --color-warning-bg: #fff3e0;
  --color-warning-text: #ff9800;
  --color-info-border: #82c4f8;
  --color-info-bg: #e3f2fd;
  --color-info-text: #2196f3;
  /* target-based colors */
  --color-body: #ffffff;
  --color-box-header: #e9edf5;
  --color-box-body: #f0f3f8;
  --color-box-body-highlight: #f7f9fc;
  --color-text: #212121;
  --color-text-dark: #141414;
  --color-text-light: #545454;
  --color-text-light-1: #7a7a7a;
  --color-text-light-2: #a1a1a1;
  --color-text-light-3: #c7c7c7;
  --color-footer: #f0f3f8;
  --color-timeline: #e2e8f2;
  --color-input-text: #212121;
  --color-input-background: #ffffff;
  --color-input-toggle-background: #f0f3f8;
  --color-input-border: #DBE2EF;
  --color-input-border-hover: var(--color-secondary-dark-1);
  --color-navbar: #f0f3f8;
  --color-navbar-transparent: rgba(240, 243, 248, 0.1);
  --color-light: #f7f9fc;
  --color-light-mimic-enabled: rgba(0, 0, 0, calc(40 / 255 * 222 / 255 / var(--opacity-disabled)));
  --color-light-border: #e2e8f2;
  --color-hover: rgba(226, 232, 242, 0.5);
  --color-active: rgba(226, 232, 242, 0.5);
  --color-menu: #ffffff;
  --color-card: #ffffff;
  --color-markup-table-row: #e9edf5;
  --color-markup-code-block: #00000010;
  --color-button: #e9edf5;
  --color-code-bg: #ffffff;
  --color-code-sidebar-bg: #f5f5f5;
  --color-shadow: #00000060;
  --color-secondary-bg: #f0f3f8;
  --color-text-focus: #fff;
  --color-expand-button: #f0f3f8;
  --color-placeholder-text: #9e9e9e;
  --color-editor-line-highlight: #f0f3f8;
  --color-project-board-bg: #ffffff;
  --color-project-board-light-label: #a6aab5;
  --color-caret: var(--color-text);
  /* should ideally be --color-text-dark, see #15651 */
  --color-reaction-bg: #ffffff12;
  --color-reaction-active-bg: var(--color-primary-alpha-40);
  --color-tooltip-bg: #000000f0;
  --color-tooltip-text: #ffffff;
  --color-header-bar: #ffffff;
  --color-label-active-bg: #e2e8f2;
  --color-accent: var(--color-primary-light-1);
  --color-small-accent: var(--color-primary-light-5);
  --color-active-line: #fffbdd;
  accent-color: var(--color-accent);
  color-scheme: light;
}
.chroma .nx {
  color: #112D4E;
}
.chroma .c,
.chroma .c1,
.chroma .ch,
.chroma .cm,
.chroma .sd {
  color: #9e9e9e;
}
.chroma .k,
.chroma .kc,
.chroma .kd,
.chroma .kn,
.chroma .kp,
.chroma .kr {
  color: #f44336;
}
.chroma .o,
.chroma .ow {
  color: #ff9800;
}
.chroma .s,
.chroma .s1,
.chroma .s2,
.chroma .sa,
.chroma .sb,
.chroma .sc,
.chroma .sh,
.chroma .si,
.chroma .sr,
.chroma .ss,
.chroma .sx,
.chroma .nt,
.chroma .cpf {
  color: #2196f3;
}
.chroma .m,
.chroma .mb,
.chroma .mf,
.chroma .mh,
.chroma .mi,
.chroma .mo,
.chroma .nl {
  color: #9c27b0;
}
.chroma .kt,
.chroma .nc,
.chroma .nn,
.chroma .nv {
  color: #ffeb3b;
}
.chroma .nf,
.chroma .nb,
.chroma .na {
  color: #4caf50;
}
.chroma .bp,
.chroma .cp,
.chroma .ne,
.chroma .nd,
.chroma .se {
  color: #2196f3;
}
