@import "./theme-gitea-dark-protanopia-deuteranopia.css";

gitea-theme-meta-info {
  --theme-display-name: "Dark";
  --theme-colorblind-type: "blue-yellow";
  --theme-color-scheme: "dark";
}

/* blue/yellow colorblind-friendly colors */
/* from GitHub: blue yellow blindness is based on red green blindness, and --diffBlob-deletion-* restored to the normal theme color */
:root {
  --color-diff-removed-fg: #f0883e;
  --color-diff-removed-linenum-bg: #5b2c1c;
  --color-diff-removed-row-bg: #3c1e19;
  --color-diff-removed-word-bg: #823e1f;
}
