:root {
  --is-dark-theme: true;
  --color-primary: #fca311;
  --color-primary-contrast: #ffffff;
  --color-primary-dark-1: #fca311;
  --color-primary-dark-2: #f8ae34;
  --color-primary-dark-3: #f4b958;
  --color-primary-dark-4: #f1c47b;
  --color-primary-dark-5: #edcf9e;
  --color-primary-dark-6: #e9dac2;
  --color-primary-dark-7: #e5e5e5;
  --color-primary-light-1: #efa62f;
  --color-primary-light-2: #e2a84c;
  --color-primary-light-3: #d6ab6a;
  --color-primary-light-4: #c9ae88;
  --color-primary-light-4: #bcb1a5;
  --color-primary-light-6: #afb3c3;
  --color-primary-light-7: #a2b6e1;
  --color-primary-alpha-10: rgba(252, 163, 17, 0.1);
  --color-primary-alpha-20: rgba(252, 163, 17, 0.2);
  --color-primary-alpha-30: rgba(252, 163, 17, 0.3);
  --color-primary-alpha-40: rgba(252, 163, 17, 0.4);
  --color-primary-alpha-50: rgba(252, 163, 17, 0.5);
  --color-primary-alpha-60: rgba(252, 163, 17, 0.6);
  --color-primary-alpha-70: rgba(252, 163, 17, 0.7);
  --color-primary-alpha-80: rgba(252, 163, 17, 0.8);
  --color-primary-alpha-90: rgba(252, 163, 17, 0.9);
  --color-secondary: #14213d;
  --color-secondary-dark-1: #24304a;
  --color-secondary-dark-2: #343f57;
  --color-secondary-dark-3: #444e64;
  --color-secondary-dark-4: #545d71;
  --color-secondary-dark-5: #646c7e;
  --color-secondary-dark-6: #747b8a;
  --color-secondary-dark-7: #848a97;
  --color-secondary-dark-8: #959aa4;
  --color-secondary-dark-9: #a5a9b1;
  --color-secondary-dark-10: #b5b8be;
  --color-secondary-dark-11: #c5c7cb;
  --color-secondary-dark-12: #d5d6d8;
  --color-secondary-dark-13: #e5e5e5;
  --color-secondary-light-1: #2d4b8a;
  --color-secondary-light-2: #567ac7;
  --color-secondary-light-3: #a2b6e1;
  --color-secondary-light-4: #eff3fa;
  --color-secondary-alpha-10: rgba(20, 33, 61, 0.1);
  --color-secondary-alpha-20: rgba(20, 33, 61, 0.2);
  --color-secondary-alpha-30: rgba(20, 33, 61, 0.3);
  --color-secondary-alpha-40: rgba(20, 33, 61, 0.4);
  --color-secondary-alpha-50: rgba(20, 33, 61, 0.5);
  --color-secondary-alpha-60: rgba(20, 33, 61, 0.6);
  --color-secondary-alpha-70: rgba(20, 33, 61, 0.7);
  --color-secondary-alpha-80: rgba(20, 33, 61, 0.8);
  --color-secondary-alpha-90: rgba(20, 33, 61, 0.9);
  /* colors */
  --color-red: #f44336;
  --color-orange: #ff9800;
  --color-yellow: #ffeb3b;
  --color-olive: #4caf50;
  --color-green: #4caf50;
  --color-teal: #00bcd4;
  --color-blue: #2196f3;
  --color-violet: #9c27b0;
  --color-purple: #9c27b0;
  --color-pink: #e91e63;
  --color-brown: #ff9800;
  --color-grey: #9e9e9e;
  /* light variants */
  --color-red-light: #f44336;
  --color-orange-light: #ff9800;
  --color-yellow-light: #ffeb3b;
  --color-olive-light: #4caf50;
  --color-green-light: #4caf50;
  --color-teal-light: #00bcd4;
  --color-blue-light: #2196f3;
  --color-violet-light: #9c27b0;
  --color-purple-light: #9c27b0;
  --color-pink-light: #e91e63;
  --color-brown-light: #ff9800;
  --color-grey-light: #9e9e9e;
  /* other colors */
  --color-black: #000000;
  --color-gold: #ff9800;
  --color-white: #ffffff;
  --color-diff-removed-word-bg: #fcb9b7;
  --color-diff-added-word-bg: #b9e0bb;
  --color-diff-removed-row-bg: #ffebee;
  --color-diff-moved-row-bg: #e3f2fd;
  --color-diff-added-row-bg: #e8f5e9;
  --color-diff-removed-row-border: #fa9792;
  --color-diff-moved-row-border: #82c4f8;
  --color-diff-added-row-border: #9ad29d;
  --color-diff-inactive: #a2b6e1;
  --color-error-border: #fa9792;
  --color-error-bg: #ffebee;
  --color-error-text: #f44336;
  --color-success-border: #9ad29d;
  --color-success-bg: #e8f5e9;
  --color-success-text: #4caf50;
  --color-warning-border: #ffc670;
  --color-warning-bg: #fff3e0;
  --color-warning-text: #ff9800;
  --color-info-border: #82c4f8;
  --color-info-bg: #e3f2fd;
  --color-info-text: #2196f3;
  /* target-based colors */
  --color-body: #ffffff;
  --color-box-header: #567ac7;
  --color-box-body: #a2b6e1;
  --color-box-body-highlight: #eff3fa;
  --color-text: #e5e5e5;
  --color-text-dark: #0d1b2a;
  --color-text-light: #555555;
  --color-text-light-1: #6a6a6a;
  --color-text-light-2: #808080;
  --color-text-light-3: #a0a0a0;
  --color-footer: #a2b6e1;
  --color-timeline: #2d4b8a;
  --color-input-text: #e5e5e5;
  --color-input-background: #ffffff;
  --color-input-toggle-background: #a2b6e1;
  --color-input-border: #14213d;
  --color-input-border-hover: var(--color-secondary-dark-1);
  --color-navbar: #a2b6e1;
  --color-navbar-transparent: rgba(162, 182, 225, 0.1);
  --color-light: #a2b6e1;
  --color-light-mimic-enabled: rgba(0, 0, 0, calc(40 / 255 * 222 / 255 / var(--opacity-disabled)));
  --color-light-border: #2d4b8a;
  --color-hover: rgba(45, 75, 138, 0.5);
  --color-active: rgba(45, 75, 138, 0.5);
  --color-menu: #ffffff;
  --color-card: #ffffff;
  --color-markup-table-row: #567ac7;
  --color-markup-code-block: #00000010;
  --color-button: #567ac7;
  --color-code-bg: #ffffff;
  --color-code-sidebar-bg: #f5f5f5;
  --color-shadow: #00000060;
  --color-secondary-bg: #a2b6e1;
  --color-text-focus: #fff;
  --color-expand-button: #a2b6e1;
  --color-placeholder-text: #9e9e9e;
  --color-editor-line-highlight: #a2b6e1;
  --color-project-board-bg: #ffffff;
  --color-project-board-light-label: #a6aab5;
  --color-caret: var(--color-text);
  /* should ideally be --color-text-dark, see #15651 */
  --color-reaction-bg: #ffffff12;
  --color-reaction-active-bg: var(--color-primary-alpha-40);
  --color-tooltip-bg: #000000f0;
  --color-tooltip-text: #ffffff;
  --color-header-bar: #ffffff;
  --color-label-active-bg: #2d4b8a;
  --color-accent: var(--color-primary-light-1);
  --color-small-accent: var(--color-primary-light-5);
  --color-active-line: #fffbdd;
  accent-color: var(--color-accent);
  color-scheme: dark;
}
.chroma .nx {
  color: #e5e5e5;
}
.chroma .c,
.chroma .c1,
.chroma .ch,
.chroma .cm,
.chroma .sd {
  color: #9e9e9e;
}
.chroma .k,
.chroma .kc,
.chroma .kd,
.chroma .kn,
.chroma .kp,
.chroma .kr {
  color: #f44336;
}
.chroma .o,
.chroma .ow {
  color: #ff9800;
}
.chroma .s,
.chroma .s1,
.chroma .s2,
.chroma .sa,
.chroma .sb,
.chroma .sc,
.chroma .sh,
.chroma .si,
.chroma .sr,
.chroma .ss,
.chroma .sx,
.chroma .nt,
.chroma .cpf {
  color: #00bcd4;
}
.chroma .m,
.chroma .mb,
.chroma .mf,
.chroma .mh,
.chroma .mi,
.chroma .mo,
.chroma .nl {
  color: #9c27b0;
}
.chroma .kt,
.chroma .nc,
.chroma .nn,
.chroma .nv {
  color: #ffeb3b;
}
.chroma .nf,
.chroma .nb,
.chroma .na {
  color: #4caf50;
}
.chroma .bp,
.chroma .cp,
.chroma .ne,
.chroma .nd,
.chroma .se {
  color: #2196f3;
}
