:root {
  --is-dark-theme: true;
  --color-primary: #a9b665;
  --color-primary-contrast: #282828;
  --color-primary-dark-1: #a9b665;
  --color-primary-dark-2: #b2b96f;
  --color-primary-dark-3: #babc79;
  --color-primary-dark-4: #c3bf83;
  --color-primary-dark-5: #ccc18d;
  --color-primary-dark-6: #d4c497;
  --color-primary-dark-7: #ddc7a1;
  --color-primary-light-1: #a9b665;
  --color-primary-light-2: #96a15d;
  --color-primary-light-3: #848c55;
  --color-primary-light-4: #72774d;
  --color-primary-light-5: #5f6145;
  --color-primary-light-6: #4d4c3d;
  --color-primary-light-7: #3a3735;
  --color-primary-alpha-10: rgba(169, 182, 101, 0.1);
  --color-primary-alpha-20: rgba(169, 182, 101, 0.2);
  --color-primary-alpha-30: rgba(169, 182, 101, 0.3);
  --color-primary-alpha-40: rgba(169, 182, 101, 0.4);
  --color-primary-alpha-50: rgba(169, 182, 101, 0.5);
  --color-primary-alpha-60: rgba(169, 182, 101, 0.6);
  --color-primary-alpha-70: rgba(169, 182, 101, 0.7);
  --color-primary-alpha-80: rgba(169, 182, 101, 0.8);
  --color-primary-alpha-90: rgba(169, 182, 101, 0.9);
  --color-secondary: #504945;
  --color-secondary-dark-1: #504945;
  --color-secondary-dark-2: #5c534d;
  --color-secondary-dark-3: #685e54;
  --color-secondary-dark-4: #73695c;
  --color-secondary-dark-5: #7f7364;
  --color-secondary-dark-6: #8b7e6b;
  --color-secondary-dark-7: #978873;
  --color-secondary-dark-8: #a2927b;
  --color-secondary-dark-9: #ae9d82;
  --color-secondary-dark-10: #baa88a;
  --color-secondary-dark-11: #c5b292;
  --color-secondary-dark-12: #d1bd99;
  --color-secondary-dark-13: #ddc7a1;
  --color-secondary-light-1: #504945;
  --color-secondary-light-2: #45403d;
  --color-secondary-light-3: #3a3735;
  --color-secondary-light-4: #32302f;
  --color-secondary-alpha-10: rgba(80, 73, 69, 0.1);
  --color-secondary-alpha-20: rgba(80, 73, 69, 0.2);
  --color-secondary-alpha-30: rgba(80, 73, 69, 0.3);
  --color-secondary-alpha-40: rgba(80, 73, 69, 0.4);
  --color-secondary-alpha-50: rgba(80, 73, 69, 0.5);
  --color-secondary-alpha-60: rgba(80, 73, 69, 0.6);
  --color-secondary-alpha-70: rgba(80, 73, 69, 0.7);
  --color-secondary-alpha-80: rgba(80, 73, 69, 0.8);
  --color-secondary-alpha-90: rgba(80, 73, 69, 0.9);
  /* colors */
  --color-red: #ea6962;
  --color-orange: #e78a4e;
  --color-yellow: #d8a657;
  --color-olive: #a9b665;
  --color-green: #a9b665;
  --color-teal: #89b482;
  --color-blue: #7daea3;
  --color-violet: #d3869b;
  --color-purple: #d3869b;
  --color-pink: #d3869b;
  --color-brown: #e78a4e;
  --color-grey: #928374;
  /* light variants */
  --color-red-light: #ea6962;
  --color-orange-light: #e78a4e;
  --color-yellow-light: #d8a657;
  --color-olive-light: #a9b665;
  --color-green-light: #a9b665;
  --color-teal-light: #89b482;
  --color-blue-light: #7daea3;
  --color-violet-light: #d3869b;
  --color-purple-light: #d3869b;
  --color-pink-light: #d3869b;
  --color-brown-light: #e78a4e;
  --color-grey-light: #928374;
  /* other colors */
  --color-black: #3a3735;
  --color-gold: #e78a4e;
  --color-white: #282828;
  --color-diff-removed-word-bg: #7b4440;
  --color-diff-added-word-bg: #5c6646;
  --color-diff-removed-row-bg: #4c3432;
  --color-diff-moved-row-bg: #374141;
  --color-diff-added-row-bg: #3b4439;
  --color-diff-removed-row-border: #9b4f4a;
  --color-diff-moved-row-border: #5a7872;
  --color-diff-added-row-border: #727d4f;
  --color-diff-inactive: #3a3735;
  --color-error-border: #9b4f4a;
  --color-error-bg: #4c3432;
  --color-error-text: #ea6962;
  --color-success-border: #727d4f;
  --color-success-bg: #3b4439;
  --color-success-text: #a9b665;
  --color-warning-border: #947443;
  --color-warning-bg: #4f422e;
  --color-warning-text: #d8a657;
  --color-info-border: #5a7872;
  --color-info-bg: #374141;
  --color-info-text: #7daea3;
  /* target-based colors */
  --color-body: #282828;
  --color-box-header: #45403d;
  --color-box-body: #32302f;
  --color-box-body-highlight: #3a3735;
  --color-text-dark: #e78a4e;
  --color-text: #ddc7a1;
  --color-text-hover: rgba(221, 199, 161, 0.8);
  --color-text-light: #d8a657;
  --color-text-light-1: #928374;
  --color-text-light-2: #ddc7a1;
  --color-text-light-3: #928374;
  --color-footer: #32302f;
  --color-timeline: #504945;
  --color-input-text: #ddc7a1;
  --color-input-background: #282828;
  --color-input-toggle-background: #32302f;
  --color-input-border: #504945;
  --color-input-border-hover: #71665d;
  --color-navbar: #32302f;
  --color-navbar-transparent: #32302f;
  --color-light: #32302f;
  --color-light-mimic-enabled: rgba(0, 0, 0, calc(40 / 255 * 222 / 255 / var(--opacity-disabled)));
  --color-light-border: #504945;
  --color-hover: rgba(80, 73, 69, 0.5);
  --color-active: rgba(80, 73, 69, 0.5);
  --color-menu: #32302f;
  --color-card: #32302f;
  --color-markup-table-row: #45403d;
  --color-markup-code-block: #282828;
  --color-button: #45403d;
  --color-code-bg: #282828;
  --color-code-sidebar-bg: #32302f;
  --color-shadow: #00000060;
  --color-secondary-bg: #32302f;
  --color-text-focus: #fff;
  --color-expand-button: #3a3735;
  --color-placeholder-text: #928374;
  --color-editor-line-highlight: #32302f;
  --color-project-board-bg: #282828;
  --color-project-board-light-label: #a9b665;
  --color-caret: var(--color-text);
  /* should ideally be --color-text-dark, see #15651 */
  --color-reaction-bg: #ffffff12;
  --color-reaction-active-bg: var(--color-primary-alpha-40);
  --color-header-bar: #32302f;
  --color-label-active-bg: #504945;
  --color-accent: var(--color-primary-light-1);
  --color-small-accent: var(--color-primary-light-5);
  --color-active-line: #32302f;
  accent-color: var(--color-accent);
  color-scheme: dark;
}
.chroma .nx {
  color: #ddc7a1;
}
.chroma .c,
.chroma .c1,
.chroma .ch,
.chroma .cm,
.chroma .sd {
  color: #928374;
}
.chroma .k,
.chroma .kc,
.chroma .kd,
.chroma .kn,
.chroma .kp,
.chroma .kr {
  color: #ea6962;
}
.chroma .o,
.chroma .ow {
  color: #e78a4e;
}
.chroma .s,
.chroma .s1,
.chroma .s2,
.chroma .sa,
.chroma .sb,
.chroma .sc,
.chroma .sh,
.chroma .si,
.chroma .sr,
.chroma .ss,
.chroma .sx,
.chroma .nt,
.chroma .cpf {
  color: #89b482;
}
.chroma .m,
.chroma .mb,
.chroma .mf,
.chroma .mh,
.chroma .mi,
.chroma .mo,
.chroma .nl {
  color: #d3869b;
}
.chroma .kt,
.chroma .nc,
.chroma .nn,
.chroma .nv {
  color: #d8a657;
}
.chroma .nf,
.chroma .nb,
.chroma .na {
  color: #a9b665;
}
.chroma .bp,
.chroma .cp,
.chroma .ne,
.chroma .nd,
.chroma .se {
  color: #7daea3;
}
/* primary buttons */
.ui.primary.button,
.ui.primary.buttons .button {
  background: #a9b665;
  background-color: #a9b665 !important;
  color: #282828;
}
.ui.primary.button:hover,
.ui.primary.buttons .button:hover {
  background: rgba(169, 182, 101, 0.8);
  background-color: rgba(169, 182, 101, 0.8) !important;
  color: #282828;
}
/* secondary buttons */
.ui.green.buttons .button,
.ui.green.button {
  background: #a89984;
  background-color: #a89984;
  color: #282828;
}
.ui.green.buttons .button:hover,
.ui.green.button:hover {
  background: rgba(168, 153, 132, 0.8);
  background-color: rgba(168, 153, 132, 0.8);
  color: #282828;
}
/* text based buttons (purple) */
.ui.labeled.button.disabled > .button,
.ui.basic.buttons .button,
.ui.basic.button {
  color: #e78a4e;
}
.ui.labeled.button.disabled > .button:hover,
.ui.basic.buttons .button:hover,
.ui.basic.button:hover {
  color: #e78a4e;
}
/* repo title && header */
.repo-title {
  color: #e78a4e;
}
/* star number && fork number */
.repo-buttons button[disabled] ~ .label,
.repo-buttons .ui.labeled.button.disabled > .label {
  color: #a9b665;
}
.ui.basic.labels .label,
.ui.basic.label {
  color: #a9b665;
}
/* hover on commits, branch, tags in project home page */
.repository .ui.segment.sub-menu .list .item a:hover,
.ui.tabular.menu .item:hover {
  color: var(--color-text-hover);
}
/* commit label */
.ui.primary.labels .label,
.ui.ui.ui.primary.label {
  color: #282828;
}
/* issue label */
.ui.green.labels .label,
.ui.ui.ui.green.label {
  color: #282828;
}
/* grey button (rss feed button in repository home page) */
i.grey.icon.icon.icon.icon {
  color: #928374;
}
/* scroll bar */
* {
  scrollbar-color: #e78a4e transparent !important;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 6px #e78a4e !important;
  border: 2px solid transparent;
  border-radius: 5px !important;
}
::-webkit-scrollbar-thumb:window-inactive {
  box-shadow: inset 0 0 0 6px #e78a4e !important;
}
::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 0 6px #e78a4e !important;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
/* red buttons */
.ui.red.labels .label,
.ui.ui.ui.red.label,
.ui.red.button,
.ui.red.buttons .button {
  background: #ea6962;
  background-color: #ea6962;
  color: #282828;
}
.ui.red.labels .label:hover,
.ui.ui.ui.red.label:hover,
.ui.red.button:hover,
.ui.red.buttons .button:hover {
  background: rgba(234, 105, 98, 0.8);
  background-color: rgba(234, 105, 98, 0.8);
  color: #282828;
}
/* grey buttons */
.ui.grey.labels .label,
.ui.ui.ui.grey.label,
.ui.grey.button,
.ui.grey.buttons .button {
  color: #282828;
}
.ui.grey.labels .label:hover,
.ui.ui.ui.grey.label:hover,
.ui.grey.button:hover,
.ui.grey.buttons .button:hover {
  color: #282828;
}
/* orange buttons */
.ui.orange.labels .label,
.ui.ui.ui.orange.label,
.ui.orange.button,
.ui.orange.buttons .button {
  background: #e78a4e;
  background-color: #e78a4e;
  color: #282828;
}
.ui.orange.labels .label:hover,
.ui.ui.ui.orange.label:hover,
.ui.orange.button:hover,
.ui.orange.buttons .button:hover {
  background: rgba(231, 138, 78, 0.8);
  background-color: rgba(231, 138, 78, 0.8);
  color: #282828;
}
