@import "../chroma/light.css";
@import "../codemirror/light.css";

gitea-theme-meta-info {
  --theme-display-name: "Light";
}

:root {
  --is-dark-theme: false;
  --color-primary-2: #615fff;
  --color-primary-2-hover: #4f39f6;
  --color-primary-3: #615fff;
  --color-primary-3-hover: #4f39f6;
  --color-primary: #615fff;
  --color-primary-contrast: #bcc3cb;
  --color-primary-dark-1: #548fca;
  --color-primary-dark-2: #679cd0;
  --color-primary-dark-3: #7aa8d6;
  --color-primary-dark-4: #8db5dc;
  --color-primary-dark-5: #b3cde7;
  --color-primary-dark-6: #d9e6f3;
  --color-primary-dark-7: #f4f8fb;
  --color-primary-light-1: #4f39f6;
  --color-primary-light-2: #4f39f6;
  --color-primary-light-3: #432dd7;
  --color-primary-light-4: #372aac;
  --color-primary-light-5: #312c85;
  --color-primary-light-6: #1e1a4d;
  --color-primary-light-7: #04080c;
  --color-primary-external-legend-1: #4f39f6;
  --color-primary-external-legend-2: #615fff;
  --color-primary-external-legend-3: #7c86ff;
  --color-primary-external-legend-4: #a3b3ff;
  --color-primary-external-legend-5: #c6d2ff;
  --color-primary-alpha-10: #1e1a4d;
  --color-primary-alpha-20: #312c85;
  --color-primary-alpha-30: #372aac;
  --color-primary-alpha-40: #432dd7;
  --color-primary-alpha-50: #4f39f6;
  --color-primary-alpha-60: #615fff;
  --color-primary-alpha-70: #7c86ff;
  --color-primary-alpha-80: #a3b3ff;
  --color-primary-alpha-90: #c6d2ff;
  --color-primary-hover: var(--color-primary-light-1);
  --color-primary-active: var(--color-primary-light-2);
  --color-secondary: #c6c9e2;
  --color-secondary-dark-1: #414b54;
  --color-secondary-dark-2: #49545f;
  --color-secondary-dark-3: #576471;
  --color-secondary-dark-4: #677685;
  --color-secondary-dark-5: #758594;
  --color-secondary-dark-6: #8392a0;
  --color-secondary-dark-7: #929eab;
  --color-secondary-dark-8: #a2acb7;
  --color-secondary-dark-9: #a9b3bd;
  --color-secondary-dark-10: #b7bfc7;
  --color-secondary-dark-11: #c5cbd2;
  --color-secondary-dark-12: #cfd4da;
  --color-secondary-dark-13: #d2d7dc;
  --color-secondary-light-1: #313940;
  --color-secondary-light-2: #292f35;
  --color-secondary-light-3: #1d2226;
  --color-secondary-light-4: #171b1e;
  --color-secondary-alpha-10: #3b444c19;
  --color-secondary-alpha-20: #c6c9e2;
  --color-secondary-alpha-30: #3b444c4b;
  --color-secondary-alpha-40: #d0d4ed;
  --color-secondary-alpha-50: #3b444c80;
  --color-secondary-alpha-60: #d5d9f3;
  --color-secondary-alpha-70: #3b444cb3;
  --color-secondary-alpha-80: #3b444ccc;
  --color-secondary-alpha-90: #3b444ce1;
  --color-secondary-button: var(--color-secondary-dark-4);
  --color-secondary-hover: var(--color-secondary-dark-3);
  --color-secondary-active: var(--color-secondary-dark-2);
  /* console colors - used for actions console and console files */
  --color-console-fg: #abb1d3;
  --color-console-fg-subtle: #bdc4cc;
  --color-console-bg: var(--color-nav-bg);
  --color-console-border: var(--color-primary-2);
  --color-console-hover-bg: #6464ff1a;
  --color-console-active-bg: #6464ff1a;
  --color-console-menu-bg: var(--color-nav-bg);
  --color-console-menu-border: var(--color-primary-2);
  /* named colors */
  --color-red: #e24471cc; /* #cc4848 */
  --color-orange: #cc580c;
  --color-yellow: #cc9903;
  --color-olive: #91a313;
  --color-green: #50bda4; /* #73c280 */
  --color-teal: #00918a;
  --color-blue: #3a8ac6;
  --color-violet: #906ae1;
  --color-purple: #b259d0;
  --color-pink: #d22e8b;
  --color-brown: #a47252;
  --color-black: #1d2328;
  /* light variants - produced via Sass scale-color(color, $lightness: +10%) */
  --color-red-light: #e24471; /* #d15a5a */
  --color-orange-light: #f6a066;
  --color-yellow-light: #eaaf03;
  --color-olive-light: #abc016;
  --color-green-light: #93b373;
  --color-teal-light: #00b6ad;
  --color-blue-light: #4e96cc;
  --color-violet-light: #9b79e4;
  --color-purple-light: #ba6ad5;
  --color-pink-light: #d74397;
  --color-brown-light: #b08061;
  --color-black-light: #424851;
  /* dark 1 variants - produced via Sass scale-color(color, $lightness: -10%) */
  --color-red-dark-1: #e24471; /* #c23636 */
  --color-orange-dark-1: #f38236;
  --color-yellow-dark-1: #b88a03;
  --color-olive-dark-1: #839311;
  --color-green-dark-1: #7a9e55;
  --color-teal-dark-1: #00837c;
  --color-blue-dark-1: #347cb3;
  --color-violet-dark-1: #7b4edb;
  --color-purple-dark-1: #a742c9;
  --color-pink-dark-1: #be297d;
  --color-brown-dark-1: #94674a;
  --color-black-dark-1: #292e38;
  /* dark 2 variants - produced via Sass scale-color(color, $lightness: -20%) */
  --color-red-dark-2: #e24471e6; /* #ad3030 */
  --color-orange-dark-2: #f16e17;
  --color-yellow-dark-2: #a37a02;
  --color-olive-dark-2: #74820f;
  --color-green-dark-2: #6c8c4c;
  --color-teal-dark-2: #00746e;
  --color-blue-dark-2: #2e6e9f;
  --color-violet-dark-2: #6733d6;
  --color-purple-dark-2: #9834b9;
  --color-pink-dark-2: #a9246f;
  --color-brown-dark-2: #835b42;
  --color-black-dark-2: #272930;
  /* ansi colors used for actions console and console files */
  --color-ansi-black: #1e2327;
  --color-ansi-red: #cc4848;
  --color-ansi-green: #87ab63;
  --color-ansi-yellow: #cc9903;
  --color-ansi-blue: #3a8ac6;
  --color-ansi-magenta: #d22e8b;
  --color-ansi-cyan: #00918a;
  --color-ansi-white: var(--color-console-fg-subtle);
  --color-ansi-bright-black: #424851;
  --color-ansi-bright-red: #d15a5a;
  --color-ansi-bright-green: #93b373;
  --color-ansi-bright-yellow: #eaaf03;
  --color-ansi-bright-blue: #4e96cc;
  --color-ansi-bright-magenta: #d74397;
  --color-ansi-bright-cyan: #00b6ad;
  --color-ansi-bright-white: var(--color-console-fg);
  /* other colors */
  --color-grey: #384149;
  --color-grey-light: #818f9e;
  --color-gold: #b1983b;
  --color-white: #ffffff;
  --color-diff-added-linenum-bg: #759c91;
  --color-diff-added-row-bg: #83a79d;
  --color-diff-added-row-border: #506c64;
  --color-diff-added-word-bg: #96b5ac;
  --color-diff-moved-row-bg: #818044;
  --color-diff-moved-row-border: #bcca6f;
  --color-diff-removed-linenum-bg: #8e6b78;
  --color-diff-removed-row-bg: #a4808d;
  --color-diff-removed-row-border: #634343;
  --color-diff-removed-word-bg: #b794a0;
  --color-diff-inactive: #d5d9f3;
  --color-error-border: var(--color-red);
  --color-error-bg: #e244711a;
  --color-error-bg-active: var(--color-red-dark-1);
  --color-error-bg-hover: var(--color-red-dark-2);
  --color-error-text: var(--color-red-light);
  /* --color-error-border: #a04141;
  --color-error-bg: #522;
  --color-error-bg-active: #744;
  --color-error-bg-hover: #633;
  --color-error-text: #f9cbcb; */
  --color-success-border: #458a57;
  --color-success-bg: #284034;
  --color-success-text: #6cc664;
  /* --color-success-border: #50bda4;
  --color-success-bg: #50bda41a;
  --color-success-text: #50bda4cc; */
  --color-warning-border: #bb9d00;
  --color-warning-bg: #3a3a30;
  --color-warning-text: #fbbd08;
  --color-info-border: #306090;
  --color-info-bg: #26354c;
  --color-info-text: #38a8e8;
  --color-red-badge: #db2828;
  --color-red-badge-bg: #db28281a;
  --color-red-badge-hover-bg: #db28284d;
  --color-green-badge: #21ba45;
  --color-green-badge-bg: #21ba451a;
  --color-green-badge-hover-bg: #21ba454d;
  --color-yellow-badge: #fbbd08;
  --color-yellow-badge-bg: #fbbd081a;
  --color-yellow-badge-hover-bg: #fbbd084d;
  --color-orange-badge: #f2711c;
  --color-orange-badge-bg: #f2711c1a;
  --color-orange-badge-hover-bg: #f2711c4d;
  --color-git: #f05133;
  --color-logo: #609926;
  /* target-based colors */
  --color-body: #e9edfd;
  --color-box-header: #d5d9f3;
  --color-box-body: #e9edfd;
  --color-box-body-highlight: #abb1d3;
  --color-text-dark: #25283a;
  --color-text: #2c3752;
  --color-text-light: #364363;
  --color-text-light-1: #7b82a6;
  --color-text-light-2: #3e4c70;
  --color-text-light-3: #8d94bb;
  --color-footer: var(--color-nav-bg);
  --color-timeline: #343c44;
  --color-input-text: var(--color-text-dark);
  --color-input-background: #e9edfd;
  --color-input-toggle-background: #d5d9f3;
  --color-input-border: var(--color-secondary);
  --color-input-border-hover: var(--color-secondary-dark-1);
  --color-light: #e2e6f6;
  --color-hover-table: #d5d9f3;
  --color-light-mimic-enabled: rgba(
    0,
    0,
    0,
    calc(40 / 255 * 222 / 255 / var(--opacity-disabled))
  );
  --color-light-border: var(--color-primary);
  --color-hover: #d5d9f3;
  --color-hover-opaque: #d5d9f3; /* TODO: color-mix(in srgb, var(--color-body), var(--color-hover)); */
  --color-active: #d5d9f3;
  --color-menu: #e9edfd;
  --color-card: #e9edfd;
  --color-markup-table-row: #e2447180;
  --color-markup-code-block: #d5d9f3;
  --color-markup-code-inline: #d5d9f3;
  --color-milk-text: #abb1d3;
  --color-button: #abb1d3;
  --color-code-bg: #d5d9f3;
  --color-shadow: #6464ff4d;
  --color-shadow-opaque: #6464ff4d;
  --color-secondary-bg: #e9edfd;
  --color-expand-button: #6464ff1a;
  --color-placeholder-text: var(--color-text-light-1);
  --color-editor-line-highlight: #d0d4ee;
  --color-project-column-bg: #6464ff1a;
  --color-caret: var(
    --color-text
  ); /* should ideally be --color-text-dark, see #15651 */
  --color-reaction-bg: #e9edfd;
  --color-reaction-hover-bg: var(--color-primary-light-4);
  --color-reaction-active-bg: var(--color-primary-light-5);
  --color-tooltip-text: var(--color-primary-alpha-20);
  --color-tooltip-bg: #e9edfd;
  --color-nav-bg: #d5d9f3;
  --color-nav-hover-bg: #d5d9f3;
  --color-nav-text: var(--color-text);
  --color-secondary-nav-bg: #e9edfd;
  --color-label-text: var(--color-primary-alpha-20);
  --color-label-bg: #c6d2ff;
  --color-label-hover-bg: #a3b3ff;
  --color-label-active-bg: #a3b3ff;
  --color-accent: var(--color-primary-light-1);
  --color-small-accent: var(--color-primary-light-5);
  --color-highlight-fg: #87651e;
  --color-highlight-bg: #e9edfd;
  --color-overlay-backdrop: #e9edfd;
  accent-color: var(--color-accent);
  color-scheme: light;
}
