:root {
  --is-dark-theme: true;
  --color-primary: #6c782e;
  --color-primary-contrast: #fbf1c7;
  --color-primary-dark-1: #6c782e;
  --color-primary-dark-2: #6b702f;
  --color-primary-dark-3: #6a6830;
  --color-primary-dark-4: #696032;
  --color-primary-dark-5: #675733;
  --color-primary-dark-6: #664f34;
  --color-primary-dark-7: #654735;
  --color-primary-light-1: #6c782e;
  --color-primary-light-2: #828a46;
  --color-primary-light-3: #999c5d;
  --color-primary-light-4: #afaf75;
  --color-primary-light-5: #c5c18d;
  --color-primary-light-6: #dcd3a4;
  --color-primary-light-7: #f2e5bc;
  --color-primary-alpha-10: rgba(108, 120, 46, 0.1);
  --color-primary-alpha-20: rgba(108, 120, 46, 0.2);
  --color-primary-alpha-30: rgba(108, 120, 46, 0.3);
  --color-primary-alpha-40: rgba(108, 120, 46, 0.4);
  --color-primary-alpha-50: rgba(108, 120, 46, 0.5);
  --color-primary-alpha-60: rgba(108, 120, 46, 0.6);
  --color-primary-alpha-70: rgba(108, 120, 46, 0.7);
  --color-primary-alpha-80: rgba(108, 120, 46, 0.8);
  --color-primary-alpha-90: rgba(108, 120, 46, 0.9);
  --color-secondary: #e5d5ad;
  --color-secondary-dark-1: #e5d5ad;
  --color-secondary-dark-2: #dac9a3;
  --color-secondary-dark-3: #d0bd99;
  --color-secondary-dark-4: #c5b28f;
  --color-secondary-dark-5: #baa685;
  --color-secondary-dark-6: #b09a7b;
  --color-secondary-dark-7: #a58e71;
  --color-secondary-dark-8: #9a8267;
  --color-secondary-dark-9: #90765d;
  --color-secondary-dark-10: #856b53;
  --color-secondary-dark-11: #7a5f49;
  --color-secondary-dark-12: #70533f;
  --color-secondary-dark-13: #654735;
  --color-secondary-light-1: #e5d5ad;
  --color-secondary-light-2: #eee0b7;
  --color-secondary-light-3: #f2e5bc;
  --color-secondary-light-4: #f4e8be;
  --color-secondary-alpha-10: rgba(229, 213, 173, 0.1);
  --color-secondary-alpha-20: rgba(229, 213, 173, 0.2);
  --color-secondary-alpha-30: rgba(229, 213, 173, 0.3);
  --color-secondary-alpha-40: rgba(229, 213, 173, 0.4);
  --color-secondary-alpha-50: rgba(229, 213, 173, 0.5);
  --color-secondary-alpha-60: rgba(229, 213, 173, 0.6);
  --color-secondary-alpha-70: rgba(229, 213, 173, 0.7);
  --color-secondary-alpha-80: rgba(229, 213, 173, 0.8);
  --color-secondary-alpha-90: rgba(229, 213, 173, 0.9);
  /* colors */
  --color-red: #c14a4a;
  --color-orange: #c35e0a;
  --color-yellow: #b47109;
  --color-olive: #6c782e;
  --color-green: #6c782e;
  --color-teal: #4c7a5d;
  --color-blue: #45707a;
  --color-violet: #945e80;
  --color-purple: #945e80;
  --color-pink: #945e80;
  --color-brown: #c35e0a;
  --color-grey: #928374;
  /* light variants */
  --color-red-light: #c14a4a;
  --color-orange-light: #c35e0a;
  --color-yellow-light: #b47109;
  --color-olive-light: #6c782e;
  --color-green-light: #6c782e;
  --color-teal-light: #4c7a5d;
  --color-blue-light: #45707a;
  --color-violet-light: #945e80;
  --color-purple-light: #945e80;
  --color-pink-light: #945e80;
  --color-brown-light: #c35e0a;
  --color-grey-light: #928374;
  /* other colors */
  --color-black: #f2e5bc;
  --color-gold: #c35e0a;
  --color-white: #fbf1c7;
  --color-diff-removed-word-bg: #e3ae95;
  --color-diff-added-word-bg: #bcc28d;
  --color-diff-removed-row-bg: #f1d9b5;
  --color-diff-moved-row-bg: #dadec0;
  --color-diff-added-row-bg: #dee2b6;
  --color-diff-removed-row-border: #d99280;
  --color-diff-moved-row-border: #90a79d;
  --color-diff-added-row-border: #a5ad72;
  --color-diff-inactive: #f2e5bc;
  --color-error-border: #d99280;
  --color-error-bg: #f1d9b5;
  --color-error-text: #c14a4a;
  --color-success-border: #a5ad72;
  --color-success-bg: #dee2b6;
  --color-success-text: #6c782e;
  --color-warning-border: #d7ac5e;
  --color-warning-bg: #fae7b3;
  --color-warning-text: #b47109;
  --color-info-border: #90a79d;
  --color-info-bg: #dadec0;
  --color-info-text: #45707a;
  /* target-based colors */
  --color-body: #fbf1c7;
  --color-box-header: #eee0b7;
  --color-box-body: #f4e8be;
  --color-box-body-highlight: #f2e5bc;
  --color-text-dark: #c35e0a;
  --color-text: #654735;
  --color-text-hover: rgba(101, 71, 53, 0.8);
  --color-text-light: #b47109;
  --color-text-light-1: #928374;
  --color-text-light-2: #654735;
  --color-text-light-3: #928374;
  --color-footer: #f4e8be;
  --color-timeline: #e5d5ad;
  --color-input-text: #654735;
  --color-input-background: #fbf1c7;
  --color-input-toggle-background: #f4e8be;
  --color-input-border: #e5d5ad;
  --color-input-border-hover: #bcac91;
  --color-navbar: #f4e8be;
  --color-navbar-transparent: #f4e8be;
  --color-light: #f4e8be;
  --color-light-mimic-enabled: rgba(0, 0, 0, calc(40 / 255 * 222 / 255 / var(--opacity-disabled)));
  --color-light-border: #e5d5ad;
  --color-hover: rgba(229, 213, 173, 0.5);
  --color-active: rgba(229, 213, 173, 0.5);
  --color-menu: #f4e8be;
  --color-card: #f4e8be;
  --color-markup-table-row: #eee0b7;
  --color-markup-code-block: #fbf1c7;
  --color-button: #eee0b7;
  --color-code-bg: #fbf1c7;
  --color-code-sidebar-bg: #f4e8be;
  --color-shadow: #00000060;
  --color-secondary-bg: #f4e8be;
  --color-text-focus: #fff;
  --color-expand-button: #f2e5bc;
  --color-placeholder-text: #928374;
  --color-editor-line-highlight: #f4e8be;
  --color-project-board-bg: #fbf1c7;
  --color-project-board-light-label: #6c782e;
  --color-caret: var(--color-text);
  /* should ideally be --color-text-dark, see #15651 */
  --color-reaction-bg: #ffffff12;
  --color-reaction-active-bg: var(--color-primary-alpha-40);
  --color-header-bar: #f4e8be;
  --color-label-active-bg: #e5d5ad;
  --color-accent: var(--color-primary-light-1);
  --color-small-accent: var(--color-primary-light-5);
  --color-active-line: #f4e8be;
  accent-color: var(--color-accent);
  color-scheme: dark;
}
.chroma .nx {
  color: #654735;
}
.chroma .c,
.chroma .c1,
.chroma .ch,
.chroma .cm,
.chroma .sd {
  color: #928374;
}
.chroma .k,
.chroma .kc,
.chroma .kd,
.chroma .kn,
.chroma .kp,
.chroma .kr {
  color: #c14a4a;
}
.chroma .o,
.chroma .ow {
  color: #c35e0a;
}
.chroma .s,
.chroma .s1,
.chroma .s2,
.chroma .sa,
.chroma .sb,
.chroma .sc,
.chroma .sh,
.chroma .si,
.chroma .sr,
.chroma .ss,
.chroma .sx,
.chroma .nt,
.chroma .cpf {
  color: #4c7a5d;
}
.chroma .m,
.chroma .mb,
.chroma .mf,
.chroma .mh,
.chroma .mi,
.chroma .mo,
.chroma .nl {
  color: #945e80;
}
.chroma .kt,
.chroma .nc,
.chroma .nn,
.chroma .nv {
  color: #b47109;
}
.chroma .nf,
.chroma .nb,
.chroma .na {
  color: #6c782e;
}
.chroma .bp,
.chroma .cp,
.chroma .ne,
.chroma .nd,
.chroma .se {
  color: #45707a;
}
/* primary buttons */
.ui.primary.button,
.ui.primary.buttons .button {
  background: #6f8352;
  background-color: #6f8352 !important;
  color: #fbf1c7;
}
.ui.primary.button:hover,
.ui.primary.buttons .button:hover {
  background: rgba(111, 131, 82, 0.8);
  background-color: rgba(111, 131, 82, 0.8) !important;
  color: #fbf1c7;
}
/* secondary buttons */
.ui.green.buttons .button,
.ui.green.button {
  background: #7c6f64;
  background-color: #7c6f64;
  color: #fbf1c7;
}
.ui.green.buttons .button:hover,
.ui.green.button:hover {
  background: rgba(124, 111, 100, 0.8);
  background-color: rgba(124, 111, 100, 0.8);
  color: #fbf1c7;
}
/* text based buttons (purple) */
.ui.labeled.button.disabled > .button,
.ui.basic.buttons .button,
.ui.basic.button {
  color: #c35e0a;
}
.ui.labeled.button.disabled > .button:hover,
.ui.basic.buttons .button:hover,
.ui.basic.button:hover {
  color: #c35e0a;
}
/* repo title && header */
.repo-title {
  color: #c35e0a;
}
/* star number && fork number */
.repo-buttons button[disabled] ~ .label,
.repo-buttons .ui.labeled.button.disabled > .label {
  color: #6c782e;
}
.ui.basic.labels .label,
.ui.basic.label {
  color: #6c782e;
}
/* hover on commits, branch, tags in project home page */
.repository .ui.segment.sub-menu .list .item a:hover,
.ui.tabular.menu .item:hover {
  color: var(--color-text-hover);
}
/* commit label */
.ui.primary.labels .label,
.ui.ui.ui.primary.label {
  color: #fbf1c7;
}
/* issue label */
.ui.green.labels .label,
.ui.ui.ui.green.label {
  color: #fbf1c7;
}
/* grey button (rss feed button in repository home page) */
i.grey.icon.icon.icon.icon {
  color: #928374;
}
/* scroll bar */
* {
  scrollbar-color: #c35e0a transparent !important;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 6px #c35e0a !important;
  border: 2px solid transparent;
  border-radius: 5px !important;
}
::-webkit-scrollbar-thumb:window-inactive {
  box-shadow: inset 0 0 0 6px #c35e0a !important;
}
::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 0 6px #c35e0a !important;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
/* red buttons */
.ui.red.labels .label,
.ui.ui.ui.red.label,
.ui.red.button,
.ui.red.buttons .button {
  background: #ae5858;
  background-color: #ae5858;
  color: #fbf1c7;
}
.ui.red.labels .label:hover,
.ui.ui.ui.red.label:hover,
.ui.red.button:hover,
.ui.red.buttons .button:hover {
  background: rgba(174, 88, 88, 0.8);
  background-color: rgba(174, 88, 88, 0.8);
  color: #fbf1c7;
}
/* grey buttons */
.ui.grey.labels .label,
.ui.ui.ui.grey.label,
.ui.grey.button,
.ui.grey.buttons .button {
  color: #fbf1c7;
}
.ui.grey.labels .label:hover,
.ui.ui.ui.grey.label:hover,
.ui.grey.button:hover,
.ui.grey.buttons .button:hover {
  color: #fbf1c7;
}
/* orange buttons */
.ui.orange.labels .label,
.ui.ui.ui.orange.label,
.ui.orange.button,
.ui.orange.buttons .button {
  background: #c35e0a;
  background-color: #c35e0a;
  color: #fbf1c7;
}
.ui.orange.labels .label:hover,
.ui.ui.ui.orange.label:hover,
.ui.orange.button:hover,
.ui.orange.buttons .button:hover {
  background: rgba(195, 94, 10, 0.8);
  background-color: rgba(195, 94, 10, 0.8);
  color: #fbf1c7;
}
