@import "./theme-gitea-dark.css";

gitea-theme-meta-info {
  --theme-display-name: "Dark";
  --theme-colorblind-type: "blue-yellow";
  --theme-color-scheme: "dark";
}

/* blue/yellow colorblind-friendly colors */
:root {
  --color-diff-added-fg: #58a6ff;
  --color-diff-added-linenum-bg: #243d5d;
  --color-diff-added-row-bg: #132339;
  --color-diff-added-word-bg: #214d87;
}
