@import "../chroma/dark.css";
@import "../codemirror/dark.css";

:root {
  --is-dark-theme: true;
  --color-primary: #4183c4;
  --color-primary-contrast: #ffffff;
  --color-primary-dark-1: #548fca;
  --color-primary-dark-2: #679cd0;
  --color-primary-dark-3: #7aa8d6;
  --color-primary-dark-4: #8db5dc;
  --color-primary-dark-5: #b3cde7;
  --color-primary-dark-6: #d9e6f3;
  --color-primary-dark-7: #f4f8fb;
  --color-primary-light-1: #3876b3;
  --color-primary-light-2: #31699f;
  --color-primary-light-3: #2b5c8b;
  --color-primary-light-4: #254f77;
  --color-primary-light-5: #193450;
  --color-primary-light-6: #0c1a28;
  --color-primary-light-7: #04080c;
  --color-primary-alpha-10: #4183c419;
  --color-primary-alpha-20: #4183c433;
  --color-primary-alpha-30: #4183c44b;
  --color-primary-alpha-40: #4183c466;
  --color-primary-alpha-50: #4183c480;
  --color-primary-alpha-60: #4183c499;
  --color-primary-alpha-70: #4183c4b3;
  --color-primary-alpha-80: #4183c4cc;
  --color-primary-alpha-90: #4183c4e1;
  --color-primary-hover: var(--color-primary-light-1);
  --color-primary-active: var(--color-primary-light-2);
  --color-secondary: #3d4348;
  --color-secondary-dark-1: #444a4f;
  --color-secondary-dark-2: #4e5358;
  --color-secondary-dark-3: #5d6368;
  --color-secondary-dark-4: #70767c;
  --color-secondary-dark-5: #7d848a;
  --color-secondary-dark-6: #8b9299;
  --color-secondary-dark-7: #979ea5;
  --color-secondary-dark-8: #a4abb1;
  --color-secondary-dark-9: #acb3ba;
  --color-secondary-dark-10: #b8bfc6;
  --color-secondary-dark-11: #c3cbd2;
  --color-secondary-dark-12: #ccd4dc;
  --color-secondary-dark-13: #cfd7df;
  --color-secondary-light-1: #2f353a;
  --color-secondary-light-2: #252b30;
  --color-secondary-light-3: #1c2227;
  --color-secondary-light-4: #161b20;
  --color-secondary-alpha-10: #3d434819;
  --color-secondary-alpha-20: #3d434833;
  --color-secondary-alpha-30: #3d43484b;
  --color-secondary-alpha-40: #3d434866;
  --color-secondary-alpha-50: #3d434880;
  --color-secondary-alpha-60: #3d434899;
  --color-secondary-alpha-70: #3d4348b3;
  --color-secondary-alpha-80: #3d4348cc;
  --color-secondary-alpha-90: #3d4348e1;
  --color-secondary-button: var(--color-secondary-dark-4);
  --color-secondary-hover: var(--color-secondary-dark-3);
  --color-secondary-active: var(--color-secondary-dark-2);
  /* console colors - used for actions console and console files */
  --color-console-fg: #ccd4dc;
  --color-console-fg-subtle: #7d848a;
  --color-console-bg: #1a2025;
  --color-console-border: #252b30;
  --color-console-hover-bg: #ffffff16;
  --color-console-active-bg: #2f353a;
  --color-console-menu-bg: #252b30;
  --color-console-menu-border: #444a4f;
  /* named colors */
  --color-red: #cc4848;
  --color-orange: #cc580c;
  --color-yellow: #cc9903;
  --color-olive: #91a313;
  --color-green: #87ab63;
  --color-teal: #00918a;
  --color-blue: #3a8ac6;
  --color-violet: #906ae1;
  --color-purple: #b259d0;
  --color-pink: #d22e8b;
  --color-brown: #a47252;
  --color-black: #1d2328;
  /* light variants - produced via Sass scale-color(color, $lightness: +10%) */
  --color-red-light: #d15a5a;
  --color-orange-light: #f6a066;
  --color-yellow-light: #eaaf03;
  --color-olive-light: #abc016;
  --color-green-light: #93b373;
  --color-teal-light: #00b6ad;
  --color-blue-light: #4e96cc;
  --color-violet-light: #9b79e4;
  --color-purple-light: #ba6ad5;
  --color-pink-light: #d74397;
  --color-brown-light: #b08061;
  --color-black-light: #45484f;
  /* dark 1 variants - produced via Sass scale-color(color, $lightness: -10%) */
  --color-red-dark-1: #c23636;
  --color-orange-dark-1: #f38236;
  --color-yellow-dark-1: #b88a03;
  --color-olive-dark-1: #839311;
  --color-green-dark-1: #7a9e55;
  --color-teal-dark-1: #00837c;
  --color-blue-dark-1: #347cb3;
  --color-violet-dark-1: #7b4edb;
  --color-purple-dark-1: #a742c9;
  --color-pink-dark-1: #be297d;
  --color-brown-dark-1: #94674a;
  --color-black-dark-1: #2a2e37;
  /* dark 2 variants - produced via Sass scale-color(color, $lightness: -20%) */
  --color-red-dark-2: #ad3030;
  --color-orange-dark-2: #f16e17;
  --color-yellow-dark-2: #a37a02;
  --color-olive-dark-2: #74820f;
  --color-green-dark-2: #6c8c4c;
  --color-teal-dark-2: #00746e;
  --color-blue-dark-2: #2e6e9f;
  --color-violet-dark-2: #6733d6;
  --color-purple-dark-2: #9834b9;
  --color-pink-dark-2: #a9246f;
  --color-brown-dark-2: #835b42;
  --color-black-dark-2: #282a2f;
  /* ansi colors used for actions console and console files */
  --color-ansi-black: var(--color-black);
  --color-ansi-red: var(--color-red);
  --color-ansi-green: var(--color-green);
  --color-ansi-yellow: var(--color-yellow);
  --color-ansi-blue: var(--color-blue);
  --color-ansi-magenta: var(--color-pink);
  --color-ansi-cyan: var(--color-teal);
  --color-ansi-white: var(--color-console-fg-subtle);
  --color-ansi-bright-black: var(--color-black-light);
  --color-ansi-bright-red: var(--color-red-light);
  --color-ansi-bright-green: var(--color-green-light);
  --color-ansi-bright-yellow: var(--color-yellow-light);
  --color-ansi-bright-blue: var(--color-blue-light);
  --color-ansi-bright-magenta: var(--color-pink-light);
  --color-ansi-bright-cyan: var(--color-teal-light);
  --color-ansi-bright-white: var(--color-console-fg);
  /* other colors */
  --color-grey: #3a4045;
  --color-grey-light: #878e94;
  --color-gold: #b1983b;
  --color-white: #ffffff;
  --color-diff-removed-word-bg: #6f3333;
  --color-diff-added-word-bg: #3c653c;
  --color-diff-removed-row-bg: #3c2626;
  --color-diff-moved-row-bg: #818044;
  --color-diff-added-row-bg: #283e2d;
  --color-diff-removed-row-border: #634343;
  --color-diff-moved-row-border: #bcca6f;
  --color-diff-added-row-border: #314a37;
  --color-diff-inactive: #22282d;
  --color-error-border: #a04141;
  --color-error-bg: #522;
  --color-error-bg-active: #744;
  --color-error-bg-hover: #633;
  --color-error-text: #f9cbcb;
  --color-success-border: #458a57;
  --color-success-bg: #284034;
  --color-success-text: #6cc664;
  --color-warning-border: #bb9d00;
  --color-warning-bg: #3a3a30;
  --color-warning-text: #fbbd08;
  --color-info-border: #306090;
  --color-info-bg: #26354c;
  --color-info-text: #38a8e8;
  --color-red-badge: #db2828;
  --color-red-badge-bg: #db28281a;
  --color-red-badge-hover-bg: #db28284d;
  --color-green-badge: #21ba45;
  --color-green-badge-bg: #21ba451a;
  --color-green-badge-hover-bg: #21ba454d;
  --color-yellow-badge: #fbbd08;
  --color-yellow-badge-bg: #fbbd081a;
  --color-yellow-badge-hover-bg: #fbbd084d;
  --color-orange-badge: #f2711c;
  --color-orange-badge-bg: #f2711c1a;
  --color-orange-badge-hover-bg: #f2711c4d;
  --color-git: #f05133;
  /* target-based colors */
  --color-body: #1d2328;
  --color-box-header: #1e2429;
  --color-box-body: #171d22;
  --color-box-body-highlight: #1b2126;
  --color-text-dark: #bdc5cc;
  --color-text: #b2b9c0;
  --color-text-light: #9ea5ab;
  --color-text-light-1: #91989f;
  --color-text-light-2: #838a90;
  --color-text-light-3: #757b81;
  --color-footer: #191f24;
  --color-timeline: #363c41;
  --color-input-text: #c0c8cf;
  --color-input-background: #151a1f;
  --color-input-toggle-background: #2f353a;
  --color-input-border: var(--color-secondary);
  --color-input-border-hover: var(--color-secondary-dark-1);
  --color-header-wrapper: #171d22;
  --color-light: #00000028;
  --color-light-mimic-enabled: rgba(0, 0, 0, calc(40 / 255 * 222 / 255 / var(--opacity-disabled)));
  --color-light-border: #ffffff28;
  --color-hover: #ffffff19;
  --color-active: #ffffff24;
  --color-menu: #151a1f;
  --color-card: #151a1f;
  --color-markup-table-row: #ffffff06;
  --color-markup-code-block: #ffffff16;
  --color-button: #151a1f;
  --color-code-bg: #171d22;
  --color-code-sidebar-bg: #191f24;
  --color-shadow: #00000058;
  --color-secondary-bg: #2e3036;
  --color-expand-button: #404249;
  --color-placeholder-text: #757b81;
  --color-editor-line-highlight: var(--color-primary-light-5);
  --color-project-board-bg: var(--color-secondary-light-2);
  --color-project-board-dark-label: #111111;
  --color-project-board-light-label: #eeeeee;
  --color-caret: var(--color-text); /* should ideally be --color-text-dark, see #15651 */
  --color-reaction-bg: #ffffff12;
  --color-reaction-hover-bg: var(--color-primary-light-4);
  --color-reaction-active-bg: var(--color-primary-light-5);
  --color-tooltip-text: #ffffff;
  --color-tooltip-bg: #000000f0;
  --color-nav-bg: #191f24;
  --color-nav-hover-bg: #252b30;
  --color-nav-text: var(--color-text);
  --color-label-text: #c0c8cf;
  --color-label-bg: #5d63684b;
  --color-label-hover-bg: #5d6368a0;
  --color-label-active-bg: #5d6368ff;
  --color-accent: var(--color-primary-light-1);
  --color-small-accent: var(--color-primary-light-5);
  --color-active-line: #534d1b;
  --color-overlay-backdrop: #080808c0;
  accent-color: var(--color-accent);
  color-scheme: dark;
}

/* invert emojis that are hard to read otherwise */
.emoji[aria-label="check mark"],
.emoji[aria-label="currency exchange"],
.emoji[aria-label="TOP arrow"],
.emoji[aria-label="END arrow"],
.emoji[aria-label="ON! arrow"],
.emoji[aria-label="SOON arrow"],
.emoji[aria-label="heavy dollar sign"],
.emoji[aria-label="copyright"],
.emoji[aria-label="registered"],
.emoji[aria-label="trade mark"],
.emoji[aria-label="multiply"],
.emoji[aria-label="plus"],
.emoji[aria-label="minus"],
.emoji[aria-label="divide"],
.emoji[aria-label="curly loop"],
.emoji[aria-label="double curly loop"],
.emoji[aria-label="wavy dash"],
.emoji[aria-label="paw prints"],
.emoji[aria-label="musical note"],
.emoji[aria-label="musical notes"] {
  filter: invert(100%) hue-rotate(180deg);
}
