{{template "base/alert" .}}
<form class="ui form ignore-dirty">
	<div class="ui fluid action input">
		{{template "shared/searchinput" dict "Value" .Query "AutoFocus" true}}
		<select class="ui dropdown" name="type">
			<option value="">{{ctx.Locale.Tr "packages.filter.type"}}</option>
			<option value="all">{{ctx.Locale.Tr "packages.filter.type.all"}}</option>
			{{range $type := .AvailableTypes}}
			<option{{if eq $.PackageType $type}} selected="selected"{{end}} value="{{$type}}">{{$type.Name}}</option>
			{{end}}
		</select>
		<button class="ui primary button">{{ctx.Locale.Tr "explore.search"}}</button>
	</div>
</form>
<div>
	{{range .PackageDescriptors}}
	<div class="flex-list">
		<div class="flex-item">
			<div class="flex-item-main">
				<div class="flex-item-title">
					<a href="{{.FullWebLink}}">{{.Package.Name}}</a>
					<span class="ui label">{{svg .Package.Type.SVGName 16}} {{.Package.Type.Name}}</span>
				</div>
				<div class="flex-item-body">
					{{$timeStr := TimeSinceUnix .Version.CreatedUnix ctx.Locale}}
					{{$hasRepositoryAccess := false}}
					{{if .Repository}}
						{{$hasRepositoryAccess = index $.RepositoryAccessMap .Repository.ID}}
					{{end}}
					{{if $hasRepositoryAccess}}
						{{ctx.Locale.Tr "packages.published_by_in" $timeStr .Creator.HomeLink (.Creator.GetDisplayName | Escape) .Repository.Link (.Repository.FullName | Escape) | Safe}}
					{{else}}
						{{ctx.Locale.Tr "packages.published_by" $timeStr .Creator.HomeLink (.Creator.GetDisplayName | Escape) | Safe}}
					{{end}}
				</div>
			</div>
		</div>
	</div>
	{{else}}
		{{if not .HasPackages}}
			<div class="empty-placeholder">
				{{svg "octicon-package" 48}}
				<h2>{{ctx.Locale.Tr "packages.empty"}}</h2>
				{{if and .Repository .CanWritePackages}}
					{{$packagesUrl := URLJoin .Owner.HomeLink "-" "packages"}}
					<p>{{ctx.Locale.Tr "packages.empty.repo" $packagesUrl | Safe}}</p>
				{{end}}
				<p>{{ctx.Locale.Tr "packages.empty.documentation" "https://docs.gitea.com/usage/packages/overview/" | Safe}}</p>
			</div>
		{{else}}
			<p class="gt-py-4">{{ctx.Locale.Tr "packages.filter.no_result"}}</p>
		{{end}}
	{{end}}
	{{template "base/paginate" .}}
</div>
