<div class="ui container">
	<p><a href="{{.PackageDescriptor.PackageWebLink}}">{{.PackageDescriptor.Package.Name}}</a> / <strong>{{.locale.Tr "packages.versions"}}</strong></p>
	<form class="ui form ignore-dirty">
		<div class="ui fluid action input">
			{{template "shared/searchinput" dict "locale" .locale "Value" .Query "AutoFocus" true}}
			<select class="ui dropdown" name="sort">
				<option value="version_asc"{{if eq .Sort "version_asc"}} selected="selected"{{end}}>{{.locale.Tr "filter.string.asc"}}</option>
				<option value="version_desc"{{if eq .Sort "version_desc"}} selected="selected"{{end}}>{{.locale.Tr "filter.string.desc"}}</option>
				<option value="created_asc"{{if eq .Sort "created_asc"}} selected="selected"{{end}}>{{.locale.Tr "repo.issues.filter_sort.oldest"}}</option>
				<option value="created_desc"{{if or (eq .Sort "") (eq .Sort "created_desc")}} selected="selected"{{end}}>{{.locale.Tr "repo.issues.filter_sort.latest"}}</option>
			</select>
			{{if eq .PackageDescriptor.Package.Type "container"}}
			<select class="ui dropdown" name="tagged">
				{{$isTagged := or (eq .Tagged "") (eq .Tagged "tagged")}}
				<option value="tagged"{{if $isTagged}} selected="selected"{{end}}>{{.locale.Tr "packages.filter.container.tagged"}}</option>
				<option value="untagged"{{if not $isTagged}} selected="selected"{{end}}>{{.locale.Tr "packages.filter.container.untagged"}}</option>
			</select>
			{{end}}
			<button class="ui primary button">{{.locale.Tr "explore.search"}}</button>
		</div>
	</form>
	<div class="ui {{if .PackageDescriptors}}issue list{{end}}">
		{{range .PackageDescriptors}}
			<li class="item gt-df gt-py-3">
				<div class="issue-item-main">
					<div class="issue-item-top-row">
						<a class="title" href="{{.FullWebLink}}">{{.Version.LowerVersion}}</a>
					</div>
					<div class="desc issue-item-bottom-row">
						{{$.locale.Tr "packages.published_by" (TimeSinceUnix .Version.CreatedUnix $.locale) .Creator.HomeLink (.Creator.GetDisplayName | Escape) | Safe}}
					</div>
				</div>
			</li>
		{{else}}
			<p>{{.locale.Tr "packages.filter.no_result"}}</p>
		{{end}}
		{{template "base/paginate" .}}
	</div>
</div>
