{{if .Package.IsInternal}}
	<span class="ui basic label">{{ctx.Locale.Tr "repo.desc.internal"}}</span>
{{else if .Owner.Visibility.IsPrivate}}
	<span class="ui basic label">{{ctx.Locale.Tr "repo.desc.private"}}</span>
{{else if .Owner.Visibility.IsLimited}}
	<span class="ui basic label">{{ctx.Locale.Tr "repo.desc.internal"}}</span>
{{end}}
