{{if .HeatmapData}}
	<div id="user-heatmap" class="is-loading"
		data-heatmap-data="{{JsonUtils.EncodeToString .HeatmapData}}"
		data-locale-total-contributions="{{$.locale.Tr "heatmap.number_of_contributions_in_the_last_12_months" ($.locale.PrettyNumber .HeatmapTotalContributions)}}"
		data-locale-no-contributions="{{.locale.Tr "heatmap.no_contributions"}}"
		data-locale-more="{{.locale.Tr "heatmap.more"}}"
		data-locale-less="{{.locale.Tr "heatmap.less"}}"
	></div>
	<div class="divider"></div>
{{end}}
