{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content user profile">
	<div class="ui container">
		<div class="ui stackable grid">
			<div class="ui four wide column">
				{{template "shared/user/profile_big_avatar" .}}
			</div>
			<div class="ui twelve wide column tw-mb-4">
				{{template "user/overview/header" .}}
				{{if eq .TabName "activity"}}
					{{if .ContextUser.KeepActivityPrivate}}
						<div class="ui info message">
							<p>{{ctx.Locale.Tr "user.disabled_public_activity"}}</p>
						</div>
					{{end}}
					{{template "user/heatmap" .}}
					{{template "user/dashboard/feeds" .}}
				{{else if eq .TabName "stars"}}
					<div class="stars">
						{{template "shared/repo_search" .}}
						{{template "explore/repo_list" .}}
						{{template "base/paginate" .}}
					</div>
				{{else if eq .TabName "following"}}
					{{template "repo/user_cards" .}}
				{{else if eq .TabName "followers"}}
					{{template "repo/user_cards" .}}
				{{else if eq .TabName "overview"}}
					<div id="readme_profile" class="markup">{{.ProfileReadmeContent}}</div>
				{{else if eq .TabName "organizations"}}
					{{template "repo/user_cards" .}}
				{{else}}
					{{template "shared/repo_search" .}}
					{{template "explore/repo_list" .}}
					{{template "base/paginate" .}}
				{{end}}
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
