{{template "base/head" .}}
<div class="user profile">
	<div class="ui container">
		<div class="ui stackable grid">
			<div class="ui five wide column">
				<div class="ui card">
					{{if eq .SignedUserName .Owner.Name}}
						<a class="image poping up" href="{{AppSubUrl}}/user/settings" id="profile-avatar" data-content="{{.i18n.Tr "user.change_avatar"}}" data-variation="inverted tiny" data-position="bottom center">
							<img src="{{.Owner.SizedRelAvatarLink 290}}" title="{{.Owner.Name}}"/>
						</a>
					{{else}}
						<span class="image">
							<img src="{{.Owner.SizedRelAvatarLink 290}}" title="{{.Owner.Name}}"/>
						</span>
					{{end}}
					<div class="content wrap">
						{{if .Owner.FullName}}<span class="header text center">{{.Owner.FullName}}</span>{{end}}
						<span class="username text center">{{.Owner.Name}}</span>
					</div>
					<div class="extra content wrap">
						<ul class="text black">
							{{if .Owner.Location}}
								<li><i class="octicon octicon-location"></i> {{.Owner.Location}}</li>
							{{end}}
							{{if .ShowUserEmail }}
								<li>
									<i class="octicon octicon-mail"></i>
									<a href="mailto:{{.Owner.Email}}" rel="nofollow">{{.Owner.Email}}</a>
								</li>
							{{end}}
							{{if .Owner.Website}}
								<li>
									<i class="octicon octicon-link"></i>
									<a target="_blank" rel="noopener noreferrer me" href="{{.Owner.Website}}">{{.Owner.Website}}</a>
								</li>
							{{end}}
							{{if .Owner.Description}}
								<li>
									<i class="octicon octicon-info"></i>
									<span>{{.Owner.Description}}</span>
								</li>
							{{end}}
							{{range .OpenIDs}}
								{{if .Show}}
									<li>
										<i class="fa fa-openid"></i>
										<a target="_blank" rel="noopener noreferrer" href="{{.URI}}">{{.URI}}</a>
									</li>
								{{end}}
							{{end}}
							<li><i class="octicon octicon-clock"></i> {{.i18n.Tr "user.join_on"}} {{.Owner.CreatedUnix.FormatShort}}</li>
							{{if and .Orgs .HasOrgsVisible}}
							<li>
								<ul class="user-orgs">
								{{range .Orgs}}
									{{if (or .Visibility.IsPublic (and ($.SignedUser) (or .Visibility.IsLimited (and (.IsUserPartOfOrg $.SignedUserID) .Visibility.IsPrivate) ($.IsAdmin))))}}
									<li>
										<a href="{{.HomeLink}}"><img class="ui image poping up" src="{{.RelAvatarLink}}" data-content="{{.Name}}" data-position="top center" data-variation="tiny inverted"></a>
									</li>
									{{end}}
								{{end}}
								</ul>
							</li>
							{{end}}
							{{if and .IsSigned (ne .SignedUserName .Owner.Name)}}
							<li class="follow">
								{{if .SignedUser.IsFollowing .Owner.ID}}
									<form method="post" action="{{.Link}}/action/unfollow?redirect_to={{$.Link}}">
										{{$.CsrfTokenHtml}}
										<button type="submit" class="ui basic red button"><i class="octicon octicon-person"></i> {{.i18n.Tr "user.unfollow"}}</button>
									</form>
								{{else}}
									<form method="post" action="{{.Link}}/action/follow?redirect_to={{$.Link}}">
										{{$.CsrfTokenHtml}}
										<button type="submit" class="ui basic green button"><i class="octicon octicon-person"></i> {{.i18n.Tr "user.follow"}}</button>
									</form>
								{{end}}
							</li>
							{{end}}
						</ul>
					</div>
				</div>
			</div>
			<div class="ui eleven wide column">
				<div class="ui secondary stackable pointing menu">
					<a class='{{if and (ne .TabName "activity") (ne .TabName "following") (ne .TabName "followers") (ne .TabName "stars")}}active{{end}} item' href="{{.Owner.HomeLink}}">
						<i class="octicon octicon-repo"></i> {{.i18n.Tr "user.repositories"}}
					</a>
					<a class='{{if eq .TabName "activity"}}active{{end}} item' href="{{.Owner.HomeLink}}?tab=activity">
						<i class="octicon octicon-rss"></i> {{.i18n.Tr "user.activity"}}
					</a>
					<a class='{{if eq .TabName "stars"}}active{{end}} item' href="{{.Owner.HomeLink}}?tab=stars">
						<i class="octicon octicon-star"></i> {{.i18n.Tr "user.starred"}}
						<div class="ui label">{{.Owner.NumStars}}</div>
					</a>
					<a class='{{if eq .TabName "following"}}active{{end}} item' href="{{.Owner.HomeLink}}?tab=following">
						<i class="octicon octicon-person"></i> {{.i18n.Tr "user.following"}}
						<div class="ui label">{{.Owner.NumFollowing}}</div>
					</a>
					<a class='{{if eq .TabName "followers"}}active{{end}} item' href="{{.Owner.HomeLink}}?tab=followers">
						<i class="octicon octicon-person"></i> {{.i18n.Tr "user.followers"}}
						<div class="ui label">{{.Owner.NumFollowers}}</div>
					</a>
				</div>

				{{if eq .TabName "activity"}}
					{{if .EnableHeatmap}}
						<div id="user-heatmap" style="padding-right: 40px">
							<activity-heatmap :locale="locale" :suburl="suburl" :user="heatmapUser">
								<div slot="loading">
									<div class="ui active centered inline indeterminate text loader" id="loading-heatmap">{{.i18n.Tr "user.heatmap.loading"}}</div>
								</div>
							</activity-heatmap>
						</div>
						<div class="ui divider"></div>
					{{end}}
					<div class="feeds">
						{{template "user/dashboard/feeds" .}}
					</div>
				{{else if eq .TabName "stars"}}
					<div class="stars">
						{{template "explore/repo_search" .}}
						{{template "explore/repo_list" .}}
						{{template "base/paginate" .}}
					</div>
				{{else if eq .TabName "following"}}
					{{template "repo/user_cards" .}}
				{{else if eq .TabName "followers"}}
					{{template "repo/user_cards" .}}
				{{else}}
					{{template "explore/repo_search" .}}
					{{template "explore/repo_list" .}}
					{{template "base/paginate" .}}
				{{end}}
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
