{{template "base/head" .}}
<div class="page-content repository new repo">
	<div class="ui middle very relaxed page grid">
		<div class="column">
			<form class="ui form" action="{{.Link}}" method="post">
				{{.CsrfTokenHtml}}
				<h3 class="ui top attached header">
					{{.locale.Tr "new_project"}}
				</h3>
				<div class="ui attached segment">
					{{template "base/alert" .}}
					<div class="inline required field {{if .Err_Owner}}error{{end}}">
						<label>{{.locale.Tr "repo.owner"}}</label>
						<div class="ui selection owner dropdown">
							<input type="hidden" id="uid" name="uid" value="{{.ContextUser.ID}}" required>
							<span class="text truncated-item-container" title="{{.ContextUser.Name}}">
								{{avatar .ContextUser 28 "mini"}}
								<span class="truncated-item-name">{{.ContextUser.ShortName 40}}</span>
							</span>
							{{svg "octicon-triangle-down" 14 "dropdown icon"}}
							<div class="menu">
								<div class="item truncated-item-container" data-value="{{.SignedUser.ID}}" title="{{.SignedUser.Name}}">
									{{avatar .SignedUser 28 "mini"}}
									<span class="truncated-item-name">{{.SignedUser.ShortName 40}}</span>
								</div>
								{{range .Orgs}}
								<div class="item truncated-item-container" data-value="{{.ID}}" title="{{.Name}}">
									{{avatar . 28 "mini"}}
									<span class="truncated-item-name">{{.ShortName 40}}</span>
								</div>
								{{end}}
							</div>
						</div>
					</div>

					<div class="inline field {{if .Err_Title}}error{{end}}">
						<label>{{.locale.Tr "repo.projects.title"}}</label>
						<input name="title" placeholder="{{.locale.Tr "repo.projects.title"}}" value="{{.title}}" autofocus required>
					</div>
					<div class="inline field">
						<label>{{.locale.Tr "repo.projects.desc"}}</label>
						<textarea name="content">{{.content}}</textarea>
					</div>

					<div class="inline field">
						<label>{{.locale.Tr "repo.projects.template.desc"}}</label>
						<div class="ui selection dropdown">
							<input type="hidden" name="board_type" value="{{.type}}">
							<div class="default text">{{.locale.Tr "repo.projects.template.desc_helper"}}</div>
							<div class="menu">
								{{range $element := .ProjectTypes}}
								<div class="item" data-id="{{$element.BoardType}}" data-value="{{$element.BoardType}}">{{$.locale.Tr $element.Translation}}</div>
								{{end}}
							</div>
						</div>
					</div>

					<div class="inline field">
						<label></label>
						<button class="ui green button">
							{{.locale.Tr "repo.projects.create"}}
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{{template "base/footer" .}}
