{{range .RecentlyPushedBranches}}
    <p>
        You recently pushed to {{.Repo.Owner.Name}}/{{.Repo.LowerName}} on branch {{.RefName}}
    	<a href="/{{.Repo.Owner.Name}}/{{.Repo.LowerName}}/compare/{{.Repo.DefaultBranch | EscapePound}}...{{if .Repo.IsFork}}{{.Repo.Owner.Name}}:{{end}}{{.RefName | EscapePound}}">
    		<button id="new-pull-request" class="ui compact basic button">
                {{$.i18n.Tr "repo.pulls.compare_changes"}}
            </button>
    	</a>
    </p>
{{end}}