{{template "base/head" .}}
<div class="page-content admin runners">
	{{template "admin/navbar" .}}
	<div class="ui container">
		{{template "base/alert" .}}
		<h4 class="ui top attached header">
			{{.locale.Tr "admin.runners.runner_title"}} #{{.Runner.ID}} {{.Runner.Name}}
		</h4>
		<div class="ui attached segment">
			<form class="ui form" action="{{.Link}}" method="post">
				{{template "base/disable_form_autofill"}}
				{{.CsrfTokenHtml}}
				<div class="runner-basic-info">
					<div class="field dib">
						<label>{{.locale.Tr "admin.runners.status"}}</label>
						<span class="runner-status-{{.Runner.StatusType}}">{{.Runner.StatusType}}</span>
					</div>
					<div class="field dib">
						<label>{{.locale.Tr "admin.runners.last_online"}}</label>
						<span>{{TimeSinceUnix .Runner.LastOnline $.locale}}</span>
					</div>
					<div class="field dib">
						<label>{{.locale.Tr "admin.runners.agent_labels"}}</label>
						<span>
							{{range .Runner.AgentLabels}}
							<span>{{.}}</span>
							{{end}}
						</span>
					</div>
					<div class="field dib">
						<label>{{.locale.Tr "admin.runners.owner_type"}}</label>
						<span>{{.Runner.OwnType}}</span>
					</div>
				</div>

				<div class="ui divider"></div>

				<div class="field">
					<label for="description">{{.locale.Tr "admin.runners.description"}}</label>
					<input id="description" name="description" value="{{.Runner.Description}}">
				</div>
				<div class="field">
					<label for="custom_labels">{{.locale.Tr "admin.runners.custom_labels"}}</label>
					<input id="custom_labels" name="custom_labels" value="{{Join .Runner.CustomLabels `,`}}">
					<p class="help">{{.locale.Tr "admin.runners.custom_labels_helper"}}</p>
				</div>

				<div class="ui divider"></div>

				<div class="field">
					<button type="submit" class="ui green button">{{.locale.Tr "admin.runners.update_runner"}}</button>
					<button type="button" class="ui red button delete-button show-modal" data-modal="#runner-delete-modal">
						{{.locale.Tr "admin.runners.delete_runner"}}</button>
				</div>
			</form>
		</div>

		<h4 class="ui top attached header">
			{{.locale.Tr "admin.runner.task_list"}}
		</h4>
		<div class="ui attached segment">
			Comming soon
		</div>
	</div>
</div>

<div class="ui small modal" id="runner-delete-modal">
	<div class="header">
		{{.locale.Tr "admin.runners.delete_header"}}
	</div>
	<div class="content">
		<div class="ui warning message text left">
			{{.locale.Tr "admin.runnners.delete_notice" | Safe}}
		</div>
		<form class="ui form" action="{{.Link}}/delete" method="post">
			{{.CsrfTokenHtml}}
			<input type="hidden" name="action" value="delete">
			<div class="text right actions">
				<div class="ui cancel button">{{.locale.Tr "settings.cancel"}}</div>
				<button class="ui red button">{{.locale.Tr "admin.runners.delete_confirm"}}</button>
			</div>
		</form>
	</div>
</div>
{{template "base/footer" .}}
