{{template "base/head" .}}
<div class="page-content admin runners">
	{{template "admin/navbar" .}}
	<div class="ui container">
		{{template "base/alert" .}}
		<h4 class="ui top attached header">
			{{.locale.Tr "admin.runners.runner_manage_panel"}} ({{.locale.Tr "admin.total" .Total}})
			<div class="ui right">
				<a class="ui primary tiny button" href="{{AppSubUrl}}/admin/runners/new">{{.locale.Tr "admin.runners.new"}}</a>
			</div>
		</h4>
		<div class="ui attached segment">
			<form class="ui form ignore-dirty" id="user-list-search-form" action="{{$.Link}}">
				<!-- Search Text -->
				<div class="ui fluid action input" style="max-width: 70%;">
					<input name="q" value="{{.Keyword}}" placeholder="{{.locale.Tr "explore.search"}}..." autofocus>
					<button class="ui primary button">{{.locale.Tr "explore.search"}}</button>
				</div>
			</form>
		</div>
		<div class="ui attached table segment">
			<table class="ui very basic striped table unstackable">
				<thead>
					<tr>
						<th data-sortt-asc="online" data-sortt-desc="offline">{{.locale.Tr "admin.runners.status"}}</th>
						<th data-sortt-asc="alphabetically">
							{{.locale.Tr "admin.runners.id"}}
						</th>
						<th>{{.locale.Tr "admin.runners.own_type"}}</th>
						<th>{{.locale.Tr "admin.runners.tags"}}</th>
						<th>{{.locale.Tr "admin.runners.latest_contact"}}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{{range .Runners}}
					<tr>
						<td><span class="runner-status-{{.StatusType}}">{{.StatusType}}</span></td>
						<td>
							<a href="{{$.Link}}/{{.ID}}" class="tooltip" data-content="{{.Description}}">
								<span class="runner-id">#{{.ID}}</span>
								<span class="runner-name">{{.Name}}</span>
							</a>
						</td>
						<td>{{.OwnType}}</td>
						<td class="runner-tags">
							{{range .AllLabels}}
							<span>{{.}}</span>
							{{end}}
						</td>
						<td>{{TimeSinceUnix .LastOnline $.locale}}</td>
						<td class="runner-ops">
							<a href="{{$.Link}}/{{.ID}}">{{svg "octicon-pencil"}}</a>
							<a class="runner-ops-delete" href="{{$.Link}}/{{.ID}}/delete">{{svg "octicon-x-circle"}}</a>
						</td>
					</tr>
					{{end}}
				</tbody>
			</table>
		</div>

		{{template "base/paginate" .}}
	</div>
</div>
{{template "base/footer" .}}
