<div class="secondary-nav">
{{with .Repository}}
	<div class="ui container">
		<div class="repo-header tw-flex tw-justify-center tw-pt-14 tw-pb-10">
			<h1 class="tw-text-40">{{.GetSubject}}</h1>
			<!-- Does header need to be a link?
				<a class="muted" href="{{$.RepoLink}}"></a>
			-->
		</div>
	</div>
{{end}}
	<div class="ui container">
		<overflow-menu class="ui secondary pointing menu">
			<div class="overflow-menu-items tw-justify-center">
				<!-- <a class="{{if .PageIsViewCode}}active {{end}}item" href="{{.RepoLink}}{{if and (ne .BranchName .Repository.DefaultBranch) (not $.PageIsWiki)}}/src/{{.RefTypeNameSubURL}}{{end}}">
					{{svg "octicon-code"}} {{ctx.Locale.Tr "repo.code"}}
				</a> -->
				<a class="{{if .PageIsViewCode}}active {{end}}item" href="{{.RepoLink}}{{if and (ne .BranchName .Repository.DefaultBranch) (not $.PageIsWiki)}}/src/{{.RefTypeNameSubURL}}{{end}}">
					{{svg "bubble"}} Bubble view
				</a>
				<a class="{{if .PageIsViewCode}}active {{end}}item" href="{{.RepoLink}}{{if and (ne .BranchName .Repository.DefaultBranch) (not $.PageIsWiki)}}/src/{{.RefTypeNameSubURL}}{{end}}">
					{{svg "octicon-table"}} Table view
				</a>
				<a class="{{if .PageIsViewCode}}active {{end}}item" href="{{.RepoLink}}{{if and (ne .BranchName .Repository.DefaultBranch) (not $.PageIsWiki)}}/src/{{.RefTypeNameSubURL}}{{end}}">
					{{svg "octicon-file"}} Article view
				</a>
			</div>
		</overflow-menu>
	</div>
	<div class="ui tabs divider"></div>
</div>
