/* only used by "repo/empty.tmpl" */
.clone-buttons-combo {
  display: flex;
  align-items: center;
  flex: 1;
}

.clone-buttons-combo input {
  border-left: none !important;
  border-radius: 0 !important;
  height: 30px;
}

/* used by the clone-panel popup */
.clone-panel-field,
.clone-panel-list {
  margin: 10px;
}

.clone-panel-tab .item {
  padding: 5px 10px;
  background: none;
}

.clone-panel-tab .item.active {
  border-bottom: 3px solid var(--color-secondary);
}

.clone-panel-tab + .divider {
  margin: -1px 0 0;
}

.clone-panel-list .item {
  margin: 5px 0;
}
