/* Delete file modal styling */
#delete-file-modal {
  max-width: 680px;
}

#delete-file-modal .content {
  padding: 1.5rem;
}

#delete-file-modal .commit-form-wrapper {
  padding-left: 48px;
  position: relative;
}

#delete-file-modal .commit-form-wrapper .commit-avatar {
  float: left;
  margin-left: -48px;
}

#delete-file-modal .commit-form-wrapper .commit-form {
  position: relative;
  padding: 15px;
  border: 1px solid var(--color-secondary);
  border-radius: var(--border-radius);
  background-color: var(--color-box-body);
}

#delete-file-modal .commit-form h3 {
  margin-top: 0;
  margin-bottom: 1rem;
}

#delete-file-modal .commit-form .field {
  margin-bottom: 1rem;
}

#delete-file-modal .commit-form input[name="commit_summary"] {
  width: 100%;
  padding: 10px 12px;
  font-size: 14px;
}

#delete-file-modal .commit-form textarea[name="commit_message"] {
  width: 100%;
  padding: 10px 12px;
  font-size: 14px;
}

#delete-file-modal .quick-pull-choice .field {
  margin-bottom: 0.75rem;
}

#delete-file-modal .commit-form-wrapper .commit-form .quick-pull-choice .new-branch-name-input {
  position: relative;
  margin-left: 25px;
}

#delete-file-modal .commit-form-wrapper .commit-form .quick-pull-choice .new-branch-name-input input {
  width: 240px !important;
  padding-left: 26px !important;
}

#delete-file-modal .commit-form-wrapper .commit-form .quick-pull-choice .octicon-git-branch {
  position: absolute;
  top: 9px;
  left: 8px;
}

/* Arrow pointing to avatar */
#delete-file-modal .avatar-content-left-arrow::before,
#delete-file-modal .avatar-content-left-arrow::after {
  right: 100%;
  top: 20px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

#delete-file-modal .avatar-content-left-arrow::before {
  border-right-color: var(--color-secondary);
  border-width: 9px;
  margin-top: -9px;
}

#delete-file-modal .avatar-content-left-arrow::after {
  border-right-color: var(--color-box-body);
  border-width: 8px;
  margin-top: -8px;
}
