#repo-files-table {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr auto;
  border: 1px solid var(--color-secondary);
  background: var(--color-box-body);
  border-radius: var(--border-radius);
  margin: 10px 0; /* match the "clone-panel-popup" margin to avoid "visual double-border" */
}

@media (max-width: 767.98px) {
  #repo-files-table {
    grid-template-columns: auto 1fr auto;
  }
}

#repo-files-table .repo-file-item {
  display: contents;
}

#repo-files-table .repo-file-item:hover > .repo-file-cell,
#repo-files-table .parent-link:hover {
  background: var(--color-hover-opaque);
}

#repo-files-table .repo-file-line,
#repo-files-table .repo-file-cell {
  border-top: 1px solid var(--color-secondary);
  padding: 8px 10px;
}

#repo-files-table .repo-file-line:first-child {
  border-top: none;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

#repo-files-table .repo-file-item:last-child .repo-file-cell:first-child {
  border-bottom-left-radius: calc(var(--border-radius) - 1px);
}

#repo-files-table .repo-file-item:last-child .repo-file-cell:last-child {
  border-bottom-right-radius: calc(var(--border-radius) - 1px);
}

#repo-files-table .repo-file-line {
  grid-column: 1 / span 3;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

#repo-files-table .repo-file-last-commit {
  min-width: 0; /* otherwise the flex axis is not limited and the text might overflow in Pale Moon */
  background: var(--color-box-header);
}

#repo-files-table .repo-file-age {
  white-space: nowrap;
  color: var(--color-text-light-1);
}

#repo-files-table .repo-file-cell.name {
  display: flex;
  align-items: center;
  gap: 0.5em;
  overflow: hidden;
}

#repo-files-table .repo-file-cell.name > a,
#repo-files-table .repo-file-cell.name > span {
  flex-shrink: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#repo-files-table .repo-file-cell.name .entry-name {
  flex-shrink: 1;
  min-width: 1ch; /* leave about one letter space when shrinking, need to fine tune the "shrinks" in this grid in the future */
}

@media (max-width: 767.98px) {
  #repo-files-table .repo-file-cell.name {
    max-width: 35vw;
  }
}

#repo-files-table .repo-file-cell.message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-text-light-1);
}

#repo-files-table .repo-file-cell.age {
  text-align: right;
  white-space: nowrap;
}

#repo-files-table [data-repo-age-heat] {
  --repo-file-age-heat-color: #c24e00;
}

#repo-files-table [data-repo-age-heat='1'] {
  color: color-mix(in srgb, var(--repo-file-age-heat-color) 100%, var(--color-text-light-1)) !important;
}

#repo-files-table [data-repo-age-heat='2'] {
  color: color-mix(in srgb, var(--repo-file-age-heat-color) 90%, var(--color-text-light-1)) !important;
}

#repo-files-table [data-repo-age-heat='3'] {
  color: color-mix(in srgb, var(--repo-file-age-heat-color) 80%, var(--color-text-light-1)) !important;
}

#repo-files-table [data-repo-age-heat='4'] {
  color: color-mix(in srgb, var(--repo-file-age-heat-color) 70%, var(--color-text-light-1)) !important;
}

#repo-files-table [data-repo-age-heat='5'] {
  color: color-mix(in srgb, var(--repo-file-age-heat-color) 60%, var(--color-text-light-1)) !important;
}

#repo-files-table [data-repo-age-heat='6'] {
  color: color-mix(in srgb, var(--repo-file-age-heat-color) 50%, var(--color-text-light-1)) !important;
}

#repo-files-table [data-repo-age-heat='7'] {
  color: color-mix(in srgb, var(--repo-file-age-heat-color) 40%, var(--color-text-light-1)) !important;
}

#repo-files-table [data-repo-age-heat='8'] {
  color: color-mix(in srgb, var(--repo-file-age-heat-color) 30%, var(--color-text-light-1)) !important;
}

#repo-files-table [data-repo-age-heat='9'] {
  color: color-mix(in srgb, var(--repo-file-age-heat-color) 20%, var(--color-text-light-1)) !important;
}

#repo-files-table [data-repo-age-heat='10'] {
  color: color-mix(in srgb, var(--repo-file-age-heat-color) 0%, var(--color-text-light-1)) !important;
}

#repo-files-table .repo-file-age--faded {
  opacity: 0.8;
}

#repo-files-table .repo-file-age--very-faded {
  opacity: 0.6;
}

#repo-files-table .repo-file-cell.is-loading::after {
  height: 40%;
  border-width: 2px;
}
