.issue-card {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: start;
  border-radius: var(--border-radius);
  padding: 8px 10px;
  border: 1px solid var(--color-secondary);
  background: var(--color-card);
}

.issue-card-icon,
.issue-card-unpin {
  margin-top: 1px;
  flex-shrink: 0;
}

.issue-card-title {
  flex: 1;
  font-size: 14px;
}

.issue-card.sortable-chosen .issue-card-title {
  cursor: inherit;
}

.issue-card-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 0.25em;
}

.issue-card-assignees {
  display: flex;
  align-items: center;
  gap: 0.25em;
  justify-content: end;
  flex-wrap: wrap;
}
