.code-view .lines-num:hover {
  color: var(--color-text-dark) !important;
}

.ui.button.code-line-button {
  border: 1px solid var(--color-secondary);
  padding: 1px 4px;
  margin: 0;
  min-height: 0;
  position: absolute;
  left: 6px;
}

.ui.button.code-line-button:hover {
  background: var(--color-secondary);
}
