.packages-content {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.packages-content-left {
  margin: 0 !important;
  width: calc(100% - 250px - 16px);
}

.packages-content-left .markup {
  margin: var(--gap-block) 0;
}

.packages-content-left .markup pre.code-block {
  margin: 0;
}

.package-manual-vars {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.package-manual-vars select {
  border-radius: var(--border-radius);
}

.packages-content-right {
  margin: 0 !important;
  width: 250px;
}

@media (max-width: 767.98px) {
  .packages-content {
    flex-direction: column;
  }
  .packages-content-left,
  .packages-content-right {
    width: 100%;
  }
}
