.repository.releases #release-list {
  margin-top: 12px;
  padding-top: 12px;
  padding-left: 0;
}

.repository.releases #release-list .release-list-title {
  font-size: 2rem;
  font-weight: var(--font-weight-normal);
  display: flex;
  align-items: center;
  gap: 0.25em;
  margin: 0;
}

.repository.releases #release-list > li .meta {
  padding-top: 25px;
  position: relative;
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.repository.releases #release-list > li .detail {
  padding-bottom: 20px;
  border-left: 1px solid var(--color-secondary);
}

.repository.releases #release-list > li .detail .author img {
  margin-bottom: 2px; /* the legacy trick to align the avatar vertically, no better solution at the moment */
}

.repository.releases #release-list > li .detail .download .list {
  padding-left: 0;
  border: 1px solid var(--color-secondary);
  border-radius: var(--border-radius);
  background: var(--color-light);
}

.repository.releases #release-list > li .detail .download .list li {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid var(--color-secondary);
}

.repository.releases #release-list > li .detail .download .list li:last-child {
  border-bottom: none;
}

.repository.releases #release-list > li .detail .dot {
  width: 10px;
  height: 10px;
  background-color: var(--color-secondary-dark-3);
  position: absolute;
  left: -5.5px;
  top: 30px;
  border-radius: var(--border-radius-circle);
  border: 2.5px solid var(--color-body);
}

.repository.tags #tags-table .tag {
  padding: 8px 12px;
}

.repository.tags #tags-table .release-tag-name {
  font-size: 18px;
  font-weight: var(--font-weight-normal);
}

.repository.new.release .target {
  min-width: 500px;
}

.repository.new.release .target #tag-name {
  margin-top: -4px;
}

.repository.new.release .target .at {
  margin-left: -5px;
  margin-right: 5px;
}

.repository.new.release .target .selection.dropdown {
  padding-top: 10px;
  padding-bottom: 10px;
}

.repository.new.release .prerelease.field {
  margin-bottom: 0;
}

@media (max-width: 438px) {
  .repository.new.release .field button,
  .repository.new.release .field input {
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .repository.new.release .field button {
    margin-bottom: 1em;
  }
}

.repository.new.release .field .attachment_edit {
  max-width: 48em;
}

.repository.new.release .markup {
  min-height: 240px;
}
