.repository.wiki .wiki-pages-list .wiki-git-entry {
  margin-left: 10px;
  display: none;
}

.repository.wiki .wiki-pages-list td:hover .wiki-git-entry {
  display: inline-block;
}

.repository.wiki .markup {
  overflow: visible;
  min-height: 340px;
}

.repository.wiki .wiki-content-parts .markup {
  border: 1px solid var(--color-secondary);
  padding: 1em;
  margin-top: 1em;
  font-size: 1em;
}

.repository.wiki .wiki-content-parts.has-sidebar {
  grid-column-gap: 1em;
  display: grid;
  grid-template-areas:
    "content toc"
    "content sidebar";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr minmax(200px, 20%);
}

.repository.wiki .wiki-content-sidebar.wiki-content-toc {
  grid-area: toc;
  align-self: flex-start;
}

.repository.wiki .wiki-content-main {
  grid-area: content;
}

.repository.wiki .wiki-content-sidebar {
  grid-area: sidebar;
  align-self: flex-start;
  min-width: 150px;
}

.repository.wiki .wiki-content-sidebar .ui.message.unicode-escape-prompt p {
  display: none;
}

.repository.wiki .wiki-content-footer {
  margin-top: 1em;
}

.repository.wiki .wiki-content-toc ul {
  margin: 0;
  list-style: none;
  padding: 5px 0 5px 1em;
}

.repository.wiki .wiki-content-toc ul ul {
  border-left: 1px var(--color-secondary);
  border-left-style: dashed;
}

@media (max-width: 767.98px) {
  .repository.wiki #clone-panel #repo-clone-url {
    width: 160px;
  }

  .repository.wiki .wiki-content-parts.has-sidebar {
    display: grid;
    grid-template-areas:
      "toc"
      "content"
      "sidebar";
    grid-template-columns: 1fr;
  }

  .repository.wiki .wiki-content-main.with-sidebar,
  .repository.wiki .wiki-content-sidebar {
    width: 100%;
    min-width: unset;
    max-width: unset;
  }
}
