{{template "base/head" .}}

<input type="hidden" id="repolink" value="{{$.RepoRelPath}}">
<input type="hidden" id="issueIndex" value="{{.Issue.Index}}">

<div role="main" aria-label="{{.Title}}" class="page-content repository view issue pull files diff">
	{{template "repo/header" .}}
	<div class="ui container fluid padded">
		<div class="navbar">
			{{template "repo/issue/navbar" .}}
			<div class="ui right">
				<a class="ui green button {{if not .PullRequestCtx.Allowed}}disabled{{end}}" href="{{.RepoLink}}/compare/{{.BranchName | PathEscapeSegments}}...{{.PullRequestCtx.HeadInfoSubURL}}">{{.locale.Tr "repo.pulls.new"}}</a>
			</div>
		</div>
		<div class="ui divider"></div>
		{{template "repo/issue/view_title" .}}
		{{template "repo/pulls/tab_menu" .}}
		{{template "base/alert" .}}
		<div class="ui bottom attached tab pull active">
			{{template "repo/diff/box" .}}
		</div>
	</div>
</div>
{{template "base/footer" .}}
