{{/* Template Attributes:
* CommitStatuses: all commit status elements
* StatusCheckData: optional, additional status check data, see backend PullCommitStatusCheckData struct
* MissingRequiredChecks: optional, list of required check names with no matching commit status
*/}}
{{$statusCheckData := $.StatusCheckData}}
{{$commitActionsStatuses := $.CommitActionsStatuses}}
{{range $cs := $.CommitStatuses}}
	<div class="item commit-status-item">
		<div class="flex-text-block tw-flex-1">
			{{$actionStatus := $commitActionsStatuses.IconStatus $cs}}
			{{if $actionStatus}}
				{{template "repo/icons/action_status" (dict "Status" $actionStatus "Size" 18 "ClassName" "commit-status icon")}}
			{{else}}
				{{template "repo/icons/commit_status" $cs}}
			{{end}}
			{{if $cs.TargetURL}}
			<a class="commit-status-job-link gt-ellipsis" href="{{$cs.TargetURL}}">
				{{$cs.Context}} <span class="tw-text-text-light-2">{{$cs.Description}}</span>
			</a>
			{{else}}
			<div class="gt-ellipsis">
				{{$cs.Context}} <span class="tw-text-text-light-2">{{$cs.Description}}</span>
			</div>
			{{end}}
		</div>
		{{if and $statusCheckData $statusCheckData.IsContextRequired}}
			{{if (call $statusCheckData.IsContextRequired $cs.Context)}}
				<div class="flex-text-block">
					<div class="ui label">{{ctx.Locale.Tr "repo.pulls.status_checks_requested"}}</div>
				</div>
			{{end}}
		{{end}}
	</div>
{{end}}
{{range $missingCheck := $.MissingRequiredChecks}}
	<div class="item commit-status-item">
		<div class="flex-text-block tw-flex-1">
			{{svg "octicon-dot-fill" 16 "commit-status icon tw-text-yellow"}}
			<div class="gt-ellipsis">{{$missingCheck}}</div>
		</div>
		<div class="ui label">{{ctx.Locale.Tr "repo.pulls.status_checks_requested"}}</div>
	</div>
{{end}}
