<!-- DNM(Krey): Styling needed -->

<div>
	{{template "org/team/discussions/title" .}}
</div>

<div>
	{{template "org/team/discussions/editor" .}}
</div>

<div>
	{{template "org/team/discussions/publish" .}}
</div>
