<!-- DNM(Krey): Styling needed -->

<form method="POST">
	<div>
		<!-- User logo -->
		<a class="avatar mini" href="{{.SignedUser.HomeLink}}">
			{{avatar .SignedUser}}
		</a>

		<!-- Discussion title -->
		<div class="ui input">
			<!-- DNM(Krey): Figure out a way to make this 100% width in the header -->
			<!-- DNM(Krey): Does not work on a <700px width (overlaps) -->
			<!-- DNM(Krey): Translate the placeholder -->
			<input placeholder="Start a discussion.." name="title" id="discussion_title" autocomplete="off">
		</div>
	</div>

	<div>
		<!-- Editor -->
		<input placeholder="discussion content">
	</div>

	<div>
		<!-- Publish button -->
		<button type="button">Publish</button> 
	</div>
</form>