{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content">
	<div class="ui container">
		{{template "base/alert" .}}
		<div class="tw-flex tw-justify-center">
			<div class="flex-relaxed-list">
				<div class="tw-flex tw-justify-center">{{ctx.AvatarUtils.Avatar .Organization 140}}</div>
				<div>{{ctx.Locale.Tr "org.teams.invite.title" .Team.Name .Organization.Name}}</div>
				<div>{{ctx.Locale.Tr "org.teams.invite.by" .Inviter.Name}}</div>
				<div>{{ctx.Locale.Tr "org.teams.invite.description"}}</div>
				<form class="ui form tw-mt-4" action="" method="post">
					<button class="fluid ui primary button">{{ctx.Locale.Tr "org.teams.join"}}</button>
				</form>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
