{{template "base/head" .}}
<div class="organization teams">
	{{template "org/header" .}}
	<div class="ui container">
		{{template "base/alert" .}}
		<div class="ui grid">
			{{template "org/team/sidebar" .}}
			<div class="ui ten wide column">
				{{template "org/team/navbar" .}}
				{{$canAddRemove := and $.IsOrganizationOwner (not $.Team.IncludesAllRepositories)}}
				{{if $canAddRemove}}
					<div class="ui attached segment" id="repo-top-segment">
						<div class="inline ui field left">
							<form class="ui form" id="add-repo-form" action="{{$.OrgLink}}/teams/{{$.Team.LowerName}}/action/repo/add" method="post">
								{{.CsrfTokenHtml}}
								<div class="inline field ui left">
									<div id="search-repo-box" data-uid="{{.Org.ID}}" class="ui search">
										<div class="ui input">
											<input class="prompt" name="repo_name" placeholder="{{.i18n.Tr "org.teams.search_repo_placeholder"}}" autocomplete="off" required>
										</div>
									</div>
								</div>
								<button class="ui green button">{{.i18n.Tr "add"}}</button>
							</form>
						</div>
						<div class="inline ui field right">
							<form class="ui form" id="repo-multiple-form" action="{{$.OrgLink}}/teams/{{$.Team.LowerName}}/repositories" method="post">
								<button class="ui red button delete-button right" data-url="{{$.OrgLink}}/teams/{{$.Team.LowerName}}/action/repo/removeall">{{.i18n.Tr "remove_all"}}</button>
								<button class="ui green button add-all-button right" data-url="{{$.OrgLink}}/teams/{{$.Team.LowerName}}/action/repo/addall">{{.i18n.Tr "add_all"}}</button>
							</form>
						</div>
					</div>
				{{end}}
				<div class="ui bottom attached table segment repositories">
					{{range .Team.Repos}}
						<div class="item">
							{{if $canAddRemove}}
								<form method="post" action="{{$.OrgLink}}/teams/{{$.Team.LowerName}}/action/repo/remove">
									{{$.CsrfTokenHtml}}
									<button type="submit" class="ui red small button right" name="repoid" value="{{.ID}}">{{$.i18n.Tr "remove"}}</button>
								</form>
							{{end}}
							<a class="member" href="{{AppSubUrl}}/{{$.Org.Name}}/{{.Name}}">
								<i class="octicon octicon-{{if .IsPrivate}}lock{{else if .IsFork}}repo-forked{{else if .IsMirror}}repo-clone{{else}}repo{{end}}"></i>
								<strong>{{$.Org.Name}}/{{.Name}}</strong>
							</a>
						</div>
					{{else}}
						<div class="item">
							<span class="text grey italic">{{$.i18n.Tr "org.teams.repos.none"}}</span>
						</div>
					{{end}}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="ui small basic delete modal">
	<div class="ui icon header">
		<i class="trash icon"></i>
		{{.i18n.Tr "org.teams.remove_all_repos_title"}}
	</div>
	<div class="content">
		<p>{{.i18n.Tr "org.teams.remove_all_repos_desc"}}</p>
	</div>
	{{template "base/delete_modal_actions" .}}
</div>

<div class="ui small basic addall modal">
	<div class="ui icon header">
		<i class="globe icon"></i>
		{{.i18n.Tr "org.teams.add_all_repos_title"}}
	</div>
	<div class="content">
		<p>{{.i18n.Tr "org.teams.add_all_repos_desc"}}</p>
	</div>
	{{template "base/delete_modal_actions" .}}
</div>

{{template "base/footer" .}}
