<div class="ui six wide column">
	<h4 class="ui top attached header">
		<strong>{{.Team.Name}}</strong>
		<div class="ui right">
			{{if .Team.IsMember $.SignedUser.ID}}
				<form>
					<button class="ui red tiny button delete-button" data-modal-id="leave-team-sidebar"
						data-url="{{.OrgLink}}/teams/{{.Team.LowerName | PathEscape}}/action/leave" data-datauid="{{$.SignedUser.ID}}"
						data-name="{{.Team.Name}}">{{$.i18n.Tr "org.teams.leave"}}</button>
				</form>
			{{else if .IsOrganizationOwner}}
				<form method="post" action="{{.OrgLink}}/teams/{{.Team.LowerName | PathEscape}}/action/join">
					{{$.CsrfTokenHtml}}
					<input type="hidden" name="page" value="team"/>
					<button type="submit" class="ui blue tiny button" name="uid" value="{{$.SignedUser.ID}}">{{$.i18n.Tr "org.teams.join"}}</button>
				</form>
			{{end}}
		</div>
	</h4>
	<div class="ui attached table segment detail">
		<div class="item">
			{{if .Team.Description}}
				{{.Team.Description}}
			{{else}}
				<span class="text grey italic">{{.i18n.Tr "org.teams.no_desc"}}</span>
			{{end}}
		</div>

		<div class="item">
			{{if eq .Team.LowerName "owners"}}
				{{.i18n.Tr "org.teams.owners_permission_desc" | Str2html}}
			{{else if (eq .Team.Authorize 1)}}
				{{if .Team.IncludesAllRepositories}}
					{{.i18n.Tr "org.teams.all_repositories_read_permission_desc" | Str2html}}
				{{else}}
					{{.i18n.Tr "org.teams.read_permission_desc" | Str2html}}
				{{end}}
			{{else if (eq .Team.Authorize 2)}}
				{{if .Team.IncludesAllRepositories}}
					{{.i18n.Tr "org.teams.all_repositories_write_permission_desc" | Str2html}}
				{{else}}
					{{.i18n.Tr "org.teams.write_permission_desc" | Str2html}}
				{{end}}
			{{else if (eq .Team.Authorize 3)}}
				{{if .Team.IncludesAllRepositories}}
					{{.i18n.Tr "org.teams.all_repositories_admin_permission_desc" | Str2html}}
				{{else}}
					{{.i18n.Tr "org.teams.admin_permission_desc" | Str2html}}
				{{end}}
			{{end}}
			{{if .Team.CanCreateOrgRepo}}
				<br><br>{{.i18n.Tr "org.teams.create_repo_permission_desc" | Str2html}}
			{{end}}
		</div>
	</div>
	{{if .IsOrganizationOwner}}
		<div class="ui bottom attached segment">
			<a class="ui teal small button" href="{{.OrgLink}}/teams/{{.Team.LowerName | PathEscape}}/edit">{{svg "octicon-gear"}} {{$.i18n.Tr "org.teams.settings"}}</a>
		</div>
	{{end}}
</div>
<div class="ui small basic delete modal" id="leave-team-sidebar">
	<div class="ui icon header">
		{{svg "octicon-x" 16 "close inside"}}
		{{$.i18n.Tr "org.teams.leave"}}
	</div>
	<div class="content">
		<p>{{$.i18n.Tr "org.teams.leave.detail" `<span class="name"></span>` | Safe}}</p>
	</div>
	{{template "base/delete_modal_actions" .}}
</div>
