{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content explore users">
	{{template "explore/navbar" .}}
	<div class="ui container">
		{{template "code/searchcombo" .}}
	</div>
</div>
{{template "base/footer" .}}
