{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content explore users">
	{{template "explore/navbar" .}}
	<div class="ui container">
		{{template "explore/search" .}}

		<div class="ui user list">
			{{range .Users}}
				<div class="item">
					{{avatar $.Context .}}
					<div class="content">
						<span class="header">
							<a href="{{.HomeLink}}">{{.Name}}</a> {{.FullName}}
							{{if .Visibility.IsPrivate}}
								<span class="ui basic label">{{$.locale.Tr "repo.desc.private"}}</span>
							{{end}}
						</span>
						<div class="description">
							{{if .Location}}
								{{svg "octicon-location"}} {{.Location}}
							{{end}}
							{{if and .Website}}
								{{svg "octicon-link"}}
								<a href="{{.Website}}" rel="nofollow">{{.Website}}</a>
							{{end}}
							{{svg "octicon-clock"}} {{$.locale.Tr "user.join_on"}} {{DateTime "short" .CreatedUnix}}
						</div>
					</div>
				</div>
			{{else}}
				<div>{{$.locale.Tr "explore.org_no_results"}}</div>
			{{end}}
		</div>

		{{template "base/paginate" .}}
	</div>
</div>
{{template "base/footer" .}}
