{{template "base/head" .}}
<div class="explore users">
	{{template "explore/navbar" .}}
	<div class="ui container">
		{{template "explore/search" .}}

		<div class="ui user list">
			{{range .Users}}
				<div class="item">
				  <img class="ui avatar image" src="{{.RelAvatarLink}}">
				  <div class="content">
					<span class="header">
						<a href="{{.HomeLink}}">{{.Name}}</a> {{.FullName}}
						{{if .Visibility.IsPrivate}}
							<span class="text gold">{{svg "octicon-lock" 16}}</span>
						{{end}}
					</span>
					<div class="description">
						{{if .Location}}
							{{svg "octicon-location" 16}} {{.Location}}
						{{end}}
						{{if and .Website}}
							{{svg "octicon-link" 16}}
							<a href="{{.Website}}" rel="nofollow">{{.Website}}</a>
						{{end}}
						{{svg "octicon-clock" 16}} {{$.i18n.Tr "user.join_on"}} {{.CreatedUnix.FormatShort}}
					</div>
				  </div>
				</div>
			{{else}}
				<div>{{$.i18n.Tr "explore.org_no_results"}}</div>
			{{end}}
		</div>

		{{template "base/paginate" .}}
	</div>
</div>
{{template "base/footer" .}}
