{{template "base/head" .}}
<div class="page-content explore users">
	{{template "explore/navbar" .}}
	<div class="ui container">
		{{template "explore/search" .}}

			{{template "explore/owners" .}}

		{{template "base/paginate" .}}
	</div>
</div>
{{template "base/footer" .}}
