{{template "base/head" .}}
<div class="explore repositories">
	{{template "explore/navbar" .}}
	<div class="ui container">
		{{template "explore/repo_search" .}}
		{{template "explore/repo_list" .}}
		{{template "base/paginate" .}}
	</div>
</div>
{{template "base/footer" .}}
