<div class="ui repository list">
	{{range .Repos}}
		<div class="item">
			<div class="ui header gt-df gt-ac">
				<div class="repo-title">
					{{$avatar := (repoAvatar . 32 "gt-mr-3")}}
					{{if $avatar}}
						{{$avatar}}
					{{end}}
					<a class="name" href="{{.Link}}">
						{{if or $.PageIsExplore $.PageIsProfileStarList}}{{if .Owner}}{{.Owner.Name}} / {{end}}{{end}}{{.Name}}
					</a>
					<div class="labels gt-df gt-ac gt-fw gt-mr-3">
						{{if .IsArchived}}
							<span class="ui basic label">{{$.locale.Tr "repo.desc.archived"}}</span>
						{{end}}
						{{if .IsTemplate}}
							{{if .IsPrivate}}
								<span class="ui basic label">{{$.locale.Tr "repo.desc.private_template"}}</span>
							{{else}}
								{{if .Owner.Visibility.IsPrivate}}
									<span class="ui basic label">{{$.locale.Tr "repo.desc.internal_template"}}</span>
								{{end}}
							{{end}}
						{{else}}
							{{if .IsPrivate}}
								<span class="ui basic label">{{$.locale.Tr "repo.desc.private"}}</span>
							{{else}}
								{{if .Owner.Visibility.IsPrivate}}
									<span class="ui basic label">{{$.locale.Tr "repo.desc.internal"}}</span>
								{{end}}
							{{end}}
						{{end}}
						{{if .IsFork}}
							<span class="gt-df" data-tooltip-content="{{$.locale.Tr "repo.fork"}}">{{svg "octicon-repo-forked"}}</span>
						{{else if .IsMirror}}
							<span class="gt-df" data-tooltip-content="{{$.locale.Tr "mirror"}}">{{svg "octicon-mirror"}}</span>
						{{end}}
					</div>
				</div>
				<div class="metas gt-df gt-ac text grey">
					{{if .PrimaryLanguage}}
						<a class="muted" href="{{$.Link}}?q={{$.Keyword}}&sort={{$.SortType}}&language={{.PrimaryLanguage.Language}}">
							<span class="gt-df gt-ac gt-mr-3"><i class="color-icon gt-mr-3" style="background-color: {{.PrimaryLanguage.Color}}"></i>{{.PrimaryLanguage.Language}}</span>
						</a>
					{{end}}
					{{if not $.DisableStars}}
						<span class="text grey gt-df gt-ac gt-mr-3">{{svg "octicon-star" 16 "gt-mr-3"}}{{.NumStars}}</span>
					{{end}}
					<span class="text grey gt-df gt-ac gt-mr-3">{{svg "octicon-git-branch" 16 "gt-mr-3"}}{{.NumForks}}</span>
				</div>
			</div>
			<div class="description">
				{{$description := .DescriptionHTML $.Context}}
				{{if $description}}<p>{{$description}}</p>{{end}}
				{{if .Topics}}
					<div class="ui tags">
					{{range .Topics}}
						{{if ne . ""}}<a href="{{AppSubUrl}}/explore/repos?q={{.}}&topic=1"><div class="ui small label topic">{{.}}</div></a>{{end}}
					{{end}}
					</div>
				{{end}}
				<p class="time">{{$.locale.Tr "org.repo_updated"}} {{TimeSinceUnix .UpdatedUnix $.locale}}</p>
			</div>
		</div>
	{{else}}
	<div>
		{{$.locale.Tr "explore.repo_no_results"}}
	</div>
	{{end}}
</div>
