{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content explore users">
	{{template "explore/navbar" .}}
	<div class="ui container">
		{{template "explore/search" .}}

		<div class="flex-list">
			{{range .Users}}
				<div class="flex-item flex-item-center">
					<div class="flex-item-leading">
						{{avatar $.Context . 48}}
					</div>
					<div class="flex-item-main">
						<div class="flex-item-title">
							{{template "shared/user/name" .}}
							{{if .Visibility.IsPrivate}}
								<span class="ui basic tiny label">{{$.locale.Tr "repo.desc.private"}}</span>
							{{end}}
						</div>
						<div class="flex-item-body">
							{{if .Location}}
								<span class="flex-text-inline">{{svg "octicon-location"}}{{.Location}}</span>
							{{end}}
							{{if and $.ShowUserEmail .Email $.IsSigned (not .KeepEmailPrivate)}}
								<span class="flex-text-inline">
									{{svg "octicon-mail"}}
									<a href="mailto:{{.Email}}" rel="nofollow">{{.Email}}</a>
								</span>
							{{end}}
							<span class="flex-text-inline">{{svg "octicon-calendar"}}{{$.locale.Tr "user.joined_on" (DateTime "short" .CreatedUnix) | Safe}}</span>
						</div>
					</div>
				</div>
			{{else}}
				<div class="flex-item">{{$.locale.Tr "explore.user_no_results"}}</div>
			{{end}}
		</div>

		{{template "base/paginate" .}}
	</div>
</div>
{{template "base/footer" .}}
