{{range .RecentlyPushedNewBranches}}
	<div class="ui positive message tw-flex tw-items-center tw-gap-2">
		<div class="tw-flex-1 tw-break-anywhere">
			{{$timeSince := TimeSince .CommitTime.AsTime ctx.Locale}}
			{{$branchLink := HTMLFormat `<a href="%s">%s</a>` .BranchLink .BranchDisplayName}}
			{{ctx.Locale.Tr "repo.pulls.recently_pushed_new_branches" $branchLink $timeSince}}
		</div>
		<a role="button" class="ui compact green button tw-m-0" href="{{.BranchCompareURL}}">
			{{ctx.Locale.Tr "repo.pulls.compare_changes"}}
		</a>
	</div>
{{end}}
