<div class="field">
	<label>{{.Label}}</label>
	<div class="ui fluid multiple search selection dropdown custom" data-global-init="initRunnerGroupsInput" data-name-pattern="{{.Pattern}}">
		<input type="hidden" name="groups" value="{{StringUtils.Join .Selected ","}}">
		<div class="default text">{{ctx.Locale.Tr "actions.runners.groups_placeholder"}}</div>
		<div class="menu">
			{{range .Known}}<div class="item" data-value="{{.}}">{{.}}</div>{{end}}
		</div>
	</div>
	<p class="help">{{.Help}}</p>
</div>
