<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="{{.Badge.Width}}" height="20"
	role="img" aria-label="{{.Badge.Label.Text}}: {{.Badge.Message.Text}}">
	<title>{{.Badge.Label.Text}}: {{.Badge.Message.Text}}</title>
	<linearGradient id="{{.Badge.IDPrefix}}s" x2="0" y2="100%">
		<stop offset="0" stop-color="#bbb" stop-opacity=".1" />
		<stop offset="1" stop-opacity=".1" />
	</linearGradient>
	<clipPath id="{{.Badge.IDPrefix}}r">
		<rect width="{{.Badge.Width}}" height="20" rx="3" fill="#fff" />
	</clipPath>
	<g clip-path="url(#{{.Badge.IDPrefix}}r)">
		<rect width="{{.Badge.Label.Width}}" height="20" fill="#555" />
		<rect x="{{.Badge.Label.Width}}" width="{{.Badge.Message.Width}}" height="20" fill="{{.Badge.Color}}" />
		<rect width="{{.Badge.Width}}" height="20" fill="url(#{{.Badge.IDPrefix}}s)" />
	</g>
	<g fill="#fff" text-anchor="middle" font-family="{{.Badge.FontFamily}}"
		text-rendering="geometricPrecision" font-size="{{.Badge.FontSize}}">
		<text aria-hidden="true" x="{{.Badge.Label.X}}" y="150" fill="#010101" fill-opacity=".3" transform="scale(.1)"
			textLength="{{.Badge.Label.TextLength}}">{{.Badge.Label.Text}}</text>
		<text x="{{.Badge.Label.X}}" y="140"
			transform="scale(.1)" fill="#fff" textLength="{{.Badge.Label.TextLength}}">{{.Badge.Label.Text}}</text>
		<text aria-hidden="true" x="{{.Badge.Message.X}}" y="150" fill="#010101" fill-opacity=".3" transform="scale(.1)"
			textLength="{{.Badge.Message.TextLength}}">{{.Badge.Message.Text}}</text>
		<text x="{{.Badge.Message.X}}" y="140" transform="scale(.1)" fill="#fff"
			textLength="{{.Badge.Message.TextLength}}">{{.Badge.Message.Text}}</text>
	</g>
</svg>
