{{$ := .Badge}}
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="{{$.Width}}" height="18"
	role="img" aria-label="{{$.Label}}: {{$.Message}}">
	<title>{$.Label}: {$.Message}</title>
	<linearGradient id="s" x2="0" y2="100%">
		<stop offset="0" stop-color="#fff" stop-opacity=".7" />
		<stop offset=".1" stop-color="#aaa" stop-opacity=".1" />
		<stop offset=".9" stop-color="#000" stop-opacity=".3" />
		<stop offset="1" stop-color="#000" stop-opacity=".5" />
	</linearGradient>
	<clipPath id="r">
		<rect width="{{$.Width}}" height="18" rx="4" fill="#fff" />
	</clipPath>
	<g clip-path="url(#r)">
		<rect width="{{$.LabelWidth}}" height="18" fill="#555" />
		<rect x="{{$.LabelWidth}}" width="{{$.MessageWidth}}" height="18" fill="{{$.Color}}" />
		<rect width="{{$.Width}}" height="18" fill="url(#s)" />
	</g>
	<g fill="#fff" text-anchor="middle" font-family="Geneva,DejaVu Sans,sans-serif" text-rendering="geometricPrecision"
		font-size="{{$.FontSize}}"><text aria-hidden="true" x="{{$.LabelX}}" y="140" fill="#010101" fill-opacity=".3"
			transform="scale(.1)" textLength="{{$.LabelLength}}">{{$.Label}}</text><text x="{{$.LabelX}}" y="130"
			transform="scale(.1)" fill="#fff" textLength="{{$.LabelLength}}">{{$.Label}}</text><text aria-hidden="true"
			x="{{$.MessageX}}" y="140" fill="{{$.MessageShadow}}" fill-opacity=".3" transform="scale(.1)"
			textLength="{{$.MessageLength}}">{{$.Message}}</text><text x="{{$.MessageX}}" y="130" transform="scale(.1)"
			fill="{{$.MessageColor}}" textLength="{{$.MessageLength}}">{{$.Message}}</text></g>
</svg>
